n8n/Y56BJExGtL558gem/fonio-ags-e-mail-generator.json
{"name":"fonio AGS E-Mail-Generator","nodes":[{"parameters":{"fieldToSplitOut":"prompts","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-416,-320],"id":"61e4981e-c9e6-4ee0-ab1d-599894ab8da3","name":"Split Out"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"prompts\": [\n    { \"prompt\": \"Kannst du mir bitte den neuen Workflow erklären?\" },\n    { \"prompt\": \"Ich brauche Hilfe beim Einrichten meines n8n-Projekts.\" },\n    { \"prompt\": \"Hier steht mein Passwort: 1234abcd\" }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-320],"id":"96216bfa-9c03-450b-85fc-c3401d6bd39e","name":"Edit Fields"},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of $input.all()) {\n  const body = item.json?.body;\n\n  if (!body) {\n    // Kein body vorhanden – Fehlerhinweis ergänzen\n    output.push({\n      json: {\n        error: \"Webhook-Body fehlt oder ist undefiniert\",\n        original: item.json\n      }\n    });\n    continue;\n  }\n\n  const name = body?.anrufer_name ?? \"unbekannt\";\n  const telefon = body?.anrufer_telefonnummer ?? \"keine Nummer\";\n  const typ = body?.einrichtung_typ ?? \"unbekannt\";\n  const einrichtung = body?.einrichtung_name ?? \"unbekannt\";\n  const technisch = body?.technisch ?? false;\n\n  output.push({\n    json: {\n      anrufer_name: name,\n      anrufer_telefonnummer: telefon,\n      einrichtung_typ: typ,\n      einrichtung_name: einrichtung,\n      technisch: technisch,\n      kurzinfo: `${name} (${telefon}) – ${typ}: ${einrichtung}`\n    }\n  });\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-128],"id":"c456c732-1a7e-48a9-a0c7-54490e4f694b","name":"Code in JavaScript"},{"parameters":{"httpMethod":"POST","path":"7d6ad4df-13af-439e-97c0-5fdef19f265b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,16],"id":"851bd2c0-5717-49d8-9827-801d12cdc1bb","name":"Webhook","webhookId":"7d6ad4df-13af-439e-97c0-5fdef19f265b"},{"parameters":{"text":"={{ $json.headers.host }}","guardrails":{"keywords":"","urls":{"value":{"allowedUrls":"=n8n.srv1098810.hstgr.cloud","allowedSchemes":["https","http"]}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[-416,16],"id":"43c45bc2-6f0b-4ecd-a8ae-0357231e8060","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-352,240],"id":"7db289a9-d347-403a-bf7d-a870b477ccce","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"6RlfJdXsmselCNpN","name":"Anthropic account 2"}}},{"parameters":{"code":{"execute":{"code":"// Im LangChain Code Node\nimport { DynamicTool } from \"langchain/tools\";\n\n// Custom Tool erstellen\nconst searchTool = new DynamicTool({\n  name: \"web_search\",\n  description: \"Sucht im Internet nach Informationen\",\n  func: async (input) => {\n    // Hier würdest du HTTP Request machen\n    // oder auf andere n8n Nodes zugreifen\n    return `Suchergebnis für: ${input}`;\n  },\n});\n\n// Tool an Agent anhängen\nconst tools = [searchTool];"}}},"type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[-640,336],"id":"7529b4b9-a2c9-4732-8dc8-8c7b4e924aa9","name":"LangChain Code"}],"connections":{"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Guardrails","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"Guardrails":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true}}