n8n/Y56BJExGtL558gem/fonio AGS E-Mail-Generator.json
{"active":false,"connections":{"Anthropic Chat Model":{"ai_languageModel":[[{"index":0,"node":"Guardrails","type":"ai_languageModel"}]]},"Edit Fields":{"main":[[{"index":0,"node":"Split Out","type":"main"}]]},"Guardrails":{"main":[[{"index":0,"node":"Code in JavaScript","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Guardrails","type":"main"}]]}},"name":"fonio AGS E-Mail-Generator","nodes":[{"name":"Split Out","parameters":{"fieldToSplitOut":"prompts","include":"allOtherFields","options":{}},"position":[-416,-320],"type":"n8n-nodes-base.splitOut","typeVersion":1},{"name":"Edit Fields","parameters":{"jsonOutput":"{\n  \"prompts\": [\n    { \"prompt\": \"Kannst du mir bitte den neuen Workflow erklären?\" },\n    { \"prompt\": \"Ich brauche Hilfe beim Einrichten meines n8n-Projekts.\" },\n    { \"prompt\": \"Hier steht mein Passwort: 1234abcd\" }\n  ]\n}\n","mode":"raw","options":{}},"position":[-640,-320],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Code in JavaScript","parameters":{"jsCode":"const output = [];\n\nfor (const item of $input.all()) {\n  const body = item.json?.body;\n\n  if (!body) {\n    // Kein body vorhanden – Fehlerhinweis ergänzen\n    output.push({\n      json: {\n        error: \"Webhook-Body fehlt oder ist undefiniert\",\n        original: item.json\n      }\n    });\n    continue;\n  }\n\n  const name = body?.anrufer_name ?? \"unbekannt\";\n  const telefon = body?.anrufer_telefonnummer ?? \"keine Nummer\";\n  const typ = body?.einrichtung_typ ?? \"unbekannt\";\n  const einrichtung = body?.einrichtung_name ?? \"unbekannt\";\n  const technisch = body?.technisch ?? false;\n\n  output.push({\n    json: {\n      anrufer_name: name,\n      anrufer_telefonnummer: telefon,\n      einrichtung_typ: typ,\n      einrichtung_name: einrichtung,\n      technisch: technisch,\n      kurzinfo: `${name} (${telefon}) – ${typ}: ${einrichtung}`\n    }\n  });\n}\n\nreturn output;\n"},"position":[-96,-128],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"7d6ad4df-13af-439e-97c0-5fdef19f265b"},"position":[-640,16],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"7d6ad4df-13af-439e-97c0-5fdef19f265b"},{"name":"Guardrails","parameters":{"guardrails":{"keywords":"","urls":{"value":{"allowedSchemes":["https","http"],"allowedUrls":"=n8n.srv1098810.hstgr.cloud"}}},"text":"={{ $json.headers.host }}"},"position":[-416,16],"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1},{"credentials":{"anthropicApi":{"name":"Anthropic account 2"}},"name":"Anthropic Chat Model","parameters":{"model":{"__rl":true,"cachedResultName":"Claude Sonnet 4.5","mode":"list","value":"claude-sonnet-4-5-20250929"},"options":{}},"position":[-352,240],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3},{"name":"LangChain Code","parameters":{"code":{"execute":{"code":"// Im LangChain Code Node\nimport { DynamicTool } from \"langchain/tools\";\n\n// Custom Tool erstellen\nconst searchTool = new DynamicTool({\n  name: \"web_search\",\n  description: \"Sucht im Internet nach Informationen\",\n  func: async (input) => {\n    // Hier würdest du HTTP Request machen\n    // oder auf andere n8n Nodes zugreifen\n    return `Suchergebnis für: ${input}`;\n  },\n});\n\n// Tool an Agent anhängen\nconst tools = [searchTool];"}}},"position":[-640,336],"type":"@n8n/n8n-nodes-langchain.code","typeVersion":1}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}