n8n/dPDoawNHAa6ocJdr/fonio-ags-nachbearbeitung-transkript-sicherung-251208.json
{"name":"fonio AGS Nachbearbeitung Transkript Sicherung 251208","nodes":[{"parameters":{"httpMethod":"POST","path":"367bc90b-4189-48db-8440-fd1c7312e700","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-112],"id":"935a0e09-1723-4f1d-95de-023da9e2962c","name":"Webhook","webhookId":"367bc90b-4189-48db-8440-fd1c7312e700"},{"parameters":{"assignments":{"assignments":[{"id":"04f27e3e-ebed-4ae5-a22f-23d0f7c61904","name":"body[0].body.formattedTranscript","value":"={{ $json.body[0].body.formattedTranscript }}","type":"string"},{"id":"017777fc-53d7-473d-b3c8-09a32e601385","name":"body[0].body.fromNumber","value":"={{ $json.body[0].body.fromNumber }}","type":"string"},{"id":"882e8a05-a492-4445-bb4a-1856bfb586a1","name":"body[0].body.context.anrufer_name","value":"={{ $json.body[0].body.context.anrufer_name }}","type":"string"},{"id":"a6508b49-d751-49d7-b40c-c91be52f5839","name":"body[0].body.context.einrichtung_typ","value":"={{ $json.body[0].body.context.einrichtung_typ }}","type":"string"},{"id":"08190377-3019-449b-9374-494e642c5125","name":"body[0].body.context.einrichtung_name","value":"={{ $json.body[0].body.context.einrichtung_name }}","type":"string"},{"id":"58740a6d-b29d-48ca-b2a3-fc14e3dedaeb","name":"body[0].body.context.technisch","value":"={{ $json.body[0].body.context.technisch }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-208],"id":"70563cf4-f4af-4ee4-b523-76c9fea3ac75","name":"Daten extrahieren"},{"parameters":{"promptType":"define","text":"=Führe die Klassifikation durch.","hasOutputParser":true,"options":{"systemMessage":"=DU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE.\n\n###DEINE HAUPTAUFGABE###\nAnalysiere Telefon-Transkripte und ordne sie präzise in eine Dringlichkeitskategorie (A, B, C oder D) ein, basierend auf den Kriterien aus der bereitgestellten Wissensdatenbank. Deine Klassifikation ermöglicht Technikern eine zielgerichtete, priorisierte Bearbeitung.\n\n---\n\n###VERFÜGBARE DATEN###\n\n**DRINGLICHKEITSKRITERIEN (aus Google Sheet):**\n{{ $input.all().slice(1).map(item => \n`Kategorie ${item.json.Dringlichkeit}: ${item.json.Kategorie}\nSchlüsselworte: ${item.json.Schlagworte}\nBeispiele: ${item.json.Beispiele}`\n).join('\\n\\n') }}\n\n**ZU ANALYSIERENDES TRANSKRIPT:**\n{{ $json.body[0].body.formattedTranscript }}\n\n**ANRUFERDATEN:**\n- Name: {{ $json.body[0].body.context.anrufer_name }}\n- Von: {{ $json.body[0].body.fromNumber }}\n- Einrichtung: {{ $json.body[0].body.context.einrichtung_name }}\n\n---\n\n###ANALYSE-METHODIK (CHAIN OF THOUGHTS)###\n\n1. **UNDERSTAND**\n   - Lies das Transkript gründlich und identifiziere das konkrete technische Problem\n   - Erkenne die Auswirkungen: Produktivitätsausfall, Datenverlust, Eskalation, Geschäftskritikalität\n\n2. **IDENTIFY KEY SIGNALS**\n   - Schlüsselbegriffe für hohe Dringlichkeit: \"nicht arbeitsfähig\", \"Produktion steht\", \"Kunde wartet\", \"dringend\", \"sofort\"\n   - Schlüsselbegriffe für niedrige Dringlichkeit: \"nicht eilig\", \"wenn Zeit ist\", \"Informationsfrage\", \"optional\"\n\n3. **ASSESS IMPACT**\n   - Ist ein geschäftskritischer Prozess blockiert?\n   - Sind mehrere Nutzer betroffen?\n   - Gibt es Fristen oder SLA-relevante Zeitpunkte?\n   - Handelt es sich um einen Standardvorgang oder eine Informationsanfrage?\n\n4. **MATCH WITH CRITERIA**\n   - Vergleiche die erkannten Merkmale mit den Referenzbeispielen aus dem Google Sheet\n   - Wähle die Kategorie, die der Fallbeschreibung AM NÄCHSTEN kommt\n\n5. **HANDLE EDGE CASES**\n   - Bei unklaren oder widersprüchlichen Transkripten: Wähle die konservativere (höhere) Kategorie\n   - Weise explizit auf Unsicherheiten hin\n\n---\n\n###AUSGABEFORMAT###\n\nGib deine Analyse im folgenden JSON-Format zurück:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Server-Ausfall\",\n  \"Beschreibung\": [\n    \"Mehrere Mitarbeiter betroffen (Buchhaltung)\",\n    \"Datenbankverbindung unterbrochen seit 8 Uhr\",\n    \"Fehlende Rechnungen der letzten 2 Wochen\",\n    \"Zeitkritisch: Jahresabschluss-Termin in 2 Stunden\"\n  ],\n  \"AnsprechpartnerBleibt\": true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n  \"AnsprechpartnerName\": \"Frau Weber\",\n  \"RueckrufnummerAnders\": true = andere Rückrufnummer gewünscht, false = unter anrufender Nummer zurückrufen\n  \"Rueckrufnummer\": Die vom Anrufer genannte Rückrufnummer (mit Durchwahl falls vorhanden)\n  \"Begründung\": \"Der Kunde ist grundsätzlich arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Entspricht den Beispielen für Kategorie B im Sheet.\"\n}\n```\n\n**WICHTIG: Feldbeschreibungen** \n- Die Dringlichkeit MUSS ein einzelner Buchstabe sein: A, B, C oder D, entsprechend der Möglichkeiten im Google Sheet\n- Die Kategorie MUSS sich auf die entsprechende Spalte im Google Sheet beziehen\n- Problemtyp: Klassifiziere in GENAU EINE dieser Kategorien:\n  • \"Technisch\" = Hardware-Probleme, Netzwerkausfälle, Gerätedefekte, Server-Ausfälle\n  • \"Software\" = Programmfehler, Anmeldeprobleme, Softwarestörungen, Datenbankprobleme\n  • \"Anliegen\" = Informationsanfragen, Beratung, allgemeine Fragen ohne akutes technisches Problem\n- Themenstichwort: Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z. B. \"SAP-Login\", \"E-Mail-Sync\", \"Drucker-WLAN\")\n- Beschreibung: Array mit 3-6 Stichpunkten, die wichtigsten Informationen zuerst:\n  • Betroffene Personen/Systeme\n  • Zeitpunkt des Auftretens\n  • Konkrete Symptome/Fehler\n  • Geschäftliche Auswirkungen\n  • Fristen/Zeitdruck\n  • Bereits versuchte Lösungen\n- AnsprechpartnerBleibt: true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n- AnsprechpartnerName: Name des Ansprechpartners (falls abweichend vom Anrufer, sonst leer lassen)\n- AnsprechpartnerTelefon: Telefonnummer des Ansprechpartners (falls abweichend, sonst leer lassen)\n- RueckrufnummerAnders: true = andere Rückrufnummer als anrufende Nummer, false = unter anrufender Nummer zurückrufen\n- Rueckrufnummer: Die Rückrufnummer (kann identisch mit AnsprechpartnerTelefon sein)\n- Die Begründung MUSS sich auf die Kriterien im Google Sheet beziehen\n- Halte dich strikt an das JSON-Format\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nNIEMALS Kategorien ohne Bezug zum Google Sheet festlegen\nVERMEIDE vage Begründungen wie \"klingt dringend\" oder \"scheint wichtig\"\nNICHT nur nach einzelnen Schlüsselworten klassifizieren – analysiere die Gesamtsituation\nNIEMALS Aussagen erfinden, die nicht im Transkript stehen\nNICHT überkategorisieren: Unzufriedenheit allein rechtfertigt keine Kategorie A\nIGNORIERE NIEMALS Hinweise auf Systemrelevanz, Produktionsstopp oder geschäftskritische Prozesse\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n**Beispiel 1 - Kategorie A:**\nTranskript: \"Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Kategorie\": \"Notfall\",\n  \"Problemtyp\": \"Software\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Geschäftskritischer Prozess (Monatsabrechnung) ist komplett blockiert. Entspricht den Referenzfällen für Kategorie A im Sheet.\"\n}\n```\n\n**Beispiel 2 - Kategorie D:**\nTranskript: \"Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Kategorie\": \"Informativ\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Informationsanfrage ohne Zeitdruck, kein akuter Vorfall. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n**Beispiel 3 - Kategorie B:**\nTranskript: \"Mein Outlook synchronisiert nicht mehr. Ich kann arbeiten, aber wichtige E-Mails von Kunden kommen nicht an.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Eingeschränkte Arbeitsfähigkeit bei einem wichtigen Kommunikationskanal. Keine komplette Blockade, aber geschäftsrelevant. Entspricht Kategorie B.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[320,-112],"id":"00af3b4a-50a1-41df-a516-df618c013ad5","name":"AI Agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"claude-3-5-haiku-20241022","mode":"list","cachedResultName":"Claude Haiku 3.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[400,112],"id":"a72b2e08-67f3-4591-a6ed-6378bef31572","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"6RlfJdXsmselCNpN","name":"Anthropic account 2"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dringlichkeiten","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-128,-16],"id":"1b85874a-bd52-4745-aeac-cf0f83b2b548","name":"Dringlichkeitskriterien laden","credentials":{"googleApi":{"id":"vRVq7GTwn9kTIi8N","name":"n8n Sheets Service"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[96,-112],"id":"6be52049-555e-4624-aa75-50b17878121d","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"ba4494fd-87dc-44a3-be07-3c1e3b0b0f04","name":"Dringlichkeit","value":"={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Dringlichkeit }}","type":"string"},{"id":"77fc8f1e-1ef1-4c82-a4c9-1badefb579a4","name":"problemtyp","value":"={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Problemtyp }}","type":"string"},{"id":"ea4dea35-112a-47b3-86c9-3252d606adda","name":"betreff","value":"={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Kategorie }} | {{ $('Merge').item.json.body[0].body.context.einrichtung_name }}, {{ $('Merge').item.json.body[0].body.context.anrufer_name }} | {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Themenstichwort }}","type":"string"},{"id":"123c771e-c991-4bb9-8860-c5c030773741","name":"emailBody","value":"=<h3>Problemtyp: {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Problemtyp }}</h3>\n\n<h3>KI-Einschätzung</h3>\n<ul>\n  <li><strong>Einrichtung:</strong> {{ $('Merge').item.json.body[0].body.context.einrichtung_name }}</li>\n  <li><strong>Anrufer:</strong> {{ $('Merge').item.json.body[0].body.context.anrufer_name }} ({{ $('Merge').item.json.body[0].body.fromNumber }})</li>\n  <li><strong>Ansprechpartner:</strong> \n    {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).AnsprechpartnerBleibt ? 'Anrufer bleibt Ansprechpartner' : JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).AnsprechpartnerName + ' (' + JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).AnsprechpartnerTelefon + ')' }}\n  </li>\n  <li><strong>Rückrufnummer:</strong> \n    {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).RueckrufnummerAnders ? JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Rueckrufnummer : $('Merge').item.json.body[0].body.fromNumber }}\n  </li>\n  <li><strong>Thema:</strong> {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Themenstichwort }}</li>\n  <li><strong>Beschreibung:</strong>\n    <ul>\n      {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Beschreibung.map(punkt => `<li>${punkt}</li>`).join('') }}\n    </ul>\n  </li>\n</ul>\n\n<h3>Begründung der Dringlichkeitseinstufung</h3>\n<p>{{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Begründung }}</p>\n\n<h3>Vollständiges Transkript</h3>\n{{ $('Merge').item.json.body[0].body.formattedTranscript.replace(/\\n/g, '<br>') }}\n</pre>","type":"string"},{"id":"abbab201-31d0-4200-8c7e-5b3d2c1b1dc7","name":"themenstichwort","value":"={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Themenstichwort }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-112],"id":"5eee655c-a899-4e8e-ba71-6016f32c6061","name":"E-Mail vorbereiten"},{"parameters":{"fromEmail":"office@berent.ai","toEmail":"office@berent.ai","subject":"={{ $json.betreff }}","html":"={{ $json.emailBody }}","options":{},"path":"82009882-a2e2-40b1-9e65-a1befe9e8831"},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[880,-112],"id":"78cbf6a8-3fc9-4d66-b70c-70ebd3c09956","name":"Send email","webhookId":"82009882-a2e2-40b1-9e65-a1befe9e8831","credentials":{"smtp":{"id":"8O5B5z4vS8yeagJh","name":"AGS SMTP Einstellungen"}}}],"connections":{"Webhook":{"main":[[{"node":"Daten extrahieren","type":"main","index":0},{"node":"Dringlichkeitskriterien laden","type":"main","index":0}]]},"Daten extrahieren":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Dringlichkeitskriterien laden":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"E-Mail vorbereiten","type":"main","index":0}]]},"E-Mail vorbereiten":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true}}