workflows/ai-agents/YouTube-Transkript für Notion.json
{
  "name": "YouTube-Transkript für Notion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-transcript",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "bf533385-ab52-4189-953c-43ac395f3df2",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -480,
        208
      ],
      "webhookId": "youtube-transcript-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "youtube-url",
              "name": "youtubeUrl",
              "value": "={{ $json.body.url || $json.query.url || $json.url }}",
              "type": "string"
            },
            {
              "id": "video-id",
              "name": "videoId",
              "value": "={{ $json.body.url ? $json.body.url.match(/(?:youtube\\.com\\/watch\\?v=|youtu\\.be\\/)([^&]+)/)?.[1] : '' }}",
              "type": "string"
            },
            {
              "id": "author-name",
              "name": "authorName",
              "value": "={{ $json.body.author || 'Unbekannt' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eeb99211-f44d-4226-b50b-5eee39265dac",
      "name": "Webhook Daten extrahieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -304,
        208
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "videoId": "={{ $json.videoId }}",
        "part": "snippet,contentDetails,statistics"
      },
      "id": "44ff8787-369e-4663-a759-15fa24a8b2c2",
      "name": "YouTube Video Details",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -128,
        208
      ]
    },
    {
      "parameters": {
        "url": "=https://api.youtubetranscript.com/?video_id={{ $json.videoId }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2a317d81-981a-488a-bf1d-317a7d1cfdf9",
      "name": "Transkript extrahieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-transcript",
              "leftValue": "={{ $json.transcript || $json.text || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "min-length",
              "leftValue": "={{ ($json.transcript || $json.text || '').length }}",
              "rightValue": "100",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "928a2c23-1b2a-47c2-b9ae-cca8cc2e39bf",
      "name": "Transkript validieren",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Alle Daten aus vorherigen Nodes sammeln\nconst config = $('Webhook Daten extrahieren').item.json;\nconst videoDetails = $('YouTube Video Details').item.json;\nconst transcriptData = $('Transkript extrahieren').item.json;\n\n// Transkript extrahieren und bereinigen\nlet rawTranscript = transcriptData.transcript || transcriptData.text || '';\nif (Array.isArray(transcriptData)) {\n  rawTranscript = transcriptData.map(item => item.text || item.content || '').join(' ');\n}\n\n// Text bereinigen und formatieren\nconst cleanTranscript = rawTranscript\n  .replace(/\\[.*?\\]/g, '')           // [Musik], [Applaus] etc.\n  .replace(/\\(.*?\\)/g, '')           // (inaudible) etc.\n  .replace(/\\s+/g, ' ')              // Mehrfache Leerzeichen\n  .replace(/\\n+/g, '\\n\\n')           // Absätze formatieren\n  .trim();\n\n// Video-Dauer aus ISO 8601 Format parsen (PT4M13S -> 4:13)\nfunction parseDuration(duration) {\n  if (!duration) return 'Unknown';\n  const match = duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  if (!match) return duration;\n  \n  const hours = parseInt(match[1] || 0);\n  const minutes = parseInt(match[2] || 0);\n  const seconds = parseInt(match[3] || 0);\n  \n  if (hours > 0) {\n    return `${hours}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;\n  } else {\n    return `${minutes}:${seconds.toString().padStart(2, '0')}`;\n  }\n}\n\n// Tags aus Video-Titel und Beschreibung extrahieren\nfunction extractTags(title, description) {\n  const tags = [];\n  const text = (title + ' ' + description).toLowerCase();\n  \n  // AI/KI-bezogene Keywords\n  if (text.match(/(ai|artificial intelligence|chatgpt|gpt|claude|llm|machine learning|automation)/)) {\n    tags.push('AI');\n  }\n  \n  // Marketing Keywords\n  if (text.match(/(marketing|sales|business|growth|strategy|revenue)/)) {\n    tags.push('Marketing');\n  }\n  \n  // Tutorial Keywords\n  if (text.match(/(tutorial|how to|guide|step by step|walkthrough|setup)/)) {\n    tags.push('Tutorial');\n  }\n  \n  // Tool Keywords\n  if (text.match(/(tool|software|app|platform|api|integration)/)) {\n    tags.push('Tools');\n  }\n  \n  return tags.length > 0 ? tags : ['AI']; // Default fallback\n}\n\nreturn {\n  // Video Grunddaten\n  videoId: config.videoId,\n  title: videoDetails.snippet?.title || 'Unbekannt',\n  channelTitle: videoDetails.snippet?.channelTitle || 'Unbekannt',\n  authorName: config.authorName || 'Unbekannt',\n  publishedAt: videoDetails.snippet?.publishedAt || new Date().toISOString(),\n  description: videoDetails.snippet?.description || '',\n  \n  // Statistiken\n  viewCount: parseInt(videoDetails.statistics?.viewCount || 0),\n  likeCount: parseInt(videoDetails.statistics?.likeCount || 0),\n  duration: parseDuration(videoDetails.contentDetails?.duration),\n  \n  // URLs\n  videoUrl: `https://youtube.com/watch?v=${config.videoId}`,\n  thumbnailUrl: videoDetails.snippet?.thumbnails?.high?.url || '',\n  \n  // Transkript\n  cleanTranscript: cleanTranscript,\n  transcriptLength: cleanTranscript.length,\n  wordCount: cleanTranscript.split(' ').length,\n  estimatedReadingTime: Math.ceil(cleanTranscript.split(' ').length / 200),\n  \n  // Auto-Tags\n  autoTags: extractTags(videoDetails.snippet?.title || '', videoDetails.snippet?.description || '')\n};"
      },
      "id": "e9de8edf-61b3-49c9-9f3d-48165a1a651f",
      "name": "Daten zusammenführen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        208
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.cleanTranscript }}",
        "translateTo": "DE",
        "additionalFields": {}
      },
      "id": "051b7ad9-23a7-46bc-9f6c-dadfed805090",
      "name": "DeepL Übersetzen",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        592,
        208
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "22f31cc6fd5680f89a68da6f99f3dade",
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Autor",
              "multiSelectValue": "={{ [$json.authorName] }}"
            },
            {
              "key": "Video URL",
              "urlValue": "={{ $json.videoUrl }}"
            },
            {
              "key": "Kanal",
              "textValue": "={{ $json.channelTitle }}"
            },
            {
              "key": "Veröffentlicht",
              "dateValue": "={{ $json.publishedAt }}"
            },
            {
              "key": "Tags",
              "multiSelectValue": "={{ $json.autoTags }}"
            },
            {
              "key": "Status",
              "selectValue": "Neu"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading2",
              "textContent": "Beschreibung"
            },
            {
              "type": "paragraph",
              "textContent": "={{ $json.description }}"
            },
            {
              "type": "heading2",
              "textContent": "Transkript (Deutsch)"
            },
            {
              "type": "paragraph",
              "textContent": "={{ $('DeepL Übersetzen').item.json.text || $json.cleanTranscript }}"
            },
            {
              "type": "heading2",
              "textContent": "Original Transkript"
            },
            {
              "type": "paragraph",
              "textContent": "={{ $json.cleanTranscript }}"
            },
            {
              "type": "divider"
            },
            {
              "type": "callout",
              "textContent": "=📊 {{ $json.viewCount }} Views • 👍 {{ $json.likeCount }} Likes • ⏱️ {{ $json.duration }} • 📝 {{ $json.wordCount }} Wörter"
            }
          ]
        },
        "options": {}
      },
      "id": "01e7f2a4-a6a8-4c04-a37d-700b60190839",
      "name": "Notion Eintrag erstellen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        768,
        208
      ],
      "notesInFlow": true,
      "notes": "Datenbank-ID als ENV-Variable: NOTION_DATABASE_ID"
    },
    {
      "parameters": {
        "authentication": "generic",
        "credential": "threemaWorkApi",
        "to": "*EMPFÄNGER",
        "message": "=✅ YouTube Video erfolgreich zu Notion hinzugefügt:\n\n📺 {{ $('Daten zusammenführen').item.json.title }}\n🔗 {{ $('Daten zusammenführen').item.json.videoUrl }}\n\n📊 Views: {{ $('Daten zusammenführen').item.json.viewCount }}\n⏱️ Dauer: {{ $('Daten zusammenführen').item.json.duration }}\n📝 Wortanzahl: {{ $('Daten zusammenführen').item.json.wordCount }}"
      },
      "id": "42b36063-e62c-4970-a16e-5281732086c4",
      "name": "Threema Work Benachrichtigung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        208
      ],
      "notesInFlow": true,
      "notes": "Threema Work API - Empfänger-ID noch anzupassen"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Video erfolgreich verarbeitet\",\n  \"videoId\": $('Webhook Daten extrahieren').item.json.videoId,\n  \"title\": $('Daten zusammenführen').item.json.title,\n  \"notionUrl\": $('Notion Eintrag erstellen').item.json.url || 'Erstellt'\n} }}"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Webhook Daten extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Daten extrahieren": {
      "main": [
        [
          {
            "node": "YouTube Video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Video Details": {
      "main": [
        [
          {
            "node": "Transkript extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkript extrahieren": {
      "main": [
        [
          {
            "node": "Transkript validieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkript validieren": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten zusammenführen": {
      "main": [
        [
          {
            "node": "DeepL Übersetzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepL Übersetzen": {
      "main": [
        [
          {
            "node": "Notion Eintrag erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Eintrag erstellen": {
      "main": [
        [
          {
            "node": "Threema Work Benachrichtigung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threema Work Benachrichtigung": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7cb49cd-3734-4cc6-b2bb-2602234d04b3",
  "meta": {
    "instanceId": "355300d573a01d3b5c32930e090201715bd3c85ee6e556c4968b20665632a763"
  },
  "id": "xX6CHB8nz5PdyIcl",
  "tags": [
    {
      "createdAt": "2025-11-11T12:00:00.000Z",
      "updatedAt": "2025-11-11T12:00:00.000Z",
      "id": "youtube-workflow",
      "name": "YouTube"
    },
    {
      "createdAt": "2025-11-11T12:00:00.000Z",
      "updatedAt": "2025-11-11T12:00:00.000Z",
      "id": "notion-workflow",
      "name": "Notion"
    },
    {
      "createdAt": "2025-11-11T12:00:00.000Z",
      "updatedAt": "2025-11-11T12:00:00.000Z",
      "id": "content-workflow",
      "name": "Content"
    }
  ]
}