n8n/kgTzmuCqtvJrv16s/kgTzmuCqtvJrv16s.json
{"active":false,"connections":{"AI Agent":{"main":[[{"index":0,"node":"E-Mail vorbereiten","type":"main"}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"index":0,"node":"AI Agent","type":"ai_languageModel"}]]},"Daten anonymisieren":{"main":[[]]},"Daten extrahieren":{"main":[[{"index":0,"node":"Merge","type":"main"}]]},"Dringlichkeitskriterien laden":{"main":[[{"index":1,"node":"Merge","type":"main"}]]},"E-Mail vorbereiten":{"main":[[{"index":0,"node":"Send email","type":"main"}]]},"Merge":{"main":[[{"index":0,"node":"URI-Prüfung","type":"main"}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[]]},"PII Anonymisierung (Regex)":{"main":[[{"index":0,"node":"Daten anonymisieren","type":"main"}]]},"URI-Prüfung":{"main":[[{"index":0,"node":"PII Anonymisierung (Regex)","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Daten extrahieren","type":"main"},{"index":0,"node":"Dringlichkeitskriterien laden","type":"main"}]]}},"name":"fonio AGS Nachbearbeitung Transkript 20251209","nodes":[{"name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"b0b43139-5430-4d07-81e9-f0dbbf11aea7"},"position":[-352,-256],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"b0b43139-5430-4d07-81e9-f0dbbf11aea7"},{"name":"Daten extrahieren","parameters":{"assignments":{"assignments":[{"name":"headers.host","type":"string","value":"={{ $json.headers.host }}"},{"name":"body[0].body.formattedTranscript","type":"string","value":"={{ $json.body[0].body.formattedTranscript }}"},{"name":"body[0].body.fromNumber","type":"string","value":"={{ $json.body[0].body.fromNumber }}"},{"name":"body[0].body.context.anrufer_name","type":"string","value":"={{ $json.body[0].body.context.anrufer_name }}"},{"name":"body[0].body.context.einrichtung_typ","type":"string","value":"={{ $json.body[0].body.context.einrichtung_typ }}"},{"name":"body[0].body.context.einrichtung_name","type":"string","value":"={{ $json.body[0].body.context.einrichtung_name }}"},{"name":"body[0].body.context.technisch","type":"string","value":"={{ $json.body[0].body.context.technisch }}"}]},"options":{}},"position":[-128,-352],"type":"n8n-nodes-base.set","typeVersion":3.4},{"executeOnce":true,"name":"AI Agent","parameters":{"hasOutputParser":true,"options":{"systemMessage":"=DU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE.\n\n###DEINE HAUPTAUFGABE###\nAnalysiere Telefon-Transkripte und ordne sie präzise in eine Dringlichkeitskategorie (A, B, C oder D) ein, basierend auf den Kriterien aus der bereitgestellten Wissensdatenbank. Deine Klassifikation ermöglicht Technikern eine zielgerichtete, priorisierte Bearbeitung.\n\n---\n\n###VERFÜGBARE DATEN###\n\n**DRINGLICHKEITSKRITERIEN (aus Google Sheet):**\n{{ $input.all().slice(1).map(item => \n`Kategorie ${item.json.Dringlichkeit}: ${item.json.Kategorie}\nSchlüsselworte: ${item.json.Schlagworte}\nBeispiele: ${item.json.Beispiele}`\n).join('\\n\\n') }}\n\n**ZU ANALYSIERENDES TRANSKRIPT:**\n{{ $json.body[0].body.formattedTranscript }}\n\n**ANRUFERDATEN:**\n- Name: {{ $json.body[0].body.context.anrufer_name }}\n- Von: {{ $json.body[0].body.fromNumber }}\n- Einrichtung: {{ $json.body[0].body.context.einrichtung_name }}\n\n---\n\n###ANALYSE-METHODIK (CHAIN OF THOUGHTS)###\n\n1. **UNDERSTAND**\n   - Lies das Transkript gründlich und identifiziere das konkrete technische Problem\n   - Erkenne die Auswirkungen: Produktivitätsausfall, Datenverlust, Eskalation, Geschäftskritikalität\n\n2. **IDENTIFY KEY SIGNALS**\n   - Schlüsselbegriffe für hohe Dringlichkeit: \"nicht arbeitsfähig\", \"Produktion steht\", \"Kunde wartet\", \"dringend\", \"sofort\"\n   - Schlüsselbegriffe für niedrige Dringlichkeit: \"nicht eilig\", \"wenn Zeit ist\", \"Informationsfrage\", \"optional\"\n\n3. **ASSESS IMPACT**\n   - Ist ein geschäftskritischer Prozess blockiert?\n   - Sind mehrere Nutzer betroffen?\n   - Gibt es Fristen oder SLA-relevante Zeitpunkte?\n   - Handelt es sich um einen Standardvorgang oder eine Informationsanfrage?\n\n4. **MATCH WITH CRITERIA**\n   - Vergleiche die erkannten Merkmale mit den Referenzbeispielen aus dem Google Sheet\n   - Wähle die Kategorie, die der Fallbeschreibung AM NÄCHSTEN kommt\n\n5. **HANDLE EDGE CASES**\n   - Bei unklaren oder widersprüchlichen Transkripten: Wähle die konservativere (höhere) Kategorie\n   - Weise explizit auf Unsicherheiten hin\n\n---\n\n###AUSGABEFORMAT###\n\nGib deine Analyse im folgenden JSON-Format zurück:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Server-Ausfall\",\n  \"Beschreibung\": [\n    \"Mehrere Mitarbeiter betroffen (Buchhaltung)\",\n    \"Datenbankverbindung unterbrochen seit 8 Uhr\",\n    \"Fehlende Rechnungen der letzten 2 Wochen\",\n    \"Zeitkritisch: Jahresabschluss-Termin in 2 Stunden\"\n  ],\n  \"AnsprechpartnerBleibt\": true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n  \"AnsprechpartnerName\": \"Frau Weber\",\n  \"RueckrufnummerAnders\": true = andere Rückrufnummer gewünscht, false = unter anrufender Nummer zurückrufen\n  \"Rueckrufnummer\": Die vom Anrufer genannte Rückrufnummer (mit Durchwahl falls vorhanden)\n  \"Begründung\": \"Der Kunde ist grundsätzlich arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Entspricht den Beispielen für Kategorie B im Sheet.\"\n}\n```\n\n**WICHTIG: Feldbeschreibungen** \n- Die Dringlichkeit MUSS ein einzelner Buchstabe sein: A, B, C oder D, entsprechend der Möglichkeiten im Google Sheet\n- Die Kategorie MUSS sich auf die entsprechende Spalte im Google Sheet beziehen\n- Problemtyp: Klassifiziere in GENAU EINE dieser Kategorien:\n  • \"Technisch\" = Hardware-Probleme, Netzwerkausfälle, Gerätedefekte, Server-Ausfälle\n  • \"Software\" = Programmfehler, Anmeldeprobleme, Softwarestörungen, Datenbankprobleme\n  • \"Anliegen\" = Informationsanfragen, Beratung, allgemeine Fragen ohne akutes technisches Problem\n- Themenstichwort: Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z. B. \"SAP-Login\", \"E-Mail-Sync\", \"Drucker-WLAN\")\n- Beschreibung: Array mit 3-6 Stichpunkten, die wichtigsten Informationen zuerst:\n  • Betroffene Personen/Systeme\n  • Zeitpunkt des Auftretens\n  • Konkrete Symptome/Fehler\n  • Geschäftliche Auswirkungen\n  • Fristen/Zeitdruck\n  • Bereits versuchte Lösungen\n- AnsprechpartnerBleibt: true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n- AnsprechpartnerName: Name des Ansprechpartners (falls abweichend vom Anrufer, sonst leer lassen)\n- AnsprechpartnerTelefon: Telefonnummer des Ansprechpartners (falls abweichend, sonst leer lassen)\n- RueckrufnummerAnders: true = andere Rückrufnummer als anrufende Nummer, false = unter anrufender Nummer zurückrufen\n- Rueckrufnummer: Die Rückrufnummer (kann identisch mit AnsprechpartnerTelefon sein)\n- Die Begründung MUSS sich auf die Kriterien im Google Sheet beziehen\n- Halte dich strikt an das JSON-Format\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nNIEMALS Kategorien ohne Bezug zum Google Sheet festlegen\nVERMEIDE vage Begründungen wie \"klingt dringend\" oder \"scheint wichtig\"\nNICHT nur nach einzelnen Schlüsselworten klassifizieren – analysiere die Gesamtsituation\nNIEMALS Aussagen erfinden, die nicht im Transkript stehen\nNICHT überkategorisieren: Unzufriedenheit allein rechtfertigt keine Kategorie A\nIGNORIERE NIEMALS Hinweise auf Systemrelevanz, Produktionsstopp oder geschäftskritische Prozesse\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n**Beispiel 1 - Kategorie A:**\nTranskript: \"Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Kategorie\": \"Notfall\",\n  \"Problemtyp\": \"Software\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Geschäftskritischer Prozess (Monatsabrechnung) ist komplett blockiert. Entspricht den Referenzfällen für Kategorie A im Sheet.\"\n}\n```\n\n**Beispiel 2 - Kategorie D:**\nTranskript: \"Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Kategorie\": \"Informativ\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Informationsanfrage ohne Zeitdruck, kein akuter Vorfall. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n**Beispiel 3 - Kategorie B:**\nTranskript: \"Mein Outlook synchronisiert nicht mehr. Ich kann arbeiten, aber wichtige E-Mails von Kunden kommen nicht an.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Eingeschränkte Arbeitsfähigkeit bei einem wichtigen Kommunikationskanal. Keine komplette Blockade, aber geschäftsrelevant. Entspricht Kategorie B.\"\n}\n```"},"promptType":"define","text":"=Führe die Klassifikation durch."},"position":[1120,-256],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3},{"credentials":{},"name":"Anthropic Chat Model","parameters":{"model":{"__rl":true,"cachedResultName":"Claude Haiku 3.5","mode":"list","value":"claude-3-5-haiku-20241022"},"options":{}},"position":[1192,-32],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3},{"credentials":{},"name":"Dringlichkeitskriterien laden","parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw"},"options":{},"sheetName":{"__rl":true,"cachedResultName":"Dringlichkeiten","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw/edit#gid=0","mode":"list","value":"gid=0"}},"position":[-128,-160],"type":"n8n-nodes-base.googleSheets","typeVersion":4.7},{"name":"Merge","parameters":{},"position":[96,-256],"type":"n8n-nodes-base.merge","typeVersion":3.2},{"name":"E-Mail vorbereiten","parameters":{"assignments":{"assignments":[{"name":"Dringlichkeit","type":"string","value":"={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Dringlichkeit }}"},{"name":"problemtyp","type":"string","value":"={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Problemtyp }}"},{"name":"betreff","type":"string","value":"={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Kategorie }} | {{ $('Merge').item.json.body[0].body.context.einrichtung_name }}, {{ $('Merge').item.json.body[0].body.context.anrufer_name }} | {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Themenstichwort }}"},{"name":"emailBody","type":"string","value":"=<h3>Problemtyp: {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Problemtyp }}</h3>\n\n<h3>KI-Einschätzung</h3>\n<ul>\n  <li><strong>Einrichtung:</strong> {{ $('Merge').item.json.body[0].body.context.einrichtung_name }}</li>\n  <li><strong>Anrufer:</strong> {{ $('Merge').item.json.body[0].body.context.anrufer_name }} ({{ $('Merge').item.json.body[0].body.fromNumber }})</li>\n  <li><strong>Ansprechpartner:</strong> \n    {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).AnsprechpartnerBleibt ? 'Anrufer bleibt Ansprechpartner' : JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).AnsprechpartnerName + ' (' + JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).AnsprechpartnerTelefon + ')' }}\n  </li>\n  <li><strong>Rückrufnummer:</strong> \n    {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).RueckrufnummerAnders ? JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Rueckrufnummer : $('Merge').item.json.body[0].body.fromNumber }}\n  </li>\n  <li><strong>Thema:</strong> {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Themenstichwort }}</li>\n  <li><strong>Beschreibung:</strong>\n    <ul>\n      {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Beschreibung.map(punkt => `<li>${punkt}</li>`).join('') }}\n    </ul>\n  </li>\n</ul>\n\n<h3>Begründung der Dringlichkeitseinstufung</h3>\n<p>{{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Begründung }}</p>\n\n<h3>Vollständiges Transkript</h3>\n{{ $('Merge').item.json.body[0].body.formattedTranscript.replace(/\\n/g, '<br>') }}\n</pre>"},{"name":"themenstichwort","type":"string","value":"={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Themenstichwort }}"}]},"options":{}},"position":[1472,-256],"type":"n8n-nodes-base.set","typeVersion":3.4},{"credentials":{},"name":"Send email","parameters":{"fromEmail":"office@berent.ai","html":"={{ $json.emailBody }}","options":{},"path":"42244bb9-541a-4ed2-9583-1ee2f6c4a7bc","subject":"={{ $json.betreff }}","toEmail":"office@berent.ai"},"position":[1696,-256],"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"webhookId":"42244bb9-541a-4ed2-9583-1ee2f6c4a7bc"},{"credentials":{},"name":"Mistral Cloud Chat Model","parameters":{"model":"mistral-small-latest","options":{}},"position":[392,-32],"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1},{"alwaysOutputData":false,"executeOnce":true,"name":"URI-Prüfung","parameters":{"guardrails":{"urls":{"value":{"allowSubdomains":"={{ true }}","allowedSchemes":["https","http"],"allowedUrls":"n8n.srv1098810.hstgr.cloud","blockUserinfo":false}}},"operation":"sanitize","text":"={{ $json.headers.host }}"},"position":[320,-256],"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1},{"name":"Daten anonymisieren","parameters":{"guardrails":{"pii":{"value":{"type":"all"}}},"operation":"sanitize","text":"={{ $('Merge').item.json.body[0].body.formattedTranscript }}"},"position":[896,-256],"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1},{"name":"PII Anonymisierung (Regex)","parameters":{"jsCode":"// PII-Anonymisierung - KORREKTER Pfad zu den Daten\nconst item = $input.item;\n\n// Extrahiere Transkript aus der INPUT-Struktur\nlet text = item.json.body?.[0]?.body?.formattedTranscript || '';\n\n// Fallback falls kein Text\nif (!text || text.trim() === '') {\n  return item; // Gib Original unverändert zurück\n}\n\n// Speichere Original\nconst originalText = text;\n\n// === ANONYMISIERUNG ===\n\n// 1. NAMEN\ntext = text\n  .replace(/\\b(Guten\\s+Tag|Hallo|Hi|Servus)\\s+([A-ZÄÖÜ][a-zäöüß]+)\\b/gi, '$1 [NAME]')\n  .replace(/\\b([A-ZÄÖÜ][a-zäöüß]+)\\s+([A-ZÄÖÜ][a-zäöüß]+)\\b/g, '[NAME]')\n  .replace(/\\b([A-ZÄÖÜ][a-zäöüß]{2,})\\b/g, (match) => {\n    const skip = ['Problem', 'Rechnung', 'Daten', 'Morgen', 'Willkommen', \n                  'Vielen', 'Dank', 'Deutschland', 'Verstehe', 'Bitte', \n                  'Dieser', 'Anruf', 'Möchten', 'Detail', 'Einrichtung'];\n    return skip.includes(match) ? match : '[NAME]';\n  });\n\n// 2. EMAIL\ntext = text.replace(/\\b[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}\\b/g, '[EMAIL]');\n\n// 3. TELEFON\ntext = text\n  .replace(/\\+49\\s?\\d{2,5}\\s?\\d{3,10}/g, '[TELEFON]')\n  .replace(/\\b0\\d{2,5}[\\s\\/-]?\\d{3,10}\\b/g, '[TELEFON]');\n\n// 4. FIRMEN (AGS etc.)\ntext = text.replace(/\\b(AGS|[A-Z]{2,5})\\b/g, '[FIRMA]');\n\n// === OUTPUT ===\nreturn {\n  json: {\n    ...item.json,\n    body: [{\n      ...item.json.body[0],\n      body: {\n        ...item.json.body[0].body,\n        formattedTranscript: text,\n        originalTranscript: originalText,\n        anonymizationApplied: true,\n        anonymizationTimestamp: new Date().toISOString()\n      }\n    }]\n  }\n};","mode":"runOnceForEachItem"},"position":[672,-256],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}