n8n/MYpHUIHNMuIUR1ic/MYpHUIHNMuIUR1ic.json
{"active":true,"connections":{"Beleg aufbereiten":{"main":[[{"index":0,"node":"Beleg-Nr generieren","type":"main"}]]},"Beleg-Nr generieren":{"main":[[{"index":0,"node":"In Supabase speichern","type":"main"}]]},"Bild oder Text?":{"main":[[{"index":0,"node":"Blob herunterladen","type":"main"}],[{"index":0,"node":"Text ignorieren","type":"main"}]]},"Binary zu Base64":{"main":[[{"index":0,"node":"Blob entschlüsseln","type":"main"}]]},"Blob entschlüsseln":{"main":[[{"index":0,"node":"MistralOCR","type":"main"}]]},"Blob herunterladen":{"main":[[{"index":0,"node":"Binary zu Base64","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Mandant ermitteln","type":"main"}]]},"In Supabase speichern":{"main":[[{"index":0,"node":"Bestätigung senden","type":"main"}]]},"KI-Kontierung":{"main":[[{"index":0,"node":"Beleg aufbereiten","type":"main"}]]},"Mandant ermitteln":{"main":[[{"index":0,"node":"Threema Public Key holen","type":"main"}]]},"MistralOCR":{"main":[[{"index":0,"node":"OCR aufbereiten","type":"main"}]]},"Nachricht entschlüsseln":{"main":[[{"index":0,"node":"Prüfe Inhalt","type":"main"}]]},"OCR aufbereiten":{"main":[[{"index":0,"node":"KI-Kontierung","type":"main"}]]},"Prüfe Inhalt":{"main":[[{"index":0,"node":"Bild oder Text?","type":"main"}]]},"Prüfe Nachrichtentyp":{"main":[[{"index":0,"node":"Nachricht entschlüsseln","type":"main"}],[{"index":0,"node":"Text ignorieren","type":"main"}]]},"Threema Public Key holen":{"main":[[{"index":0,"node":"Prüfe Nachrichtentyp","type":"main"}]]},"Threema Webhook":{"main":[[{"index":0,"node":"Config","type":"main"}]]}},"name":"BelegChat mit Threema Beleg-Eingang","nodes":[{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT1"},{"name":"secret1","type":"string","value":"18DOvPKBV7ize3Nh"},{"name":"threemaE2E","type":"string","value":"*BERENT2"},{"name":"privateKey","type":"string","value":"vZJkgU6zz4ZXUz1X3Y4Nhinrm/NI8xfsvlZy5AMu1TQ="},{"name":"secret2","type":"string","value":"2pLgi4h6RWJWr6AD"},{"name":"supabaseUrl","type":"string","value":"https://xuqefeewzdvjhuquciut.supabase.co"},{"name":"mistralModel","type":"string","value":"mistral-ocr-latest"},{"name":"box","type":"string","value":"={{ $json.body?.box ?? $json.box ?? '' }}"},{"name":"nonce","type":"string","value":"={{ $json.body?.nonce ?? $json.nonce ?? '' }}"},{"name":"from","type":"string","value":"={{ $json.body?.from ?? $json.from ?? '' }}"},{"name":"supabaseServiceKey","type":"string","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1cWVmZWV3emR2amh1cXVjaXV0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzI1NDEyNCwiZXhwIjoyMDg4ODMwMTI0fQ.Lg31Kwl5_2qGQ3qDrvgU1MWLwWP2DMK-9SRmSgHLCIw"},{"name":"supabaseAnonKey","type":"string","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1cWVmZWV3emR2amh1cXVjaXV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNTQxMjQsImV4cCI6MjA4ODgzMDEyNH0.nTjyVJb4DYkyg-FB0smOhkh6h0p-el-n5UkdCR0mTgE"}]},"options":{}},"position":[-784,232],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Threema Webhook","parameters":{"httpMethod":"POST","options":{},"path":"belegchat-threema-eingang-a7f3c912-4d8e-4b1a-9e2f-8c6d5e3f1a2b"},"position":[-1008,232],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"belegchat-threema-eingang"},{"name":"Prüfe Nachrichtentyp","parameters":{"options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $('Config').item.json.box }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"outputKey":"Bild oder Text","renameOutput":true},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $('Config').item.json.box }}","operator":{"operation":"empty","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"outputKey":"Ignorieren","renameOutput":true}]}},"position":[-112,232],"type":"n8n-nodes-base.switch","typeVersion":3.4},{"name":"Nachricht entschlüsseln","parameters":{"jsonBody":"={\n  \"action\": \"decrypt\",\n  \"box\": \"{{ $('Config').item.json.box }}\",\n  \"nonce\": \"{{ $('Config').item.json.nonce }}\",\n  \"from\": \"{{ $('Config').item.json.from }}\",\n  \"gatewayPrivateKey\": \"{{ $('Config').item.json.privateKey }}\",\n  \"senderPublicKey\": \"{{ $('Public Key holen').item.json }}\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://xuqefeewzdvjhuquciut.supabase.co/functions/v1/threema-decrypt"},"position":[112,160],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Prüfe Inhalt","parameters":{"jsCode":"const raw = $input.item.json;\nconst plaintext = raw.plaintext || '';\n\n// Erstes Zeichen = Nachrichtentyp-Byte\nconst msgTypeByte = plaintext.codePointAt(0);\n\n// Alles nach dem ersten Byte, PKCS7-Padding abschneiden\n// Padding sind Bytes 0x01-0xFF am Ende - einfach bis zur schließenden } schneiden\nconst jsonPart = plaintext.substring(1);\nconst jsonEnd = jsonPart.lastIndexOf('}');\nconst jsonStr = jsonEnd >= 0 ? jsonPart.substring(0, jsonEnd + 1) : jsonPart;\n\nlet parsed = null;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch(e) {}\n\nlet msgType = 'unknown';\nlet isImage = false;\nlet isText = false;\nlet blobId = '';\nlet blobKey = '';\nlet text = '';\n\nif (msgTypeByte === 0x02) {\n  // Text-Nachricht\n  msgType = 'text';\n  isText = true;\n  text = jsonPart.substring(0, jsonEnd >= 0 ? jsonEnd : undefined);\n} else if (msgTypeByte === 0x17 && parsed) {\n  // Datei-Nachricht (so sendet Threema Bilder)\n  msgType = 'file';\n  isImage = (parsed.m || '').startsWith('image/');\n  blobId = parsed.b || '';\n  blobKey = parsed.k || '';\n}\n\nreturn {\n  msgType,\n  hasBlob: isImage,\n  blobId,\n  blobKey,\n  text,\n  from: $('Config').item.json.from,\n  isImage,\n  isText,\n  raw\n};"},"position":[336,160],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Bild oder Text?","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.isImage }}","operator":{"operation":"true","singleValue":true,"type":"boolean"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[560,160],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Blob herunterladen","parameters":{"options":{"response":{"response":{"responseFormat":"file"}}},"url":"=https://msgapi.threema.ch/blobs/{{ $json.blobId }}?from=*BERENT2&secret={{ $('Config').item.json.secret2 }}"},"position":[784,112],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Blob entschlüsseln","parameters":{"jsonBody":"={ \"action\": \"decrypt-blob\", \"blobBase64\": \"{{ $json.blobBase64 }}\", \"blobKey\": \"{{ $json.blobKey }}\" }","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://xuqefeewzdvjhuquciut.supabase.co/functions/v1/threema-decrypt"},"position":[1232,112],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"MistralOCR"}},"name":"MistralOCR","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={\n  \"model\": \"{{ $('Config').item.json.mistralModel }}\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.imageBase64 ? 'data:image/jpeg;base64,' + $json.imageBase64 : $json.imageUrl }}\"\n  },\n  \"include_image_base64\": false\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://api.mistral.ai/v1/ocr"},"position":[1456,112],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"MistralOCR"}},"name":"KI-Kontierung","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={{ $json.mistralBody }}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://api.mistral.ai/v1/chat/completions"},"position":[1904,112],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Beleg aufbereiten","parameters":{"jsCode":"const kiAntwort = $json.choices?.[0]?.message?.content || '{}';\nconst config = $('Config').item.json;\n\nlet kiDaten;\ntry {\n  kiDaten = JSON.parse(kiAntwort);\n} catch(e) {\n  kiDaten = { fehler: 'JSON-Parse fehlgeschlagen', raw: kiAntwort };\n}\n\n// Beleg-Nummer: B-YYYY-NNNN wird von Supabase-Funktion vergeben\n// Pseudonymisierung: vendor_id wird separat via identity-Schema gesetzt\nconst beleg = {\n  eingangskanal: 'threema',\n  threema_sender_id: config.from,\n  mandant_id: $('Mandant ermitteln').item.json[0]?.id ?? null,\n  status: 'vorschlag',\n  beleg_datum: kiDaten.beleg_datum || null,\n  betrag_brutto: kiDaten.betrag_brutto || null,\n  betrag_netto: kiDaten.betrag_netto || null,\n  mwst_satz: kiDaten.mwst_satz || null,\n  mwst_betrag: kiDaten.mwst_betrag || null,\n  beleg_typ: kiDaten.beleg_typ || 'sonstiges',\n  verwendungszweck: kiDaten.verwendungszweck || null,\n  sachkonto: kiDaten.sachkonto_vorschlag || '6890',\n  sachkonto_ki_vorschlag: kiDaten.sachkonto_vorschlag || '6890',\n  sachkonto_manuell_geaendert: false,\n  ocr_konfidenz: kiDaten.konfidenz || null,\n  // Beleg-Nr via Supabase-Funktion\n  beleg_nr_placeholder: true\n};\n\nreturn [{\n  json: {\n    beleg,\n    lieferant_name: kiDaten.lieferant_name || null,\n    sachkonto_begruendung: kiDaten.sachkonto_begruendung || null,\n    from: config.from,\n    threemaFrom: config.threemaFrom,\n    secret1: config.secret1\n  }\n}];"},"position":[2128,112],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Beleg-Nr generieren","parameters":{"body":"={\"p_mandant_id\": \"{{ $('Beleg aufbereiten').item.json.beleg.mandant_id }}\"}","contentType":"raw","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Config').item.json.supabaseAnonKey ?? '' }}"},{"name":"Authorization","value":"={{ 'Bearer ' + ($('Config').item.json.supabaseServiceKey ?? '') }}"},{"name":"Content-Type","value":"application/json"}]},"method":"POST","options":{},"rawContentType":"application/json","sendBody":true,"sendHeaders":true,"url":"=https://xuqefeewzdvjhuquciut.supabase.co/rest/v1/rpc/naechste_beleg_nr"},"position":[2352,112],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"In Supabase speichern","parameters":{"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Config').item.json.supabaseAnonKey ?? '' }}"},{"name":"Authorization","value":"={{ 'Bearer ' + ($('Config').item.json.supabaseServiceKey ?? '') }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"jsonBody":"={\n  \"beleg_nr\": \"{{ $('Beleg-Nr generieren').item.json }}\",\n  \"eingangskanal\": \"threema\",\n  \"threema_sender_id\": \"{{ $('Beleg aufbereiten').item.json.beleg.threema_sender_id }}\",\n  \"mandant_id\": \"{{ $('Beleg aufbereiten').item.json.beleg.mandant_id }}\",\n  \"status\": \"vorschlag\",\n  \"beleg_datum\": {{ $('Beleg aufbereiten').item.json.beleg.beleg_datum ? '\"' + $('Beleg aufbereiten').item.json.beleg.beleg_datum + '\"' : 'null' }},\n  \"betrag_brutto\": {{ $('Beleg aufbereiten').item.json.beleg.betrag_brutto ?? 'null' }},\n  \"betrag_netto\": {{ $('Beleg aufbereiten').item.json.beleg.betrag_netto ?? 'null' }},\n  \"mwst_satz\": {{ $('Beleg aufbereiten').item.json.beleg.mwst_satz ?? 'null' }},\n  \"mwst_betrag\": {{ $('Beleg aufbereiten').item.json.beleg.mwst_betrag ?? 'null' }},\n  \"beleg_typ\": \"{{ $('Beleg aufbereiten').item.json.beleg.beleg_typ }}\",\n  \"verwendungszweck\": {{ $('Beleg aufbereiten').item.json.beleg.verwendungszweck ? '\"' + $('Beleg aufbereiten').item.json.beleg.verwendungszweck + '\"' : 'null' }},\n  \"sachkonto\": \"{{ $('Beleg aufbereiten').item.json.beleg.sachkonto }}\",\n  \"sachkonto_ki_vorschlag\": \"{{ $('Beleg aufbereiten').item.json.beleg.sachkonto_ki_vorschlag }}\",\n  \"sachkonto_manuell_geaendert\": false,\n  \"ocr_konfidenz\": {{ $('Beleg aufbereiten').item.json.beleg.ocr_konfidenz ?? 'null' }}\n}","method":"POST","options":{},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"=https://xuqefeewzdvjhuquciut.supabase.co/rest/v1/belege"},"position":[2576,112],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Bestätigung senden","parameters":{"method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').item.json.secret1 }}"},{"name":"from","value":"={{ $('Config').item.json.threemaFrom }}"},{"name":"to","value":"={{ $('Beleg aufbereiten').item.json.from }}"},{"name":"text","value":"=✅ Beleg {{ $('In Supabase speichern').item.json[0]?.beleg_nr ?? '' }} wurde erfasst und zur Prüfung weitergeleitet.\n\n📋 {{ $('Beleg aufbereiten').item.json.beleg.verwendungszweck ?? 'Beleg' }}\n💶 {{ $('Beleg aufbereiten').item.json.beleg.betrag_brutto ?? '?' }} €\n📅 {{ $('Beleg aufbereiten').item.json.beleg.beleg_datum ?? 'Datum unbekannt' }}"}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[2800,112],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Text ignorieren","parameters":{"method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').item.json.secret1 }}"},{"name":"from","value":"={{ $('Config').item.json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').item.json.from }}"},{"name":"text","value":"📎 Bitte sende ein Foto oder Bild des Belegs. Textnachrichten werden nicht verarbeitet."}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[784,328],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Fehler melden","parameters":{"method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').item.json.secret1 }}"},{"name":"from","value":"={{ $('Config').item.json.threemaFrom }}"},{"name":"to","value":"={{ $('Beleg aufbereiten').item.json.from }}"},{"name":"text","value":"❌ Beleg konnte nicht verarbeitet werden. Bitte versuche es erneut oder wende dich an den Administrator."}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[-1008,552],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Binary zu Base64","parameters":{"jsCode":"// Holt das Binary aus dem vorherigen Node und konvertiert zu Base64\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = binaryData.toString('base64');\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    blobBase64: base64\n  }\n}];"},"position":[1008,112],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"OCR aufbereiten","parameters":{"jsCode":"const ocrText = $('MistralOCR').item.json.pages?.[0]?.markdown \n  ?? $('MistralOCR').item.json.text \n  ?? 'Kein Text erkannt';\n\nreturn [{\n  json: {\n    mistralBody: {\n    model: \"mistral-large-latest\",\n    response_format: { type: \"json_object\" },\n    messages: [\n      {\n        role: \"system\",\n        content: \"Du bist ein deutschsprachiger Buchhalter. Analysiere den OCR-Text eines Belegs und extrahiere strukturierte Daten. Antworte NUR mit validem JSON, ohne Kommentare oder Markdown.\\n\\nErwartetes JSON-Format:\\n{\\n  \\\"beleg_datum\\\": \\\"YYYY-MM-DD oder null\\\",\\n  \\\"betrag_brutto\\\": 0.00,\\n  \\\"betrag_netto\\\": 0.00,\\n  \\\"mwst_satz\\\": 19,\\n  \\\"mwst_betrag\\\": 0.00,\\n  \\\"beleg_typ\\\": \\\"eingangsrechnung|ausgangsrechnung|quittung|gutschrift|sonstiges\\\",\\n  \\\"verwendungszweck\\\": \\\"kurze Beschreibung\\\",\\n  \\\"lieferant_name\\\": \\\"Name des Ausstellers\\\",\\n  \\\"sachkonto_vorschlag\\\": \\\"SKR04-Kontonummer\\\",\\n  \\\"sachkonto_begruendung\\\": \\\"kurze Begründung\\\",\\n  \\\"konfidenz\\\": 0.95\\n}\\n\\nVerfügbare SKR04-Konten (häufigste):\\n6300 Löhne/Gehälter, 6800 Porto/Versand, 6805 Telefon/Internet, 6820 Bücher/Zeitschriften, 6830 Buchführung/Steuerberater, 6840 Rechts-/Beratungskosten, 6850 Bankgebühren, 6860 Reisekosten, 6870 Bewirtung, 6880 Werbung/Marketing, 6890 Sonstige Betriebsausgaben, 6900 Miete, 6910 Energie/Wasser, 6920 Versicherungen, 6930 Bürobedarf, 6960 Reparaturen, 6970 Kfz-Kosten, 6980 Fortbildung\"\n      },\n      {\n        role: \"user\",\n        content: \"OCR-Text des Belegs:\\n\" + ocrText\n      }\n    ]\n  }\n  }\n}];"},"position":[1680,112],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Mandant ermitteln","parameters":{"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Config').item.json.supabaseAnonKey }}"},{"name":"Authorization","value":"={{ 'Bearer ' + $('Config').item.json.supabaseServiceKey }}"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendHeaders":true,"url":"={{ $('Config').item.json.supabaseUrl }}/rest/v1/mandanten?threema_id=eq.{{ $('Config').item.json.from}}&aktiv=eq.true&select=id,firma_nr,modus"},"position":[-560,232],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Threema Public Key holen","parameters":{"headerParameters":{"parameters":[{}]},"options":{"response":{"response":{"responseFormat":"text"}}},"sendHeaders":true,"url":"=https://msgapi.threema.ch/pubkeys/{{ $('Config').item.json.from }}?from={{ $('Config').item.json.threemaFrom }}&secret={{ $('Config').item.json.secret1 }}"},"position":[-336,232],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}