n8n/MYpHUIHNMuIUR1ic/MYpHUIHNMuIUR1ic.json
{"active":false,"connections":{"Beleg aufbereiten":{"main":[[{"index":0,"node":"Beleg-Nr generieren","type":"main"}]]},"Beleg-Nr generieren":{"main":[[{"index":0,"node":"In Supabase speichern","type":"main"}]]},"Bild oder Text?":{"main":[[{"index":0,"node":"Blob herunterladen","type":"main"}],[{"index":0,"node":"Text ignorieren","type":"main"}]]},"Blob entschlüsseln":{"main":[[{"index":0,"node":"MistralOCR","type":"main"}]]},"Blob herunterladen":{"main":[[{"index":0,"node":"Blob entschlüsseln","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Prüfe Nachrichtentyp","type":"main"}]]},"In Supabase speichern":{"main":[[{"index":0,"node":"Bestätigung senden","type":"main"}]]},"KI-Kontierung":{"main":[[{"index":0,"node":"Beleg aufbereiten","type":"main"}]]},"MistralOCR":{"main":[[{"index":0,"node":"KI-Kontierung","type":"main"}]]},"Nachricht entschlüsseln":{"main":[[{"index":0,"node":"Prüfe Inhalt","type":"main"}]]},"Prüfe Inhalt":{"main":[[{"index":0,"node":"Bild oder Text?","type":"main"}]]},"Prüfe Nachrichtentyp":{"main":[[{"index":0,"node":"Nachricht entschlüsseln","type":"main"}],[{"index":0,"node":"Text ignorieren","type":"main"}]]},"Threema Webhook":{"main":[[{"index":0,"node":"Config","type":"main"}]]}},"name":"BelegChat: Threema Beleg-Eingang","nodes":[{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT1"},{"name":"secret1","type":"string","value":"18DOvPKBV7ize3Nh"},{"name":"threemaE2E","type":"string","value":"*BERENT2"},{"name":"privateKey","type":"string","value":"bd9264814eb3cf8657533d57dd8e0d8629eb9bf348f317ecbe5672e4032ed534"},{"name":"secret2","type":"string","value":"2pLgi4h6RWJWr6AD"},{"name":"senderPublicKey","type":"string","value":"df575b5ee0bdcd639fa880ffa1442b2c6bbd6d16a5240daa0f0810e55339b64e"},{"name":"supabaseUrl","type":"string","value":"https://xuqefeewzdvjhuquciut.supabase.co"},{"name":"mistralModel","type":"string","value":"mistral-ocr-latest"},{"name":"box","type":"string","value":"={{ $json.body?.box ?? $json.box ?? '' }}"},{"name":"nonce","type":"string","value":"={{ $json.body?.nonce ?? $json.nonce ?? '' }}"},{"name":"from","type":"string","value":"={{ $json.body?.from ?? $json.from ?? '' }}"},{"name":"supabaseServiceKey","type":"string","value":"HIER_SUPABASE_SERVICE_ROLE_KEY_EINTRAGEN"},{"name":"supabaseAnonKey","type":"string","value":"HIER_SUPABASE_ANON_KEY_EINTRAGEN"}]},"options":{}},"position":[-1200,160],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Threema Webhook","parameters":{"httpMethod":"POST","options":{},"path":"belegchat-threema-eingang"},"position":[-1440,160],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"belegchat-threema-eingang"},{"name":"Prüfe Nachrichtentyp","parameters":{"options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.box }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":false,"typeValidation":"loose","version":3}},"outputKey":"Bild oder Text","renameOutput":true},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.box }}","operator":{"operation":"empty","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":false,"typeValidation":"loose","version":3}},"outputKey":"Ignorieren","renameOutput":true}]}},"position":[-960,160],"type":"n8n-nodes-base.switch","typeVersion":3.4},{"name":"Nachricht entschlüsseln","parameters":{"jsonBody":"={\n  \"action\": \"decrypt\",\n  \"box\": \"{{ $('Config').item.json.box }}\",\n  \"nonce\": \"{{ $('Config').item.json.nonce }}\",\n  \"from\": \"{{ $('Config').item.json.from }}\",\n  \"gatewayPrivateKey\": \"{{ $('Config').item.json.privateKey }}\",\n  \"senderPublicKey\": \"{{ $('Config').item.json.senderPublicKey }}\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://threema-decrypt.vercel.app/api/decrypt"},"position":[-720,80],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Prüfe Inhalt","parameters":{"jsCode":"// Entschlüsseltes Ergebnis analysieren\nconst decrypted = $json;\nconst config = $('Config').item.json;\n\n// Typ ermitteln: text, image, file\nconst msgType = decrypted.type || 'unknown';\nconst hasBlob = !!(decrypted.blobId || decrypted.blob_id);\nconst blobId = decrypted.blobId || decrypted.blob_id || '';\nconst blobKey = decrypted.key || decrypted.blobKey || '';\nconst text = decrypted.text || decrypted.content || '';\n\nreturn [{\n  json: {\n    msgType,\n    hasBlob,\n    blobId,\n    blobKey,\n    text,\n    from: config.from,\n    isImage: msgType === 'image' || (hasBlob && msgType !== 'text'),\n    isText: msgType === 'text' || (!hasBlob && !!text),\n    raw: decrypted\n  }\n}];"},"position":[-480,80],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Bild oder Text?","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.isImage }}","operator":{"operation":"true","singleValue":true,"type":"boolean"},"rightValue":""}],"options":{"caseSensitive":true,"typeValidation":"strict","version":3}},"options":{}},"position":[-240,80],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Blob herunterladen","parameters":{"options":{"response":{"response":{"outputPropertyName":"blobData","responseFormat":"file"}}},"url":"=https://msgapi.threema.ch/blobs/{{ $json.blobId }}?from={{ $('Config').item.json.threemaE2E }}&secret={{ $('Config').item.json.secret2 }}"},"position":[0,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Blob entschlüsseln","parameters":{"jsonBody":"={\n  \"action\": \"decryptBlob\",\n  \"blobId\": \"{{ $('Prüfe Inhalt').item.json.blobId }}\",\n  \"blobKey\": \"{{ $('Prüfe Inhalt').item.json.blobKey }}\",\n  \"gatewayPrivateKey\": \"{{ $('Config').item.json.privateKey }}\",\n  \"from\": \"{{ $('Config').item.json.from }}\",\n  \"secret\": \"{{ $('Config').item.json.secret2 }}\",\n  \"gatewayId\": \"{{ $('Config').item.json.threemaE2E }}\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://threema-decrypt.vercel.app/api/decrypt"},"position":[240,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"MistralOCR","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={\n  \"model\": \"{{ $('Config').item.json.mistralModel }}\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.imageBase64 ? 'data:image/jpeg;base64,' + $json.imageBase64 : $json.imageUrl }}\"\n  },\n  \"include_image_base64\": false\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://api.mistral.ai/v1/ocr"},"position":[480,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"KI-Kontierung","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={\n  \"model\": \"mistral-large-latest\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein deutschsprachiger Buchhalter. Analysiere den OCR-Text eines Belegs und extrahiere strukturierte Daten. Antworte NUR mit validem JSON, ohne Kommentare oder Markdown.\\n\\nErwartetes JSON-Format:\\n{\\n  \\\"beleg_datum\\\": \\\"YYYY-MM-DD oder null\\\",\\n  \\\"betrag_brutto\\\": 0.00,\\n  \\\"betrag_netto\\\": 0.00,\\n  \\\"mwst_satz\\\": 19,\\n  \\\"mwst_betrag\\\": 0.00,\\n  \\\"beleg_typ\\\": \\\"eingangsrechnung|ausgangsrechnung|quittung|gutschrift|sonstiges\\\",\\n  \\\"verwendungszweck\\\": \\\"kurze Beschreibung\\\",\\n  \\\"lieferant_name\\\": \\\"Name des Ausstellers\\\",\\n  \\\"sachkonto_vorschlag\\\": \\\"SKR04-Kontonummer\\\",\\n  \\\"sachkonto_begruendung\\\": \\\"kurze Begründung\\\",\\n  \\\"konfidenz\\\": 0.95\\n}\\n\\nVerfügbare SKR04-Konten (häufigste):\\n6300 Löhne/Gehälter, 6800 Porto/Versand, 6805 Telefon/Internet, 6820 Bücher/Zeitschriften, 6830 Buchführung/Steuerberater, 6840 Rechts-/Beratungskosten, 6850 Bankgebühren, 6860 Reisekosten, 6870 Bewirtung, 6880 Werbung/Marketing, 6890 Sonstige Betriebsausgaben, 6900 Miete, 6910 Energie/Wasser, 6920 Versicherungen, 6930 Bürobedarf, 6960 Reparaturen, 6970 Kfz-Kosten, 6980 Fortbildung\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"OCR-Text des Belegs:\\n{{ $('MistralOCR').item.json.pages?.[0]?.markdown ?? $('MistralOCR').item.json.text ?? 'Kein Text erkannt' }}\"\n    }\n  ]\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://api.mistral.ai/v1/chat/completions"},"position":[720,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Beleg aufbereiten","parameters":{"jsCode":"const kiAntwort = $json.choices?.[0]?.message?.content || '{}';\nconst config = $('Config').item.json;\n\nlet kiDaten;\ntry {\n  kiDaten = JSON.parse(kiAntwort);\n} catch(e) {\n  kiDaten = { fehler: 'JSON-Parse fehlgeschlagen', raw: kiAntwort };\n}\n\n// Beleg-Nummer: B-YYYY-NNNN wird von Supabase-Funktion vergeben\n// Pseudonymisierung: vendor_id wird separat via identity-Schema gesetzt\nconst beleg = {\n  eingangskanal: 'threema',\n  threema_sender_id: config.from,\n  status: 'vorschlag',\n  beleg_datum: kiDaten.beleg_datum || null,\n  betrag_brutto: kiDaten.betrag_brutto || null,\n  betrag_netto: kiDaten.betrag_netto || null,\n  mwst_satz: kiDaten.mwst_satz || null,\n  mwst_betrag: kiDaten.mwst_betrag || null,\n  beleg_typ: kiDaten.beleg_typ || 'sonstiges',\n  verwendungszweck: kiDaten.verwendungszweck || null,\n  sachkonto: kiDaten.sachkonto_vorschlag || '6890',\n  sachkonto_ki_vorschlag: kiDaten.sachkonto_vorschlag || '6890',\n  sachkonto_manuell_geaendert: false,\n  ocr_konfidenz: kiDaten.konfidenz || null,\n  // Beleg-Nr via Supabase-Funktion\n  beleg_nr_placeholder: true\n};\n\nreturn [{\n  json: {\n    beleg,\n    lieferant_name: kiDaten.lieferant_name || null,\n    sachkonto_begruendung: kiDaten.sachkonto_begruendung || null,\n    from: config.from,\n    threemaFrom: config.threemaFrom,\n    secret1: config.secret1\n  }\n}];"},"position":[960,0],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Beleg-Nr generieren","parameters":{"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Config').item.json.supabaseAnonKey ?? '' }}"},{"name":"Authorization","value":"={{ 'Bearer ' + ($('Config').item.json.supabaseServiceKey ?? '') }}"},{"name":"Content-Type","value":"application/json"}]},"jsonBody":"{}","method":"POST","options":{},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"=https://xuqefeewzdvjhuquciut.supabase.co/rest/v1/rpc/naechste_beleg_nr"},"position":[1200,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"In Supabase speichern","parameters":{"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Config').item.json.supabaseAnonKey ?? '' }}"},{"name":"Authorization","value":"={{ 'Bearer ' + ($('Config').item.json.supabaseServiceKey ?? '') }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"jsonBody":"={\n  \"beleg_nr\": \"{{ $('Beleg-Nr generieren').item.json }}\",\n  \"eingangskanal\": \"threema\",\n  \"threema_sender_id\": \"{{ $('Beleg aufbereiten').item.json.beleg.threema_sender_id }}\",\n  \"status\": \"vorschlag\",\n  \"beleg_datum\": {{ $('Beleg aufbereiten').item.json.beleg.beleg_datum ? '\"' + $('Beleg aufbereiten').item.json.beleg.beleg_datum + '\"' : 'null' }},\n  \"betrag_brutto\": {{ $('Beleg aufbereiten').item.json.beleg.betrag_brutto ?? 'null' }},\n  \"betrag_netto\": {{ $('Beleg aufbereiten').item.json.beleg.betrag_netto ?? 'null' }},\n  \"mwst_satz\": {{ $('Beleg aufbereiten').item.json.beleg.mwst_satz ?? 'null' }},\n  \"mwst_betrag\": {{ $('Beleg aufbereiten').item.json.beleg.mwst_betrag ?? 'null' }},\n  \"beleg_typ\": \"{{ $('Beleg aufbereiten').item.json.beleg.beleg_typ }}\",\n  \"verwendungszweck\": {{ $('Beleg aufbereiten').item.json.beleg.verwendungszweck ? '\"' + $('Beleg aufbereiten').item.json.beleg.verwendungszweck + '\"' : 'null' }},\n  \"sachkonto\": \"{{ $('Beleg aufbereiten').item.json.beleg.sachkonto }}\",\n  \"sachkonto_ki_vorschlag\": \"{{ $('Beleg aufbereiten').item.json.beleg.sachkonto_ki_vorschlag }}\",\n  \"sachkonto_manuell_geaendert\": false,\n  \"ocr_konfidenz\": {{ $('Beleg aufbereiten').item.json.beleg.ocr_konfidenz ?? 'null' }}\n}","method":"POST","options":{},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"=https://xuqefeewzdvjhuquciut.supabase.co/rest/v1/belege"},"position":[1440,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Bestätigung senden","parameters":{"method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').item.json.secret1 }}"},{"name":"from","value":"={{ $('Config').item.json.threemaFrom }}"},{"name":"to","value":"={{ $('Beleg aufbereiten').item.json.from }}"},{"name":"text","value":"=✅ Beleg {{ $('In Supabase speichern').item.json[0]?.beleg_nr ?? '' }} wurde erfasst und zur Prüfung weitergeleitet.\n\n📋 {{ $('Beleg aufbereiten').item.json.beleg.verwendungszweck ?? 'Beleg' }}\n💶 {{ $('Beleg aufbereiten').item.json.beleg.betrag_brutto ?? '?' }} €\n📅 {{ $('Beleg aufbereiten').item.json.beleg.beleg_datum ?? 'Datum unbekannt' }}"}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[1680,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Text ignorieren","parameters":{"method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').item.json.secret1 }}"},{"name":"from","value":"={{ $('Config').item.json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').item.json.from }}"},{"name":"text","value":"📎 Bitte sende ein Foto oder Bild des Belegs. Textnachrichten werden nicht verarbeitet."}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[0,240],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Fehler melden","parameters":{"method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').item.json.secret1 }}"},{"name":"from","value":"={{ $('Config').item.json.threemaFrom }}"},{"name":"to","value":"={{ $('Beleg aufbereiten').item.json.from }}"},{"name":"text","value":"❌ Beleg konnte nicht verarbeitet werden. Bitte versuche es erneut oder wende dich an den Administrator."}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[1680,240],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2}],"settings":{"availableInMCP":false,"binaryMode":"separate","executionOrder":"v1"}}