n8n/O9NAfMeQnUDKhZjC/n8n Workflow Migration - Alte zu Neue Struktur (v4).json
{"active":false,"connections":{"Aktualisiere Statistik":{"main":[[{"index":0,"node":"Schleife prüfen","type":"main"}]]},"Bestimme Migration":{"main":[[{"index":0,"node":"Prüfe ob Migrieren","type":"main"}]]},"Check Skip":{"main":[[{"index":0,"node":"Prüfe neue Struktur","type":"main"}],[{"index":0,"node":"Skip Statistik","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Hole alle Workflows","type":"main"}]]},"Extrahiere Workflow":{"main":[[{"index":0,"node":"Check Skip","type":"main"}]]},"Hole alle Workflows":{"main":[[{"index":0,"node":"Initialisierung","type":"main"}]]},"Initialisierung":{"main":[[{"index":0,"node":"Extrahiere Workflow","type":"main"}]]},"Manueller Trigger":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"Migrations-Statistik":{"main":[[{"index":0,"node":"Threema Benachrichtigung","type":"main"}]]},"Migriere Workflow":{"main":[[{"index":0,"node":"Aktualisiere Statistik","type":"main"}]]},"Prüfe neue Struktur":{"main":[[{"index":0,"node":"Bestimme Migration","type":"main"}]]},"Prüfe ob Migrieren":{"main":[[{"index":0,"node":"Migriere Workflow","type":"main"}],[{"index":0,"node":"Skip Statistik","type":"main"}]]},"Schleife prüfen":{"main":[[{"index":0,"node":"Extrahiere Workflow","type":"main"}],[{"index":0,"node":"Migrations-Statistik","type":"main"}]]},"Skip Statistik":{"main":[[{"index":0,"node":"Schleife prüfen","type":"main"}]]}},"name":"n8n Workflow Migration - Alte zu Neue Struktur (v4)","nodes":[{"name":"Manueller Trigger","parameters":{},"position":[-944,-1088],"type":"n8n-nodes-base.manualTrigger","typeVersion":1},{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"testModus","type":"boolean","value":true},{"name":"testWorkflowName","type":"string","value":""},{"name":"secret","type":"string","value":""}]},"options":{}},"position":[-720,-1088],"type":"n8n-nodes-base.set","typeVersion":3.4},{"credentials":{"httpHeaderAuth":{"name":"API n8n für n8n"}},"name":"Hole alle Workflows","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"json"}}},"url":"=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows"},"position":[-496,-1088],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Initialisierung","parameters":{"jsCode":"const workflows = $json.data || [];\nreturn {\n  workflows: workflows,\n  index: 0,\n  anzahl: workflows.length,\n  migriert: 0,\n  uebersprungen: 0,\n  fehler: 0,\n  tabelle: []\n};"},"position":[-272,-1088],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Extrahiere Workflow","parameters":{"jsCode":"const r = $json; // Rucksack\nconst wf = r.workflows[r.index];\nconst config = $node[\"Config\"].json || {};\nconst testModus = config.testModus === true;\nconst testWorkflowName = (config.testWorkflowName || '').trim();\n\n// Default values\nlet skipIteration = false;\n\n// Überspringe archivierte Workflows\nif (wf.isArchived === true) {\n  skipIteration = true;\n}\n\n// Test-Modus: Nur bestimmten Workflow migrieren\nif (testModus && testWorkflowName) {\n  if (wf.name !== testWorkflowName) {\n    skipIteration = true;\n  }\n}\n\nif (skipIteration) {\n    return { ...r, skipIteration: true };\n}\n\nconst workflowId = wf.id || '';\nconst workflowName = wf.name || 'Unnamed Workflow';\nconst cleanName = String(workflowName).replace(/[^a-zA-Z0-9-_äöüÄÖÜß ]/g, '').replace(/\\s+/g, '-').toLowerCase();\n\n// Neue Struktur: n8n/{workflowId}/{workflowName}.json\nconst neueStrukturPfad = `n8n/${workflowId}/${cleanName}.json`;\nconst workflowContent = Buffer.from(JSON.stringify(wf, null, 2)).toString('base64');\n\n// Alte Struktur: n8n/{workflowName}.json (ohne ID)\nconst alteStrukturPfad = `n8n/${cleanName}.json`;\n\nreturn {\n  ...r,\n  workflowId: workflowId,\n  workflowName: workflowName,\n  workflowData: wf,\n  neueStrukturPfad: neueStrukturPfad,\n  alteStrukturPfad: alteStrukturPfad,\n  workflowContent: workflowContent,\n  testModus: testModus,\n  skipIteration: false\n};","mode":"runOnceForEachItem"},"position":[-48,-1088],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"githubApi":{"name":"API GitHub"}},"name":"Prüfe neue Struktur","onError":"continueRegularOutput","parameters":{"additionalParameters":{"reference":"main"},"asBinaryProperty":false,"filePath":"={{ $json.neueStrukturPfad }}","operation":"get","owner":{"__rl":true,"mode":"name","value":"peerendees"},"repository":{"__rl":true,"cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/peerendees/n8n-workflows","mode":"list","value":"n8n-workflows"},"resource":"file"},"position":[400,-1232],"type":"n8n-nodes-base.github","typeVersion":1.1,"webhookId":"694567e2-c3e8-4bfc-91af-aae5697aca36"},{"name":"Check Skip","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.skipIteration }}","operator":{"operation":"notEquals","type":"boolean"},"rightValue":true}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"position":[176,-1160],"type":"n8n-nodes-base.if","typeVersion":2},{"name":"Bestimme Migration","parameters":{"jsCode":"const r = $node[\"Check Skip\"].json; // Rucksack wiederherstellen (da GitHub Check den Input überschreibt)\nconst neueStrukturFile = $node[\"Prüfe neue Struktur\"].json;\n\n// Prüfe ob Workflow bereits in neuer Struktur existiert\nconst existiertInNeuerStruktur = neueStrukturFile && !neueStrukturFile.error && neueStrukturFile.sha;\n\nlet mussMigrieren = false;\nlet alteDateiSha = null;\n\nif (!existiertInNeuerStruktur) {\n  // Workflow existiert nicht in neuer Struktur - muss migriert werden\n  mussMigrieren = true;\n}\n\nreturn {\n  ...r,\n  existiertInNeuerStruktur: existiertInNeuerStruktur,\n  mussMigrieren: mussMigrieren,\n  neueStrukturSha: existiertInNeuerStruktur ? neueStrukturFile.sha : null\n};"},"position":[624,-1232],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Prüfe ob Migrieren","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.mussMigrieren }}","operator":{"operation":"equals","type":"boolean"},"rightValue":true}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[848,-1232],"type":"n8n-nodes-base.if","typeVersion":2.3},{"credentials":{"httpHeaderAuth":{"name":"GitHub Token"}},"name":"Migriere Workflow","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"message","value":"🔄 Migration: {{ $json.workflowName }} → neue Struktur"},{"name":"content","value":"={{ $json.workflowContent }}"},{"name":"branch","value":"main"}]},"genericAuthType":"httpHeaderAuth","method":"PUT","options":{},"sendBody":true,"url":"=https://api.github.com/repos/peerendees/n8n-workflows/contents/{{ $json.neueStrukturPfad }}"},"position":[1072,-1280],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Aktualisiere Statistik","parameters":{"jsCode":"const r = $node[\"Bestimme Migration\"].json;\nconst migrationResponse = $json;\n\nif (migrationResponse.error) {\n  r.fehler++;\n  r.tabelle.push(`❌ Fehler: ${r.workflowName} - ${migrationResponse.error.message || JSON.stringify(migrationResponse.error)}`);\n} else {\n  r.migriert++;\n  r.tabelle.push(`✅ Migriert: ${r.workflowName}`);\n}\n\nr.index++;\n\nreturn r;","mode":"runOnceForEachItem"},"position":[1296,-1280],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Skip Statistik","parameters":{"jsCode":"const r = $json;\n\nr.uebersprungen++;\nr.index++;\n\nreturn r;","mode":"runOnceForEachItem"},"position":[1072,-1064],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Schleife prüfen","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.index }}","operator":{"operation":"lt","type":"number"},"rightValue":"={{ $json.anzahl }}"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[1520,-1064],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Migrations-Statistik","parameters":{"jsCode":"const r = $json;\nconst wort = r.anzahl === 1 ? 'Workflow' : 'Workflows';\n\nreturn {\n  text: `🔄 Migration abgeschlossen: ${r.anzahl} ${wort} geprüft.\\n` +\n        `Ergebnis: ${r.migriert} migriert, ${r.uebersprungen} übersprungen, ${r.fehler} Fehler.\\n\\n` +\n        `${r.tabelle.join('\\n') || 'Keine Migrationen'}`\n};"},"position":[1744,-1064],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"API Threema Work BERENT1"}},"name":"Threema Benachrichtigung","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"from","value":"*BERENT1"},{"name":"to","value":"BUMFMZ39"},{"name":"secret","value":"={{ $('Config').first().json.secret }}"},{"name":"text","value":"={{ $json.text }}\n\n🔗 https://github.com/peerendees/n8n-workflows/n8n"}]},"contentType":"form-urlencoded","genericAuthType":"httpHeaderAuth","method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[1968,-1064],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}