n8n/qV8SHVJFOeoAv0FC/youtube-transkript-für-notion.json
{"name":"YouTube-Transkript für Notion","nodes":[{"parameters":{"httpMethod":"POST","path":"youtube-transcript","responseMode":"responseNode","options":{"rawBody":true}},"id":"ced11828-a47e-485b-8202-2415d393b8d2","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-864,176],"webhookId":"youtube-transcript-webhook"},{"parameters":{"assignments":{"assignments":[{"id":"youtube-url","name":"youtubeUrl","value":"={{ $json.body.url || $json.query.url || $json.url }}","type":"string"},{"id":"video-id","name":"videoId","value":"={{ $json.body.url ? $json.body.url.match(/(?:youtube\\.com\\/watch\\?v=|youtu\\.be\\/)([^&]+)/)?.[1] : '' }}","type":"string"},{"id":"author-name","name":"authorName","value":"={{ $json.body.author || 'Unbekannt' }}","type":"string"}]},"options":{}},"id":"85131524-8fa8-4a4e-b6d6-936f6af0b59b","name":"Webhook Daten extrahieren","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-640,176]},{"parameters":{"operation":"get","part":[]},"id":"72cf1970-a5ed-43e2-a219-3a519f449eee","name":"YouTube Video Details","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-416,176],"credentials":{"youTubeOAuth2Api":{"id":"zbYU0lZRRMaC5l5T","name":"YouTube account"}}},{"parameters":{"url":"=https://api.youtubetranscript.com/?video_id={{ $json.videoId }}","options":{"timeout":30000}},"id":"8120b877-d43f-44a7-a3a4-23fc6a0ece23","name":"Transkript extrahieren","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-transcript","leftValue":"={{ $json.transcript || $json.text || '' }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"min-length","leftValue":"={{ ($json.transcript || $json.text || '').length }}","rightValue":"100","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"05f7d659-bf13-4c1b-8b85-4c49a5a3006b","name":"Transkript validieren","type":"n8n-nodes-base.if","typeVersion":2,"position":[32,176]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Alle Daten aus vorherigen Nodes sammeln\nconst config = $('Webhook Daten extrahieren').item.json;\nconst videoDetails = $('YouTube Video Details').item.json;\nconst transcriptData = $('Transkript extrahieren').item.json;\n\n// Transkript extrahieren und bereinigen\nlet rawTranscript = transcriptData.transcript || transcriptData.text || '';\nif (Array.isArray(transcriptData)) {\n  rawTranscript = transcriptData.map(item => item.text || item.content || '').join(' ');\n}\n\n// Text bereinigen und formatieren\nconst cleanTranscript = rawTranscript\n  .replace(/\\[.*?\\]/g, '')           // [Musik], [Applaus] etc.\n  .replace(/\\(.*?\\)/g, '')           // (inaudible) etc.\n  .replace(/\\s+/g, ' ')              // Mehrfache Leerzeichen\n  .replace(/\\n+/g, '\\n\\n')           // Absätze formatieren\n  .trim();\n\n// Video-Dauer aus ISO 8601 Format parsen (PT4M13S -> 4:13)\nfunction parseDuration(duration) {\n  if (!duration) return 'Unknown';\n  const match = duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  if (!match) return duration;\n  \n  const hours = parseInt(match[1] || 0);\n  const minutes = parseInt(match[2] || 0);\n  const seconds = parseInt(match[3] || 0);\n  \n  if (hours > 0) {\n    return `${hours}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;\n  } else {\n    return `${minutes}:${seconds.toString().padStart(2, '0')}`;\n  }\n}\n\n// Tags aus Video-Titel und Beschreibung extrahieren\nfunction extractTags(title, description) {\n  const tags = [];\n  const text = (title + ' ' + description).toLowerCase();\n  \n  // AI/KI-bezogene Keywords\n  if (text.match(/(ai|artificial intelligence|chatgpt|gpt|claude|llm|machine learning|automation)/)) {\n    tags.push('AI');\n  }\n  \n  // Marketing Keywords\n  if (text.match(/(marketing|sales|business|growth|strategy|revenue)/)) {\n    tags.push('Marketing');\n  }\n  \n  // Tutorial Keywords\n  if (text.match(/(tutorial|how to|guide|step by step|walkthrough|setup)/)) {\n    tags.push('Tutorial');\n  }\n  \n  // Tool Keywords\n  if (text.match(/(tool|software|app|platform|api|integration)/)) {\n    tags.push('Tools');\n  }\n  \n  return tags.length > 0 ? tags : ['AI']; // Default fallback\n}\n\nreturn {\n  // Video Grunddaten\n  videoId: config.videoId,\n  title: videoDetails.snippet?.title || 'Unbekannt',\n  channelTitle: videoDetails.snippet?.channelTitle || 'Unbekannt',\n  authorName: config.authorName || 'Unbekannt',\n  publishedAt: videoDetails.snippet?.publishedAt || new Date().toISOString(),\n  description: videoDetails.snippet?.description || '',\n  \n  // Statistiken\n  viewCount: parseInt(videoDetails.statistics?.viewCount || 0),\n  likeCount: parseInt(videoDetails.statistics?.likeCount || 0),\n  duration: parseDuration(videoDetails.contentDetails?.duration),\n  \n  // URLs\n  videoUrl: `https://youtube.com/watch?v=${config.videoId}`,\n  thumbnailUrl: videoDetails.snippet?.thumbnails?.high?.url || '',\n  \n  // Transkript\n  cleanTranscript: cleanTranscript,\n  transcriptLength: cleanTranscript.length,\n  wordCount: cleanTranscript.split(' ').length,\n  estimatedReadingTime: Math.ceil(cleanTranscript.split(' ').length / 200),\n  \n  // Auto-Tags\n  autoTags: extractTags(videoDetails.snippet?.title || '', videoDetails.snippet?.description || '')\n};"},"id":"27908794-92e5-4887-a2f3-6a80dab9a7b2","name":"Daten zusammenführen","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,176]},{"parameters":{"text":"={{ $json.cleanTranscript }}","translateTo":"DE","additionalFields":{}},"id":"5240e51e-f453-4b4a-9af2-b4472b2c9706","name":"DeepL Übersetzen","type":"n8n-nodes-base.deepL","typeVersion":1,"position":[480,176],"credentials":{"deepLApi":{"id":"UYMLSZlCK38G0uST","name":"DeepL account"}}},{"parameters":{"resource":"databasePage","databaseId":"22f31cc6fd5680f89a68da6f99f3dade","title":"={{ $json.title }}","propertiesUi":{"propertyValues":[{"key":"Autor|select","selectValue":"={{ [$json.authorName] }}"},{"key":"Video URL|url","urlValue":"={{ $json.videoUrl }}"},{"key":"Kanal|rich_text"},{"key":"Veröffentlicht|date","includeTime":false},{"key":"Tags|multi_select","multiSelectValue":"={{ $json.autoTags }}"},{"key":"Status|select","selectValue":"=Neu"}]},"options":{}},"id":"61bdd1db-aa27-4a43-9cb8-d2a0bf225c81","name":"Notion Eintrag erstellen","type":"n8n-nodes-base.notion","typeVersion":2,"position":[704,176],"notesInFlow":true,"credentials":{"notionApi":{"id":"KpKj51GJ0big0oYv","name":"API Notion"}},"notes":"Datenbank-ID als ENV-Variable: NOTION_DATABASE_ID"},{"parameters":{"url":"https://msgapi.threema.ch/send_simple","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"7d6ccc18-4955-4ef3-b040-f221e9d80429","name":"Threema Work Benachrichtigung","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,176],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"aZMd0okvVFkvyGnj","name":"GitHub Token"}},"notes":"Threema Work API - Empfänger-ID noch anzupassen"},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"success\": true,\n  \"message\": \"Video erfolgreich verarbeitet\",\n  \"videoId\": $('Webhook Daten extrahieren').item.json.videoId,\n  \"title\": $('Daten zusammenführen').item.json.title,\n  \"notionUrl\": $('Notion Eintrag erstellen').item.json.url || 'Erstellt'\n} }}","options":{}},"id":"bc30b928-3366-40e5-89f4-aaa0711285a0","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1152,176]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Webhook Daten extrahieren","type":"main","index":0}]]},"Webhook Daten extrahieren":{"main":[[{"node":"YouTube Video Details","type":"main","index":0}]]},"YouTube Video Details":{"main":[[{"node":"Transkript extrahieren","type":"main","index":0}]]},"Transkript extrahieren":{"main":[[{"node":"Transkript validieren","type":"main","index":0}]]},"Transkript validieren":{"main":[[{"node":"Daten zusammenführen","type":"main","index":0}]]},"Daten zusammenführen":{"main":[[{"node":"DeepL Übersetzen","type":"main","index":0}]]},"DeepL Übersetzen":{"main":[[{"node":"Notion Eintrag erstellen","type":"main","index":0}]]},"Notion Eintrag erstellen":{"main":[[{"node":"Threema Work Benachrichtigung","type":"main","index":0}]]},"Threema Work Benachrichtigung":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true}}