n8n/qV8SHVJFOeoAv0FC/YouTube-Transkript für Notion.json
{"active":false,"connections":{"Daten zusammenführen":{"main":[[{"index":0,"node":"DeepL Übersetzen","type":"main"}]]},"DeepL Übersetzen":{"main":[[{"index":0,"node":"Notion Eintrag erstellen","type":"main"}]]},"Notion Eintrag erstellen":{"main":[[{"index":0,"node":"Threema Work Benachrichtigung","type":"main"}]]},"Threema Work Benachrichtigung":{"main":[[{"index":0,"node":"Webhook Response","type":"main"}]]},"Transkript extrahieren":{"main":[[{"index":0,"node":"Transkript validieren","type":"main"}]]},"Transkript validieren":{"main":[[{"index":0,"node":"Daten zusammenführen","type":"main"}]]},"Webhook Daten extrahieren":{"main":[[{"index":0,"node":"YouTube Video Details","type":"main"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Webhook Daten extrahieren","type":"main"}]]},"YouTube Video Details":{"main":[[{"index":0,"node":"Transkript extrahieren","type":"main"}]]}},"name":"YouTube-Transkript für Notion","nodes":[{"name":"Webhook Trigger","parameters":{"httpMethod":"POST","options":{"rawBody":true},"path":"youtube-transcript","responseMode":"responseNode"},"position":[-864,176],"type":"n8n-nodes-base.webhook","typeVersion":1.1,"webhookId":"youtube-transcript-webhook"},{"name":"Webhook Daten extrahieren","parameters":{"assignments":{"assignments":[{"name":"youtubeUrl","type":"string","value":"={{ $json.body.url || $json.query.url || $json.url }}"},{"name":"videoId","type":"string","value":"={{ $json.body.url ? $json.body.url.match(/(?:youtube\\.com\\/watch\\?v=|youtu\\.be\\/)([^&]+)/)?.[1] : '' }}"},{"name":"authorName","type":"string","value":"={{ $json.body.author || 'Unbekannt' }}"}]},"options":{}},"position":[-640,176],"type":"n8n-nodes-base.set","typeVersion":3.3},{"credentials":{"youTubeOAuth2Api":{"name":"YouTube account"}},"name":"YouTube Video Details","parameters":{"operation":"get","part":[]},"position":[-416,176],"type":"n8n-nodes-base.youTube","typeVersion":1},{"name":"Transkript extrahieren","parameters":{"options":{"timeout":30000},"url":"=https://api.youtubetranscript.com/?video_id={{ $json.videoId }}"},"position":[-192,176],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Transkript validieren","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.transcript || $json.text || '' }}","operator":{"operation":"notEmpty","type":"string"},"rightValue":""},{"leftValue":"={{ ($json.transcript || $json.text || '').length }}","operator":{"operation":"gt","type":"number"},"rightValue":"100"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"options":{}},"position":[32,176],"type":"n8n-nodes-base.if","typeVersion":2},{"name":"Daten zusammenführen","parameters":{"jsCode":"// Alle Daten aus vorherigen Nodes sammeln\nconst config = $('Webhook Daten extrahieren').item.json;\nconst videoDetails = $('YouTube Video Details').item.json;\nconst transcriptData = $('Transkript extrahieren').item.json;\n\n// Transkript extrahieren und bereinigen\nlet rawTranscript = transcriptData.transcript || transcriptData.text || '';\nif (Array.isArray(transcriptData)) {\n  rawTranscript = transcriptData.map(item => item.text || item.content || '').join(' ');\n}\n\n// Text bereinigen und formatieren\nconst cleanTranscript = rawTranscript\n  .replace(/\\[.*?\\]/g, '')           // [Musik], [Applaus] etc.\n  .replace(/\\(.*?\\)/g, '')           // (inaudible) etc.\n  .replace(/\\s+/g, ' ')              // Mehrfache Leerzeichen\n  .replace(/\\n+/g, '\\n\\n')           // Absätze formatieren\n  .trim();\n\n// Video-Dauer aus ISO 8601 Format parsen (PT4M13S -> 4:13)\nfunction parseDuration(duration) {\n  if (!duration) return 'Unknown';\n  const match = duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  if (!match) return duration;\n  \n  const hours = parseInt(match[1] || 0);\n  const minutes = parseInt(match[2] || 0);\n  const seconds = parseInt(match[3] || 0);\n  \n  if (hours > 0) {\n    return `${hours}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;\n  } else {\n    return `${minutes}:${seconds.toString().padStart(2, '0')}`;\n  }\n}\n\n// Tags aus Video-Titel und Beschreibung extrahieren\nfunction extractTags(title, description) {\n  const tags = [];\n  const text = (title + ' ' + description).toLowerCase();\n  \n  // AI/KI-bezogene Keywords\n  if (text.match(/(ai|artificial intelligence|chatgpt|gpt|claude|llm|machine learning|automation)/)) {\n    tags.push('AI');\n  }\n  \n  // Marketing Keywords\n  if (text.match(/(marketing|sales|business|growth|strategy|revenue)/)) {\n    tags.push('Marketing');\n  }\n  \n  // Tutorial Keywords\n  if (text.match(/(tutorial|how to|guide|step by step|walkthrough|setup)/)) {\n    tags.push('Tutorial');\n  }\n  \n  // Tool Keywords\n  if (text.match(/(tool|software|app|platform|api|integration)/)) {\n    tags.push('Tools');\n  }\n  \n  return tags.length > 0 ? tags : ['AI']; // Default fallback\n}\n\nreturn {\n  // Video Grunddaten\n  videoId: config.videoId,\n  title: videoDetails.snippet?.title || 'Unbekannt',\n  channelTitle: videoDetails.snippet?.channelTitle || 'Unbekannt',\n  authorName: config.authorName || 'Unbekannt',\n  publishedAt: videoDetails.snippet?.publishedAt || new Date().toISOString(),\n  description: videoDetails.snippet?.description || '',\n  \n  // Statistiken\n  viewCount: parseInt(videoDetails.statistics?.viewCount || 0),\n  likeCount: parseInt(videoDetails.statistics?.likeCount || 0),\n  duration: parseDuration(videoDetails.contentDetails?.duration),\n  \n  // URLs\n  videoUrl: `https://youtube.com/watch?v=${config.videoId}`,\n  thumbnailUrl: videoDetails.snippet?.thumbnails?.high?.url || '',\n  \n  // Transkript\n  cleanTranscript: cleanTranscript,\n  transcriptLength: cleanTranscript.length,\n  wordCount: cleanTranscript.split(' ').length,\n  estimatedReadingTime: Math.ceil(cleanTranscript.split(' ').length / 200),\n  \n  // Auto-Tags\n  autoTags: extractTags(videoDetails.snippet?.title || '', videoDetails.snippet?.description || '')\n};","mode":"runOnceForEachItem"},"position":[256,176],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"deepLApi":{"name":"DeepL account"}},"name":"DeepL Übersetzen","parameters":{"additionalFields":{},"text":"={{ $json.cleanTranscript }}","translateTo":"DE"},"position":[480,176],"type":"n8n-nodes-base.deepL","typeVersion":1},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Notion Eintrag erstellen","notes":"Datenbank-ID als ENV-Variable: NOTION_DATABASE_ID","notesInFlow":true,"parameters":{"databaseId":"22f31cc6fd5680f89a68da6f99f3dade","options":{},"propertiesUi":{"propertyValues":[{"key":"Autor|select","selectValue":"={{ [$json.authorName] }}"},{"key":"Video URL|url","urlValue":"={{ $json.videoUrl }}"},{"key":"Kanal|rich_text"},{"includeTime":false,"key":"Veröffentlicht|date"},{"key":"Tags|multi_select","multiSelectValue":"={{ $json.autoTags }}"},{"key":"Status|select","selectValue":"=Neu"}]},"resource":"databasePage","title":"={{ $json.title }}"},"position":[704,176],"type":"n8n-nodes-base.notion","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"GitHub Token"}},"name":"Threema Work Benachrichtigung","notes":"Threema Work API - Empfänger-ID noch anzupassen","notesInFlow":true,"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{},"url":"https://msgapi.threema.ch/send_simple"},"position":[928,176],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Webhook Response","parameters":{"options":{},"respondWith":"json","responseBody":"={{ {\n  \"success\": true,\n  \"message\": \"Video erfolgreich verarbeitet\",\n  \"videoId\": $('Webhook Daten extrahieren').item.json.videoId,\n  \"title\": $('Daten zusammenführen').item.json.title,\n  \"notionUrl\": $('Notion Eintrag erstellen').item.json.url || 'Erstellt'\n} }}"},"position":[1152,176],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}