github-to-n8n-sync-workflow.json
  {
    "name": "GitHub → n8n Synchronisation",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "github-sync-webhook",
          "options": {}
        },
        "id": "github-webhook-trigger",
        "name": "GitHub Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -720,
          -656
        ],
        "webhookId": "github-sync-webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-push-event",
                "leftValue": "={{ $json.headers['x-github-event'] }}",
                "rightValue": "push",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -496,
          -656
        ],
        "id": "pruefe-push-event",
        "name": "Prüfe Push Event"
      },
      {
        "parameters": {
          "jsCode": "// Extrahiere geänderte Dateien aus GitHub Webhook\nconst body = $json.body || {};\nconst commits = body.commits || [];\nconst changedFiles = [];\n\n// Sammle alle geänderten Dateien\nfor (const commit of commits) {\n  const added = commit.added || [];\n  const modified = commit.modified || [];\n  \n  for (const file of [...added, ...modified]) {\n    // Workflow-Dateien:\n    // - Im n8n/ Verzeichnis (alte Struktur: n8n/workflow-name.json)\n    // - In n8n/{workflowId}/ (neue Struktur: n8n/{workflowId}/{workflowName}.json)\n    // - Im Root mit -workflow.json (z.B. github-to-n8n-sync-workflow.json)\n    if (file.endsWith('.json') && \n        (file.startsWith('n8n/') || file.includes('-workflow.json'))) {\n      changedFiles.push(file);\n    }\n  }\n}\n\nreturn changedFiles.map(file => ({ filePath: file }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          -656
        ],
        "id": "extrahiere-dateien",
        "name": "Extrahiere geänderte Dateien"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const filePath = $json.filePath;\nreturn { filePath };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -48,
          -656
        ],
        "id": "vorbereiten-datei",
        "name": "Vorbereiten Datei"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "peerendees",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": "n8n-workflows",
            "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
          },
          "filePath": "={{ $json.filePath }}",
          "asBinaryProperty": false,
          "additionalParameters": {
            "reference": "main"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          176,
          -656
        ],
        "id": "hole-datei-von-github",
        "name": "Hole Datei von GitHub",
        "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
        "credentials": {
          "githubApi": {
            "id": "uE78TkEY6lWLV4oP",
            "name": "API GitHub"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Extrahiere Workflow-Daten aus GitHub-Datei\nconst githubFile = $json;\n\nif (githubFile.error || !githubFile.content) {\n  return { error: 'Datei konnte nicht geladen werden' };\n}\n\ntry {\n  const content = Buffer.from(githubFile.content, 'base64').toString('utf-8');\n  const workflow = JSON.parse(content);\n  \n  // Überspringe archivierte Workflows\n  if (workflow.isArchived === true) {\n    return { error: 'Archivierter Workflow wird übersprungen' };\n  }\n  \n  // Stelle sicher, dass workflowId vorhanden ist (kann leer sein für neue Workflows)\n  const workflowId = workflow.id || '';\n  \n  // Stelle sicher, dass name vorhanden ist\n  const fileName = (githubFile.path || githubFile.name || '').split('/').pop().replace(/\\.json$/, '') || 'Unnamed Workflow';\n  const finalWorkflowName = workflow.name || fileName;\n  \n  // Stelle sicher, dass workflowData das name-Feld hat\n  const workflowData = {\n    ...workflow,\n    name: finalWorkflowName\n  };\n  \n  // Wenn keine ID vorhanden ist, entferne sie aus workflowData (n8n vergibt neue ID)\n  if (!workflowId) {\n    delete workflowData.id;\n  }\n  \n  return {\n    workflowId: workflowId,\n    workflowName: finalWorkflowName,\n    workflowData: workflowData,\n    filePath: githubFile.path || githubFile.name,\n    isNewWorkflow: !workflowId\n  };\n} catch (e) {\n  return { error: 'Fehler beim Parsen der Workflow-Datei: ' + e.message };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          -656
        ],
        "id": "parse-workflow",
        "name": "Parse Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-error",
                "leftValue": "={{ $json.error || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          624,
          -656
        ],
        "id": "pruefe-workflow",
        "name": "Prüfe Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-has-id",
                "leftValue": "={{ $json.workflowId || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          848,
          -656
        ],
        "id": "pruefe-ob-id-vorhanden",
        "name": "Prüfe ob ID vorhanden"
      },
      {
        "parameters": {
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1072,
          -656
        ],
        "id": "pruefe-workflow-existiert",
        "name": "Prüfe ob Workflow existiert",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4gc7MePUZVuCyowB",
            "name": "API n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Analysiere die Antwort vom HTTP Request Node\nconst response = $json;\nconst parseWorkflowData = $node[\"Parse Workflow\"].json;\n\n// Prüfe ob ein Fehler vorhanden ist (404 = Workflow existiert nicht)\nif (response.error) {\n  // 404 bedeutet: Workflow existiert nicht\n  if (response.error.message && response.error.message.includes('404')) {\n    return {\n      exists: false,\n      workflowId: parseWorkflowData.workflowId,\n      workflowName: parseWorkflowData.workflowName,\n      workflowData: parseWorkflowData.workflowData,\n      filePath: parseWorkflowData.filePath\n    };\n  }\n  // Andere Fehler\n  return {\n    exists: false,\n    error: response.error.message || response.error,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Prüfe Status-Code\nif (response.statusCode === 200 || (response.id && response.name)) {\n  return {\n    exists: true,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Workflow existiert nicht\nreturn {\n  exists: false,\n  workflowId: parseWorkflowData.workflowId,\n  workflowName: parseWorkflowData.workflowName,\n  workflowData: parseWorkflowData.workflowData,\n  filePath: parseWorkflowData.filePath\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1072,
          -656
        ],
        "id": "analysiere-response",
        "name": "Analysiere Response"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-exists",
                "leftValue": "={{ $json.exists }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1296,
          -656
        ],
        "id": "workflow-existiert",
        "name": "Workflow existiert?"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "json",
          "body": "={{ JSON.stringify($node[\"Parse Workflow\"].json.workflowData) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1296,
          -592
        ],
        "id": "update-workflow",
        "name": "Update Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4gc7MePUZVuCyowB",
            "name": "API n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "json",
          "body": "={{ JSON.stringify($node[\"Parse Workflow\"].json.workflowData) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1296,
          -720
        ],
        "id": "create-workflow",
        "name": "Erstelle Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4gc7MePUZVuCyowB",
            "name": "API n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Debug: Log Ergebnis\nconst response = $json;\nconst parseData = $node[\"Parse Workflow\"].json;\n\n// Bestimme action basierend auf dem vorherigen Node\nlet action = 'create';\ntry {\n  const workflowExistsNode = $node[\"Workflow existiert?\"];\n  if (workflowExistsNode && workflowExistsNode.json && workflowExistsNode.json.exists !== undefined) {\n    action = workflowExistsNode.json.exists ? 'update' : 'create';\n  } else {\n    // Wenn Node nicht ausgeführt wurde, prüfe ob Update-Node ausgeführt wurde\n    const updateNode = $node[\"Update Workflow\"];\n    if (updateNode && updateNode.json) {\n      action = 'update';\n    }\n  }\n} catch (e) {\n  // Node wurde nicht ausgeführt, default zu 'create'\n  action = 'create';\n}\n\nif (response.error) {\n  return {\n    success: false,\n    error: response.error.message || response.error,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nif (response.statusCode && response.statusCode >= 400) {\n  return {\n    success: false,\n    error: `HTTP ${response.statusCode}: ${JSON.stringify(response.body || response)}`,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nreturn {\n  success: true,\n  workflowName: response.name || parseData.workflowName || 'Unbekannt',\n  workflowId: response.id || parseData.workflowId || '',\n  action: action\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1520,
          -656
        ],
        "id": "debug-result",
        "name": "Debug: Ergebnis"
      },
      {
        "parameters": {
          "jsCode": "// Überspringe Workflow bei Fehler\nconst data = $json;\nreturn data;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          -720
        ],
        "id": "ueberspringe-workflow",
        "name": "Überspringe Workflow"
      }
    ],
    "connections": {
      "GitHub Webhook Trigger": {
        "main": [
          [
            {
              "node": "Prüfe Push Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe Push Event": {
        "main": [
          [
            {
              "node": "Extrahiere geänderte Dateien",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Extrahiere geänderte Dateien": {
        "main": [
          [
            {
              "node": "Vorbereiten Datei",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vorbereiten Datei": {
        "main": [
          [
            {
              "node": "Hole Datei von GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hole Datei von GitHub": {
        "main": [
          [
            {
              "node": "Parse Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Workflow": {
        "main": [
          [
            {
              "node": "Prüfe Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe Workflow": {
        "main": [
          [
            {
              "node": "Prüfe ob ID vorhanden",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Überspringe Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ] 
      },
      "Prüfe ob ID vorhanden": {
        "main": [
          [
            {
              "node": "Prüfe ob Workflow existiert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Erstelle Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe ob Workflow existiert": {
        "main": [
          [
            {
              "node": "Analysiere Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analysiere Response": {
        "main": [
          [
            {
              "node": "Workflow existiert?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow existiert?": {
        "main": [
          [
            {
              "node": "Update Workflow",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Erstelle Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Workflow": {
        "main": [
          [
            {
              "node": "Debug: Ergebnis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Erstelle Workflow": {
        "main": [
          [
            {
              "node": "Debug: Ergebnis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Überspringe Workflow": {
        "main": [
          []
        ]
      },
      "Debug: Ergebnis": {
        "main": [
          []
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "github-to-n8n-sync"
    }
  }