n8n/d28GNCcCfJWr5pLB/fonio BERENT Nachbearbeitung Transkript.json
{"id":"d28GNCcCfJWr5pLB","active":true,"connections":{"AI Agent":{"main":[[]]},"Config":{"main":[[{"index":0,"node":"Nachricht an Threema Work vorbereiten","type":"main"}]]},"Daten extrahieren":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"index":0,"node":"AI Agent","type":"ai_languageModel"}]]},"Nachricht an Threema Work vorbereiten":{"main":[[{"index":0,"node":"Send Threema Notification","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Daten extrahieren","type":"main"}]]}},"name":"fonio BERENT Nachbearbeitung Transkript","nodes":[{"name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"berent-nachbereitung-bfcb9e43-50b2-423e-a3bc-c95bb7f0c3be"},"position":[-544,-352],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"bfcb9e43-50b2-423e-a3bc-c95bb7f0c3be"},{"name":"Daten extrahieren","parameters":{"assignments":{"assignments":[{"name":"headers.host","type":"string","value":"={{ $json.headers.host }}"},{"name":"body[0].body.formattedTranscript","type":"string","value":"={{ $json.body[0].body.formattedTranscript }}"},{"name":"body[0].body.fromNumber","type":"string","value":"={{ $json.body[0].body.fromNumber }}"},{"name":"body[0].body.context.anrufer_name","type":"string","value":"={{ $json.body[0].body.context.anrufer_name }}"},{"name":"body[0].body.context.einrichtung_typ","type":"string","value":"={{ $json.body[0].body.context.einrichtung_typ }}"},{"name":"body[0].body.context.einrichtung_name","type":"string","value":"={{ $json.body[0].body.context.einrichtung_name }}"},{"name":"body[0].body.context.technisch","type":"string","value":"={{ $json.body[0].body.context.technisch }}"}]},"options":{}},"position":[-320,-352],"type":"n8n-nodes-base.set","typeVersion":3.4},{"executeOnce":true,"name":"AI Agent","parameters":{"hasOutputParser":true,"options":{"systemMessage":"=DU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE.\n\n###DEINE HAUPTAUFGABE###\nAnalysiere Telefon-Transkripte und ordne sie präzise in eine Dringlichkeitskategorie (A, B, C oder D) ein, basierend auf den Kriterien aus der bereitgestellten Wissensdatenbank. Deine Klassifikation ermöglicht Technikern eine zielgerichtete, priorisierte Bearbeitung.\n\n---\n\n###VERFÜGBARE DATEN###\n\n**DRINGLICHKEITSKRITERIEN (aus Google Sheet):**\n{{ $('Dringlichkeitskriterien laden').all().slice(1).map(item =>\n`Kategorie ${item.json.Dringlichkeit}: ${item.json.Kategorie}\nSchlüsselworte: ${item.json.Schlagworte}\nBeispiele: ${item.json.Beispiele}`\n).join('\\n\\n') }}\n\n**ZU ANALYSIERENDES TRANSKRIPT:**\n{{ $('Webhook').item.json.body.formattedTranscript }}\n\n---\n\n###ANALYSE-METHODIK (CHAIN OF THOUGHTS)###\n\n1. **UNDERSTAND**\n   - Lies das Transkript gründlich und identifiziere das konkrete technische Problem\n   - Erkenne die Auswirkungen: Produktivitätsausfall, Datenverlust, Eskalation, Geschäftskritikalität\n\n2. **IDENTIFY KEY SIGNALS**\n   - Schlüsselbegriffe für hohe Dringlichkeit: \"nicht arbeitsfähig\", \"Produktion steht\", \"Kunde wartet\", \"dringend\", \"sofort\"\n   - Schlüsselbegriffe für niedrige Dringlichkeit: \"nicht eilig\", \"wenn Zeit ist\", \"Informationsfrage\", \"optional\"\n\n3. **ASSESS IMPACT**\n   - Ist ein geschäftskritischer Prozess blockiert?\n   - Sind mehrere Nutzer betroffen?\n   - Gibt es Fristen oder SLA-relevante Zeitpunkte?\n   - Handelt es sich um einen Standardvorgang oder eine Informationsanfrage?\n\n4. **MATCH WITH CRITERIA**\n   - Vergleiche die erkannten Merkmale mit den Referenzbeispielen aus dem Google Sheet\n   - Wähle die Kategorie, die der Fallbeschreibung AM NÄCHSTEN kommt\n\n5. **HANDLE EDGE CASES**\n   - Bei unklaren oder widersprüchlichen Transkripten: Wähle die konservativere (höhere) Kategorie\n   - Weise explizit auf Unsicherheiten hin\n\n---\n\n###AUSGABEFORMAT###\n\n***WICHTIGER HINWEIS ZUR DATENSCHUTZ-KONFORMITÄT***\nDer Text enthält anonymisierte Platzhalter wie [PERSON_1], [PERSON_2].\nWenn du Namen extrahierst (z.B. für \"AnsprechpartnerName\" oder in der \"Beschreibung\"),\nNUTZE AUSSCHLIESSLICH DIESE PLATZHALTER.\nWandle sie NICHT um und erfinde keine Namen.\nBeispiel korrekt: \"AnsprechpartnerName\": \"[PERSON_2]\"\n\nGib deine Analyse im folgenden JSON-Format zurück:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Server-Ausfall\",\n  \"Beschreibung\": [\n    \"Mehrere Mitarbeiter betroffen (Buchhaltung)\",\n    \"Datenbankverbindung unterbrochen seit 8 Uhr\",\n    \"Fehlende Rechnungen der letzten 2 Wochen\",\n    \"Zeitkritisch: Jahresabschluss-Termin in 2 Stunden\"\n  ],\n  \"AnsprechpartnerBleibt\": true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n  \"AnsprechpartnerName\": \"Frau Weber\",\n  \"RueckrufnummerAnders\": true = andere Rückrufnummer gewünscht, false = unter anrufender Nummer zurückrufen\n  \"Rueckrufnummer\": Die vom Anrufer genannte Rückrufnummer (mit Durchwahl falls vorhanden)\n  \"Begründung\": \"Der Kunde ist grundsätzlich arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Entspricht den Beispielen für Kategorie B im Sheet.\"\n}\n```\n\n**WICHTIG: Feldbeschreibungen** \n- Die Dringlichkeit MUSS ein einzelner Buchstabe sein: A, B, C oder D, entsprechend der Möglichkeiten im Google Sheet\n- Die Kategorie MUSS sich auf die entsprechende Spalte im Google Sheet beziehen\n- Problemtyp: Klassifiziere in GENAU EINE dieser Kategorien:\n  • \"Technisch\" = Hardware-Probleme, Netzwerkausfälle, Gerätedefekte, Server-Ausfälle\n  • \"Software\" = Programmfehler, Anmeldeprobleme, Softwarestörungen, Datenbankprobleme\n  • \"Anliegen\" = Informationsanfragen, Beratung, allgemeine Fragen ohne akutes technisches Problem\n- Themenstichwort: Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z. B. \"SAP-Login\", \"E-Mail-Sync\", \"Drucker-WLAN\")\n- Beschreibung: Array mit 3-6 Stichpunkten, die wichtigsten Informationen zuerst:\n  • Betroffene Personen/Systeme\n  • Zeitpunkt des Auftretens\n  • Konkrete Symptome/Fehler\n  • Geschäftliche Auswirkungen\n  • Fristen/Zeitdruck\n  • Bereits versuchte Lösungen\n- AnsprechpartnerBleibt: true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n- AnsprechpartnerName: Name des Ansprechpartners (falls abweichend vom Anrufer, sonst leer lassen)\n- AnsprechpartnerTelefon: Telefonnummer des Ansprechpartners (falls abweichend, sonst leer lassen)\n- RueckrufnummerAnders: true = andere Rückrufnummer als anrufende Nummer, false = unter anrufender Nummer zurückrufen\n- Rueckrufnummer: Die Rückrufnummer (kann identisch mit AnsprechpartnerTelefon sein)\n- Die Begründung MUSS sich auf die Kriterien im Google Sheet beziehen\n- Halte dich strikt an das JSON-Format\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nNIEMALS Kategorien ohne Bezug zum Google Sheet festlegen\nVERMEIDE vage Begründungen wie \"klingt dringend\" oder \"scheint wichtig\"\nNICHT nur nach einzelnen Schlüsselworten klassifizieren – analysiere die Gesamtsituation\nNIEMALS Aussagen erfinden, die nicht im Transkript stehen\nNICHT überkategorisieren: Unzufriedenheit allein rechtfertigt keine Kategorie A\nIGNORIERE NIEMALS Hinweise auf Systemrelevanz, Produktionsstopp oder geschäftskritische Prozesse\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n**Beispiel 1 - Kategorie A:**\nTranskript: \"Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Kategorie\": \"Notfall\",\n  \"Problemtyp\": \"Software\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Geschäftskritischer Prozess (Monatsabrechnung) ist komplett blockiert. Entspricht den Referenzfällen für Kategorie A im Sheet.\"\n}\n```\n\n**Beispiel 2 - Kategorie D:**\nTranskript: \"Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Kategorie\": \"Informativ\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Informationsanfrage ohne Zeitdruck, kein akuter Vorfall. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n**Beispiel 3 - Kategorie B:**\nTranskript: \"Mein Outlook synchronisiert nicht mehr. Ich kann arbeiten, aber wichtige E-Mails von Kunden kommen nicht an.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Eingeschränkte Arbeitsfähigkeit bei einem wichtigen Kommunikationskanal. Keine komplette Blockade, aber geschäftsrelevant. Entspricht Kategorie B.\"\n}\n```"},"promptType":"define","text":"=Führe die Klassifikation durch."},"position":[-544,-24],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3},{"name":"Nachricht an Threema Work vorbereiten","parameters":{"assignments":{"assignments":[{"name":"ThreemaPush ","type":"string","value":"=📳 Anruf bei BERENT.ai\nAnrufer: {{ $('Daten extrahieren').first().json.body[0].body.context.anrufer_name }} ({{ $('Daten extrahieren').first().json.body[0].body.fromNumber }})\n\nOrganisation, falls genannt:{{ $('Daten extrahieren').first().json.body[0].body.context.einrichtung_typ }}\n\nAnsprechpartner: {{ $json.AnsprechpartnerName ? $json.AnsprechpartnerName : \"Wie Anrufer\" }}\nRückrufnummer: {{ $json.Rueckrufnummer ? $json.Rueckrufnummer : $('Daten extrahieren').first().json.body[0].body.fromNumber }}\nThema:\n\nBeschreibung:"}]},"options":{}},"position":[128,-352],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT1"},{"name":"secret1","type":"string","value":"18DOvPKBV7ize3Nh"},{"name":"threemaE2E","type":"string","value":"*BERENT2"},{"name":"privateKey","type":"string","value":"vZJkgU6zz4ZXUz1X3Y4Nhinrm/NI8xfsvlZy5AMu1TQ="},{"name":"secret2","type":"string","value":"2pLgi4h6RWJWr6AD"},{"name":"supabaseUrl","type":"string","value":"https://xuqefeewzdvjhuquciut.supabase.co"},{"name":"mistralModel","type":"string","value":"mistral-ocr-latest"},{"name":"box","type":"string","value":"={{ $json.body?.box ?? $json.box ?? '' }}"},{"name":"nonce","type":"string","value":"={{ $json.body?.nonce ?? $json.nonce ?? '' }}"},{"name":"from","type":"string","value":"={{ $json.body?.from ?? $json.from ?? '' }}"},{"name":"supabaseServiceKey","type":"string","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1cWVmZWV3emR2amh1cXVjaXV0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzI1NDEyNCwiZXhwIjoyMDg4ODMwMTI0fQ.Lg31Kwl5_2qGQ3qDrvgU1MWLwWP2DMK-9SRmSgHLCIw"},{"name":"supabaseAnonKey","type":"string","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1cWVmZWV3emR2amh1cXVjaXV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNTQxMjQsImV4cCI6MjA4ODgzMDEyNH0.nTjyVJb4DYkyg-FB0smOhkh6h0p-el-n5UkdCR0mTgE"}]},"options":{}},"position":[-96,-352],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Sticky Note","parameters":{"content":"## Eingabe\nAnruf über BERENT.ai und fonio","height":384,"width":640},"position":[-704,-576],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Sticky Note1","parameters":{"color":4,"content":"## Verarbeitung\n– Alle von GitHub gelesenen Workflows durchlaufen eine Schleife, in der auf Änderungen geprüft wird, was eine Aktion zu GitHub zu Folge hat.\n– Auf GitHub werden die Workflows unter der ID in einem Ordner gespeichert, um nachträgliches Umbenennen zu ermöglichen.\n– Nicht geänderte oder archivierte Workslows werden ignoriert.\n– Es wird eine Statistik nach „erfolgreich“, „übersprungen“ und „Fehler“ geführt.","height":528,"width":1040},"position":[-792,-184],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Sticky Note2","parameters":{"color":5,"content":"## Ausgabe\nThreema Work erhält eine Push mit dem aufbereiteten Skript.","height":256,"width":416},"position":[80,-448],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"credentials":{"httpHeaderAuth":{"name":"API Threema Work BERENT1"}},"name":"Send Threema Notification","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"from","value":"*BERENT1"},{"name":"to","value":"BUMFMZ39"},{"name":"secret","value":"={{ $('Config').item.json.secret1 }}"},{"name":"text","value":"=🔄 Verarbeitung erfolgreich\n{{ $json['ThreemaPush '] }}"}]},"contentType":"form-urlencoded","genericAuthType":"httpHeaderAuth","method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[352,-352],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"credentials":{"mistralCloudApi":{"name":"API Mistral Cloud"}},"name":"Mistral Cloud Chat Model","parameters":{"options":{}},"position":[-472,200],"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}