n8n/d28GNCcCfJWr5pLB/fonio BERENT Nachbearbeitung Transkript.json
{"id":"d28GNCcCfJWr5pLB","active":true,"connections":{"AI Agent":{"main":[[{"index":0,"node":"Re-Personalisierung","type":"main"}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"index":0,"node":"AI Agent","type":"ai_languageModel"}]]},"Azure Request Vorbereitung":{"main":[[{"index":0,"node":"Namen-Anonymisierung (Azure)","type":"main"}]]},"Azure Response Verarbeitung":{"main":[[{"index":0,"node":"AI Agent","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Daten anonymisieren","type":"main"}]]},"Daten anonymisieren":{"main":[[{"index":0,"node":"Azure Request Vorbereitung","type":"main"}]]},"Daten extrahieren":{"main":[[{"index":0,"node":"Merge","type":"main"}]]},"Dringlichkeitskriterien laden":{"main":[[{"index":1,"node":"Merge","type":"main"}]]},"Merge":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"Nachricht an Threema Work vorbereiten":{"main":[[{"index":0,"node":"Send Threema Notification","type":"main"}]]},"Namen-Anonymisierung (Azure)":{"main":[[{"index":0,"node":"Azure Response Verarbeitung","type":"main"}]]},"Re-Personalisierung":{"main":[[{"index":0,"node":"Nachricht an Threema Work vorbereiten","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Daten extrahieren","type":"main"},{"index":0,"node":"Dringlichkeitskriterien laden","type":"main"}]]}},"name":"fonio BERENT Nachbearbeitung Transkript","nodes":[{"name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"berent-nachbereitung-bfcb9e43-50b2-423e-a3bc-c95bb7f0c3be"},"position":[-544,-256],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"bfcb9e43-50b2-423e-a3bc-c95bb7f0c3be"},{"name":"Daten extrahieren","parameters":{"assignments":{"assignments":[{"name":"headers.host","type":"string","value":"={{ $json.headers.host }}"},{"name":"body[0].body.formattedTranscript","type":"string","value":"={{ $json.body[0].body.formattedTranscript }}"},{"name":"body[0].body.fromNumber","type":"string","value":"={{ $json.body[0].body.fromNumber }}"},{"name":"body[0].body.context.anrufer_name","type":"string","value":"={{ $json.body[0].body.context.anrufer_name }}"},{"name":"body[0].body.context.einrichtung_typ","type":"string","value":"={{ $json.body[0].body.context.einrichtung_typ }}"},{"name":"body[0].body.context.einrichtung_name","type":"string","value":"={{ $json.body[0].body.context.einrichtung_name }}"},{"name":"body[0].body.context.technisch","type":"string","value":"={{ $json.body[0].body.context.technisch }}"}]},"options":{}},"position":[-320,-352],"type":"n8n-nodes-base.set","typeVersion":3.4},{"executeOnce":true,"name":"AI Agent","parameters":{"hasOutputParser":true,"options":{"systemMessage":"=DU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE.\n\n###DEINE HAUPTAUFGABE###\nAnalysiere Telefon-Transkripte und ordne sie präzise in eine Dringlichkeitskategorie (A, B, C oder D) ein, basierend auf den Kriterien aus der bereitgestellten Wissensdatenbank. Deine Klassifikation ermöglicht Technikern eine zielgerichtete, priorisierte Bearbeitung.\n\n---\n\n###VERFÜGBARE DATEN###\n\n**DRINGLICHKEITSKRITERIEN (aus Google Sheet):**\n{{ $('Dringlichkeitskriterien laden').all().slice(1).map(item =>\n`Kategorie ${item.json.Dringlichkeit}: ${item.json.Kategorie}\nSchlüsselworte: ${item.json.Schlagworte}\nBeispiele: ${item.json.Beispiele}`\n).join('\\n\\n') }}\n\n**ZU ANALYSIERENDES TRANSKRIPT:**\n{{ $json.anonymizedText }}\n\n---\n\n###ANALYSE-METHODIK (CHAIN OF THOUGHTS)###\n\n1. **UNDERSTAND**\n   - Lies das Transkript gründlich und identifiziere das konkrete technische Problem\n   - Erkenne die Auswirkungen: Produktivitätsausfall, Datenverlust, Eskalation, Geschäftskritikalität\n\n2. **IDENTIFY KEY SIGNALS**\n   - Schlüsselbegriffe für hohe Dringlichkeit: \"nicht arbeitsfähig\", \"Produktion steht\", \"Kunde wartet\", \"dringend\", \"sofort\"\n   - Schlüsselbegriffe für niedrige Dringlichkeit: \"nicht eilig\", \"wenn Zeit ist\", \"Informationsfrage\", \"optional\"\n\n3. **ASSESS IMPACT**\n   - Ist ein geschäftskritischer Prozess blockiert?\n   - Sind mehrere Nutzer betroffen?\n   - Gibt es Fristen oder SLA-relevante Zeitpunkte?\n   - Handelt es sich um einen Standardvorgang oder eine Informationsanfrage?\n\n4. **MATCH WITH CRITERIA**\n   - Vergleiche die erkannten Merkmale mit den Referenzbeispielen aus dem Google Sheet\n   - Wähle die Kategorie, die der Fallbeschreibung AM NÄCHSTEN kommt\n\n5. **HANDLE EDGE CASES**\n   - Bei unklaren oder widersprüchlichen Transkripten: Wähle die konservativere (höhere) Kategorie\n   - Weise explizit auf Unsicherheiten hin\n\n---\n\n###AUSGABEFORMAT###\n\n***WICHTIGER HINWEIS ZUR DATENSCHUTZ-KONFORMITÄT***\nDer Text enthält anonymisierte Platzhalter wie [PERSON_1], [PERSON_2].\nWenn du Namen extrahierst (z.B. für \"AnsprechpartnerName\" oder in der \"Beschreibung\"),\nNUTZE AUSSCHLIESSLICH DIESE PLATZHALTER.\nWandle sie NICHT um und erfinde keine Namen.\nBeispiel korrekt: \"AnsprechpartnerName\": \"[PERSON_2]\"\n\nGib deine Analyse im folgenden JSON-Format zurück:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Server-Ausfall\",\n  \"Beschreibung\": [\n    \"Mehrere Mitarbeiter betroffen (Buchhaltung)\",\n    \"Datenbankverbindung unterbrochen seit 8 Uhr\",\n    \"Fehlende Rechnungen der letzten 2 Wochen\",\n    \"Zeitkritisch: Jahresabschluss-Termin in 2 Stunden\"\n  ],\n  \"AnsprechpartnerBleibt\": true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n  \"AnsprechpartnerName\": \"Frau Weber\",\n  \"RueckrufnummerAnders\": true = andere Rückrufnummer gewünscht, false = unter anrufender Nummer zurückrufen\n  \"Rueckrufnummer\": Die vom Anrufer genannte Rückrufnummer (mit Durchwahl falls vorhanden)\n  \"Begründung\": \"Der Kunde ist grundsätzlich arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Entspricht den Beispielen für Kategorie B im Sheet.\"\n}\n```\n\n**WICHTIG: Feldbeschreibungen** \n- Die Dringlichkeit MUSS ein einzelner Buchstabe sein: A, B, C oder D, entsprechend der Möglichkeiten im Google Sheet\n- Die Kategorie MUSS sich auf die entsprechende Spalte im Google Sheet beziehen\n- Problemtyp: Klassifiziere in GENAU EINE dieser Kategorien:\n  • \"Technisch\" = Hardware-Probleme, Netzwerkausfälle, Gerätedefekte, Server-Ausfälle\n  • \"Software\" = Programmfehler, Anmeldeprobleme, Softwarestörungen, Datenbankprobleme\n  • \"Anliegen\" = Informationsanfragen, Beratung, allgemeine Fragen ohne akutes technisches Problem\n- Themenstichwort: Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z. B. \"SAP-Login\", \"E-Mail-Sync\", \"Drucker-WLAN\")\n- Beschreibung: Array mit 3-6 Stichpunkten, die wichtigsten Informationen zuerst:\n  • Betroffene Personen/Systeme\n  • Zeitpunkt des Auftretens\n  • Konkrete Symptome/Fehler\n  • Geschäftliche Auswirkungen\n  • Fristen/Zeitdruck\n  • Bereits versuchte Lösungen\n- AnsprechpartnerBleibt: true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n- AnsprechpartnerName: Name des Ansprechpartners (falls abweichend vom Anrufer, sonst leer lassen)\n- AnsprechpartnerTelefon: Telefonnummer des Ansprechpartners (falls abweichend, sonst leer lassen)\n- RueckrufnummerAnders: true = andere Rückrufnummer als anrufende Nummer, false = unter anrufender Nummer zurückrufen\n- Rueckrufnummer: Die Rückrufnummer (kann identisch mit AnsprechpartnerTelefon sein)\n- Die Begründung MUSS sich auf die Kriterien im Google Sheet beziehen\n- Halte dich strikt an das JSON-Format\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nNIEMALS Kategorien ohne Bezug zum Google Sheet festlegen\nVERMEIDE vage Begründungen wie \"klingt dringend\" oder \"scheint wichtig\"\nNICHT nur nach einzelnen Schlüsselworten klassifizieren – analysiere die Gesamtsituation\nNIEMALS Aussagen erfinden, die nicht im Transkript stehen\nNICHT überkategorisieren: Unzufriedenheit allein rechtfertigt keine Kategorie A\nIGNORIERE NIEMALS Hinweise auf Systemrelevanz, Produktionsstopp oder geschäftskritische Prozesse\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n**Beispiel 1 - Kategorie A:**\nTranskript: \"Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Kategorie\": \"Notfall\",\n  \"Problemtyp\": \"Software\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Geschäftskritischer Prozess (Monatsabrechnung) ist komplett blockiert. Entspricht den Referenzfällen für Kategorie A im Sheet.\"\n}\n```\n\n**Beispiel 2 - Kategorie D:**\nTranskript: \"Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Kategorie\": \"Informativ\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Informationsanfrage ohne Zeitdruck, kein akuter Vorfall. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n**Beispiel 3 - Kategorie B:**\nTranskript: \"Mein Outlook synchronisiert nicht mehr. Ich kann arbeiten, aber wichtige E-Mails von Kunden kommen nicht an.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Eingeschränkte Arbeitsfähigkeit bei einem wichtigen Kommunikationskanal. Keine komplette Blockade, aber geschäftsrelevant. Entspricht Kategorie B.\"\n}\n```"},"promptType":"define","text":"=Führe die Klassifikation durch."},"position":[1248,-256],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3},{"credentials":{"anthropicApi":{"name":"API Anthropic"}},"name":"Anthropic Chat Model","parameters":{"model":{"__rl":true,"cachedResultName":"Claude Haiku 4.5","mode":"list","value":"claude-haiku-4-5-20251001"},"options":{}},"position":[1320,-32],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3},{"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Dringlichkeitskriterien laden","parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw"},"options":{},"sheetName":{"__rl":true,"cachedResultName":"Dringlichkeiten","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw/edit#gid=0","mode":"list","value":"gid=0"}},"position":[-320,-160],"type":"n8n-nodes-base.googleSheets","typeVersion":4.7},{"name":"Merge","parameters":{},"position":[-96,-256],"type":"n8n-nodes-base.merge","typeVersion":3.2},{"name":"Daten anonymisieren","parameters":{"guardrails":{"pii":{"value":{"entities":["EMAIL_ADDRESS","PHONE_NUMBER","IP_ADDRESS","LOCATION"],"type":"selected"}}},"operation":"sanitize","text":"={{ $('Merge').item.json.body[0].body.formattedTranscript }}"},"position":[352,-256],"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1},{"name":"Re-Personalisierung","parameters":{"jsCode":"// 1. Zugriff auf die Antwort des AI Agents\nlet agentOutput = $input.item.json.output || $input.item.json.text || \"\";\n\n// Wir machen sicherheitshalber einen String daraus\nif (typeof agentOutput === 'object') {\n  agentOutput = JSON.stringify(agentOutput);\n}\n\n// 2. Das Mapping holen (exakter Name der Node davor ist wichtig!)\nconst mappingData = $('Azure Response Verarbeitung').first();\nconst nameMapping = mappingData.json.nameMapping || [];\n\n// 3. Re-Personalisierung durchführen (Suchen & Ersetzen im Rohtext)\n// Wir machen das VOR dem JSON-Parsing, damit auch Namen in Strings ersetzt werden.\nlet processedText = agentOutput;\n\nfor (const item of nameMapping) {\n  // Ersetze [PERSON_X] durch den echten Namen (global)\n  // Wir escapen die Klammern für den Regex\n  const placeholderRegex = new RegExp(item.placeholder.replace(/\\[/g, '\\\\[').replace(/\\]/g, '\\\\]'), 'g');\n  processedText = processedText.replace(placeholderRegex, item.original);\n}\n\n// 4. JSON Extrahieren (Der \"Gesprächigkeit\"-Filter)\n// Wir suchen den Bereich zwischen der ersten '{' und der letzten '}'\nconst firstBracket = processedText.indexOf('{');\nconst lastBracket = processedText.lastIndexOf('}');\n\nif (firstBracket !== -1 && lastBracket !== -1) {\n  // Schneide alles vor der ersten Klammer und nach der letzten Klammer weg\n  const jsonString = processedText.substring(firstBracket, lastBracket + 1);\n  \n  try {\n    const finalObject = JSON.parse(jsonString);\n    return finalObject; // Gib das saubere Objekt zurück\n  } catch (e) {\n    return { error: \"JSON war trotz Filterung ungültig\", raw: processedText };\n  }\n} else {\n  // Fallback, falls gar keine Klammern gefunden wurden\n  return { error: \"Kein JSON im Antworttext gefunden\", raw: processedText };\n}"},"position":[1600,-256],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"API LLM in Azure (Mistral)"}},"maxTries":5,"name":"Namen-Anonymisierung (Azure)","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{}]},"contentType":"=json","genericAuthType":"httpHeaderAuth","jsonBody":"={{ $json }}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://berent-ki.services.ai.azure.com/models/chat/completions?api-version=2024-05-01-preview"},"position":[800,-256],"retryOnFail":false,"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"waitBetweenTries":5000},{"name":"Azure Response Verarbeitung","parameters":{"jsCode":"// Wir greifen auf die Antwort der Azure-Node zu\nconst response = $input.item.json;\n\n// Sicherstellen, dass wir eine Antwort haben\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  \n  // Den Textinhalt holen\n  let content = response.choices[0].message.content;\n  \n  // Oft sendet die KI den Text in Markdown-Blöcken (```json ... ```).\n  // Diese entfernen wir hier, damit das JSON sauber ist.\n  content = content.replace(/^```json\\s*/, \"\").replace(/\\s*```$/, \"\");\n  \n  try {\n    // Den Textstring in ein echtes JSON-Objekt umwandeln\n    const parsedData = JSON.parse(content);\n    \n    // Das saubere Ergebnis zurückgeben\n    return parsedData;\n    \n  } catch (error) {\n    // Falls die KI kein gültiges JSON geschickt hat, geben wir den Rohtext zurück\n    return {\n      error: \"Konnte JSON nicht parsen\",\n      rawContent: content\n    };\n  }\n} else {\n  return { error: \"Keine gültige Antwort von Azure erhalten\" };\n}"},"position":[1024,-256],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Azure Request Vorbereitung","parameters":{"jsCode":"// Daten aus der vorherigen Node holen\n// Fallback auf leeren String, falls keine Daten da sind\nconst transcript = $input.item.json.guardrailsInput || $input.item.json.output || \"\";\n\nconst systemPrompt = `Du bist ein Spezialist für die Anonymisierung von Personennamen in deutschen Telefon-Transkripten.\n\n###DEINE AUFGABE###\nErkenne alle Personennamen (Vornamen und Nachnamen) im gegebenen Text und ersetze sie durch nummerierte Platzhalter im Format [PERSON_1], [PERSON_2], [PERSON_3] etc.\n\n###REGELN###\n1. Erkenne nur echte Personennamen (z.B. Thomas, Anna, Müller, Schmidt)\n2. Ignoriere Titel wie 'Herr', 'Frau', 'Dr.' - diese bleiben unverändert\n3. Ersetze jeden gefundenen Namen durch einen eindeutigen Platzhalter [PERSON_N]\n4. Gleiche Namen im Text erhalten den gleichen Platzhalter (z.B. 'Thomas' wird immer zu [PERSON_1])\n5. Verschiedene Namen erhalten verschiedene Platzhalter (z.B. 'Thomas' → [PERSON_1], 'Anna' → [PERSON_2])\n6. Behalte die ursprüngliche Formatierung bei (Zeilenumbrüche, Interpunktion)\n\n###AUSGABEFORMAT###\nGib dein Ergebnis im folgenden JSON-Format zurück:\n\\`\\`\\`json\n{\n  \"anonymizedText\": \"Der anonymisierte Text mit [PERSON_1], [PERSON_2] etc.\",\n  \"nameMapping\": [\n    {\"original\": \"Thomas\", \"placeholder\": \"[PERSON_1]\"},\n    {\"original\": \"Anna\", \"placeholder\": \"[PERSON_2]\"}\n  ]\n}\n\\`\\`\\``;\n\n// Das fertige Payload-Objekt zurückgeben\nreturn {\n  model: \"mistral-namen-anonymisierung\",\n  messages: [\n    {\n      role: \"system\",\n      content: systemPrompt\n    },\n    {\n      role: \"user\",\n      content: transcript\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 1000\n};","mode":"runOnceForEachItem"},"position":[576,-256],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Nachricht an Threema Work vorbereiten","parameters":{"assignments":{"assignments":[{"name":"subject","type":"string","value":"={{ $json.Kategorie }} | {{ $('Daten extrahieren').first().json.body[0].body.context.einrichtung_name }}, {{ $('Daten extrahieren').first().json.body[0].body.context.anrufer_name }} | {{ $json.Themenstichwort }}"},{"name":"htmlBody","type":"string","value":"=<h3>Problemtyp: {{ $json.Problemtyp }}</h3>\n\n<h4>KI-Einschätzung</h4>\n<p>\n  <b>Einrichtung:</b> {{ $('Daten extrahieren').first().json.body[0].body.context.einrichtung_typ }}<br>\n  <b>Anrufer:</b> {{ $('Daten extrahieren').first().json.body[0].body.context.anrufer_name }} ({{ $('Daten extrahieren').first().json.body[0].body.fromNumber }})<br>\n  <b>Ansprechpartner:</b> {{ $json.AnsprechpartnerName ? $json.AnsprechpartnerName : \"Wie Anrufer\" }}<br>\n  <b>Rückrufnummer:</b> {{ $json.Rueckrufnummer ? $json.Rueckrufnummer : $('Daten extrahieren').first().json.body[0].body.fromNumber }}<br>\n  <b>Thema:</b> {{ $json.Themenstichwort }}\n</p>\n\n<b>Beschreibung:</b>\n<ul>\n{{ $json.Beschreibung.map(item => `<li>${item}</li>`).join('') }}\n</ul>"}]},"options":{}},"position":[1824,-256],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT1"},{"name":"secret1","type":"string","value":"18DOvPKBV7ize3Nh"},{"name":"threemaE2E","type":"string","value":"*BERENT2"},{"name":"privateKey","type":"string","value":"vZJkgU6zz4ZXUz1X3Y4Nhinrm/NI8xfsvlZy5AMu1TQ="},{"name":"secret2","type":"string","value":"2pLgi4h6RWJWr6AD"},{"name":"supabaseUrl","type":"string","value":"https://xuqefeewzdvjhuquciut.supabase.co"},{"name":"mistralModel","type":"string","value":"mistral-ocr-latest"},{"name":"box","type":"string","value":"={{ $json.body?.box ?? $json.box ?? '' }}"},{"name":"nonce","type":"string","value":"={{ $json.body?.nonce ?? $json.nonce ?? '' }}"},{"name":"from","type":"string","value":"={{ $json.body?.from ?? $json.from ?? '' }}"},{"name":"supabaseServiceKey","type":"string","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1cWVmZWV3emR2amh1cXVjaXV0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzI1NDEyNCwiZXhwIjoyMDg4ODMwMTI0fQ.Lg31Kwl5_2qGQ3qDrvgU1MWLwWP2DMK-9SRmSgHLCIw"},{"name":"supabaseAnonKey","type":"string","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1cWVmZWV3emR2amh1cXVjaXV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNTQxMjQsImV4cCI6MjA4ODgzMDEyNH0.nTjyVJb4DYkyg-FB0smOhkh6h0p-el-n5UkdCR0mTgE"}]},"options":{}},"position":[128,-256],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Sticky Note","parameters":{"content":"## Eingabe\nZeitgesteuert über Cron alle 15 min von 7:00 Uhr bis 21:00 Uhr\noder manuell.\n","height":416,"width":640},"position":[-592,-416],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Sticky Note1","parameters":{"color":4,"content":"## Verarbeitung\n– Alle von GitHub gelesenen Workflows durchlaufen eine Schleife, in der auf Änderungen geprüft wird, was eine Aktion zu GitHub zu Folge hat.\n– Auf GitHub werden die Workflows unter der ID in einem Ordner gespeichert, um nachträgliches Umbenennen zu ermöglichen.\n– Nicht geänderte oder archivierte Workslows werden ignoriert.\n– Es wird eine Statistik nach „erfolgreich“, „übersprungen“ und „Fehler“ geführt.","height":592,"width":1696},"position":[64,-480],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Sticky Note2","parameters":{"color":5,"content":"## Ausgabe\nThreema Work erhält eine Push mit dem aufbereiteten Skript.","height":256,"width":432},"position":[1768,-352],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"credentials":{"httpHeaderAuth":{"name":"API Threema Work BERENT1"}},"name":"Send Threema Notification","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"from","value":"*BERENT1"},{"name":"to","value":"BUMFMZ39"},{"name":"secret","value":"={{ $('Config').item.json.secret }}"},{"name":"text","value":"=🔄 Verarbeitung erfolgreich  {{ $json.summary }}  Details: {{ $json.changedList }}  🔗 https://github.com/peerendees/n8n-workflows"}]},"contentType":"form-urlencoded","genericAuthType":"httpHeaderAuth","method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[2048,-256],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}