n8n/ZzyUNBLHABev3X7Q/Telegram Trigger Template.json
{"active":false,"connections":{"Get a file":{"main":[[{"index":0,"node":"Transcribe a recording","type":"main"}]]},"Switch":{"main":[[{"index":0,"node":"Edit Fields","type":"main"}],[{"index":0,"node":"Get a file","type":"main"}]]},"Telegram Trigger":{"main":[[{"index":0,"node":"Switch","type":"main"}]]}},"name":"Telegram Trigger Template","nodes":[{"name":"Telegram Trigger","parameters":{"additionalFields":{"chatIds":"7100977906"},"updates":["message"]},"position":[-672,96],"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"webhookId":"ff92015f-344f-434d-8f46-453f25ecf711"},{"name":"Switch","parameters":{"options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.message.text }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"outputKey":"Text","renameOutput":true},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.message.voice }}","operator":{"operation":"exists","singleValue":true,"type":"object"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"outputKey":"Voice","renameOutput":true}]}},"position":[-448,96],"type":"n8n-nodes-base.switch","typeVersion":3.3},{"name":"Edit Fields","parameters":{"assignments":{"assignments":[{"name":"text","type":"string","value":"={{ $json.message.text }}"}]},"options":{}},"position":[-224,0],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Get a file","parameters":{"additionalFields":{},"fileId":"={{ $json.message.voice.file_id }}","resource":"file"},"position":[-224,192],"type":"n8n-nodes-base.telegram","typeVersion":1.2,"webhookId":"1b11f79c-3f53-441d-bfd3-6700a62569bc"},{"name":"Transcribe a recording","parameters":{"operation":"transcribe","options":{},"resource":"audio"},"position":[0,192],"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8},{"name":"Send an audio file","parameters":{"additionalFields":{},"binaryData":true,"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","operation":"sendAudio"},"position":[240,80],"type":"n8n-nodes-base.telegram","typeVersion":1.2,"webhookId":"b0cb3f9e-7a18-4350-89bd-1667be0afd7a"}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}