n8n/fonio-ags-anrufername-alt.json
{
  "updatedAt": "2025-11-23T13:53:12.000Z",
  "createdAt": "2025-11-23T09:39:02.746Z",
  "id": "FW97dPOfs3cg6oqO",
  "name": "fonio-ags-anrufername alt",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anrufer-check",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        16
      ],
      "id": "d60b24e2-8942-43cb-83d8-b34df837b7d7",
      "name": "Webhook",
      "webhookId": "b8ea38a3-1648-4893-9832-ffce7ef7d3ce",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Anrufername').first() }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "aa7cfa1c-48e4-4932-91f9-a2334b600d96"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bekannt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "afc9691c-cfdc-4dad-a1b4-278ad46c5076",
                    "leftValue": "={{ $('Anrufername') }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unbekannt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -192,
        16
      ],
      "id": "fbb3825c-a9cd-4698-9d18-d0c6839479e2",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1kyIdVpLg4Ate6b0o2yyB4wzu3e7stQjcILLVrWX6RD8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Anrufer",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefonnumer",
              "lookupValue": "={{ $json.body.fromNumber }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        16
      ],
      "id": "a9fec415-876a-43b3-90b2-fc4881fd0a17",
      "name": "Anrufername",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "vRVq7GTwn9kTIi8N",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -80
      ],
      "id": "34a729fc-9802-429b-8df0-f3ab3d7d8724",
      "name": "Anrufer bekannt"
    },
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        112
      ],
      "id": "7c1d4587-97b9-4a81-9619-ccc35d30d0dd",
      "name": "Anrufer unbekannt"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Anrufername",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anrufername": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Anrufer bekannt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anrufer unbekannt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anrufer bekannt": {
      "main": [
        []
      ]
    },
    "Anrufer unbekannt": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2c6b34a5-183b-4269-a9e3-4033dde41c44",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-23T09:39:02.750Z",
      "createdAt": "2025-11-23T09:39:02.750Z",
      "role": "workflow:owner",
      "workflowId": "FW97dPOfs3cg6oqO",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": null,
  "tags": []
}