n8n/fonio-ags-nachbearbeitung-transkript-20251209.json
{
  "updatedAt": "2025-12-09T06:09:21.164Z",
  "createdAt": "2025-12-09T06:09:21.164Z",
  "id": "kgTzmuCqtvJrv16s",
  "name": "fonio AGS Nachbearbeitung Transkript 20251209",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0b43139-5430-4d07-81e9-f0dbbf11aea7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -256
      ],
      "id": "1d611d6c-3010-4803-a34d-2d38ee70ab77",
      "name": "Webhook",
      "webhookId": "b0b43139-5430-4d07-81e9-f0dbbf11aea7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "011ef203-63fd-49f7-ae0d-4ed7318ad11f",
              "name": "headers.host",
              "value": "={{ $json.headers.host }}",
              "type": "string"
            },
            {
              "id": "04f27e3e-ebed-4ae5-a22f-23d0f7c61904",
              "name": "body[0].body.formattedTranscript",
              "value": "={{ $json.body[0].body.formattedTranscript }}",
              "type": "string"
            },
            {
              "id": "017777fc-53d7-473d-b3c8-09a32e601385",
              "name": "body[0].body.fromNumber",
              "value": "={{ $json.body[0].body.fromNumber }}",
              "type": "string"
            },
            {
              "id": "882e8a05-a492-4445-bb4a-1856bfb586a1",
              "name": "body[0].body.context.anrufer_name",
              "value": "={{ $json.body[0].body.context.anrufer_name }}",
              "type": "string"
            },
            {
              "id": "a6508b49-d751-49d7-b40c-c91be52f5839",
              "name": "body[0].body.context.einrichtung_typ",
              "value": "={{ $json.body[0].body.context.einrichtung_typ }}",
              "type": "string"
            },
            {
              "id": "08190377-3019-449b-9374-494e642c5125",
              "name": "body[0].body.context.einrichtung_name",
              "value": "={{ $json.body[0].body.context.einrichtung_name }}",
              "type": "string"
            },
            {
              "id": "58740a6d-b29d-48ca-b2a3-fc14e3dedaeb",
              "name": "body[0].body.context.technisch",
              "value": "={{ $json.body[0].body.context.technisch }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -352
      ],
      "id": "630b558f-aba7-44e2-b570-182c9b18a269",
      "name": "Daten extrahieren"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Führe die Klassifikation durch.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=DU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE.\n\n###DEINE HAUPTAUFGABE###\nAnalysiere Telefon-Transkripte und ordne sie präzise in eine Dringlichkeitskategorie (A, B, C oder D) ein, basierend auf den Kriterien aus der bereitgestellten Wissensdatenbank. Deine Klassifikation ermöglicht Technikern eine zielgerichtete, priorisierte Bearbeitung.\n\n---\n\n###VERFÜGBARE DATEN###\n\n**DRINGLICHKEITSKRITERIEN (aus Google Sheet):**\n{{ $input.all().slice(1).map(item => \n`Kategorie ${item.json.Dringlichkeit}: ${item.json.Kategorie}\nSchlüsselworte: ${item.json.Schlagworte}\nBeispiele: ${item.json.Beispiele}`\n).join('\\n\\n') }}\n\n**ZU ANALYSIERENDES TRANSKRIPT:**\n{{ $json.body[0].body.formattedTranscript }}\n\n**ANRUFERDATEN:**\n- Name: {{ $json.body[0].body.context.anrufer_name }}\n- Von: {{ $json.body[0].body.fromNumber }}\n- Einrichtung: {{ $json.body[0].body.context.einrichtung_name }}\n\n---\n\n###ANALYSE-METHODIK (CHAIN OF THOUGHTS)###\n\n1. **UNDERSTAND**\n   - Lies das Transkript gründlich und identifiziere das konkrete technische Problem\n   - Erkenne die Auswirkungen: Produktivitätsausfall, Datenverlust, Eskalation, Geschäftskritikalität\n\n2. **IDENTIFY KEY SIGNALS**\n   - Schlüsselbegriffe für hohe Dringlichkeit: \"nicht arbeitsfähig\", \"Produktion steht\", \"Kunde wartet\", \"dringend\", \"sofort\"\n   - Schlüsselbegriffe für niedrige Dringlichkeit: \"nicht eilig\", \"wenn Zeit ist\", \"Informationsfrage\", \"optional\"\n\n3. **ASSESS IMPACT**\n   - Ist ein geschäftskritischer Prozess blockiert?\n   - Sind mehrere Nutzer betroffen?\n   - Gibt es Fristen oder SLA-relevante Zeitpunkte?\n   - Handelt es sich um einen Standardvorgang oder eine Informationsanfrage?\n\n4. **MATCH WITH CRITERIA**\n   - Vergleiche die erkannten Merkmale mit den Referenzbeispielen aus dem Google Sheet\n   - Wähle die Kategorie, die der Fallbeschreibung AM NÄCHSTEN kommt\n\n5. **HANDLE EDGE CASES**\n   - Bei unklaren oder widersprüchlichen Transkripten: Wähle die konservativere (höhere) Kategorie\n   - Weise explizit auf Unsicherheiten hin\n\n---\n\n###AUSGABEFORMAT###\n\nGib deine Analyse im folgenden JSON-Format zurück:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Server-Ausfall\",\n  \"Beschreibung\": [\n    \"Mehrere Mitarbeiter betroffen (Buchhaltung)\",\n    \"Datenbankverbindung unterbrochen seit 8 Uhr\",\n    \"Fehlende Rechnungen der letzten 2 Wochen\",\n    \"Zeitkritisch: Jahresabschluss-Termin in 2 Stunden\"\n  ],\n  \"AnsprechpartnerBleibt\": true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n  \"AnsprechpartnerName\": \"Frau Weber\",\n  \"RueckrufnummerAnders\": true = andere Rückrufnummer gewünscht, false = unter anrufender Nummer zurückrufen\n  \"Rueckrufnummer\": Die vom Anrufer genannte Rückrufnummer (mit Durchwahl falls vorhanden)\n  \"Begründung\": \"Der Kunde ist grundsätzlich arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Entspricht den Beispielen für Kategorie B im Sheet.\"\n}\n```\n\n**WICHTIG: Feldbeschreibungen** \n- Die Dringlichkeit MUSS ein einzelner Buchstabe sein: A, B, C oder D, entsprechend der Möglichkeiten im Google Sheet\n- Die Kategorie MUSS sich auf die entsprechende Spalte im Google Sheet beziehen\n- Problemtyp: Klassifiziere in GENAU EINE dieser Kategorien:\n  • \"Technisch\" = Hardware-Probleme, Netzwerkausfälle, Gerätedefekte, Server-Ausfälle\n  • \"Software\" = Programmfehler, Anmeldeprobleme, Softwarestörungen, Datenbankprobleme\n  • \"Anliegen\" = Informationsanfragen, Beratung, allgemeine Fragen ohne akutes technisches Problem\n- Themenstichwort: Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z. B. \"SAP-Login\", \"E-Mail-Sync\", \"Drucker-WLAN\")\n- Beschreibung: Array mit 3-6 Stichpunkten, die wichtigsten Informationen zuerst:\n  • Betroffene Personen/Systeme\n  • Zeitpunkt des Auftretens\n  • Konkrete Symptome/Fehler\n  • Geschäftliche Auswirkungen\n  • Fristen/Zeitdruck\n  • Bereits versuchte Lösungen\n- AnsprechpartnerBleibt: true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n- AnsprechpartnerName: Name des Ansprechpartners (falls abweichend vom Anrufer, sonst leer lassen)\n- AnsprechpartnerTelefon: Telefonnummer des Ansprechpartners (falls abweichend, sonst leer lassen)\n- RueckrufnummerAnders: true = andere Rückrufnummer als anrufende Nummer, false = unter anrufender Nummer zurückrufen\n- Rueckrufnummer: Die Rückrufnummer (kann identisch mit AnsprechpartnerTelefon sein)\n- Die Begründung MUSS sich auf die Kriterien im Google Sheet beziehen\n- Halte dich strikt an das JSON-Format\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nNIEMALS Kategorien ohne Bezug zum Google Sheet festlegen\nVERMEIDE vage Begründungen wie \"klingt dringend\" oder \"scheint wichtig\"\nNICHT nur nach einzelnen Schlüsselworten klassifizieren – analysiere die Gesamtsituation\nNIEMALS Aussagen erfinden, die nicht im Transkript stehen\nNICHT überkategorisieren: Unzufriedenheit allein rechtfertigt keine Kategorie A\nIGNORIERE NIEMALS Hinweise auf Systemrelevanz, Produktionsstopp oder geschäftskritische Prozesse\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n**Beispiel 1 - Kategorie A:**\nTranskript: \"Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Kategorie\": \"Notfall\",\n  \"Problemtyp\": \"Software\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Geschäftskritischer Prozess (Monatsabrechnung) ist komplett blockiert. Entspricht den Referenzfällen für Kategorie A im Sheet.\"\n}\n```\n\n**Beispiel 2 - Kategorie D:**\nTranskript: \"Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Kategorie\": \"Informativ\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Informationsanfrage ohne Zeitdruck, kein akuter Vorfall. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n**Beispiel 3 - Kategorie B:**\nTranskript: \"Mein Outlook synchronisiert nicht mehr. Ich kann arbeiten, aber wichtige E-Mails von Kunden kommen nicht an.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Eingeschränkte Arbeitsfähigkeit bei einem wichtigen Kommunikationskanal. Keine komplette Blockade, aber geschäftsrelevant. Entspricht Kategorie B.\"\n}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1120,
        -256
      ],
      "id": "fbf04100-561c-4a05-aec9-f0004af32a15",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1192,
        -32
      ],
      "id": "17332de4-274c-498b-9319-babb6caa3b71",
      "name": "Anthropic Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dringlichkeiten",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -160
      ],
      "id": "3595da5a-31be-4f07-b4f0-bfa3e8c20bfa",
      "name": "Dringlichkeitskriterien laden",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        -256
      ],
      "id": "5c0c2b31-f530-4c21-931b-3f39b9fa0182",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba4494fd-87dc-44a3-be07-3c1e3b0b0f04",
              "name": "Dringlichkeit",
              "value": "={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Dringlichkeit }}",
              "type": "string"
            },
            {
              "id": "77fc8f1e-1ef1-4c82-a4c9-1badefb579a4",
              "name": "problemtyp",
              "value": "={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Problemtyp }}",
              "type": "string"
            },
            {
              "id": "ea4dea35-112a-47b3-86c9-3252d606adda",
              "name": "betreff",
              "value": "={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Kategorie }} | {{ $('Merge').item.json.body[0].body.context.einrichtung_name }}, {{ $('Merge').item.json.body[0].body.context.anrufer_name }} | {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Themenstichwort }}",
              "type": "string"
            },
            {
              "id": "123c771e-c991-4bb9-8860-c5c030773741",
              "name": "emailBody",
              "value": "=<h3>Problemtyp: {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Problemtyp }}</h3>\n\n<h3>KI-Einschätzung</h3>\n<ul>\n  <li><strong>Einrichtung:</strong> {{ $('Merge').item.json.body[0].body.context.einrichtung_name }}</li>\n  <li><strong>Anrufer:</strong> {{ $('Merge').item.json.body[0].body.context.anrufer_name }} ({{ $('Merge').item.json.body[0].body.fromNumber }})</li>\n  <li><strong>Ansprechpartner:</strong> \n    {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).AnsprechpartnerBleibt ? 'Anrufer bleibt Ansprechpartner' : JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).AnsprechpartnerName + ' (' + JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).AnsprechpartnerTelefon + ')' }}\n  </li>\n  <li><strong>Rückrufnummer:</strong> \n    {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).RueckrufnummerAnders ? JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Rueckrufnummer : $('Merge').item.json.body[0].body.fromNumber }}\n  </li>\n  <li><strong>Thema:</strong> {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Themenstichwort }}</li>\n  <li><strong>Beschreibung:</strong>\n    <ul>\n      {{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Beschreibung.map(punkt => `<li>${punkt}</li>`).join('') }}\n    </ul>\n  </li>\n</ul>\n\n<h3>Begründung der Dringlichkeitseinstufung</h3>\n<p>{{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Begründung }}</p>\n\n<h3>Vollständiges Transkript</h3>\n{{ $('Merge').item.json.body[0].body.formattedTranscript.replace(/\\n/g, '<br>') }}\n</pre>",
              "type": "string"
            },
            {
              "id": "abbab201-31d0-4200-8c7e-5b3d2c1b1dc7",
              "name": "themenstichwort",
              "value": "={{ JSON.parse($json.output.match(/\\{[\\s\\S]*\\}/)[0]).Themenstichwort }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -256
      ],
      "id": "af898f46-2fdd-4db5-b40b-73cec7035f04",
      "name": "E-Mail vorbereiten"
    },
    {
      "parameters": {
        "fromEmail": "office@berent.ai",
        "toEmail": "office@berent.ai",
        "subject": "={{ $json.betreff }}",
        "html": "={{ $json.emailBody }}",
        "options": {},
        "path": "42244bb9-541a-4ed2-9583-1ee2f6c4a7bc"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1696,
        -256
      ],
      "id": "733b372a-527e-4041-a5c0-20ac986e0811",
      "name": "Send email",
      "webhookId": "42244bb9-541a-4ed2-9583-1ee2f6c4a7bc",
      "credentials": {}
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        392,
        -32
      ],
      "id": "8ab55f10-46d8-44ed-a791-b794167a4a50",
      "name": "Mistral Cloud Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "sanitize",
        "text": "={{ $json.headers.host }}",
        "guardrails": {
          "urls": {
            "value": {
              "allowedUrls": "n8n.srv1098810.hstgr.cloud",
              "allowedSchemes": [
                "https",
                "http"
              ],
              "blockUserinfo": false,
              "allowSubdomains": "={{ true }}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        320,
        -256
      ],
      "id": "9b8ba408-c334-4ab2-985c-dad1beb17ada",
      "name": "URI-Prüfung",
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "sanitize",
        "text": "={{ $('Merge').item.json.body[0].body.formattedTranscript }}",
        "guardrails": {
          "pii": {
            "value": {
              "type": "all"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        896,
        -256
      ],
      "id": "6107392f-2e12-4332-a538-0e29df48b5d9",
      "name": "Daten anonymisieren"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// PII-Anonymisierung - KORREKTER Pfad zu den Daten\nconst item = $input.item;\n\n// Extrahiere Transkript aus der INPUT-Struktur\nlet text = item.json.body?.[0]?.body?.formattedTranscript || '';\n\n// Fallback falls kein Text\nif (!text || text.trim() === '') {\n  return item; // Gib Original unverändert zurück\n}\n\n// Speichere Original\nconst originalText = text;\n\n// === ANONYMISIERUNG ===\n\n// 1. NAMEN\ntext = text\n  .replace(/\\b(Guten\\s+Tag|Hallo|Hi|Servus)\\s+([A-ZÄÖÜ][a-zäöüß]+)\\b/gi, '$1 [NAME]')\n  .replace(/\\b([A-ZÄÖÜ][a-zäöüß]+)\\s+([A-ZÄÖÜ][a-zäöüß]+)\\b/g, '[NAME]')\n  .replace(/\\b([A-ZÄÖÜ][a-zäöüß]{2,})\\b/g, (match) => {\n    const skip = ['Problem', 'Rechnung', 'Daten', 'Morgen', 'Willkommen', \n                  'Vielen', 'Dank', 'Deutschland', 'Verstehe', 'Bitte', \n                  'Dieser', 'Anruf', 'Möchten', 'Detail', 'Einrichtung'];\n    return skip.includes(match) ? match : '[NAME]';\n  });\n\n// 2. EMAIL\ntext = text.replace(/\\b[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}\\b/g, '[EMAIL]');\n\n// 3. TELEFON\ntext = text\n  .replace(/\\+49\\s?\\d{2,5}\\s?\\d{3,10}/g, '[TELEFON]')\n  .replace(/\\b0\\d{2,5}[\\s\\/-]?\\d{3,10}\\b/g, '[TELEFON]');\n\n// 4. FIRMEN (AGS etc.)\ntext = text.replace(/\\b(AGS|[A-Z]{2,5})\\b/g, '[FIRMA]');\n\n// === OUTPUT ===\nreturn {\n  json: {\n    ...item.json,\n    body: [{\n      ...item.json.body[0],\n      body: {\n        ...item.json.body[0].body,\n        formattedTranscript: text,\n        originalTranscript: originalText,\n        anonymizationApplied: true,\n        anonymizationTimestamp: new Date().toISOString()\n      }\n    }]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -256
      ],
      "id": "fb2f8c36-1644-44b9-8af1-923cc103ee64",
      "name": "PII Anonymisierung (Regex)"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Daten extrahieren",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dringlichkeitskriterien laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten extrahieren": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dringlichkeitskriterien laden": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "URI-Prüfung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "E-Mail vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail vorbereiten": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "URI-Prüfung": {
      "main": [
        [
          {
            "node": "PII Anonymisierung (Regex)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten anonymisieren": {
      "main": [
        []
      ]
    },
    "PII Anonymisierung (Regex)": {
      "main": [
        [
          {
            "node": "Daten anonymisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0648bf03-5119-4568-ab4c-6deaf8cd1858",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T06:09:21.173Z",
      "createdAt": "2025-12-09T06:09:21.173Z",
      "role": "workflow:owner",
      "workflowId": "kgTzmuCqtvJrv16s",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": null,
  "tags": []
}