n8n/github-n8n-synchronisation.json
{
  "updatedAt": "2025-12-24T11:34:56.513Z",
  "createdAt": "2025-12-24T10:21:45.757Z",
  "id": "MHpLYxsxsy0aSsEC",
  "name": "GitHub → n8n Synchronisation",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-sync-webhook",
        "options": {}
      },
      "id": "e7523e51-3ea5-4313-83be-6ae3ef588dad",
      "name": "GitHub Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2016,
        -96
      ],
      "webhookId": "github-sync-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-push-event",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "push",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1792,
        -96
      ],
      "id": "edfa8855-a6a6-4047-a905-336293ee70fc",
      "name": "Prüfe Push Event"
    },
    {
      "parameters": {
        "jsCode": "// Extrahiere geänderte Dateien aus GitHub Webhook\nconst body = $json.body || {};\nconst commits = body.commits || [];\nconst changedFiles = [];\n\n// Sammle alle geänderten Dateien\nfor (const commit of commits) {\n  const added = commit.added || [];\n  const modified = commit.modified || [];\n  \n  for (const file of [...added, ...modified]) {\n    // Workflow-Dateien:\n    // - Im n8n/ Verzeichnis (alte Struktur: n8n/workflow-name.json)\n    // - In n8n/{workflowId}/ (neue Struktur: n8n/{workflowId}/{workflowName}.json)\n    // - Im Root mit -workflow.json oder -Workflow.json (z.B. n8n-Backup-Workflow.json, github-to-n8n-sync-workflow.json)\n    if (file.endsWith('.json') && (file.startsWith('n8n/') || file.includes('-workflow.json') || file.includes('-Workflow.json'))) {\n      changedFiles.push(file);\n    }\n  }\n}\n\nreturn changedFiles.map(file => ({ filePath: file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        -96
      ],
      "id": "79eaba94-6acd-4c34-ad2d-8ebb0401cd95",
      "name": "Extrahiere geänderte Dateien"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const filePath = $json.filePath;\nreturn { filePath };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        -96
      ],
      "id": "d26ccc2f-5772-4851-9737-37e02506250a",
      "name": "Vorbereiten Datei"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "peerendees",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
        },
        "filePath": "={{ $json.filePath }}",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1120,
        -96
      ],
      "id": "228e6be5-3515-46a1-819c-cd2b92778d66",
      "name": "Hole Datei von GitHub",
      "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
      "credentials": {
        "githubApi": {
          "id": "uE78TkEY6lWLV4oP",
          "name": "API GitHub"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extrahiere Workflow-Daten aus GitHub-Datei\nconst githubFile = $json;\n\nif (githubFile.error || !githubFile.content) {\n  return { error: 'Datei konnte nicht geladen werden' };\n}\n\ntry {\n  const content = Buffer.from(githubFile.content, 'base64').toString('utf-8');\n  const workflow = JSON.parse(content);\n  \n  // Selbst-Sync Sperre: Überspringe den Sync-Workflow selbst\n  const isSelf = workflow.id === 'MHpLYxsxsy0aSsEC';\n  if (isSelf) {\n    return { error: 'Sync-Workflow wird übersprungen (Selbst-Sync Sperre)' };\n  }\n  \n  // Stelle sicher, dass name immer vorhanden ist\n  const workflowName = workflow.name || 'Unnamed Workflow';\n  \n  // Erstelle workflowData mit garantiertem name-Feld\n  const workflowData = {\n    ...workflow,\n    name: workflowName\n  };\n  \n  return {\n    workflowId: workflow.id || null,\n    workflowName: workflowName,\n    workflowData: workflowData,\n    filePath: githubFile.path || githubFile.name\n  };\n} catch (e) {\n  return { error: 'Fehler beim Parsen der Workflow-Datei: ' + e.message };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -96
      ],
      "id": "826cf658-6f36-478e-b533-61a70f321fc7",
      "name": "Parse Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-workflow-id",
              "leftValue": "={{ $json.workflowId }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        -96
      ],
      "id": "0a155db6-8ca3-4b76-a41c-9d83f0fb6f14",
      "name": "Prüfe Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        -96
      ],
      "id": "22d043df-b036-40ea-a1a7-b2c99879685e",
      "name": "Workflow existiert?"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $node[\"Parse Workflow\"].json.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "options": {},
        "jsonBody": "={{ $node[\"Parse Workflow\"].json.workflowData }}",
        "specifyBody": "json"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -192
      ],
      "id": "33554dd1-bc96-4afc-ba53-5737ebb46bba",
      "name": "Update Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4gc7MePUZVuCyowB",
          "name": "API n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "options": {},
        "jsonBody": "={{ $node[\"Parse Workflow\"].json.workflowData }}",
        "specifyBody": "json"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "7869324f-7be2-43a5-982a-a7ea3590b4e7",
      "name": "Erstelle Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4gc7MePUZVuCyowB",
          "name": "API n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -96
      ],
      "id": "7b8ba72d-1bdb-47fe-ac6f-0f1356916ccd",
      "name": "Prüfe, ob Workflow existiert",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4gc7MePUZVuCyowB",
          "name": "API n8n"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "GitHub Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prüfe Push Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe Push Event": {
      "main": [
        [
          {
            "node": "Extrahiere geänderte Dateien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrahiere geänderte Dateien": {
      "main": [
        [
          {
            "node": "Vorbereiten Datei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vorbereiten Datei": {
      "main": [
        [
          {
            "node": "Hole Datei von GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole Datei von GitHub": {
      "main": [
        [
          {
            "node": "Parse Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow": {
      "main": [
        [
          {
            "node": "Prüfe Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe Workflow": {
      "main": [
        [
          {
            "node": "Prüfe, ob Workflow existiert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow existiert?": {
      "main": [
        [
          {
            "node": "Update Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erstelle Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe, ob Workflow existiert": {
      "main": [
        [
          {
            "node": "Workflow existiert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4d361205-6074-48d5-9998-e147ef09bbe5",
  "activeVersionId": "4d361205-6074-48d5-9998-e147ef09bbe5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-24T10:21:45.762Z",
      "createdAt": "2025-12-24T10:21:45.762Z",
      "role": "workflow:owner",
      "workflowId": "MHpLYxsxsy0aSsEC",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-24T11:35:00.000Z",
    "createdAt": "2025-12-24T11:34:56.514Z",
    "versionId": "4d361205-6074-48d5-9998-e147ef09bbe5",
    "workflowId": "MHpLYxsxsy0aSsEC",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "github-sync-webhook",
          "options": {}
        },
        "id": "e7523e51-3ea5-4313-83be-6ae3ef588dad",
        "name": "GitHub Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -2016,
          -96
        ],
        "webhookId": "github-sync-webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-push-event",
                "leftValue": "={{ $json.headers['x-github-event'] }}",
                "rightValue": "push",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1792,
          -96
        ],
        "id": "edfa8855-a6a6-4047-a905-336293ee70fc",
        "name": "Prüfe Push Event"
      },
      {
        "parameters": {
          "jsCode": "// Extrahiere geänderte Dateien aus GitHub Webhook\nconst body = $json.body || {};\nconst commits = body.commits || [];\nconst changedFiles = [];\n\n// Sammle alle geänderten Dateien\nfor (const commit of commits) {\n  const added = commit.added || [];\n  const modified = commit.modified || [];\n  \n  for (const file of [...added, ...modified]) {\n    // Workflow-Dateien im n8n/ Verzeichnis ODER im Root (z.B. github-to-n8n-sync-workflow.json)\n    if (file.endsWith('.json') && (file.startsWith('n8n/') || file.includes('-workflow.json'))) {\n      changedFiles.push(file);\n    }\n  }\n}\n\nreturn changedFiles.map(file => ({ filePath: file }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1568,
          -96
        ],
        "id": "79eaba94-6acd-4c34-ad2d-8ebb0401cd95",
        "name": "Extrahiere geänderte Dateien"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const filePath = $json.filePath;\nreturn { filePath };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1344,
          -96
        ],
        "id": "d26ccc2f-5772-4851-9737-37e02506250a",
        "name": "Vorbereiten Datei"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "peerendees",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": "n8n-workflows",
            "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
          },
          "filePath": "={{ $json.filePath }}",
          "asBinaryProperty": false,
          "additionalParameters": {
            "reference": "main"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1120,
          -96
        ],
        "id": "228e6be5-3515-46a1-819c-cd2b92778d66",
        "name": "Hole Datei von GitHub",
        "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
        "credentials": {
          "githubApi": {
            "id": "uE78TkEY6lWLV4oP",
            "name": "API GitHub"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Extrahiere Workflow-Daten aus GitHub-Datei\nconst githubFile = $json;\n\nif (githubFile.error || !githubFile.content) {\n  return { error: 'Datei konnte nicht geladen werden' };\n}\n\ntry {\n  const content = Buffer.from(githubFile.content, 'base64').toString('utf-8');\n  const workflow = JSON.parse(content);\n  \n  // Selbst-Sync Sperre: Überspringe den Sync-Workflow selbst\n  const isSelf = workflow.id === 'MHpLYxsxsy0aSsEC';\n  if (isSelf) {\n    return { error: 'Sync-Workflow wird übersprungen (Selbst-Sync Sperre)' };\n  }\n  \n  // Stelle sicher, dass name immer vorhanden ist\n  const workflowName = workflow.name || 'Unnamed Workflow';\n  \n  // Erstelle workflowData mit garantiertem name-Feld\n  const workflowData = {\n    ...workflow,\n    name: workflowName\n  };\n  \n  return {\n    workflowId: workflow.id || null,\n    workflowName: workflowName,\n    workflowData: workflowData,\n    filePath: githubFile.path || githubFile.name\n  };\n} catch (e) {\n  return { error: 'Fehler beim Parsen der Workflow-Datei: ' + e.message };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -896,
          -96
        ],
        "id": "826cf658-6f36-478e-b533-61a70f321fc7",
        "name": "Parse Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-error",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "check-workflow-id",
                "leftValue": "={{ $json.workflowId }}",
                "rightValue": "null",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -672,
          -96
        ],
        "id": "0a155db6-8ca3-4b76-a41c-9d83f0fb6f14",
        "name": "Prüfe Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-exists",
                "leftValue": "={{ $json.statusCode }}",
                "rightValue": 200,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -224,
          -96
        ],
        "id": "22d043df-b036-40ea-a1a7-b2c99879685e",
        "name": "Workflow existiert?"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $node[\"Parse Workflow\"].json.workflowId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "options": {},
          "jsonBody": "={{ $node[\"Parse Workflow\"].json.workflowData }}",
          "specifyBody": "json"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          -192
        ],
        "id": "33554dd1-bc96-4afc-ba53-5737ebb46bba",
        "name": "Update Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4gc7MePUZVuCyowB",
            "name": "API n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "options": {},
          "jsonBody": "={{ $node[\"Parse Workflow\"].json.workflowData }}",
          "specifyBody": "json"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          0
        ],
        "id": "7869324f-7be2-43a5-982a-a7ea3590b4e7",
        "name": "Erstelle Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4gc7MePUZVuCyowB",
            "name": "API n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -448,
          -96
        ],
        "id": "7b8ba72d-1bdb-47fe-ac6f-0f1356916ccd",
        "name": "Prüfe, ob Workflow existiert",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4gc7MePUZVuCyowB",
            "name": "API n8n"
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "GitHub Webhook Trigger": {
        "main": [
          [
            {
              "node": "Prüfe Push Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe Push Event": {
        "main": [
          [
            {
              "node": "Extrahiere geänderte Dateien",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrahiere geänderte Dateien": {
        "main": [
          [
            {
              "node": "Vorbereiten Datei",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vorbereiten Datei": {
        "main": [
          [
            {
              "node": "Hole Datei von GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hole Datei von GitHub": {
        "main": [
          [
            {
              "node": "Parse Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Workflow": {
        "main": [
          [
            {
              "node": "Prüfe Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe Workflow": {
        "main": [
          [
            {
              "node": "Prüfe, ob Workflow existiert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow existiert?": {
        "main": [
          [
            {
              "node": "Update Workflow",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Erstelle Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe, ob Workflow existiert": {
        "main": [
          [
            {
              "node": "Workflow existiert?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marcus Kunkel",
    "name": "Version 4d361205",
    "description": ""
  },
  "tags": []
}