n8n/unnamed-workflow.json
{
  "nextCursor": null,
  "data": {
    "updatedAt": "2025-12-04T19:32:55.000Z",
    "createdAt": "2025-11-23T15:45:35.268Z",
    "id": "BFYzOmXZPvhoUbBS",
    "name": "fonio AGS Nachbearbeitung Transkript alt",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "fonio-ags-transkript",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "dbb2ce2e-7047-422a-b8a2-7cd7f735f599",
        "name": "Webhook",
        "webhookId": "d9a56c84-3178-44a5-9d50-e8a42a1f9a00"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "04f27e3e-ebed-4ae5-a22f-23d0f7c61904",
                "name": "body[0].body.formattedTranscript",
                "value": "={{ $json.body[0].body.formattedTranscript }}",
                "type": "string"
              },
              {
                "id": "017777fc-53d7-473d-b3c8-09a32e601385",
                "name": "body[0].body.fromNumber",
                "value": "={{ $json.body[0].body.fromNumber }}",
                "type": "string"
              },
              {
                "id": "882e8a05-a492-4445-bb4a-1856bfb586a1",
                "name": "body[0].body.context.anrufer_name",
                "value": "={{ $json.body[0].body.context.anrufer_name }}",
                "type": "string"
              },
              {
                "id": "a6508b49-d751-49d7-b40c-c91be52f5839",
                "name": "body[0].body.context.einrichtung_typ",
                "value": "={{ $json.body[0].body.context.einrichtung_typ }}",
                "type": "string"
              },
              {
                "id": "08190377-3019-449b-9374-494e642c5125",
                "name": "body[0].body.context.einrichtung_name",
                "value": "={{ $json.body[0].body.context.einrichtung_name }}",
                "type": "string"
              },
              {
                "id": "58740a6d-b29d-48ca-b2a3-fc14e3dedaeb",
                "name": "body[0].body.context.technisch",
                "value": "={{ $json.body[0].body.context.technisch }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          0
        ],
        "id": "b905e673-945d-4303-8ddb-de9c95625fc3",
        "name": "Daten extrahieren"
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "<system_prompt>\nDU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE. DEINE HAUPTAUFGABE IST ES, JEDE ANFRAGE PRÄZISE IN EINE DER DRINGLICHKEITSKATEGORIEN A, B, C ODER D EINZUORDNEN. DIE GRUNDLAGE DEINER KLASSIFIKATION SIND DIE **DEFINITIONEN, REGELN UND BEISPIELE**, DIE IN EINEM EXTERN GEPFLEGTEN **GOOGLE SHEET** ENTHALTEN SIND.\n\n###ZIEL###\n\nSTELLE SICHER, DASS TECHNIKER DURCH DEINE KATEGORISIERUNG **HOCHVORBEREITET UND ZIELGERICHTET** AUF DIE ANFRAGE REAGIEREN KÖNNEN. JEDE EINORDNUNG MUSS DIE **DRINGLICHKEIT** DER TECHNISCHEN ANFRAGE REALISTISCH UND ZUVERLÄSSIG ABBILDEN.\n\n---\n\n###CHAIN OF THOUGHTS###\n\nFOLGE DIESER SYSTEMATISCHEN VORGEHENSWEISE, UM DIE TRANSKRIPTE ZU ANALYSIEREN UND DIE RICHTIGE DRINGLICHKEITSSTUFE FESTZULEGEN:\n\n1. **UNDERSTAND**  \n   - LESE DAS TRANSKRIPT GRÜNDLICH UND IDENTIFIZIERE DAS KONKRETE TECHNISCHE PROBLEM SOWIE DIE AUSWIRKUNGEN AUF DEN ANRUFER (z. B. Produktivitätsausfall, Datenverlust, Eskalationsdrohung).\n\n2. **BASICS**  \n   - ERKENNE ZENTRALE SCHLÜSSELBEGRIFFE UND SIGNALWÖRTER, DIE AUF HOHE/NIEDRIGE DRINGLICHKEIT HINDEUTEN (z. B. „NICHT ARBEITSFÄHIG“, „WARTEN AUF KUNDEN“, „IST DRINGEND“, „NICHT ZEITKRITISCH“).\n\n3. **BREAK DOWN**  \n   - IDENTIFIZIERE:\n     - OB EIN GESCHÄFTSKRITISCHER AUSFALL VORLIEGT\n     - OB MEHRERE NUTZER BETROFFEN SIND\n     - OB ES SICH UM EINEN STANDARDVORGANG HANDELT\n     - OB FRISTEN / SLA-RELEVANTE ZEITPUNKTE BENANNT WERDEN\n\n4. **ANALYZE**  \n   - VERGLEICHE DIE ERKANNTEN MERKMALE MIT DEN REFERENZBEISPIELEN IM GOOGLE SHEET.\n   - WÄHLE DIE DRINGLICHKEITSSTUFE (A–D), DIE DER FALLBESCHREIBUNG IM TRANSKRIPT **AM NÄCHSTEN KOMMT**.\n\n5. **BUILD**  \n   - FASSE DEINE ANALYSE IN EINEM KURZEN BEGRÜNDETEN KOMMENTAR ZUSAMMEN.\n   - GIB DIE FINAL ZUGEORDNETE KATEGORIE AUS.\n\n6. **EDGE CASES**  \n   - WENN DAS TRANSKRIPT **UNKLAR ODER WIDERSPRÜCHLICH** IST, WÄHLE DIE KONSERVATIVERE (HÖHERE) KATEGORIE UND WEISE EXPLIZIT AUF DIE UNSICHERHEIT HIN.\n\n7. **FINAL ANSWER FORMAT**  \n   - GIB DEINE ANTWORT IM FOLGENDEN FORMAT AUS:\n\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Begründung\": \"Der Kunde ist arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Ähnliche Fälle wurden im Sheet als B eingestuft.\"\n}\n```\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nVERMEIDE UNBEDINGT FOLGENDE FEHLER:\n\n- **NIEMALS** KATEGORIEN OHNE BEZUG ZUM GOOGLE SHEET FESTLEGEN  \n- **VERMEIDE VAGE BEGRÜNDUNGEN** WIE „HÖRT SICH DRINGEND AN“ ODER „KLINGT NICHT WICHTIG“  \n- **NICHT EINFACH NACH SCHLÜSSELWORTEN KLASSIFIZIEREN**, SONDERN IMMER DIE GESAMTSITUATION ANALYSIEREN  \n- **NIEMALS AUSSAGEN ERFINDEN**, DIE NICHT IM TRANSKRIPT ENTHALTEN SIND  \n- **NICHT ÜBERKATEGORISIEREN**: WÄHLE NICHT „A“, NUR WEIL EIN KUNDE UNZUFRIEDEN IST, WENN DIE TECHNISCHE LAGE ES NICHT RECHTFERTIGT  \n- **IGNORIERE KEINESFALLS** HINWEISE AUF SYSTEMRELEVANZ ODER PRODUKTIONSSTOPP\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n####Beispiel 1:\n**Transkript (Auszug):**  \n„Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.“\n\n**Ausgabe:**  \n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Begründung\": \"Ein geschäftskritischer Prozess (Monatsabrechnung) ist blockiert. Entsprechend der Referenzfälle im Sheet ist dies Kategorie A.\"\n}\n```\n\n####Beispiel 2:\n**Transkript (Auszug):**  \n„Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.“\n\n**Ausgabe:**  \n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Begründung\": \"Kein akuter Vorfall, Informationsanfrage ohne Zeitdruck. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n</system_prompt>"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          432,
          0
        ],
        "id": "0aeac5e6-c9be-4642-9858-9cf4394bc907",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-sonnet-4-20250514",
            "mode": "list",
            "cachedResultName": "Claude Sonnet 4"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          304,
          208
        ],
        "id": "b72b4dd9-4588-4dc0-996c-834b03ded117",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "6RlfJdXsmselCNpN",
            "name": "Anthropic account 2"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Daten extrahieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daten extrahieren": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "d5df5744-7d36-4fbb-ac6a-a36b16241341",
    "activeVersionId": null,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2025-11-23T15:45:35.270Z",
        "createdAt": "2025-11-23T15:45:35.270Z",
        "role": "workflow:owner",
        "workflowId": "BFYzOmXZPvhoUbBS",
        "projectId": "yr4Hj71ou1NOsi2p"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
}