n8n/youtube-transkript-für-notion.json
{
  "nextCursor": null,
  "data": {
    "updatedAt": "2025-11-11T23:07:15.000Z",
    "createdAt": "2025-11-11T22:30:16.638Z",
    "id": "DKEKrzFx9oYFubkV",
    "name": "YouTube-Transkript für Notion",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "youtube-transcript",
          "responseMode": "responseNode",
          "options": {
            "rawBody": true
          }
        },
        "id": "8578df34-bc02-4bd1-9715-42f75f19702a",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -240,
          112
        ],
        "webhookId": "youtube-transcript-webhook"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "youtube-url",
                "name": "youtubeUrl",
                "value": "={{ $json.body.url || $json.query.url || $json.url }}",
                "type": "string"
              },
              {
                "id": "video-id",
                "name": "videoId",
                "value": "={{ $json.body.url ? $json.body.url.match(/(?:youtube\\.com\\/watch\\?v=|youtu\\.be\\/)([^&]+)/)?.[1] : '' }}",
                "type": "string"
              },
              {
                "id": "author-name",
                "name": "authorName",
                "value": "={{ $json.body.author || 'Unbekannt' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "bc66bf3f-464a-4a6c-a242-22b99c3fdf87",
        "name": "Webhook Daten extrahieren",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -16,
          112
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "part": "snippet,contentDetails,statistics"
        },
        "id": "f38ef7ea-6f13-4373-8c7d-ac4cac265458",
        "name": "YouTube Video Details",
        "type": "n8n-nodes-base.youTube",
        "typeVersion": 1,
        "position": [
          208,
          112
        ]
      },
      {
        "parameters": {
          "url": "=https://api.youtubetranscript.com/?video_id={{ $json.videoId }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "dd98d656-4525-4c0d-9927-df71725dfe4b",
        "name": "Transkript extrahieren",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          432,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-transcript",
                "leftValue": "={{ $json.transcript || $json.text || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              },
              {
                "id": "min-length",
                "leftValue": "={{ ($json.transcript || $json.text || '').length }}",
                "rightValue": "100",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "44540dcd-3aa0-4f12-a9b9-1545880563b9",
        "name": "Transkript validieren",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          656,
          112
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Alle Daten aus vorherigen Nodes sammeln\nconst config = $('Webhook Daten extrahieren').item.json;\nconst videoDetails = $('YouTube Video Details').item.json;\nconst transcriptData = $('Transkript extrahieren').item.json;\n\n// Transkript extrahieren und bereinigen\nlet rawTranscript = transcriptData.transcript || transcriptData.text || '';\nif (Array.isArray(transcriptData)) {\n  rawTranscript = transcriptData.map(item => item.text || item.content || '').join(' ');\n}\n\n// Text bereinigen und formatieren\nconst cleanTranscript = rawTranscript\n  .replace(/\\[.*?\\]/g, '')           // [Musik], [Applaus] etc.\n  .replace(/\\(.*?\\)/g, '')           // (inaudible) etc.\n  .replace(/\\s+/g, ' ')              // Mehrfache Leerzeichen\n  .replace(/\\n+/g, '\\n\\n')           // Absätze formatieren\n  .trim();\n\n// Video-Dauer aus ISO 8601 Format parsen (PT4M13S -> 4:13)\nfunction parseDuration(duration) {\n  if (!duration) return 'Unknown';\n  const match = duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  if (!match) return duration;\n  \n  const hours = parseInt(match[1] || 0);\n  const minutes = parseInt(match[2] || 0);\n  const seconds = parseInt(match[3] || 0);\n  \n  if (hours > 0) {\n    return `${hours}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;\n  } else {\n    return `${minutes}:${seconds.toString().padStart(2, '0')}`;\n  }\n}\n\n// Tags aus Video-Titel und Beschreibung extrahieren\nfunction extractTags(title, description) {\n  const tags = [];\n  const text = (title + ' ' + description).toLowerCase();\n  \n  // AI/KI-bezogene Keywords\n  if (text.match(/(ai|artificial intelligence|chatgpt|gpt|claude|llm|machine learning|automation)/)) {\n    tags.push('AI');\n  }\n  \n  // Marketing Keywords\n  if (text.match(/(marketing|sales|business|growth|strategy|revenue)/)) {\n    tags.push('Marketing');\n  }\n  \n  // Tutorial Keywords\n  if (text.match(/(tutorial|how to|guide|step by step|walkthrough|setup)/)) {\n    tags.push('Tutorial');\n  }\n  \n  // Tool Keywords\n  if (text.match(/(tool|software|app|platform|api|integration)/)) {\n    tags.push('Tools');\n  }\n  \n  return tags.length > 0 ? tags : ['AI']; // Default fallback\n}\n\nreturn {\n  // Video Grunddaten\n  videoId: config.videoId,\n  title: videoDetails.snippet?.title || 'Unbekannt',\n  channelTitle: videoDetails.snippet?.channelTitle || 'Unbekannt',\n  authorName: config.authorName || 'Unbekannt',\n  publishedAt: videoDetails.snippet?.publishedAt || new Date().toISOString(),\n  description: videoDetails.snippet?.description || '',\n  \n  // Statistiken\n  viewCount: parseInt(videoDetails.statistics?.viewCount || 0),\n  likeCount: parseInt(videoDetails.statistics?.likeCount || 0),\n  duration: parseDuration(videoDetails.contentDetails?.duration),\n  \n  // URLs\n  videoUrl: `https://youtube.com/watch?v=${config.videoId}`,\n  thumbnailUrl: videoDetails.snippet?.thumbnails?.high?.url || '',\n  \n  // Transkript\n  cleanTranscript: cleanTranscript,\n  transcriptLength: cleanTranscript.length,\n  wordCount: cleanTranscript.split(' ').length,\n  estimatedReadingTime: Math.ceil(cleanTranscript.split(' ').length / 200),\n  \n  // Auto-Tags\n  autoTags: extractTags(videoDetails.snippet?.title || '', videoDetails.snippet?.description || '')\n};"
        },
        "id": "8da16805-22c9-4587-9123-d9adeeef36ff",
        "name": "Daten zusammenführen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          112
        ]
      },
      {
        "parameters": {
          "text": "={{ $json.cleanTranscript }}",
          "translateTo": "DE",
          "additionalFields": {}
        },
        "id": "b1940f22-06d0-4976-ae4e-4b1d42ebb692",
        "name": "DeepL Übersetzen",
        "type": "n8n-nodes-base.deepL",
        "typeVersion": 1,
        "position": [
          1104,
          112
        ]
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "mode": "url",
            "value": "=22f31cc6fd5680f89a68da6f99f3dade",
            "__regex": "(?:https|http)://www\\.notion\\.so/(?:[a-z0-9-]{2,}/)?([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
          },
          "title": "YouTube Transkripte",
          "simple": false,
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Autor"
              }
            ]
          },
          "options": {}
        },
        "id": "0c40d5b2-9606-4b6f-9e8f-634b726738d4",
        "name": "Notion Eintrag erstellen",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2,
        "position": [
          1328,
          112
        ],
        "notesInFlow": true,
        "credentials": {
          "notionApi": {
            "id": "KpKj51GJ0big0oYv",
            "name": "Notion account"
          }
        },
        "notes": "Datenbank-ID als ENV-Variable: NOTION_DATABASE_ID"
      },
      {
        "parameters": {
          "authentication": "generic",
          "options": {}
        },
        "id": "b35e4ad7-9a42-4754-b9fd-b5da476968d9",
        "name": "Threema Work Benachrichtigung",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1552,
          112
        ],
        "notesInFlow": true,
        "notes": "Threema Work API - Empfänger-ID noch anzupassen"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Video erfolgreich verarbeitet\",\n  \"videoId\": $('Webhook Daten extrahieren').item.json.videoId,\n  \"title\": $('Daten zusammenführen').item.json.title,\n  \"notionUrl\": $('Notion Eintrag erstellen').item.json.url || 'Erstellt'\n} }}",
          "options": {}
        },
        "id": "bb891e48-698a-4b94-8eac-61cbc94e57fc",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1776,
          112
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Webhook Daten extrahieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Daten extrahieren": {
        "main": [
          [
            {
              "node": "YouTube Video Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube Video Details": {
        "main": [
          [
            {
              "node": "Transkript extrahieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transkript extrahieren": {
        "main": [
          [
            {
              "node": "Transkript validieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transkript validieren": {
        "main": [
          [
            {
              "node": "Daten zusammenführen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daten zusammenführen": {
        "main": [
          [
            {
              "node": "DeepL Übersetzen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepL Übersetzen": {
        "main": [
          [
            {
              "node": "Notion Eintrag erstellen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion Eintrag erstellen": {
        "main": [
          [
            {
              "node": "Threema Work Benachrichtigung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Threema Work Benachrichtigung": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "d75fc063-4a08-4b66-8e53-d17f55ae58aa",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2025-11-11T22:30:16.641Z",
        "createdAt": "2025-11-11T22:30:16.641Z",
        "role": "workflow:owner",
        "workflowId": "DKEKrzFx9oYFubkV",
        "projectId": "yr4Hj71ou1NOsi2p"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
}