n8n/p4WBXmtWQqToEtLw/Hedy to Webhook to Notion 0.9.json
{"active":true,"connections":{"Hedy Events API":{"main":[[{"index":0,"node":"Parse Hedy Daten","type":"main"}]]},"Parse Hedy Daten":{"main":[[{"index":0,"node":"Hedy Events Notion 0.9","type":"main"}]]}},"name":"Hedy to Webhook to Notion 0.9","nodes":[{"name":"Parse Hedy Daten","parameters":{"jsCode":"// Parse Hedy Webhook-Daten und normalisiere für Notion (Option 2)\n// Die Hedy API sendet Daten direkt im Root, nicht in 'body'\nconst webhookData = $json;\n\n// Extrahiere Event-Typ und Daten\nconst eventType = webhookData.event || '';\nconst eventData = webhookData.data || {};\nconst timestamp = webhookData.timestamp || new Date().toISOString();\n\n// Bestimme Werte je nach Event-Typ\nlet title = '';\nlet summary = '';\nlet content = '';\nlet sessionId = null;\nlet sessionTitle = null;\nlet dueDate = null;\nlet status = null;\n\nif (eventType.startsWith('session.')) {\n  // Session-Events: session.created, session.ended\n  title = eventData.title || `Session ${eventData.id || ''}`;\n  summary = eventData.meeting_minutes || eventData.title || '';\n  content = eventData.transcript || \n            eventData.meeting_minutes || \n            eventData.conversations || \n            `Session ${eventType} - ${timestamp}`;\n  sessionId = eventData.id || null;\n  sessionTitle = eventData.title || null;\n  \n} else if (eventType === 'highlight.created') {\n  // Highlight-Events\n  title = eventData.title || 'Highlight';\n  summary = eventData.mainIdea || eventData.title || '';\n  \n  const parts = [];\n  if (eventData.mainIdea) parts.push(`**Hauptidee:** ${eventData.mainIdea}`);\n  if (eventData.cleanedQuote) parts.push(`**Zitat:** ${eventData.cleanedQuote}`);\n  if (eventData.rawQuote && eventData.rawQuote !== eventData.cleanedQuote) {\n    parts.push(`**Original:** ${eventData.rawQuote}`);\n  }\n  if (eventData.aiInsight) parts.push(`**AI Insight:** ${eventData.aiInsight}`);\n  content = parts.join('\\n\\n') || 'Keine Details verfügbar';\n  \n  sessionId = eventData.sessionId || null;\n  // Session-Titel müsste aus einer vorherigen Session gelesen werden\n  // Oder aus dem Webhook, falls verfügbar\n  \n} else if (eventType === 'todo.exported') {\n  // Todo-Events - WICHTIG: data.text statt data.message!\n  title = eventData.text || 'Unnamed Todo';\n  summary = eventData.dueDate || '';\n  status = 'offen'; // Standard-Status für neue Todos\n  \n  const parts = [];\n  parts.push(`**Text:** ${eventData.text || ''}`);\n  if (eventData.dueDate) {\n    parts.push(`**Fälligkeitsdatum:** ${eventData.dueDate}`);\n    // Versuche Due Date zu parsen (falls Format bekannt)\n    // Beispiel: \"May 18, 2027 3pm\" oder \"Tomorrow\"\n    // dueDate = parseDueDate(eventData.dueDate);\n  }\n  if (eventData.sessionId) parts.push(`**Session ID:** ${eventData.sessionId}`);\n  if (eventData.id) parts.push(`**Todo ID:** ${eventData.id}`);\n  content = parts.join('\\n');\n  \n  sessionId = eventData.sessionId || null;\n  // Due Date parsen (falls Format bekannt)\n  // dueDate = parseDueDate(eventData.dueDate);\n  \n} else {\n  // Unbekanntes Event - Fallback\n  title = `Unknown Event: ${eventType || 'N/A'}`;\n  summary = '';\n  content = `**Event-Typ:** ${eventType}\\n\\n**Daten:**\\n\\n\\`\\`\\`json\\n${JSON.stringify(eventData, null, 2)}\\n\\`\\`\\``;\n}\n\nreturn {\n  json: {\n    eventType: eventType || null,\n    title: title,\n    summary: summary,\n    content: content,\n    timestamp: timestamp,\n    sessionId: sessionId || '',\n    sessionTitle: sessionTitle || '',\n    dueDate: dueDate || '',\n    status: status || '',\n    // Behalte originale Daten für Debugging\n    rawData: webhookData\n  }\n};"},"position":[3424,608],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Hedy Events Notion 0.9","parameters":{"databaseId":{"__rl":true,"cachedResultName":"Hedy Transkripte 0.9","cachedResultUrl":"https://www.notion.so/2ca31cc6fd5680798a58d74ec1097a36","mode":"list","value":"2ca31cc6-fd56-8079-8a58-d74ec1097a36"},"options":{},"propertiesUi":{"propertyValues":[{"key":"Titel|title","title":"={{ $json.title }}"},{"key":"Event-Typ|select","selectValue":"={{ $json.eventType || 'session.created' }}"},{"key":"Status|select","selectValue":"={{ $json.status || '-' }}"},{"key":"Transkript|rich_text","textContent":"={{ $json.content }}"},{"key":"Session ID|rich_text","textContent":"={{ $json.sessionId }}"},{"key":"Session Titel|rich_text","textContent":"={{ $json.sessionTitle }}"},{"key":"Erstellungsdatum|date"},{"key":"Due Date|date"}]},"resource":"databasePage","title":"Hedy Transkript"},"position":[3648,608],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"httpHeaderAuth":{"name":"Hedy Webhook Auth"}},"name":"Hedy Events API","parameters":{"authentication":"headerAuth","httpMethod":"POST","options":{},"path":"hedy-events"},"position":[3200,608],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"b9081b42-f39a-4933-9964-4dcfa7aa227e"}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}