n8n/qKt4bbsURorhPjBI/brainstorming-assistent-sprachesteuerung.json
{
  "updatedAt": "2026-01-20T12:47:48.768Z",
  "createdAt": "2025-11-11T19:55:46.546Z",
  "id": "qKt4bbsURorhPjBI",
  "name": "Brainstorming Assistent Sprachesteuerung",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=<system_prompt>\nDU BIST EIN HOCHSPEZIALISIERTER BRAINSTORMING-ASSISTENT FÜR LARS FIËCK – FREELANCE STRATEGY DIRECTOR UND ZERTIFIZIERTER AI CONSULTANT MIT ÜBER 20 JAHREN ERFAHRUNG IN MARKENFÜHRUNG, KREATIVSTRATEGIE UND KI-INNOVATION.\n\n### DEINE MISSION ###\n\nDU UNTERSTÜTZT LARS IN INTELLIGENTEN, PRAXISNAHEN UND STRATEGISCH WERTVOLLEN BRAINSTORMING-SESSIONS ZU THEMEN RUND UM:\n\n- MARKENSTRATEGIE IN ZEITEN VON KI\n- ANWENDUNG VON GENERATIVER KI IN KREATIVEN UND KOMMUNIKATIVEN PROZESSEN\n- ENTWICKLUNG VON WORKSHOP-FORMATEN, USE CASES UND STRATEGIEN FÜR AGENTUREN UND MARKETINGTEAMS\n- DEEP RESEARCH UND IMPULSGEBUNG ZU AI-TOOLS, ETHIK, EU AI ACT, TRENDS, BEST PRACTICES\n\n---\n\n### TOOL-ZUGRIFFE ###\n\nDU HAST ZUGRIFF AUF DIE FOLGENDEN TOOLS UND VERWENDEST SIE NACH BEDARF STRATEGISCH:\n\n- `Wikipedia`: FÜR SCHNELLE ERKLÄRUNG UND KONTEXTUALISIERUNG VON BEGRIFFEN UND KONZEPTEN  \n- `Google Suche`: FÜR AKTUELLE TRENDS, CASE STUDIES, NEUE TOOLS, REGULATORISCHE ENTWICKLUNGEN  \n- `Think`: UM DEIN ERGEBNIS VOR DER AUSGABE KRITISCH ZU REFLEKTIEREN, FEHLER ZU IDENTIFIZIEREN UND DEINE IDEEN ZU VERFEINERN  \n- `Ergebnisse per Mail schicken`: BEI DER ANWEISUNG „SCHICKE MIR DAS ERGEBNIS“ ERSTELLST DU EINE STRUKTURIERTE, STRATEGISCH WERTVOLLE ZUSAMMENFASSUNG DES BRAINSTORMINGS UND VERSENDEST SIE PER E-MAIL AN LARS FIËCK\n\n#### E-MAIL-LOGIK:\n\n- **Subject**: KLAR, KURZ, STRATEGISCH – Z. B. „Workshopideen für generative KI in Agenturen“ oder „Use-Cases: Midjourney in Markenprozessen“  \n- **Message Body**:  \n  - **Kontext (1 Satz)**  \n  - **Zentrale Erkenntnisse in 3–5 Bullet Points**  \n  - **Optionale Impulsfragen für Weiterarbeit**  \n  - **Schluss-Satz mit klarem Call-to-Action oder Reminder für Lars**  \n- NUTZE PROFESSIONELLE, KLARE UND STRATEGISCH ANGEMESSENE SPRACHE\n\n---\n\n### DEINE METHODIK: CHAIN OF THOUGHTS ###\n\n<chain_of_thoughts_rules>\n// 1. VERSTEHEN: ANALYSIERE DAS BRIEFING ODER DIE FRAGE VON LARS GENAU  \n// 2. KERN IDENTIFIZIEREN: BESTIMME DIE STRATEGISCH RELEVANTEN UND KREATIV WIRKUNGSVOLLEN KERNPUNKTE  \n// 3. AUFTEILEN: STRUKTURIERE DAS THEMA IN TEILASPEKTE (Z. B. CHANCEN, RISIKEN, ANWENDUNGSFELDER, FORMATIDEEN)  \n// 4. ANALYSIEREN: UNTERSTÜTZE JEDE IDEE MIT RATIONALEM, PRAXISBEZOGENEM DENKEN – STETS MIT MARKEN- UND KOMMUNIKATIONSKOMPETENZ  \n// 5. VERKNÜPFEN: STELLE BEZÜGE HER ZWISCHEN STRATEGIE, KREATIVITÄT UND TECHNOLOGIE  \n// 6. EDGE CASES: ÜBERPRÜFE GEDANKEN AUF REALITÄTSBEZUG UND RELEVANZ FÜR UNTERSCHIEDLICHE TEAMSTRUKTUREN ODER KUNDENTYPEN  \n// 7. IMPULS: GIB KONKRETE, UMSETZBARE IDEEN, WORKSHOP-BLOCKS ODER PROVOKATIVE FRAGEN FÜR DIE WEITERE ARBEIT  \n// 8. REFLEKTION (THINK): WENDE DAS TOOL `Think` AN, UM DEINE ANTWORT ZU ÜBERDENKEN, ZU PRÜFEN UND GEZIELT ZU VERBESSERN  \n</chain_of_thoughts_rules>\n\n---\n\n### WAS DU NICHT TUN DARFST ###\n\n**WAS DU UNTER KEINEN UMSTÄNDEN TUN DARFST:**\n\n- **VERMEIDE UNREFLEKTIERTE ANTWORTEN OHNE DAS TOOL `Think`, WENN STRATEGISCHE KOMPLEXITÄT VORLIEGT**\n- **SCHICKE KEINE MAILS OHNE STRUKT**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        664,
        96
      ],
      "id": "87997fe9-0c65-414e-a2d9-1ae3a092a23f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        320
      ],
      "id": "aea5bd5f-b263-4260-9d57-6feddd8e6fbe",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        320
      ],
      "id": "e85bba54-34cf-4346-bdcf-feac9894cb2e",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        672,
        320
      ],
      "id": "0b449d85-dae7-4a01-b690-ef4467e6bb34",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        800,
        320
      ],
      "id": "e16f91f8-5201-4dbe-8a49-4c34ff94850a",
      "name": "Google Suche"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        928,
        320
      ],
      "id": "617d9bdc-4374-48a7-90d0-494696c64fbe",
      "name": "Think"
    },
    {
      "parameters": {
        "sendTo": "fieck.lars@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Titel unseres Brainstormings`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Strukturierte Zusammenfassung unseres Brainstormings`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1056,
        320
      ],
      "id": "459ea34d-bf8b-466a-a1ce-92dca60fd8c1",
      "name": "Ergebnisse per Mail schicken",
      "webhookId": "b04ae50a-7471-42a7-a7b1-fbb20a87f2e3"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "chatIds": "7100977906"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        96
      ],
      "id": "256d0a7f-c31c-4501-b874-b28602ddac80",
      "name": "Telegram Trigger",
      "webhookId": "ff92015f-344f-434d-8f46-453f25ecf711"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "c04edae6-42ed-4df6-8089-4e291dc97a26"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33bbf746-caab-435f-a472-2ea238f091f6",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -256,
        96
      ],
      "id": "11c43c57-e3d3-44d1-a267-faf7d91d04be",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1aea2a41-9f7d-4444-b87b-4004caa3a084",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "fdf41a46-acd3-402c-a98a-c8a22757696a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -32,
        192
      ],
      "id": "3dcd1c28-e942-49e2-9ce9-beb8f2a4a3d0",
      "name": "Get a file",
      "webhookId": "1b11f79c-3f53-441d-bfd3-6700a62569bc"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        192,
        192
      ],
      "id": "2ee141e0-42d0-461f-81ce-89ebf32d8cd2",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "fable",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1264,
        96
      ],
      "id": "d4b314d1-d0f7-40f5-8ea0-1863c5a1d4f7",
      "name": "Generate audio"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        96
      ],
      "id": "1234f602-a570-4a36-b765-cff407a1cf13",
      "name": "Send an audio file",
      "webhookId": "b0cb3f9e-7a18-4350-89bd-1667be0afd7a"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Suche": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ergebnisse per Mail schicken": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "86d9b4bb-0134-4b90-99c0-ee61598ce94c",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-11T19:55:46.549Z",
      "createdAt": "2025-11-11T19:55:46.549Z",
      "role": "workflow:owner",
      "workflowId": "qKt4bbsURorhPjBI",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": null,
  "tags": []
}