n8n/idFjvvr1pC3GfJZm/Claude → GitHub Push.json
{"id":"idFjvvr1pC3GfJZm","active":true,"connections":{"Aktuelle SHA holen":{"main":[[{"index":0,"node":"Paket vorbereiten","type":"main"}]]},"Datei pushen":{"main":[[{"index":0,"node":"Ergebnis","type":"main"}]]},"Paket vorbereiten":{"main":[[{"index":0,"node":"Datei pushen","type":"main"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Aktuelle SHA holen","type":"main"}]]}},"name":"Claude → GitHub Push","nodes":[{"name":"Webhook Trigger","parameters":{"httpMethod":"POST","options":{},"path":"claude-github-push"},"position":[0,0],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"claude-github-push"},{"credentials":{"httpHeaderAuth":{"name":"GitHub Personal Access Token"}},"name":"Aktuelle SHA holen","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"BelegChat-Claude"}]},"options":{"response":{"response":{"neverError":true}}},"sendHeaders":true,"url":"=https://api.github.com/repos/{{ $json.body.owner ?? 'peerendees' }}/{{ $json.body.repo ?? 'n8n-workflows' }}/contents/{{ $json.body.path }}"},"position":[224,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"GitHub Personal Access Token"}},"name":"Datei pushen","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"BelegChat-Claude"},{"name":"Content-Type","value":"application/json"}]},"jsonBody":"={{ JSON.stringify($json.body) }}","method":"PUT","options":{},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/{{ $json.path }}"},"position":[656,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Ergebnis","parameters":{"jsCode":"const response = $json;\nconst trigger = $('Webhook Trigger').item.json.body;\n\nif (response.commit?.sha) {\n  return [{ json: {\n    erfolg: true,\n    datei: trigger.path,\n    commit_sha: response.commit.sha,\n    commit_url: response.commit.html_url ?? '',\n    nachricht: '✅ ' + trigger.path + ' erfolgreich nach GitHub gepusht.'\n  }}];\n}\n\nreturn [{ json: {\n  erfolg: false,\n  fehler: response.message ?? JSON.stringify(response),\n  nachricht: '❌ Push fehlgeschlagen: ' + (response.message ?? 'Unbekannter Fehler')\n}}];"},"position":[880,0],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Paket vorbereiten","parameters":{"jsCode":"const trig = $('Webhook Trigger').first().json.body;\nconst shaResponse = $input.first().json;\n\n// Content robust als Base64 kodieren (btoa versagt bei UTF-8)\nconst rawContent = trig.content || '';\nconst contentBase64 = Buffer.from(rawContent, 'utf-8').toString('base64');\n\n// GitHub API Body zusammenbauen\nconst payload = {\n  message: trig.message || 'chore: update via Claude',\n  content: contentBase64,\n  branch: trig.branch || 'main'\n};\n\n// SHA nur hinzufügen wenn Datei bereits existiert (kein 404)\nif (shaResponse.sha) {\n  payload.sha = shaResponse.sha;\n}\n\nreturn [{\n  json: {\n    body: payload,\n    owner: trig.owner || 'peerendees',\n    repo: trig.repo || 'n8n-workflows',\n    path: trig.path\n  }\n}];"},"position":[432,0],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}