n8n/idFjvvr1pC3GfJZm/Claude → GitHub Push.json
{"id":"idFjvvr1pC3GfJZm","active":true,"connections":{"Aktuelle SHA holen":{"main":[[{"index":0,"node":"Datei pushen","type":"main"}]]},"Datei pushen":{"main":[[{"index":0,"node":"Ergebnis","type":"main"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Aktuelle SHA holen","type":"main"}]]}},"name":"Claude → GitHub Push","nodes":[{"name":"Webhook Trigger","parameters":{"httpMethod":"POST","options":{},"path":"claude-github-push"},"position":[0,0],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"claude-github-push"},{"credentials":{"httpHeaderAuth":{"name":"GitHub Personal Access Token"}},"name":"Aktuelle SHA holen","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"BelegChat-Claude"}]},"options":{"response":{"response":{"neverError":true}}},"sendHeaders":true,"url":"=https://api.github.com/repos/{{ $json.body.owner ?? 'peerendees' }}/{{ $json.body.repo ?? 'n8n-workflows' }}/contents/{{ $json.body.path }}"},"position":[224,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"GitHub Personal Access Token"}},"name":"Datei pushen","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"message","value":"={{ $('Webhook Trigger').item.json.body.message ?? 'chore: update via Claude' }}"},{"name":"content","value":"={{ btoa($('Webhook Trigger').item.json.body.content ?? '') }}"},{"name":"branch","value":"={{ $('Webhook Trigger').item.json.body.branch ?? 'main' }}"}]},"genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"BelegChat-Claude"},{"name":"Content-Type","value":"application/json"}]},"method":"PUT","options":{},"sendBody":true,"sendHeaders":true,"url":"=https://api.github.com/repos/{{ $('Webhook Trigger').item.json.body.owner ?? 'peerendees' }}/{{ $('Webhook Trigger').item.json.body.repo ?? 'n8n-workflows' }}/contents/{{ $('Webhook Trigger').item.json.body.path }}"},"position":[448,0],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Ergebnis","parameters":{"jsCode":"const response = $json;\nconst trigger = $('Webhook Trigger').item.json.body;\n\nif (response.commit?.sha) {\n  return [{ json: {\n    erfolg: true,\n    datei: trigger.path,\n    commit_sha: response.commit.sha,\n    commit_url: response.commit.html_url ?? '',\n    nachricht: '✅ ' + trigger.path + ' erfolgreich nach GitHub gepusht.'\n  }}];\n}\n\nreturn [{ json: {\n  erfolg: false,\n  fehler: response.message ?? JSON.stringify(response),\n  nachricht: '❌ Push fehlgeschlagen: ' + (response.message ?? 'Unbekannter Fehler')\n}}];"},"position":[672,0],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}