n8n/n6EpdZiewuu3wL3B/Hedy Lagebild.json
{"id":"n6EpdZiewuu3wL3B","active":true,"connections":{"Claude API Digest":{"main":[[{"index":0,"node":"Digest Text extrahieren","type":"main"}]]},"Digest Text extrahieren":{"main":[[{"index":0,"node":"Hat Inhalt","type":"main"}]]},"Hat Inhalt":{"main":[[{"index":0,"node":"Notion Payload Digest","type":"main"}],[]]},"Letzten Digest Zeitpunkt holen":{"main":[[{"index":0,"node":"Oldest Timestamp berechnen","type":"main"}]]},"Notion Digest anlegen":{"main":[[{"index":0,"node":"Threema Senden","type":"main"}]]},"Notion Payload Digest":{"main":[[{"index":0,"node":"Notion Digest anlegen","type":"main"}]]},"Oldest Timestamp berechnen":{"main":[[{"index":0,"node":"Slack hedy-trainer-community","type":"main"},{"index":0,"node":"Slack help","type":"main"},{"index":0,"node":"Slack general","type":"main"},{"index":0,"node":"Slack announcements","type":"main"},{"index":0,"node":"Slack feature-requests","type":"main"},{"index":0,"node":"Slack share-experiences","type":"main"},{"index":0,"node":"Slack language-requests","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Letzten Digest Zeitpunkt holen","type":"main"}]]},"Slack Daten zusammenfuehren":{"main":[[{"index":0,"node":"Claude API Digest","type":"main"}]]},"Slack announcements":{"main":[[{"index":0,"node":"Slack Daten zusammenfuehren","type":"main"}]]},"Slack feature-requests":{"main":[[{"index":0,"node":"Slack Daten zusammenfuehren","type":"main"}]]},"Slack general":{"main":[[{"index":0,"node":"Slack Daten zusammenfuehren","type":"main"}]]},"Slack hedy-trainer-community":{"main":[[{"index":0,"node":"Slack Daten zusammenfuehren","type":"main"}]]},"Slack help":{"main":[[{"index":0,"node":"Slack Daten zusammenfuehren","type":"main"}]]},"Slack language-requests":{"main":[[{"index":0,"node":"Slack Daten zusammenfuehren","type":"main"}]]},"Slack share-experiences":{"main":[[{"index":0,"node":"Slack Daten zusammenfuehren","type":"main"}]]}},"name":"Hedy Lagebild","nodes":[{"name":"Schedule Trigger","parameters":{"rule":{"interval":[{"expression":"0 0 6 * * *","field":"cronExpression"},{"expression":"0 45 16 * * *","field":"cronExpression"}]}},"position":[0,-32],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"credentials":{"httpHeaderAuth":{"name":"Notion API native"}},"name":"Letzten Digest Zeitpunkt holen","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"jsonBody":"{}","method":"POST","options":{},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.notion.com/v1/databases/83f99ad870f64c68806806030907765f/query"},"position":[224,-32],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Oldest Timestamp berechnen","parameters":{"jsCode":"const results = $input.first().json.results;\nlet oldest;\nif (results && results.length > 0) {\n  const lastDate = results[0].properties?.Datum?.date?.start;\n  oldest = lastDate ? String(new Date(lastDate).getTime() / 1000) : String(Math.floor(Date.now()/1000) - 86400);\n} else {\n  oldest = String(Math.floor(Date.now()/1000) - 86400);\n}\nreturn [{ json: { oldest } }];"},"position":[448,-32],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"Hedy Slack API"}},"name":"Slack hedy-trainer-community","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{},"queryParameters":{"parameters":[{"name":"channel","value":"C0AA0DCBHP1"},{"name":"oldest","value":"={{ $('Oldest Timestamp berechnen').item.json.oldest }}"},{"name":"limit","value":"100"}]},"sendQuery":true,"url":"https://slack.com/api/conversations.history"},"position":[672,-608],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Hedy Slack API"}},"name":"Slack help","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{},"queryParameters":{"parameters":[{"name":"channel","value":"C07CG9BKNBE"},{"name":"oldest","value":"={{ $('Oldest Timestamp berechnen').item.json.oldest }}"},{"name":"limit","value":"100"}]},"sendQuery":true,"url":"https://slack.com/api/conversations.history"},"position":[672,-416],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Hedy Slack API"}},"name":"Slack general","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{},"queryParameters":{"parameters":[{"name":"channel","value":"C07D2J226DN"},{"name":"oldest","value":"={{ $('Oldest Timestamp berechnen').item.json.oldest }}"},{"name":"limit","value":"100"}]},"sendQuery":true,"url":"https://slack.com/api/conversations.history"},"position":[672,-224],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Hedy Slack API"}},"name":"Slack announcements","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{},"queryParameters":{"parameters":[{"name":"channel","value":"C07CAUQ1GR3"},{"name":"oldest","value":"={{ $('Oldest Timestamp berechnen').item.json.oldest }}"},{"name":"limit","value":"100"}]},"sendQuery":true,"url":"https://slack.com/api/conversations.history"},"position":[672,-32],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Hedy Slack API"}},"name":"Slack feature-requests","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{},"queryParameters":{"parameters":[{"name":"channel","value":"C07CSELCDNV"},{"name":"oldest","value":"={{ $('Oldest Timestamp berechnen').item.json.oldest }}"},{"name":"limit","value":"100"}]},"sendQuery":true,"url":"https://slack.com/api/conversations.history"},"position":[672,160],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Hedy Slack API"}},"name":"Slack share-experiences","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{},"queryParameters":{"parameters":[{"name":"channel","value":"C07C75Y8NJJ"},{"name":"oldest","value":"={{ $('Oldest Timestamp berechnen').item.json.oldest }}"},{"name":"limit","value":"100"}]},"sendQuery":true,"url":"https://slack.com/api/conversations.history"},"position":[672,352],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Hedy Slack API"}},"name":"Slack language-requests","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{},"queryParameters":{"parameters":[{"name":"channel","value":"C083UNSH8NL"},{"name":"oldest","value":"={{ $('Oldest Timestamp berechnen').item.json.oldest }}"},{"name":"limit","value":"100"}]},"sendQuery":true,"url":"https://slack.com/api/conversations.history"},"position":[672,544],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Slack Daten zusammenfuehren","parameters":{"jsCode":"const channels = [\n  { name: '#hedy-trainer-community', data: $('Slack hedy-trainer-community').item.json },\n  { name: '#help', data: $('Slack help').item.json },\n  { name: '#general', data: $('Slack general').item.json },\n  { name: '#announcements', data: $('Slack announcements').item.json },\n  { name: '#feature-requests', data: $('Slack feature-requests').item.json },\n  { name: '#share-experiences', data: $('Slack share-experiences').item.json },\n  { name: '#language-requests', data: $('Slack language-requests').item.json }\n];\n\nlet slackText = '';\nlet activeCount = 0;\nconst inactiveChannels = [];\n\nfor (const ch of channels) {\n  const messages = (ch.data.messages || []).filter(m => !m.subtype || m.subtype === 'bot_message');\n  const relevant = messages.filter(m => m.text && !m.text.includes('has joined'));\n  if (relevant.length > 0) {\n    activeCount++;\n    slackText += `\\n\\n**${ch.name}** (${relevant.length} neue Nachrichten):\\n`;\n    relevant.slice(0, 10).forEach(m => {\n      const text = m.text.substring(0, 200);\n      slackText += `- ${m.username || m.user || 'Unbekannt'}: ${text}\\n`;\n    });\n  } else {\n    inactiveChannels.push(ch.name);\n  }\n}\n\nif (inactiveChannels.length > 0) {\n  slackText += `\\n\\nKeine Aktivitaet: ${inactiveChannels.join(', ')}`;\n}\n\nreturn [{ json: { slackText, activeCount, totalChannels: 7 } }];"},"position":[896,-32],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"API LLM in Azure (Mistral)"}},"name":"Claude API Digest","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{}]},"genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"method":"POST","options":{},"sendBody":true,"sendHeaders":true,"url":"https://api.anthropic.com/v1/messages"},"position":[1120,-32],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Digest Text extrahieren","parameters":{"jsCode":"const response = $input.first().json;\nconst digestText = response.content?.[0]?.text ?? 'Kein Digest verfuegbar.';\nconst lower = digestText.toLowerCase();\nconst hasContent = !lower.includes('keine neuen') && !lower.includes('keine aktivitaet');\nconst activeCount = $('Slack Daten zusammenfuehren').item.json.activeCount;\nreturn [{ json: { digestText, hasContent, activeCount } }];"},"position":[1344,-32],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Hat Inhalt","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.hasContent }}","operator":{"operation":"true","type":"boolean"},"rightValue":true}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"options":{}},"position":[1568,-32],"type":"n8n-nodes-base.if","typeVersion":2},{"name":"Notion Payload Digest","parameters":{"jsCode":"const dt = $('Digest Text extrahieren').item.json;\nconst title = 'Slack-Digest – ' + $now.toFormat('dd.MM.yyyy HH:mm');\nconst notionBody = {\n  parent: { database_id: '9a3f08ea-d77e-40b1-9997-a9d5762a7517' },\n  properties: {\n    Titel: { title: [{ text: { content: title } }] },\n    Datum: { date: { start: $now.toISO() } },\n    'Aktive Kanaele': { number: dt.activeCount },\n    Gesamtkanale: { number: 7 },\n    Status: { select: { name: 'Erstellt' } }\n  },\n  children: [\n    {\n      object: 'block',\n      type: 'paragraph',\n      paragraph: {\n        rich_text: [\n          {\n            type: 'text',\n            text: { content: (dt.digestText || '').slice(0, 2000) }\n          }\n        ]\n      }\n    }\n  ]\n};\nreturn [{ json: { notionBody } }];"},"position":[1792,-32],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"API LLM in Azure (Mistral)"}},"name":"Notion Digest anlegen","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{}]},"genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"},{"name":"Content-Type","value":"application/json"}]},"method":"POST","options":{},"sendBody":true,"sendHeaders":true,"url":"https://api.notion.com/v1/pages"},"position":[2016,-32],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpQueryAuth":{"name":"Threema Gateway"}},"name":"Threema Senden","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{"name":"from","value":"*BERENT1"},{"name":"to","value":"BUMFMZ39"},{"name":"text","value":"={{ $('Digest Text extrahieren').item.json.digestText }}"}]},"contentType":"form-urlencoded","genericAuthType":"httpQueryAuth","method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[2240,-32],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}