n8n/GVFNZB24QlQFJvN8/fonio-nachbearbeitung-transkript-prototyp.json
{"name":"fonio Nachbearbeitung Transkript Prototyp","nodes":[{"parameters":{"httpMethod":"POST","path":"fonio-nachbereitung-695e705b-cf46-4020-b2e7-6279f8b6398f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-608,-480],"id":"61216785-b99a-4ba0-83fd-ed831cbc09e9","name":"Webhook","webhookId":"695e705b-cf46-4020-b2e7-6279f8b6398f"},{"parameters":{"assignments":{"assignments":[{"id":"011ef203-63fd-49f7-ae0d-4ed7318ad11f","name":"headers.host","value":"={{ $json.headers.host }}","type":"string"},{"id":"04f27e3e-ebed-4ae5-a22f-23d0f7c61904","name":"body.formattedTranscript","value":"={{ $json.body.formattedTranscript }}","type":"string"},{"id":"017777fc-53d7-473d-b3c8-09a32e601385","name":"body.fromNumber","value":"={{ $json.body.fromNumber }}","type":"string"},{"id":"882e8a05-a492-4445-bb4a-1856bfb586a1","name":"body.extractionData.anrufer_name","value":"={{ $json.body.extractionData.anrufer_name }}","type":"string"},{"id":"a6508b49-d751-49d7-b40c-c91be52f5839","name":"body.extractionData.einrichtung_typ","value":"={{ $json.body.extractionData.einrichtung_typ }}","type":"string"},{"id":"08190377-3019-449b-9374-494e642c5125","name":"body.extractionData.einrichtung_name","value":"={{ $json.body.extractionData.einrichtung_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-576],"id":"5193dd81-04db-4ae3-a4fd-4433218630bb","name":"Daten extrahieren"},{"parameters":{"model":{"__rl":true,"value":"claude-3-5-haiku-20241022","mode":"list","cachedResultName":"Claude Haiku 3.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1256,-256],"id":"13b655ae-ff07-4af1-aa10-915f16039105","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"z2co8mXBEBKkyhYu","name":"API Anthropic"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dringlichkeiten","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-384,-384],"id":"7f8e4cff-b24f-468f-85fb-0385096e81c0","name":"Dringlichkeitskriterien laden","credentials":{"googleApi":{"id":"vRVq7GTwn9kTIi8N","name":"n8n Sheets Service"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-160,-480],"id":"72590a85-16f2-49ad-9fe2-6f680edeac02","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"9cac8552-e981-44e5-bfc7-854012461c3f","name":"subject","value":"={{ $('Re-Personalisierung').item.json.Kategorie }} | {{ $('Daten extrahieren').first().json.body.extractionData.einrichtung_name }}, {{ $('Daten extrahieren').first().json.body.extractionData.anrufer_name }} | {{ $('Re-Personalisierung').item.json.Themenstichwort }}","type":"string"},{"id":"988dd2a7-83ea-48b9-9e7e-bcc66745c72c","name":"htmlBody","value":"=<h3>Problemtyp: {{ $('Re-Personalisierung').item.json.Problemtyp }}</h3>\n\n<h4>KI-Einschätzung</h4>\n<p>\n  <b>Einrichtung:</b> {{ $('Daten extrahieren').first().json.body.extractionData.einrichtung_name }}<br>\n  <b>Anrufer:</b> {{ $('Daten extrahieren').first().json.body.extractionData.anrufer_name }} ({{ $('Daten extrahieren').first().json.body.fromNumber }})<br>\n  <b>Ansprechpartner:</b> {{ $json.AnsprechpartnerName ? $json.AnsprechpartnerName : \"Wie Anrufer\" }}<br>\n  <b>Rückrufnummer:</b> {{ $('Re-Personalisierung').item.json.Rueckrufnummer ? $('Re-Personalisierung').item.json.Rueckrufnummer : $('Daten extrahieren').item.json.body.fromNumber}}<br>\n  <b>Thema:</b> {{ $('Re-Personalisierung').item.json.Themenstichwort }}\n</p>\n\n<b>Beschreibung:</b>\n<ul>\n{{ $('Re-Personalisierung').item.json.Beschreibung.map(item => `<li>${item}</li>`).join('') }}\n</ul>\n\n<p>Begründung der Dringlichkeitseinstufung:</p>\n<p>{{ $('Re-Personalisierung').item.json['Begründung'] }}</p>\n\n<hr>\n\n<h4>Vollständiges Transkript</h4>\n<p style=\"white-space: pre-wrap; color: #555;\">\n{{ $json.body.formattedTranscript }}\n</p>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1984,-480],"id":"605752a8-4543-46c5-a48a-a8386d1447bc","name":"E-Mail vorbereiten"},{"parameters":{"operation":"sanitize","text":"={{ $json.body.formattedTranscript }}","guardrails":{"pii":{"value":{"type":"selected","entities":["EMAIL_ADDRESS","PHONE_NUMBER","IP_ADDRESS","LOCATION"]}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1,"position":[288,-480],"id":"b3d279ad-d1eb-4378-a633-17311745eb18","name":"Daten anonymisieren"},{"parameters":{"jsCode":"// 1. Zugriff auf die Antwort des AI Agents\nlet agentOutput = $input.item.json.output || $input.item.json.text || \"\";\n\n// Wir machen sicherheitshalber einen String daraus\nif (typeof agentOutput === 'object') {\n  agentOutput = JSON.stringify(agentOutput);\n}\n\n// 2. Das Mapping holen (exakter Name der Node davor ist wichtig!)\nconst mappingData = $('Azure Antwort verarbeiten').first();\nconst nameMapping = mappingData.json.nameMapping || [];\n\n// 3. Re-Personalisierung durchführen (Suchen & Ersetzen im Rohtext)\n// Wir machen das VOR dem JSON-Parsing, damit auch Namen in Strings ersetzt werden.\nlet processedText = agentOutput;\n\nfor (const item of nameMapping) {\n  // Ersetze [PERSON_X] durch den echten Namen (global)\n  // Wir escapen die Klammern für den Regex\n  const placeholderRegex = new RegExp(item.placeholder.replace(/\\[/g, '\\\\[').replace(/\\]/g, '\\\\]'), 'g');\n  processedText = processedText.replace(placeholderRegex, item.original);\n}\n\n// 4. JSON Extrahieren (Der \"Gesprächigkeit\"-Filter)\n// Wir suchen den Bereich zwischen der ersten '{' und der letzten '}'\nconst firstBracket = processedText.indexOf('{');\nconst lastBracket = processedText.lastIndexOf('}');\n\nif (firstBracket !== -1 && lastBracket !== -1) {\n  // Schneide alles vor der ersten Klammer und nach der letzten Klammer weg\n  const jsonString = processedText.substring(firstBracket, lastBracket + 1);\n  \n  try {\n    const finalObject = JSON.parse(jsonString);\n    return finalObject; // Gib das saubere Objekt zurück\n  } catch (e) {\n    return { error: \"JSON war trotz Filterung ungültig\", raw: processedText };\n  }\n} else {\n  // Fallback, falls gar keine Klammern gefunden wurden\n  return { error: \"Kein JSON im Antworttext gefunden\", raw: processedText };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-480],"id":"2af5375e-582d-46f0-af57-f1df9c3e25ca","name":"Re-Personalisierung"},{"parameters":{"promptType":"define","text":"=Führe die Klassifikation durch.","hasOutputParser":true,"options":{"systemMessage":"=DU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE.\n\n###DEINE HAUPTAUFGABE###\nAnalysiere Telefon-Transkripte und ordne sie präzise in eine Dringlichkeitskategorie (A, B, C oder D) ein, basierend auf den Kriterien aus der bereitgestellten Wissensdatenbank. Deine Klassifikation ermöglicht Technikern eine zielgerichtete, priorisierte Bearbeitung.\n\n---\n\n###VERFÜGBARE DATEN###\n\n**DRINGLICHKEITSKRITERIEN (aus Google Sheet):**\n{{ $('Dringlichkeitskriterien laden').all().slice(1).map(item =>\n`Kategorie ${item.json.Dringlichkeit}: ${item.json.Kategorie}\nSchlüsselworte: ${item.json.Schlagworte}\nBeispiele: ${item.json.Beispiele}`\n).join('\\n\\n') }}\n\n**ZU ANALYSIERENDES TRANSKRIPT:**\n{{ $json.anonymizedText }}\n\n---\n\n###ANALYSE-METHODIK (CHAIN OF THOUGHTS)###\n\n1. **UNDERSTAND**\n   - Lies das Transkript gründlich und identifiziere das konkrete technische Problem\n   - Erkenne die Auswirkungen: Produktivitätsausfall, Datenverlust, Eskalation, Geschäftskritikalität\n\n2. **IDENTIFY KEY SIGNALS**\n   - Schlüsselbegriffe für hohe Dringlichkeit: \"nicht arbeitsfähig\", \"Produktion steht\", \"Kunde wartet\", \"dringend\", \"sofort\"\n   - Schlüsselbegriffe für niedrige Dringlichkeit: \"nicht eilig\", \"wenn Zeit ist\", \"Informationsfrage\", \"optional\"\n\n3. **ASSESS IMPACT**\n   - Ist ein geschäftskritischer Prozess blockiert?\n   - Sind mehrere Nutzer betroffen?\n   - Gibt es Fristen oder SLA-relevante Zeitpunkte?\n   - Handelt es sich um einen Standardvorgang oder eine Informationsanfrage?\n\n4. **MATCH WITH CRITERIA**\n   - Vergleiche die erkannten Merkmale mit den Referenzbeispielen aus dem Google Sheet\n   - Wähle die Kategorie, die der Fallbeschreibung AM NÄCHSTEN kommt\n\n5. **HANDLE EDGE CASES**\n   - Bei unklaren oder widersprüchlichen Transkripten: Wähle die konservativere (höhere) Kategorie\n   - Weise explizit auf Unsicherheiten hin\n\n---\n\n###AUSGABEFORMAT###\n\n***WICHTIGER HINWEIS ZUR DATENSCHUTZ-KONFORMITÄT***\nDer Text enthält anonymisierte Platzhalter wie [PERSON_1], [PERSON_2].\nWenn du Namen extrahierst (z.B. für \"AnsprechpartnerName\" oder in der \"Beschreibung\"),\nNUTZE AUSSCHLIESSLICH DIESE PLATZHALTER.\nWandle sie NICHT um und erfinde keine Namen.\nBeispiel korrekt: \"AnsprechpartnerName\": \"[PERSON_2]\"\n\nGib deine Analyse im folgenden JSON-Format zurück:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Server-Ausfall\",\n  \"Beschreibung\": [\n    \"Mehrere Mitarbeiter betroffen (Buchhaltung)\",\n    \"Datenbankverbindung unterbrochen seit 8 Uhr\",\n    \"Fehlende Rechnungen der letzten 2 Wochen\",\n    \"Zeitkritisch: Jahresabschluss-Termin in 2 Stunden\"\n  ],\n  \"AnsprechpartnerBleibt\": true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n  \"AnsprechpartnerName\": \"Frau Weber\",\n  \"RueckrufnummerAnders\": true = andere Rückrufnummer gewünscht, false = unter anrufender Nummer zurückrufen\n  \"Rueckrufnummer\": Die vom Anrufer genannte Rückrufnummer (mit Durchwahl falls vorhanden)\n  \"Begründung\": \"Der Kunde ist grundsätzlich arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Entspricht den Beispielen für Kategorie B im Sheet.\"\n}\n```\n\n**WICHTIG: Feldbeschreibungen** \n- Die Dringlichkeit MUSS ein einzelner Buchstabe sein: A, B, C oder D, entsprechend der Möglichkeiten im Google Sheet\n- Die Kategorie MUSS sich auf die entsprechende Spalte im Google Sheet beziehen\n- Problemtyp: Klassifiziere in GENAU EINE dieser Kategorien:\n  • \"Technisch\" = Hardware-Probleme, Netzwerkausfälle, Gerätedefekte, Server-Ausfälle\n  • \"Software\" = Programmfehler, Anmeldeprobleme, Softwarestörungen, Datenbankprobleme\n  • \"Anliegen\" = Informationsanfragen, Beratung, allgemeine Fragen ohne akutes technisches Problem\n- Themenstichwort: Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z. B. \"SAP-Login\", \"E-Mail-Sync\", \"Drucker-WLAN\")\n- Beschreibung: Array mit 3-6 Stichpunkten, die wichtigsten Informationen zuerst:\n  • Betroffene Personen/Systeme\n  • Zeitpunkt des Auftretens\n  • Konkrete Symptome/Fehler\n  • Geschäftliche Auswirkungen\n  • Fristen/Zeitdruck\n  • Bereits versuchte Lösungen\n- AnsprechpartnerBleibt: true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n- AnsprechpartnerName: Name des Ansprechpartners (falls abweichend vom Anrufer, sonst leer lassen)\n- AnsprechpartnerTelefon: Telefonnummer des Ansprechpartners (falls abweichend, sonst leer lassen)\n- RueckrufnummerAnders: true = andere Rückrufnummer als anrufende Nummer, false = unter anrufender Nummer zurückrufen\n- Rueckrufnummer: Die Rückrufnummer (kann identisch mit AnsprechpartnerTelefon sein)\n- Die Begründung MUSS sich auf die Kriterien im Google Sheet beziehen\n- Halte dich strikt an das JSON-Format\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nNIEMALS Kategorien ohne Bezug zum Google Sheet festlegen\nVERMEIDE vage Begründungen wie \"klingt dringend\" oder \"scheint wichtig\"\nNICHT nur nach einzelnen Schlüsselworten klassifizieren – analysiere die Gesamtsituation\nNIEMALS Aussagen erfinden, die nicht im Transkript stehen\nNICHT überkategorisieren: Unzufriedenheit allein rechtfertigt keine Kategorie A\nIGNORIERE NIEMALS Hinweise auf Systemrelevanz, Produktionsstopp oder geschäftskritische Prozesse\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n**Beispiel 1 - Kategorie A:**\nTranskript: \"Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Kategorie\": \"Notfall\",\n  \"Problemtyp\": \"Software\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Geschäftskritischer Prozess (Monatsabrechnung) ist komplett blockiert. Entspricht den Referenzfällen für Kategorie A im Sheet.\"\n}\n```\n\n**Beispiel 2 - Kategorie D:**\nTranskript: \"Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Kategorie\": \"Informativ\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Informationsanfrage ohne Zeitdruck, kein akuter Vorfall. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n**Beispiel 3 - Kategorie B:**\nTranskript: \"Mein Outlook synchronisiert nicht mehr. Ich kann arbeiten, aber wichtige E-Mails von Kunden kommen nicht an.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Eingeschränkte Arbeitsfähigkeit bei einem wichtigen Kommunikationskanal. Keine komplette Blockade, aber geschäftsrelevant. Entspricht Kategorie B.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1184,-480],"id":"b95431e9-ac74-4922-963f-0b14f088f86d","name":"Klassifikations-Agent für IT-Hotline-Transkripte","executeOnce":true},{"parameters":{"content":"## Eingabe Webhook fonio API\n","height":432,"width":656,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-664,-656],"typeVersion":1,"id":"045be210-bd35-4501-9973-19dff2d98a7c","name":"Sticky Note"},{"parameters":{"content":"## Verarbeitung\n– Erste Anonymisierung der Daten mittels n8n Guardrails, \n– zweite Anonymisierung der Daten mittels Mistral in Azure,\n– Antwortdaten bereinigen („sauberes JSON“)\n– Klassifikationsagent für IT-Hotline-Transkripte\n– Text repersonalisieren","height":544,"width":1680},"type":"n8n-nodes-base.stickyNote","position":[232,-656],"typeVersion":1,"id":"43ff3622-cba8-4efe-ae41-96afdee45546","name":"Sticky Note1"},{"parameters":{"jsCode":"// Wir greifen auf die Antwort der Azure-Node zu\nconst response = $input.item.json;\n\n// Sicherstellen, dass wir eine Antwort haben\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  \n  // Den Textinhalt holen\n  let content = response.choices[0].message.content;\n  \n  // Oft sendet die KI den Text in Markdown-Blöcken (```json ... ```).\n  // Diese entfernen wir hier, damit das JSON sauber ist.\n  content = content.replace(/^```json\\s*/, \"\").replace(/\\s*```$/, \"\");\n  \n  try {\n    // Den Textstring in ein echtes JSON-Objekt umwandeln\n    const parsedData = JSON.parse(content);\n    \n    // Das saubere Ergebnis zurückgeben\n    return parsedData;\n    \n  } catch (error) {\n    // Falls die KI kein gültiges JSON geschickt hat, geben wir den Rohtext zurück\n    return {\n      error: \"Konnte JSON nicht parsen\",\n      rawContent: content\n    };\n  }\n} else {\n  return { error: \"Keine gültige Antwort von Azure erhalten\" };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-480],"id":"621f5a15-6a0e-4687-9310-0b5d704d924f","name":"Azure Antwort verarbeiten"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Daten aus der vorherigen Node holen\n// Fallback auf leeren String, falls keine Daten da sind\nconst transcript = $input.item.json.guardrailsInput || $input.item.json.output || \"\";\n\nconst systemPrompt = `Du bist ein Spezialist für die Anonymisierung von Personennamen in deutschen Telefon-Transkripten.\n\n###DEINE AUFGABE###\nErkenne alle Personennamen (Vornamen und Nachnamen) im gegebenen Text und ersetze sie durch nummerierte Platzhalter im Format [PERSON_1], [PERSON_2], [PERSON_3] etc.\n\n###REGELN###\n1. Erkenne nur echte Personennamen (z.B. Thomas, Anna, Müller, Schmidt)\n2. Ignoriere Titel wie 'Herr', 'Frau', 'Dr.' - diese bleiben unverändert\n3. Ersetze jeden gefundenen Namen durch einen eindeutigen Platzhalter [PERSON_N]\n4. Gleiche Namen im Text erhalten den gleichen Platzhalter (z.B. 'Thomas' wird immer zu [PERSON_1])\n5. Verschiedene Namen erhalten verschiedene Platzhalter (z.B. 'Thomas' → [PERSON_1], 'Anna' → [PERSON_2])\n6. Behalte die ursprüngliche Formatierung bei (Zeilenumbrüche, Interpunktion)\n\n###AUSGABEFORMAT###\nGib dein Ergebnis im folgenden JSON-Format zurück:\n\\`\\`\\`json\n{\n  \"anonymizedText\": \"Der anonymisierte Text mit [PERSON_1], [PERSON_2] etc.\",\n  \"nameMapping\": [\n    {\"original\": \"Thomas\", \"placeholder\": \"[PERSON_1]\"},\n    {\"original\": \"Anna\", \"placeholder\": \"[PERSON_2]\"}\n  ]\n}\n\\`\\`\\``;\n\n// Das fertige Payload-Objekt zurückgeben\nreturn {\n  model: \"mistral-namen-anonymisierung\",\n  messages: [\n    {\n      role: \"system\",\n      content: systemPrompt\n    },\n    {\n      role: \"user\",\n      content: transcript\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 1000\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-480],"id":"4f32be6d-fdd0-44af-8b22-9e02292ab157","name":"Aufgabenstellung für Azure-Anonymisierung"},{"parameters":{"method":"POST","url":"https://berent-ki.services.ai.azure.com/models/chat/completions?api-version=2024-05-01-preview","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"=json","specifyBody":"json","bodyParameters":{"parameters":[{}]},"jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[736,-480],"id":"590c2188-8076-454b-9a01-eaca7517975f","name":"Anonymisieren (Mistral in Azure)","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"4gc7MePUZVuCyowB","name":"API LLM in Azure (Mistral)"},"httpBearerAuth":{"id":"24SORzPv91ZRH2UW","name":"Bearer Auth account"}}},{"parameters":{"content":"## Ausgabe SMTP-Server Kunde\n– E-Mail vorbereiten\n– E-Mail versenden","height":432,"width":656,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1928,-656],"typeVersion":1,"id":"493b253b-9c1a-40f3-8100-52e6e55f68ad","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"fde578de-54af-4092-a22a-6e3234c3f134","name":"body.formattedTranscript","value":"={{ $('Merge').first().json.body.formattedTranscript.replace(/\\n/g, '<br/>') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,-480],"id":"6eb128fe-3be2-4188-866a-31c895a79156","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"d0b17452-7f76-40a4-8608-7b6068ca9685","name":"liveMode","value":false,"type":"boolean"},{"id":"983ea52f-1354-4137-b1da-9cf42ec3700a","name":"threemaFrom","value":"*BERENT1","type":"string"},{"id":"1b6a00b3-45a8-45b8-9191-09e15d9a1959","name":"threemaTo","value":"BUMFMZ39","type":"string"},{"id":"threema-secret","name":"secret","value":"18DOvPKBV7ize3Nh","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-480],"id":"85207931-279b-40ab-bef5-1b2729b826ba","name":"Config"},{"parameters":{"content":"## Config\nEInige Konfigurationseinstellungen","height":336,"width":224,"color":7},"type":"n8n-nodes-base.stickyNote","position":[0,-656],"typeVersion":1,"id":"43814225-7a8b-4b61-8acc-89938f97d97f","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"https://msgapi.threema.ch/send_simple","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').first().json.secret }}"},{"name":"from","value":"={{ $('Config').first().json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').first().json.threemaTo }}"},{"name":"text","value":"=🔏 Transkript Nachbearbeitung\n\n🔔 Kategorie: {{ $('Re-Personalisierung').item.json.Kategorie }}\n🛍️ Kunde: {{ $('Merge').first().json.body.extractionData.einrichtung_name }}\n☎️ Anrufer: {{ $('Merge').first().json.body.extractionData.anrufer_name }}\n🏷️ Stichwort: {{ $('Re-Personalisierung').item.json.Themenstichwort }}"}]},"options":{}},"id":"38a19dc2-1690-4eda-b9f5-4639f0b2e804","name":"Threema Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,-384],"credentials":{"httpHeaderAuth":{"id":"x5y4aJ1X9shkkOZh","name":"API Threema Work Secret"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"397bfe29-a77c-4d6a-9c54-62c554700e04","leftValue":"={{ false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2208,-576],"id":"86fe29c0-7748-4f84-bb92-7bc9932bcb47","name":"If"},{"parameters":{"fromEmail":"office@berent.ai","toEmail":"office@berent.ai","subject":"={{ $json.subject }}","html":"={{ $json.htmlBody }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2208,-384],"id":"0140d997-01b6-4330-be1b-14d31e107ce0","name":"E-Mail an BERENT senden","webhookId":"068c998c-5810-4b16-956b-64a9171c2f6d","credentials":{"smtp":{"id":"biGV4ad70JiHpzdA","name":"SMTP IONOS"}}},{"parameters":{"fromEmail":"helpdesk@ags-it.de","toEmail":"helpdesk@ags-it.de","subject":"={{ $json.subject }}","html":"={{ $json.htmlBody }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2432,-576],"id":"69d2e62c-4495-40bc-8ac8-04d8fadfca87","name":"E-Mail an Kunde senden","webhookId":"068c998c-5810-4b16-956b-64a9171c2f6d","credentials":{"smtp":{"id":"8O5B5z4vS8yeagJh","name":"AGS SMTP Einstellungen"}}}],"connections":{"Webhook":{"main":[[{"node":"Daten extrahieren","type":"main","index":0},{"node":"Dringlichkeitskriterien laden","type":"main","index":0}]]},"Daten extrahieren":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Klassifikations-Agent für IT-Hotline-Transkripte","type":"ai_languageModel","index":0}]]},"Dringlichkeitskriterien laden":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Config","type":"main","index":0}]]},"E-Mail vorbereiten":{"main":[[{"node":"E-Mail an BERENT senden","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Daten anonymisieren":{"main":[[{"node":"Aufgabenstellung für Azure-Anonymisierung","type":"main","index":0}]]},"Re-Personalisierung":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Klassifikations-Agent für IT-Hotline-Transkripte":{"main":[[{"node":"Re-Personalisierung","type":"main","index":0}]]},"Azure Antwort verarbeiten":{"main":[[{"node":"Klassifikations-Agent für IT-Hotline-Transkripte","type":"main","index":0}]]},"Aufgabenstellung für Azure-Anonymisierung":{"main":[[{"node":"Anonymisieren (Mistral in Azure)","type":"main","index":0}]]},"Anonymisieren (Mistral in Azure)":{"main":[[{"node":"Azure Antwort verarbeiten","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"E-Mail vorbereiten","type":"main","index":0}]]},"Config":{"main":[[{"node":"Daten anonymisieren","type":"main","index":0}]]},"If":{"main":[[{"node":"E-Mail an Kunde senden","type":"main","index":0}],[]]},"E-Mail an BERENT senden":{"main":[[{"node":"Threema Notification","type":"main","index":0}]]},"E-Mail an Kunde senden":{"main":[[]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true}}