n8n/vwpWgvep4RAQIj7S/BERENT Commit-Sync Linear.json
{"id":"vwpWgvep4RAQIj7S","active":false,"connections":{"BER-Pattern gefunden?":{"main":[[{"index":0,"node":"Linear Issue Lookup","type":"main"}],[]]},"Commit-Message parsen":{"main":[[{"index":0,"node":"BER-Pattern gefunden?","type":"main"}]]},"GitHub Push Trigger":{"main":[[{"index":0,"node":"Commit-Message parsen","type":"main"}]]},"Linear Issue Lookup":{"main":[[{"index":0,"node":"Linear auf Done setzen","type":"main"}]]},"Linear auf Done setzen":{"main":[[{"index":0,"node":"Threema Benachrichtigung","type":"main"}]]},"Notion PARA-Hub Kommentar":{"main":[[{"index":0,"node":"Ergebnis","type":"main"}]]},"Threema Benachrichtigung":{"main":[[{"index":0,"node":"Notion PARA-Hub Kommentar","type":"main"}]]}},"name":"BERENT Commit-Sync Linear","nodes":[{"credentials":{"githubApi":{"name":"GitHub account"}},"name":"GitHub Push Trigger","parameters":{"events":["push"],"options":{},"owner":"peerendees","repository":"berent.ai"},"position":[0,-96],"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"webhookId":"d0470b72-ffb0-43a2-a0bf-ad786d5541b8"},{"name":"Commit-Message parsen","parameters":{"jsCode":"// Parse commit messages for [BER-XX] done: pattern (multiline-freundlich)\nconst items = $input.all();\nconst results = [];\nconst regex = /\\[BER-(\\d+)\\]\\s*done:?\\s*([\\s\\S]*)/i;\n\nfor (const item of items) {\n  const commits = item.json.body?.commits || item.json.commits || [];\n\n  for (const commit of commits) {\n    const message = commit.message || '';\n    const match = message.match(regex);\n\n    if (match) {\n      const descRaw = (match[2] || '').trim();\n      const description = descRaw.split(/\\r?\\n/)[0].trim();\n      results.push({\n        json: {\n          issueNumber: parseInt(match[1], 10),\n          issueId: 'BER-' + match[1],\n          description,\n          commitSha: (commit.id || commit.sha || '').substring(0, 8),\n          commitUrl: commit.url || '',\n          author: commit.author?.name || commit.author?.username || 'unknown',\n          timestamp: commit.timestamp || new Date().toISOString(),\n          matched: true\n        }\n      });\n    }\n  }\n}\n\nif (results.length === 0) {\n  results.push({ json: { matched: false } });\n}\n\nreturn results;"},"position":[224,-96],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"BER-Pattern gefunden?","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.matched }}","operator":{"operation":"true","type":"boolean"},"rightValue":true}],"options":{"caseSensitive":true,"leftValue":""}},"options":{}},"position":[448,-96],"type":"n8n-nodes-base.if","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"Linear Header Auth API"}},"name":"Linear Issue Lookup","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={{ JSON.stringify({ query: 'query IssueByIdentifier($identifier: String!) { issues(filter: { identifier: { eq: $identifier } }) { nodes { id identifier title } } }', variables: { identifier: $json.issueId } }) }}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://api.linear.app/graphql"},"position":[672,-96],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Linear API Key"}},"name":"Linear auf Done setzen","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={{ JSON.stringify({ query: 'mutation IssueUpdate($id: String!, $stateId: String!) { issueUpdate(id: $id, input: { stateId: $stateId }) { success issue { id identifier title state { name } } } }', variables: { id: $json.data?.issues?.nodes?.[0]?.id, stateId: '71127dd5-e5f5-412a-89e5-83260040c02b' } }) }}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://api.linear.app/graphql"},"position":[896,-96],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Threema Benachrichtigung","parameters":{"bodyParameters":{"parameters":[{"name":"from","value":"={{ $env.THREEMA_GATEWAY_ID }}"},{"name":"to","value":"={{ $env.THREEMA_RECIPIENT_ID }}"},{"name":"secret","value":"={{ $env.THREEMA_API_SECRET }}"},{"name":"text","value":"=✅ {{ $('Commit-Message parsen').item.json.issueId }} erledigt: {{ $('Commit-Message parsen').item.json.description }}\n\nPARA-Hub-Update steht aus.\nCommit: {{ $('Commit-Message parsen').item.json.commitSha }}"}]},"contentType":"form-urlencoded","method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[1120,-96],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Linear API Key"}},"name":"Notion PARA-Hub Kommentar","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"jsonBody":"={{ JSON.stringify({ parent: { page_id: '33131cc6-fd56-8102-b0d7-d10557364753' }, rich_text: [{ type: 'text', text: { content: $('Commit-Message parsen').item.json.issueId + ' erledigt am ' + $now.toFormat('yyyy-MM-dd') + '. Dashboard-Update ausstehend. Commit: ' + $('Commit-Message parsen').item.json.commitSha } }] }) }}","method":"POST","options":{},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.notion.com/v1/comments"},"position":[1344,-96],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Ergebnis","parameters":{"jsCode":"const parse = $('Commit-Message parsen').item.json;\nconst lookup = $('Linear Issue Lookup').item.json;\nconst linearDone = $('Linear auf Done setzen').item.json;\nconst threema = $('Threema Benachrichtigung').item.json;\nconst notion = $('Notion PARA-Hub Kommentar').item.json;\n\nconst linearUuid = lookup?.data?.issues?.nodes?.[0]?.id;\nconst linearLookupOk = !!linearUuid;\nconst linearUpdateOk = linearDone?.data?.issueUpdate?.success === true;\nconst notionOk = !!(notion?.id || notion?.object === 'comment');\n\nreturn {\n  json: {\n    issueId: parse.issueId,\n    beschreibung: parse.description,\n    linear_lookup_ok: linearLookupOk,\n    linear_update_ok: linearUpdateOk,\n    threema_gesendet: !threema?.error,\n    notion_kommentar_ok: notionOk,\n    nachricht: `Rückkanal für ${parse.issueId}: Linear ${linearUpdateOk ? 'Done' : 'nicht gesetzt'}, Threema/Notion siehe Flags.`\n  }\n};","mode":"runOnceForEachItem"},"position":[1568,-96],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":false,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}