n8n/vwpWgvep4RAQIj7S/BERENT Commit-Sync Linear.json
{"id":"vwpWgvep4RAQIj7S","active":true,"connections":{"BER-Muster gefunden?":{"main":[[{"index":0,"node":"Linear Vorfall suchen","type":"main"}],[]]},"Commit-Message aufbereiten":{"main":[[{"index":0,"node":"BER-Muster gefunden?","type":"main"}]]},"Ergebnis":{"main":[[{"index":0,"node":"Threema Benachrichtigung","type":"main"}]]},"Linear Vorfall suchen":{"main":[[{"index":0,"node":"Linear auf Erledigt setzen","type":"main"}]]},"Linear auf Erledigt setzen":{"main":[[{"index":0,"node":"Notion PARA-Hub Kommentar","type":"main"}]]},"Notion PARA-Hub Kommentar":{"main":[[{"index":0,"node":"Ergebnis","type":"main"}]]},"Threema Benachrichtigung":{"main":[[]]},"Webhook":{"main":[[{"index":0,"node":"Commit-Message aufbereiten","type":"main"}]]}},"name":"BERENT Commit-Sync Linear","nodes":[{"name":"Threema Benachrichtigung","parameters":{"bodyParameters":{"parameters":[{"name":"from","value":"=*BERENT1"},{"name":"to","value":"=BUMFMZ39"},{"name":"secret","value":"=18DOvPKBV7ize3Nh"},{"name":"text","value":"=✅ {{ $('Commit-Message aufbereiten').item.json.issueId }} erledigt: {{ $('Commit-Message aufbereiten').item.json.description }}\n\nLinear: {{ $('Ergebnis').item.json.linear_update_ok ? 'Done' : 'nicht gesetzt' }}\nNotion: {{ $('Ergebnis').item.json.notion_kommentar_ok ? 'Kommentar geschrieben' : 'fehlgeschlagen' }}\nCommit: {{ $('Commit-Message aufbereiten').item.json.commitSha }}"}]},"contentType":"form-urlencoded","method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[1568,-192],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Linear API Key"},"notionApi":{"name":"Notion API für BERENT Teamspace"}},"name":"Notion PARA-Hub Kommentar","parameters":{"authentication":"predefinedCredentialType","headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"jsonBody":"={{ JSON.stringify({ parent: { page_id: '33131cc6-fd56-8102-b0d7-d10557364753' }, rich_text: [{ type: 'text', text: { content: $('Commit-Message aufbereiten').item.json.issueId + ' erledigt am ' + $now.toFormat('yyyy-MM-dd') + '. Dashboard-Update ausstehend. Commit: ' + $('Commit-Message aufbereiten').item.json.commitSha } }] }) }}","method":"POST","nodeCredentialType":"notionApi","options":{},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://api.notion.com/v1/comments"},"position":[1120,-192],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Ergebnis","parameters":{"jsCode":"const parse = $('Commit-Message aufbereiten').item.json;\nconst lookup = $('Linear Vorfall suchen').item.json;\nconst linearDone = $('Linear auf Erledigt setzen').item.json;\nconst notion = $('Notion PARA-Hub Kommentar').item.json;\n\nconst linearUuid = lookup?.data?.issues?.nodes?.[0]?.id;\nconst linearLookupOk = !!linearUuid;\nconst linearUpdateOk = linearDone?.data?.issueUpdate?.success === true;\nconst notionOk = !!(notion?.id || notion?.object === 'comment');\n\nreturn {\n  json: {\n    issueId: parse.issueId,\n    beschreibung: parse.description,\n    linear_lookup_ok: linearLookupOk,\n    linear_update_ok: linearUpdateOk,\n    notion_kommentar_ok: notionOk,\n    nachricht: 'Rueckkanal fuer ' + parse.issueId + ': Linear ' + (linearUpdateOk ? 'Done' : 'nicht gesetzt') + ', Notion ' + (notionOk ? 'ok' : 'fehlgeschlagen')\n  }\n};","mode":"runOnceForEachItem"},"position":[1344,-192],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Sticky Note","parameters":{"content":"## Eingabe\nAusläser über GitHub","height":256,"width":192},"position":[-48,-288],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Sticky Note1","parameters":{"color":4,"content":"## Verarbeitung\nEinfache Aufbereitung des Transkriptes","height":256,"width":1120},"position":[160,-288],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Sticky Note2","parameters":{"color":5,"content":"## Ausgabe\nThreema Work erhält eine Push mit dem aufbereiteten Ergebnis des BERENT Orchestrators.","height":256,"width":384},"position":[1312,-288],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"github-sync-webhook-trigger-4c5bbb77-543b-47f7-9b5f-108d44322ec0"},"position":[0,-192],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"4c5bbb77-543b-47f7-9b5f-108d44322ec0"},{"name":"BER-Muster gefunden?","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.matched }}","operator":{"operation":"true","type":"boolean"},"rightValue":true}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"position":[448,-192],"type":"n8n-nodes-base.if","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"Linear Header Auth"}},"name":"Linear auf Erledigt setzen","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={{ JSON.stringify({ query: 'mutation IssueUpdate($id: String!, $stateId: String!) { issueUpdate(id: $id, input: { stateId: $stateId }) { success issue { id identifier title state { name } } } }', variables: { id: $json.data?.issues?.nodes?.[0]?.id, stateId: '71127dd5-e5f5-412a-89e5-83260040c02b' } }) }}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://api.linear.app/graphql"},"position":[896,-192],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"credentials":{"httpHeaderAuth":{"name":"Linear Header Auth API"},"linearApi":{"name":"Linear account API"}},"name":"Linear Vorfall suchen","onError":"continueRegularOutput","parameters":{"authentication":"predefinedCredentialType","jsonBody":"={{ JSON.stringify({ query: 'query IssueLookup($number: Float!, $teamKey: String!) { issues(filter: { number: { eq: $number }, team: { key: { eq: $teamKey } } }) { nodes { id identifier title } } }', variables: { number: $json.issueNumber, teamKey: 'BER' } }) }}\n","method":"POST","nodeCredentialType":"linearApi","options":{},"sendBody":true,"specifyBody":"json","url":"https://api.linear.app/graphql"},"position":[672,-192],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Commit-Message aufbereiten","parameters":{"jsCode":"// GitHub Push normalisieren (Webhook mit body / Trigger mit flachem JSON / body als String)\nfunction normalizePushPayload(json) {\n  let root = json;\n  if (json.body !== undefined && json.body !== null) {\n    if (typeof json.body === 'string') {\n      try {\n        root = JSON.parse(json.body);\n      } catch {\n        root = {};\n      }\n    } else {\n      root = json.body;\n    }\n  }\n  let commits = Array.isArray(root.commits) ? root.commits : [];\n  if (commits.length === 0 && root.head_commit && root.head_commit.message) {\n    commits = [root.head_commit];\n  }\n  return { commits, repository: root.repository };\n}\n\nconst items = $input.all();\nconst results = [];\nconst regex = /\\[BER-(\\d+)\\]\\s*done:?\\s*([\\s\\S]*)/i;\n\nfor (const item of items) {\n  const { commits, repository } = normalizePushPayload(item.json);\n\n  for (const commit of commits) {\n    const message = commit.message || '';\n    if (message.includes('Auto-Backup:')) continue;\n    const match = message.match(regex);\n\n    if (match) {\n      const descRaw = (match[2] || '').trim();\n      const description = descRaw.split(/\\r?\\n/)[0].trim();\n      results.push({\n        json: {\n          issueNumber: parseInt(match[1], 10),\n          issueId: 'BER-' + match[1],\n          description,\n          commitSha: (commit.id || commit.sha || '').substring(0, 8),\n          commitUrl: commit.url || '',\n          author: commit.author?.name || commit.author?.username || 'unknown',\n          timestamp: commit.timestamp || new Date().toISOString(),\n          matched: true,\n          repository: repository?.full_name || '',\n        },\n      });\n    }\n  }\n}\n\nif (results.length === 0) {\n  results.push({ json: { matched: false } });\n}\n\nreturn results;"},"position":[224,-192],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}