n8n/b2iHqxoS7bY4geyi/n8n-github-sicherung.json
{
  "updatedAt": "2026-01-22T04:46:47.717Z",
  "createdAt": "2026-01-02T15:51:21.900Z",
  "id": "b2iHqxoS7bY4geyi",
  "name": "n8n → GitHub Sicherung",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "32fd067e-81c7-44d8-98c5-7747879d2862",
      "name": "Zeitplan: alle 15 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3136,
        5152
      ]
    },
    {
      "parameters": {
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2688,
        5152
      ],
      "id": "51839667-b5af-4082-952f-5b9e7f976de8",
      "name": "Hole alle Workflows",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oaJkHRuARNWjW2UA",
          "name": "API n8n für n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflows = $json.data || [];\nreturn {\n  workflows: workflows,\n  index: 0,\n  anzahl: workflows.length,\n  neu: 0,\n  updates: 0,\n  geloescht: 0,\n  skip: 0,\n  tabelle: []\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        5152
      ],
      "id": "2b930da8-2e1e-470c-abb9-9fa67dfe343f",
      "name": "Initialisierung"
    },
    {
      "parameters": {
        "content": "## Version v4.2\n- PUSH FIX & STATS STANDARDIZED\n- Benachrichtigung garantiert",
        "height": 113,
        "width": 234
      },
      "id": "a767638e-6963-40bf-bc16-3c585e4401ed",
      "name": "Version Marker (v3.1)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3248,
        5024
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-skip-condition",
              "leftValue": "={{ $json.skipIteration }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6d93dd8e-58f7-474a-b936-4ad2da25b94e",
      "name": "Check Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2016,
        5088
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r = $json; // Rucksack\nconst wf = r.workflows[r.index];\n\nconst workflowId = wf.id || '';\nconst workflowName = wf.name || 'Unnamed Workflow';\nconst cleanName = String(workflowName).replace(/[^a-zA-Z0-9-_äöüÄÖÜß ]/g, '').replace(/\\s+/g, '-').toLowerCase();\n\n// Neue Struktur: n8n/${workflowId}/${cleanName}.json\nconst dateipfad = `n8n/${workflowId}/${cleanName}.json`;\nconst workflowContent = Buffer.from(JSON.stringify(wf, null, 2)).toString('base64');\n\n// Archiv-Logik: löschen statt sichern?\nlet actionOverride = null;\nif (wf.isArchived === true) {\n  actionOverride = 'delete';\n}\n\nreturn {\n  ...r,\n  workflowId: workflowId,\n  workflowName: workflowName,\n  workflowData: wf,\n  dateipfad: dateipfad,\n  workflowContent: workflowContent,\n  updatedAt: wf.updatedAt || wf.createdAt || new Date().toISOString(),\n  actionOverride: actionOverride,\n  skipIteration: false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        5152
      ],
      "id": "7a4b1b5c-8f5e-4fd3-8a68-8e45dfd54974",
      "name": "Extrahiere Workflow"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "peerendees",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
        },
        "filePath": "={{ $json.dateipfad }}",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1792,
        5008
      ],
      "id": "a5f6ef16-a3ed-40ce-897b-7c0f133f518d",
      "name": "Prüfe GitHub Datei",
      "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
      "credentials": {
        "githubApi": {
          "id": "uE78TkEY6lWLV4oP",
          "name": "API GitHub"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const r = $node[\"Extrahiere Workflow\"].json;\nconst githubFile = $node[\"Prüfe GitHub Datei\"].json;\n\nlet action = 'skip';\nlet sha = null;\n\n// Falls im vorherigen Node bereits 'delete' bestimmt wurde (weil archiviert)\nif (r.actionOverride === 'delete') {\n  if (githubFile && !githubFile.error && githubFile.sha) {\n    action = 'delete';\n    sha = githubFile.sha;\n  } else {\n    action = 'skip'; // Archiviert but not on GitHub\n  }\n} else if (githubFile && !githubFile.error && githubFile.sha) {\n  sha = githubFile.sha;\n  const remoteContent = (githubFile.content || '').replace(/\\s/g, '');\n  const localContent = (r.workflowContent || '').replace(/\\s/g, '');\n  if (remoteContent !== localContent) {\n    action = 'update';\n  }\n} else {\n  action = 'create';\n}\n\nreturn {\n  ...r,\n  action: action,\n  sha: sha\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        5008
      ],
      "id": "b1c10835-5c85-4763-8523-2b0b8ccfd110",
      "name": "Bestimme Handlung"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-is-skip",
              "leftValue": "={{ $json.action }}",
              "rightValue": "skip",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "04b1f1cb-e019-4638-91d5-f7a468ff3540",
      "name": "Prüfe ob Sichern/Löschen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1344,
        5008
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-is-delete",
              "leftValue": "={{ $json.action }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0f07bbf-d1f8-464e-ab38-3a2eb6996154",
      "name": "Entscheide Löschen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1120,
        4960
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/peerendees/n8n-workflows/contents/{{ $json.dateipfad }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=🗑️ Auto-Backup: Archivierten Workflow von GitHub gelöscht"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            },
            {
              "name": "branch",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "7d0e9043-7da7-4a2e-9f37-cffc9868c97c",
      "name": "Lösche Archivdatei",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        672,
        4720
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "aZMd0okvVFkvyGnj",
          "name": "GitHub Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/peerendees/n8n-workflows/contents/{{ $json.dateipfad }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=🤖 Auto-Backup: {{ $json.workflowName }} ({{ $json.action }})"
            },
            {
              "name": "content",
              "value": "={{ $json.workflowContent }}"
            },
            {
              "name": "branch",
              "value": "main"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha || undefined }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        5056
      ],
      "id": "7507c1b6-3084-448f-8096-909057259167",
      "name": "Sichere auf GitHub",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aZMd0okvVFkvyGnj",
          "name": "GitHub Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prüfe ob erfolgreich gespeichert und ob alte Dateien gelöscht werden müssen\n// Hole Daten aus beiden vorherigen Nodes\nconst r = $node[\"Bestimme Handlung\"].json;\nconst githubResponse = $json;\n\n// Stelle sicher, dass alle benötigten Felder vorhanden sind\nif (!r.tabelle) r.tabelle = [];\nif (r.neu === undefined) r.neu = 0;\nif (r.updates === undefined) r.updates = 0;\nif (r.skip === undefined) r.skip = 0;\n\n// Nur wenn erfolgreich UND create-Action, müssen wir alte Dateien prüfen\nif (!githubResponse.error && r.action === 'create' && r.workflowId) {\n  // Bereite Ordner-Pfad vor\n  const ordnerPfad = `n8n/${r.workflowId}`;\n  const aktuelleDatei = r.dateipfad.split('/').pop();\n  \n  return {\n    ...r,\n    githubResponse: githubResponse,\n    ordnerPfad: ordnerPfad,\n    aktuelleDatei: aktuelleDatei,\n    mussPruefen: true,\n    alteDateien: r.alteDateien || []\n  };\n}\n\n// Keine Prüfung nötig - direkt zur Statistik\nreturn {\n  ...r,\n  githubResponse: githubResponse,\n  mussPruefen: false,\n  alteDateien: r.alteDateien || []\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        5056
      ],
      "id": "fd94e101-231a-4cdc-8b7b-2a4dbdbf2e10",
      "name": "Prüfe alte Dateien"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-muss-pruefen",
              "leftValue": "={{ $json.mussPruefen }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        5056
      ],
      "id": "c4261d6d-e3b1-4d66-864f-fbb67668c9d4",
      "name": "Prüfe ob Ordner prüfen"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "peerendees",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
        },
        "filePath": "={{ $json.ordnerPfad }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -224,
        4992
      ],
      "id": "75ae8da2-82a3-4c93-a03d-2eebbe177661",
      "name": "Liste Ordner",
      "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
      "credentials": {
        "githubApi": {
          "id": "uE78TkEY6lWLV4oP",
          "name": "API GitHub"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Finde alte Dateien im Ordner und bereite sie zum Löschen vor\nconst r = $json;\nconst ordnerInhaltNode = $node[\"Liste Ordner\"];\n\n// Wenn Node nicht ausgeführt wurde oder Fehler, überspringe\nif (!ordnerInhaltNode || !ordnerInhaltNode.json) {\n  return {\n    ...r,\n    alteDateien: []\n  };\n}\n\nconst ordnerInhalt = ordnerInhaltNode.json;\n\n// GitHub API gibt bei Ordner-Liste ein Array zurück\n// Wenn Fehler oder kein Array, überspringe\nif (ordnerInhalt.error || !Array.isArray(ordnerInhalt)) {\n  return {\n    ...r,\n    alteDateien: []\n  };\n}\n\n// Finde alle JSON-Dateien außer der aktuellen\nconst alteDateien = ordnerInhalt\n  .filter(file => file.type === 'file' && file.name && file.name.endsWith('.json') && file.name !== r.aktuelleDatei)\n  .map(file => ({\n    path: file.path,\n    name: file.name,\n    sha: file.sha\n  }));\n\nreturn {\n  ...r,\n  alteDateien: alteDateien\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        4992
      ],
      "id": "88569246-031c-4067-a95a-b37b42bf067d",
      "name": "Finde alte Dateien"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-alte-dateien",
              "leftValue": "={{ $json.alteDateien.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        4992
      ],
      "id": "6ed57361-8bab-43a7-8bab-0d76209ced09",
      "name": "Prüfe ob Löschen"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Erstelle Lösch-Items für jede alte Datei\nconst r = $json;\nconst alteDateien = r.alteDateien || [];\n\nreturn alteDateien.map(datei => ({\n  ...r,\n  zuLoeschendeDatei: datei.path,\n  zuLoeschendeSha: datei.sha,\n  zuLoeschenderName: datei.name\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        4912
      ],
      "id": "22c4fff8-8c6b-4487-b995-18c61698f9f9",
      "name": "Vorbereite Löschen"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/peerendees/n8n-workflows/contents/{{ $json.zuLoeschendeDatei }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=🗑️ Auto-Backup: Alte Datei gelöscht (Workflow umbenannt)"
            },
            {
              "name": "sha",
              "value": "={{ $json.zuLoeschendeSha }}"
            },
            {
              "name": "branch",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        4912
      ],
      "id": "e4ef9df4-acb6-491b-a4b8-2e7773e14063",
      "name": "Lösche alte Datei",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aZMd0okvVFkvyGnj",
          "name": "GitHub Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Aktualisiere Statistiken\n// Hole Rucksack von Prüfe alte Dateien\nlet r;\ntry {\n  r = $node[\"Prüfe alte Dateien\"].json;\n} catch (e) {\n  // Fallback: Hole von Bestimme Handlung\n  try {\n    r = $node[\"Bestimme Handlung\"].json;\n  } catch (e2) {\n    r = {};\n  }\n}\n\n// Stelle sicher, dass r ein Objekt ist\nif (!r || typeof r !== 'object') {\n  r = {};\n}\n\nconst githubResponse = r.githubResponse || {};\n\n// Stelle sicher, dass alle Felder vorhanden sind\nif (!Array.isArray(r.tabelle)) r.tabelle = [];\nif (typeof r.neu !== 'number') r.neu = 0;\nif (typeof r.updates !== 'number') r.updates = 0;\nif (typeof r.skip !== 'number') r.skip = 0;\nif (typeof r.index !== 'number') r.index = 0;\nif (!Array.isArray(r.alteDateien)) r.alteDateien = [];\n\nif (r.action === 'create') {\n  r.neu++;\n} else if (r.action === 'update') {\n  r.updates++;\n} else {\n  r.skip++;\n}\n\n// Füge zur Tabelle hinzu\nif (r.action !== 'skip') {\n  const status = githubResponse.error ? '❌ Fehler' : '✅ Erfolg';\n  const alteDateienInfo = r.alteDateien && r.alteDateien.length > 0 ? ` (${r.alteDateien.length} alte Datei${r.alteDateien.length > 1 ? 'en' : ''} gelöscht)` : '';\n  r.tabelle.push(`${status} ${r.action === 'create' ? 'NEU' : 'UPDATE'}: ${r.workflowName || 'Unbekannt'}${alteDateienInfo}`);\n}\n\n// Zähler erhöhen\nr.index++;\n\nreturn r;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        5200
      ],
      "id": "7427fd5d-2515-448b-a4e4-3973392597c8",
      "name": "Aktualisiere Statistik"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Wenn skip: Aktualisiere Statistik direkt\nlet r = $json || {};\n\n// Stelle sicher, dass alle Felder vorhanden sind\nif (typeof r.skip !== 'number') r.skip = 0;\nif (typeof r.index !== 'number') r.index = 0;\nif (!Array.isArray(r.tabelle)) r.tabelle = [];\nif (typeof r.neu !== 'number') r.neu = 0;\nif (typeof r.updates !== 'number') r.updates = 0;\n\nr.skip++;\nr.index++;\n\nreturn r;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        5344
      ],
      "id": "db70d793-d255-4038-9914-5765532017eb",
      "name": "Skip Statistik"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-loop",
              "leftValue": "={{ $json.index }}",
              "rightValue": "={{ $json.anzahl }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        5344
      ],
      "id": "696994e5-b6dc-4ec7-ab78-f6c63b517bf3",
      "name": "Schleife prüfen"
    },
    {
      "parameters": {
        "jsCode": "const r = $json;\nconst wort = r.anzahl === 1 ? 'Workflow' : 'Workflows';\n\nreturn {\n  hasChanges: true,\n  text: `✅ Backup beendet: ${r.anzahl} ${wort} geprüft.\\n` +\n        `Ergebnis: ${r.neu} neu, ${r.updates} aktualisiert, ${r.geloescht || 0} gelöscht, ${r.skip} unverändert.\\n\\n` +\n        `${r.tabelle.join('\\n') || 'Keine Änderungen'}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        5344
      ],
      "id": "bf8f89a0-e012-4b0c-855b-333fe0471401",
      "name": "Backup-Statistik"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "threema-secret",
              "name": "secret",
              "value": "18DOvPKBV7ize3Nh",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2912,
        5152
      ],
      "id": "6c237083-6db5-4f7a-b0ce-f16a346f03c7",
      "name": "Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-has-changes",
              "leftValue": "={{ $json.hasChanges }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        5344
      ],
      "id": "4686757c-c72d-4b57-bc74-9ef3f126b08c",
      "name": "Prüfe Änderungen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://msgapi.threema.ch/send_simple",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "*BERENT1"
            },
            {
              "name": "to",
              "value": "BUMFMZ39"
            },
            {
              "name": "secret",
              "value": "={{ $('Config').first().json.secret }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}\n\n🔗 https://github.com/peerendees/n8n-workflows/n8n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        5344
      ],
      "id": "8fa0f922-41fc-48b7-8797-d2d4318f0310",
      "name": "Threema Benachrichtigung",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nSNvIRCSAnKXrLyH",
          "name": "API Threema Work BERENT1"
        }
      }
    }
  ],
  "connections": {
    "Zeitplan: alle 15 Minuten": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Hole alle Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole alle Workflows": {
      "main": [
        [
          {
            "node": "Initialisierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialisierung": {
      "main": [
        [
          {
            "node": "Extrahiere Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrahiere Workflow": {
      "main": [
        [
          {
            "node": "Check Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip": {
      "main": [
        [
          {
            "node": "Prüfe GitHub Datei",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Statistik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe GitHub Datei": {
      "main": [
        [
          {
            "node": "Bestimme Handlung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestimme Handlung": {
      "main": [
        [
          {
            "node": "Prüfe ob Sichern/Löschen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe ob Sichern/Löschen": {
      "main": [
        [
          {
            "node": "Entscheide Löschen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Statistik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entscheide Löschen": {
      "main": [
        [
          {
            "node": "Lösche Archivdatei",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sichere auf GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lösche Archivdatei": {
      "main": [
        [
          {
            "node": "Aktualisiere Statistik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Statistik": {
      "main": [
        [
          {
            "node": "Schleife prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sichere auf GitHub": {
      "main": [
        [
          {
            "node": "Prüfe alte Dateien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe alte Dateien": {
      "main": [
        [
          {
            "node": "Prüfe ob Ordner prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe ob Ordner prüfen": {
      "main": [
        [
          {
            "node": "Liste Ordner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aktualisiere Statistik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liste Ordner": {
      "main": [
        [
          {
            "node": "Finde alte Dateien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finde alte Dateien": {
      "main": [
        [
          {
            "node": "Prüfe ob Löschen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe ob Löschen": {
      "main": [
        [
          {
            "node": "Vorbereite Löschen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aktualisiere Statistik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vorbereite Löschen": {
      "main": [
        [
          {
            "node": "Lösche alte Datei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lösche alte Datei": {
      "main": [
        [
          {
            "node": "Aktualisiere Statistik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aktualisiere Statistik": {
      "main": [
        [
          {
            "node": "Schleife prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schleife prüfen": {
      "main": [
        [
          {
            "node": "Extrahiere Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backup-Statistik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup-Statistik": {
      "main": [
        [
          {
            "node": "Prüfe Änderungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe Änderungen": {
      "main": [
        [
          {
            "node": "Threema Benachrichtigung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Zeitplan: alle 15 Minuten": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "bc92fdda-5349-4c49-aff9-e795d512c1fe",
  "activeVersionId": "bc92fdda-5349-4c49-aff9-e795d512c1fe",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-02T15:51:21.902Z",
      "createdAt": "2026-01-02T15:51:21.902Z",
      "role": "workflow:owner",
      "workflowId": "b2iHqxoS7bY4geyi",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-21T19:08:42.000Z",
    "createdAt": "2026-01-21T19:08:32.809Z",
    "versionId": "bc92fdda-5349-4c49-aff9-e795d512c1fe",
    "workflowId": "b2iHqxoS7bY4geyi",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
        },
        "id": "32fd067e-81c7-44d8-98c5-7747879d2862",
        "name": "Zeitplan: alle 15 Minuten",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -3136,
          5152
        ]
      },
      {
        "parameters": {
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2688,
          5152
        ],
        "id": "51839667-b5af-4082-952f-5b9e7f976de8",
        "name": "Hole alle Workflows",
        "credentials": {
          "httpHeaderAuth": {
            "id": "oaJkHRuARNWjW2UA",
            "name": "API n8n für n8n"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const workflows = $json.data || [];\nreturn {\n  workflows: workflows,\n  index: 0,\n  anzahl: workflows.length,\n  neu: 0,\n  updates: 0,\n  geloescht: 0,\n  skip: 0,\n  tabelle: []\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2464,
          5152
        ],
        "id": "2b930da8-2e1e-470c-abb9-9fa67dfe343f",
        "name": "Initialisierung"
      },
      {
        "parameters": {
          "content": "## Version v4.2\n- PUSH FIX & STATS STANDARDIZED\n- Benachrichtigung garantiert",
          "height": 113,
          "width": 234
        },
        "id": "a767638e-6963-40bf-bc16-3c585e4401ed",
        "name": "Version Marker (v3.1)",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3248,
          5024
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-skip-condition",
                "leftValue": "={{ $json.skipIteration }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "6d93dd8e-58f7-474a-b936-4ad2da25b94e",
        "name": "Check Skip",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -2016,
          5088
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const r = $json; // Rucksack\nconst wf = r.workflows[r.index];\n\nconst workflowId = wf.id || '';\nconst workflowName = wf.name || 'Unnamed Workflow';\nconst cleanName = String(workflowName).replace(/[^a-zA-Z0-9-_äöüÄÖÜß ]/g, '').replace(/\\s+/g, '-').toLowerCase();\n\n// Neue Struktur: n8n/${workflowId}/${cleanName}.json\nconst dateipfad = `n8n/${workflowId}/${cleanName}.json`;\nconst workflowContent = Buffer.from(JSON.stringify(wf, null, 2)).toString('base64');\n\n// Archiv-Logik: löschen statt sichern?\nlet actionOverride = null;\nif (wf.isArchived === true) {\n  actionOverride = 'delete';\n}\n\nreturn {\n  ...r,\n  workflowId: workflowId,\n  workflowName: workflowName,\n  workflowData: wf,\n  dateipfad: dateipfad,\n  workflowContent: workflowContent,\n  updatedAt: wf.updatedAt || wf.createdAt || new Date().toISOString(),\n  actionOverride: actionOverride,\n  skipIteration: false\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2240,
          5152
        ],
        "id": "7a4b1b5c-8f5e-4fd3-8a68-8e45dfd54974",
        "name": "Extrahiere Workflow"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "peerendees",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": "n8n-workflows",
            "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
          },
          "filePath": "={{ $json.dateipfad }}",
          "asBinaryProperty": false,
          "additionalParameters": {
            "reference": "main"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1792,
          5008
        ],
        "id": "a5f6ef16-a3ed-40ce-897b-7c0f133f518d",
        "name": "Prüfe GitHub Datei",
        "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
        "credentials": {
          "githubApi": {
            "id": "uE78TkEY6lWLV4oP",
            "name": "API GitHub"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const r = $node[\"Extrahiere Workflow\"].json;\nconst githubFile = $node[\"Prüfe GitHub Datei\"].json;\n\nlet action = 'skip';\nlet sha = null;\n\n// Falls im vorherigen Node bereits 'delete' bestimmt wurde (weil archiviert)\nif (r.actionOverride === 'delete') {\n  if (githubFile && !githubFile.error && githubFile.sha) {\n    action = 'delete';\n    sha = githubFile.sha;\n  } else {\n    action = 'skip'; // Archiviert but not on GitHub\n  }\n} else if (githubFile && !githubFile.error && githubFile.sha) {\n  sha = githubFile.sha;\n  const remoteContent = (githubFile.content || '').replace(/\\s/g, '');\n  const localContent = (r.workflowContent || '').replace(/\\s/g, '');\n  if (remoteContent !== localContent) {\n    action = 'update';\n  }\n} else {\n  action = 'create';\n}\n\nreturn {\n  ...r,\n  action: action,\n  sha: sha\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1568,
          5008
        ],
        "id": "b1c10835-5c85-4763-8523-2b0b8ccfd110",
        "name": "Bestimme Handlung"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-is-skip",
                "leftValue": "={{ $json.action }}",
                "rightValue": "skip",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "04b1f1cb-e019-4638-91d5-f7a468ff3540",
        "name": "Prüfe ob Sichern/Löschen",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1344,
          5008
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "check-is-delete",
                "leftValue": "={{ $json.action }}",
                "rightValue": "delete",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "b0f07bbf-d1f8-464e-ab38-3a2eb6996154",
        "name": "Entscheide Löschen",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1120,
          4960
        ]
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api.github.com/repos/peerendees/n8n-workflows/contents/{{ $json.dateipfad }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "=🗑️ Auto-Backup: Archivierten Workflow von GitHub gelöscht"
              },
              {
                "name": "sha",
                "value": "={{ $json.sha }}"
              },
              {
                "name": "branch",
                "value": "main"
              }
            ]
          },
          "options": {}
        },
        "id": "7d0e9043-7da7-4a2e-9f37-cffc9868c97c",
        "name": "Lösche Archivdatei",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          672,
          4720
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "aZMd0okvVFkvyGnj",
            "name": "GitHub Token"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.github.com/repos/peerendees/n8n-workflows/contents/{{ $json.dateipfad }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "=🤖 Auto-Backup: {{ $json.workflowName }} ({{ $json.action }})"
              },
              {
                "name": "content",
                "value": "={{ $json.workflowContent }}"
              },
              {
                "name": "branch",
                "value": "main"
              },
              {
                "name": "sha",
                "value": "={{ $json.sha || undefined }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -896,
          5056
        ],
        "id": "7507c1b6-3084-448f-8096-909057259167",
        "name": "Sichere auf GitHub",
        "credentials": {
          "httpHeaderAuth": {
            "id": "aZMd0okvVFkvyGnj",
            "name": "GitHub Token"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Prüfe ob erfolgreich gespeichert und ob alte Dateien gelöscht werden müssen\n// Hole Daten aus beiden vorherigen Nodes\nconst r = $node[\"Bestimme Handlung\"].json;\nconst githubResponse = $json;\n\n// Stelle sicher, dass alle benötigten Felder vorhanden sind\nif (!r.tabelle) r.tabelle = [];\nif (r.neu === undefined) r.neu = 0;\nif (r.updates === undefined) r.updates = 0;\nif (r.skip === undefined) r.skip = 0;\n\n// Nur wenn erfolgreich UND create-Action, müssen wir alte Dateien prüfen\nif (!githubResponse.error && r.action === 'create' && r.workflowId) {\n  // Bereite Ordner-Pfad vor\n  const ordnerPfad = `n8n/${r.workflowId}`;\n  const aktuelleDatei = r.dateipfad.split('/').pop();\n  \n  return {\n    ...r,\n    githubResponse: githubResponse,\n    ordnerPfad: ordnerPfad,\n    aktuelleDatei: aktuelleDatei,\n    mussPruefen: true,\n    alteDateien: r.alteDateien || []\n  };\n}\n\n// Keine Prüfung nötig - direkt zur Statistik\nreturn {\n  ...r,\n  githubResponse: githubResponse,\n  mussPruefen: false,\n  alteDateien: r.alteDateien || []\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -672,
          5056
        ],
        "id": "fd94e101-231a-4cdc-8b7b-2a4dbdbf2e10",
        "name": "Prüfe alte Dateien"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-muss-pruefen",
                "leftValue": "={{ $json.mussPruefen }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -448,
          5056
        ],
        "id": "c4261d6d-e3b1-4d66-864f-fbb67668c9d4",
        "name": "Prüfe ob Ordner prüfen"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "peerendees",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": "n8n-workflows",
            "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
          },
          "filePath": "={{ $json.ordnerPfad }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -224,
          4992
        ],
        "id": "75ae8da2-82a3-4c93-a03d-2eebbe177661",
        "name": "Liste Ordner",
        "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
        "credentials": {
          "githubApi": {
            "id": "uE78TkEY6lWLV4oP",
            "name": "API GitHub"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Finde alte Dateien im Ordner und bereite sie zum Löschen vor\nconst r = $json;\nconst ordnerInhaltNode = $node[\"Liste Ordner\"];\n\n// Wenn Node nicht ausgeführt wurde oder Fehler, überspringe\nif (!ordnerInhaltNode || !ordnerInhaltNode.json) {\n  return {\n    ...r,\n    alteDateien: []\n  };\n}\n\nconst ordnerInhalt = ordnerInhaltNode.json;\n\n// GitHub API gibt bei Ordner-Liste ein Array zurück\n// Wenn Fehler oder kein Array, überspringe\nif (ordnerInhalt.error || !Array.isArray(ordnerInhalt)) {\n  return {\n    ...r,\n    alteDateien: []\n  };\n}\n\n// Finde alle JSON-Dateien außer der aktuellen\nconst alteDateien = ordnerInhalt\n  .filter(file => file.type === 'file' && file.name && file.name.endsWith('.json') && file.name !== r.aktuelleDatei)\n  .map(file => ({\n    path: file.path,\n    name: file.name,\n    sha: file.sha\n  }));\n\nreturn {\n  ...r,\n  alteDateien: alteDateien\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          4992
        ],
        "id": "88569246-031c-4067-a95a-b37b42bf067d",
        "name": "Finde alte Dateien"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-alte-dateien",
                "leftValue": "={{ $json.alteDateien.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          224,
          4992
        ],
        "id": "6ed57361-8bab-43a7-8bab-0d76209ced09",
        "name": "Prüfe ob Löschen"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Erstelle Lösch-Items für jede alte Datei\nconst r = $json;\nconst alteDateien = r.alteDateien || [];\n\nreturn alteDateien.map(datei => ({\n  ...r,\n  zuLoeschendeDatei: datei.path,\n  zuLoeschendeSha: datei.sha,\n  zuLoeschenderName: datei.name\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          4912
        ],
        "id": "22c4fff8-8c6b-4487-b995-18c61698f9f9",
        "name": "Vorbereite Löschen"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api.github.com/repos/peerendees/n8n-workflows/contents/{{ $json.zuLoeschendeDatei }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "message",
                "value": "=🗑️ Auto-Backup: Alte Datei gelöscht (Workflow umbenannt)"
              },
              {
                "name": "sha",
                "value": "={{ $json.zuLoeschendeSha }}"
              },
              {
                "name": "branch",
                "value": "main"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          4912
        ],
        "id": "e4ef9df4-acb6-491b-a4b8-2e7773e14063",
        "name": "Lösche alte Datei",
        "credentials": {
          "httpHeaderAuth": {
            "id": "aZMd0okvVFkvyGnj",
            "name": "GitHub Token"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Aktualisiere Statistiken\n// Hole Rucksack von Prüfe alte Dateien\nlet r;\ntry {\n  r = $node[\"Prüfe alte Dateien\"].json;\n} catch (e) {\n  // Fallback: Hole von Bestimme Handlung\n  try {\n    r = $node[\"Bestimme Handlung\"].json;\n  } catch (e2) {\n    r = {};\n  }\n}\n\n// Stelle sicher, dass r ein Objekt ist\nif (!r || typeof r !== 'object') {\n  r = {};\n}\n\nconst githubResponse = r.githubResponse || {};\n\n// Stelle sicher, dass alle Felder vorhanden sind\nif (!Array.isArray(r.tabelle)) r.tabelle = [];\nif (typeof r.neu !== 'number') r.neu = 0;\nif (typeof r.updates !== 'number') r.updates = 0;\nif (typeof r.skip !== 'number') r.skip = 0;\nif (typeof r.index !== 'number') r.index = 0;\nif (!Array.isArray(r.alteDateien)) r.alteDateien = [];\n\nif (r.action === 'create') {\n  r.neu++;\n} else if (r.action === 'update') {\n  r.updates++;\n} else {\n  r.skip++;\n}\n\n// Füge zur Tabelle hinzu\nif (r.action !== 'skip') {\n  const status = githubResponse.error ? '❌ Fehler' : '✅ Erfolg';\n  const alteDateienInfo = r.alteDateien && r.alteDateien.length > 0 ? ` (${r.alteDateien.length} alte Datei${r.alteDateien.length > 1 ? 'en' : ''} gelöscht)` : '';\n  r.tabelle.push(`${status} ${r.action === 'create' ? 'NEU' : 'UPDATE'}: ${r.workflowName || 'Unbekannt'}${alteDateienInfo}`);\n}\n\n// Zähler erhöhen\nr.index++;\n\nreturn r;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          5200
        ],
        "id": "7427fd5d-2515-448b-a4e4-3973392597c8",
        "name": "Aktualisiere Statistik"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Wenn skip: Aktualisiere Statistik direkt\nlet r = $json || {};\n\n// Stelle sicher, dass alle Felder vorhanden sind\nif (typeof r.skip !== 'number') r.skip = 0;\nif (typeof r.index !== 'number') r.index = 0;\nif (!Array.isArray(r.tabelle)) r.tabelle = [];\nif (typeof r.neu !== 'number') r.neu = 0;\nif (typeof r.updates !== 'number') r.updates = 0;\n\nr.skip++;\nr.index++;\n\nreturn r;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1120,
          5344
        ],
        "id": "db70d793-d255-4038-9914-5765532017eb",
        "name": "Skip Statistik"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-loop",
                "leftValue": "={{ $json.index }}",
                "rightValue": "={{ $json.anzahl }}",
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1120,
          5344
        ],
        "id": "696994e5-b6dc-4ec7-ab78-f6c63b517bf3",
        "name": "Schleife prüfen"
      },
      {
        "parameters": {
          "jsCode": "const r = $json;\nconst wort = r.anzahl === 1 ? 'Workflow' : 'Workflows';\n\nreturn {\n  hasChanges: true,\n  text: `✅ Backup beendet: ${r.anzahl} ${wort} geprüft.\\n` +\n        `Ergebnis: ${r.neu} neu, ${r.updates} aktualisiert, ${r.geloescht || 0} gelöscht, ${r.skip} unverändert.\\n\\n` +\n        `${r.tabelle.join('\\n') || 'Keine Änderungen'}`\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          5344
        ],
        "id": "bf8f89a0-e012-4b0c-855b-333fe0471401",
        "name": "Backup-Statistik"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "threema-secret",
                "name": "secret",
                "value": "18DOvPKBV7ize3Nh",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2912,
          5152
        ],
        "id": "6c237083-6db5-4f7a-b0ce-f16a346f03c7",
        "name": "Config"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-has-changes",
                "leftValue": "={{ $json.hasChanges }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1568,
          5344
        ],
        "id": "4686757c-c72d-4b57-bc74-9ef3f126b08c",
        "name": "Prüfe Änderungen"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://msgapi.threema.ch/send_simple",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "from",
                "value": "*BERENT1"
              },
              {
                "name": "to",
                "value": "BUMFMZ39"
              },
              {
                "name": "secret",
                "value": "={{ $('Config').first().json.secret }}"
              },
              {
                "name": "text",
                "value": "={{ $json.text }}\n\n🔗 https://github.com/peerendees/n8n-workflows/n8n"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1792,
          5344
        ],
        "id": "8fa0f922-41fc-48b7-8797-d2d4318f0310",
        "name": "Threema Benachrichtigung",
        "credentials": {
          "httpHeaderAuth": {
            "id": "nSNvIRCSAnKXrLyH",
            "name": "API Threema Work BERENT1"
          }
        }
      }
    ],
    "connections": {
      "Zeitplan: alle 15 Minuten": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Hole alle Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hole alle Workflows": {
        "main": [
          [
            {
              "node": "Initialisierung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Initialisierung": {
        "main": [
          [
            {
              "node": "Extrahiere Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrahiere Workflow": {
        "main": [
          [
            {
              "node": "Check Skip",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Skip": {
        "main": [
          [
            {
              "node": "Prüfe GitHub Datei",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Skip Statistik",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe GitHub Datei": {
        "main": [
          [
            {
              "node": "Bestimme Handlung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bestimme Handlung": {
        "main": [
          [
            {
              "node": "Prüfe ob Sichern/Löschen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe ob Sichern/Löschen": {
        "main": [
          [
            {
              "node": "Entscheide Löschen",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Skip Statistik",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Entscheide Löschen": {
        "main": [
          [
            {
              "node": "Lösche Archivdatei",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sichere auf GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lösche Archivdatei": {
        "main": [
          [
            {
              "node": "Aktualisiere Statistik",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skip Statistik": {
        "main": [
          [
            {
              "node": "Schleife prüfen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sichere auf GitHub": {
        "main": [
          [
            {
              "node": "Prüfe alte Dateien",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe alte Dateien": {
        "main": [
          [
            {
              "node": "Prüfe ob Ordner prüfen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe ob Ordner prüfen": {
        "main": [
          [
            {
              "node": "Liste Ordner",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aktualisiere Statistik",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Liste Ordner": {
        "main": [
          [
            {
              "node": "Finde alte Dateien",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finde alte Dateien": {
        "main": [
          [
            {
              "node": "Prüfe ob Löschen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe ob Löschen": {
        "main": [
          [
            {
              "node": "Vorbereite Löschen",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aktualisiere Statistik",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vorbereite Löschen": {
        "main": [
          [
            {
              "node": "Lösche alte Datei",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lösche alte Datei": {
        "main": [
          [
            {
              "node": "Aktualisiere Statistik",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aktualisiere Statistik": {
        "main": [
          [
            {
              "node": "Schleife prüfen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schleife prüfen": {
        "main": [
          [
            {
              "node": "Extrahiere Workflow",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Backup-Statistik",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Backup-Statistik": {
        "main": [
          [
            {
              "node": "Prüfe Änderungen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe Änderungen": {
        "main": [
          [
            {
              "node": "Threema Benachrichtigung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marcus Kunkel",
    "name": "Version bc92fdda",
    "description": "",
    "autosaved": true
  },
  "tags": []
}