n8n/lcGaB_uCQ0rhck3yJ1biW/hedy-nach-notion-meeting---optimiert.json
{
  "id": "lcGaB_uCQ0rhck3yJ1biW",
  "name": "Hedy nach Notion Meeting - Optimiert",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const title = $input.first().json.body.title || 'Ohne Titel';\nlet firstPart = title.split('-')[0].trim();\nfirstPart = firstPart.replace(/\\s+/g, '_');\n\nreturn [{\n  json: {\n    originalTitle: title,\n    splittedTitle: firstPart\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        432
      ],
      "id": "473d5e5a-dbee-4241-a8d0-7e3137e5456b",
      "name": "Bereinige Titel"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Webhook1').item.json.body.meeting_minutes }}\n\n--- RECAP ---\n{{ $('Webhook1').item.json.body.recap }}\n\n--- TRANSCRIPT ---\n{{ $('Webhook1').item.json.body.transcript }}",
        "name": "={{ $('Webhook1').item.json.body.startTime.split('T')[0].replace(/-/g, '') + '_' + $json.splittedTitle }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1bvsCIvMX3KQN6H1Y6K0dZBT15QkjiuXN",
          "mode": "list"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5504,
        432
      ],
      "id": "cfb8900f-703d-419e-accd-7acd4f29ade1",
      "name": "Erstelle Google Doc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b61d203-9201-4eb7-b013-f5221ce07e02",
              "name": "Name",
              "value": "={{ $('Webhook1').item.json.body.title }}",
              "type": "string"
            },
            {
              "id": "4326a680-e743-42ec-a8c6-0964fae18fc2",
              "name": "Start",
              "value": "={{ $('Webhook1').item.json.body.startTime }}",
              "type": "string"
            },
            {
              "id": "a7ea7207-f120-4a3f-8e58-5d1accf35815",
              "name": "Ende",
              "value": "={{ $('Webhook1').item.json.body.endTime }}",
              "type": "string"
            },
            {
              "id": "38145c04-dfa3-416f-bd3b-60a77728b72d",
              "name": "Protokoll",
              "value": "={{ $('Erstelle Google Doc').item.json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5728,
        432
      ],
      "id": "5e725416-1a2d-4622-9b04-b087387dfda8",
      "name": "Felder für Notion"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "52725d9c-a328-4e83-b4ec-bcae1c8513ca",
          "mode": "list"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Titel|title",
              "title": "={{ $json.Name }}"
            },
            {
              "key": "Beginn|date",
              "date": "={{ $json.Start }}"
            },
            {
              "key": "Ende|date",
              "date": "={{ $json.Ende }}"
            },
            {
              "key": "Protokoll|url",
              "urlValue": "={{ $json.Protokoll }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        5952,
        432
      ],
      "id": "203615c7-3edf-48bf-bfe6-584717a5d598",
      "name": "Notion Seite erstellen"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "Zusammenfassung (Minutes)"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        6176,
        432
      ],
      "id": "72ba2907-caa6-45b9-bc23-3347299fe3c0",
      "name": "Header Minutes"
    },
    {
      "parameters": {
        "jsCode": "const FIELD = 'meeting_minutes';\nconst CHUNK_SIZE = 1900;\nconst text = $items('Webhook1')[0].json.body[FIELD] || '';\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\nreturn [{ json: { chunks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        432
      ],
      "id": "04a17776-d1fb-4644-93a2-7c2ecf393186",
      "name": "Chunk Minutes"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6624,
        432
      ],
      "id": "915b4040-da7c-4a84-af03-3e01b7c3537e",
      "name": "Split Minutes"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Notion Seite erstellen').item.json.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.chunks }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        6848,
        432
      ],
      "id": "686aa041-36dc-4523-bdd6-2bf8b81aca2f",
      "name": "Write Minutes"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$itemIndex}}",
              "rightValue": "={{$node[\"Split Minutes\"].context.itemCount - 1}}",
              "operator": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7072,
        432
      ],
      "id": "95fa3b17-4935-4416-8b1a-8ebd1799546f",
      "name": "Last Minutes Chunk?"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Notion Seite erstellen').first().json.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "Recap"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        7296,
        432
      ],
      "id": "6b23f45e-0062-4c50-84e1-87d7fc4ddb52",
      "name": "Header Recap"
    },
    {
      "parameters": {
        "jsCode": "const FIELD = 'recap';\nconst CHUNK_SIZE = 1900;\nconst text = $items('Webhook1')[0].json.body[FIELD] || '';\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\nreturn [{ json: { chunks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7520,
        432
      ],
      "id": "a9a354a6-828e-443e-b56b-4e6fc8d449dd",
      "name": "Chunk Recap"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7744,
        432
      ],
      "id": "0c51a819-0aec-4852-a3c4-fb6a63126682",
      "name": "Split Recap"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Notion Seite erstellen').first().json.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.chunks }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        7968,
        432
      ],
      "id": "121ae336-4456-441a-bfdb-f3193ea6fbb3",
      "name": "Write Recap"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$itemIndex}}",
              "rightValue": "={{$node[\"Split Recap\"].context.itemCount - 1}}",
              "operator": "equals"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8192,
        432
      ],
      "id": "45e1abdc-b66d-4dba-a754-00823b2c8b83",
      "name": "Last Recap Chunk?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hedy-nach-notion-ddd6468b-6d6e-4160-afa8-c5733d265335",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        5056,
        432
      ],
      "id": "5c20ed9d-6f9a-4603-9406-2fac23c31acd",
      "name": "Webhook1",
      "webhookId": "5876b178-8f5e-4070-b455-bd6b29c08aed"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Notion Seite erstellen').first().json.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.chunks }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        9088,
        432
      ],
      "id": "dd468fcf-c6e3-4527-96e2-8295bdc5519e",
      "name": "Transkript schreiben"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        8864,
        432
      ],
      "id": "52581f46-185d-40d7-832d-ba16b4daee76",
      "name": "Transkript aufteilen"
    },
    {
      "parameters": {
        "jsCode": "const FIELD = 'transcript';\nconst CHUNK_SIZE = 1900;\nconst text = $items('Webhook1')[0].json.body[FIELD] || '';\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\nreturn [{ json: { chunks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8640,
        432
      ],
      "id": "fb37ba9d-b8b1-4c25-a9e8-1fed4fd734e3",
      "name": "Transkript chuncken"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Notion Seite erstellen').first().json.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "Transcript"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        8416,
        432
      ],
      "id": "d9b1345a-32e1-4297-afcb-d000ba3e8128",
      "name": "Transkript Kopfbereich"
    }
  ],
  "connections": {
    "Bereinige Titel": {
      "main": [
        [
          {
            "node": "Erstelle Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erstelle Google Doc": {
      "main": [
        [
          {
            "node": "Felder für Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Felder für Notion": {
      "main": [
        [
          {
            "node": "Notion Seite erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Seite erstellen": {
      "main": [
        [
          {
            "node": "Header Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Header Minutes": {
      "main": [
        [
          {
            "node": "Chunk Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Minutes": {
      "main": [
        [
          {
            "node": "Split Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Minutes": {
      "main": [
        [
          {
            "node": "Write Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Minutes": {
      "main": [
        [
          {
            "node": "Last Minutes Chunk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Minutes Chunk?": {
      "main": [
        [
          {
            "node": "Header Recap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Header Recap": {
      "main": [
        [
          {
            "node": "Chunk Recap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Recap": {
      "main": [
        [
          {
            "node": "Split Recap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Recap": {
      "main": [
        [
          {
            "node": "Write Recap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Recap": {
      "main": [
        [
          {
            "node": "Last Recap Chunk?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Recap Chunk?": {
      "main": [
        [
          {
            "node": "Transkript Kopfbereich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Bereinige Titel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkript aufteilen": {
      "main": [
        [
          {
            "node": "Transkript schreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkript chuncken": {
      "main": [
        [
          {
            "node": "Transkript aufteilen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transkript Kopfbereich": {
      "main": [
        [
          {
            "node": "Transkript chuncken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-27T07:39:04.417Z",
      "createdAt": "2026-01-27T07:39:04.417Z",
      "role": "workflow:owner",
      "workflowId": "lcGaB_uCQ0rhck3yJ1biW",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": null
}