n8n/lcGaB_uCQ0rhck3yJ1biW/lcGaB_uCQ0rhck3yJ1biW.json
{"active":true,"connections":{"Bereinige Titel":{"main":[[{"index":0,"node":"Speichere Meeting Daten","type":"main"}]]},"Chunk Minutes":{"main":[[{"index":0,"node":"Loop Minutes","type":"main"}]]},"Chunk Recap":{"main":[[{"index":0,"node":"Loop Recap","type":"main"}]]},"Chunk Transcript":{"main":[[{"index":0,"node":"Loop Transcript","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Bereinige Titel","type":"main"}]]},"Config Poll":{"main":[[{"index":0,"node":"Wait Before Poll","type":"main"}]]},"Delete Google Doc1":{"main":[[{"index":0,"node":"Löschen bestätigen E2E","type":"main"}]]},"Erstelle Google Doc":{"main":[[{"index":0,"node":"Felder für Notion","type":"main"}]]},"Felder für Notion":{"main":[[{"index":0,"node":"Notion Seite erstellen","type":"main"}]]},"Get Message Content":{"main":[[{"index":0,"node":"Parse Message","type":"main"}]]},"Hat neue Nachrichten?":{"main":[[{"index":0,"node":"Split Message IDs","type":"main"}],[{"index":0,"node":"Weiter pollen?","type":"main"}]]},"Header Minutes":{"main":[[{"index":0,"node":"Chunk Minutes","type":"main"}]]},"Header Recap":{"main":[[{"index":0,"node":"Chunk Recap","type":"main"}]]},"Header Transcript":{"main":[[{"index":0,"node":"Chunk Transcript","type":"main"}]]},"Init Polling":{"main":[[{"index":0,"node":"Config Poll","type":"main"}]]},"Ist relevante Antwort?":{"main":[[{"index":0,"node":"User sagte JA?1","type":"main"}]]},"Loop Minutes":{"main":[[{"index":0,"node":"Write Minutes","type":"main"}],[{"index":0,"node":"Header Recap","type":"main"}]]},"Loop Recap":{"main":[[{"index":0,"node":"Write Recap","type":"main"}],[{"index":0,"node":"Header Transcript","type":"main"}]]},"Loop Transcript":{"main":[[{"index":0,"node":"Write Transcript","type":"main"}],[{"index":0,"node":"Prepare Data","type":"main"}]]},"Notion Seite erstellen":{"main":[[{"index":0,"node":"Header Minutes","type":"main"}]]},"Parse Message":{"main":[[{"index":0,"node":"Ist relevante Antwort?","type":"main"}]]},"Poll Threema Messages":{"main":[[{"index":0,"node":"Process Poll Response","type":"main"}]]},"Prepare Data":{"main":[[{"index":0,"node":"Threema Send E2E","type":"main"}]]},"Process Poll Response":{"main":[[{"index":0,"node":"Hat neue Nachrichten?","type":"main"}]]},"Speichere Meeting Daten":{"main":[[{"index":0,"node":"Erstelle Google Doc","type":"main"}]]},"Split Message IDs":{"main":[[{"index":0,"node":"Get Message Content","type":"main"}]]},"User sagte JA?1":{"main":[[{"index":0,"node":"Delete Google Doc1","type":"main"}],[{"index":0,"node":"Behalten bestätigen E2E","type":"main"}]]},"Wait Before Poll":{"main":[[{"index":0,"node":"Poll Threema Messages","type":"main"}]]},"Webhook1":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"Weiter pollen?":{"main":[[{"index":0,"node":"Wait Before Poll","type":"main"}],[{"index":0,"node":"Timeout Message","type":"main"}]]},"Write Minutes":{"main":[[{"index":0,"node":"Loop Minutes","type":"main"}]]},"Write Recap":{"main":[[{"index":0,"node":"Loop Recap","type":"main"}]]},"Write Transcript":{"main":[[{"index":0,"node":"Loop Transcript","type":"main"}]]}},"name":"Hedy Transkripte zu Notion","nodes":[{"name":"Webhook1","parameters":{"httpMethod":"POST","options":{},"path":"hedy-transkripte-nach-notion"},"position":[5488,1648],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"0f7c7c4a-fc39-40c4-8b2b-80466fa3118a"},{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"CHUNK_SIZE","type":"number","value":1900},{"name":"threemaFrom","type":"string","value":"*BERENT2"},{"name":"threemaTo","type":"string","value":"BUMFMZ39"},{"name":"secret","type":"string","value":"2pLgi4h6RWJWr6AD"}]},"options":{}},"position":[5712,1648],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Bereinige Titel","parameters":{"jsCode":"const webhookBody = $('Webhook1').item.json.body;\n\nif (!webhookBody) {\n  throw new Error(\"Konnte keine Webhook-Daten finden. Prüfe den Namen des Webhook-Nodes!\");\n}\n\nlet title = webhookBody.title || webhookBody.event || \"Unbenanntes_Meeting\";\nlet firstPart = title.split('-')[0].trim();\nfirstPart = firstPart.replace(/\\s+/g, '_');\n\nreturn [\n  {\n    json: {\n      ...webhookBody, \n      originalTitle: title,\n      splittedTitle: firstPart\n    }\n  }\n];"},"position":[5936,1648],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Erstelle Google Doc","parameters":{"authentication":"serviceAccount","driveId":{"__rl":true,"cachedResultName":"My Drive","mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1DYocaBOYtWKqYV_6_tDrS7ikaSDyE498"},"name":"={{ ($('Webhook1').item.json.body.startTime || $('Webhook1').item.json.body.data.timestamp || new Date().toISOString()).split('T')[0].replace(/-/g, '') + '_' + ($json.splittedTitle || 'Meeting') }}","operation":"createFromText","options":{}},"position":[6384,1648],"type":"n8n-nodes-base.googleDrive","typeVersion":3},{"name":"Felder für Notion","parameters":{"assignments":{"assignments":[{"name":"Name","type":"string","value":"={{ $('Webhook1').item.json.body.title || $('Bereinige Titel').item.json.originalTitle || 'Test-Sitzung' }}"},{"name":"Start","type":"string","value":"={{ $('Webhook1').item.json.body.startTime || $('Webhook1').item.json.body.data.timestamp }}"},{"name":"Ende","type":"string","value":"={{ $('Webhook1').item.json.body.endTime || $('Webhook1').item.json.body.data.timestamp }}"},{"name":"Protokoll","type":"string","value":"=https://docs.google.com/document/d/{{ $('Erstelle Google Doc').item.json.id }}/edit"},{"name":"GoogleDocId","type":"string","value":"={{ $('Erstelle Google Doc').item.json.id }}"}]},"options":{}},"position":[6608,1648],"type":"n8n-nodes-base.set","typeVersion":3.4},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Notion Seite erstellen","parameters":{"databaseId":{"__rl":true,"cachedResultName":"Hedy Transkripte 0.9 Realtime Meeting Assistenz","mode":"list","value":"2ca31cc6-fd56-8079-8a58-d74ec1097a36"},"options":{"icon":"👓","iconType":"emoji"},"propertiesUi":{"propertyValues":[{"key":"Titel|title","title":"={{ $('Bereinige Titel').item.json.splittedTitle }}"},{"key":"Zusammenfassung|rich_text","textContent":"={{ $('Webhook1').item.json.body.recap.slice(0, 2000) }}"}]},"resource":"databasePage","simple":false,"title":"={{ $('Bereinige Titel').item.json.originalTitle }}"},"position":[6832,1648],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Header Minutes","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"blockUi":{"blockValues":[{"textContent":"Zusammenfassung (Minutes)","type":"heading_1"}]},"resource":"block"},"position":[7056,1648],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Chunk Minutes","parameters":{"jsCode":"const CHUNK_SIZE = 1900;\n\n// Hole die Daten direkt vom Webhook\nconst webhookData = $('Webhook1').first().json.body;\nconst text = webhookData.meeting_minutes || '';\n\n// Hole die Notion Page ID\nconst notionPageId = $('Notion Seite erstellen').first().json.id;\n\nconsole.log('Minutes Länge:', text.length);\nconsole.log('Notion Page ID:', notionPageId);\n\n// Erstelle Chunks\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\n\nconsole.log('Anzahl Minutes Chunks:', chunks.length);\n\nreturn chunks.map(chunk => ({ \n  json: { \n    chunk, \n    notionPageId: notionPageId\n  } \n}));"},"position":[7280,1648],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Loop Minutes","parameters":{"options":{}},"position":[7504,1648],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Write Minutes","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.notionPageId }}"},"blockUi":{"blockValues":[{"textContent":"={{ $json.chunk }}"}]},"resource":"block"},"position":[7728,1552],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Header Recap","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $('Notion Seite erstellen').first().json.id }}"},"blockUi":{"blockValues":[{"textContent":"Recap","type":"heading_1"}]},"resource":"block"},"position":[7728,1744],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Chunk Recap","parameters":{"jsCode":"const CHUNK_SIZE = 1900;\n\n// Hole die Daten direkt vom Webhook\nconst webhookData = $('Webhook1').first().json.body;\nconst text = webhookData.recap || '';\n\n// Hole die Notion Page ID\nconst notionPageId = $('Notion Seite erstellen').first().json.id;\n\nconsole.log('Recap Länge:', text.length);\nconsole.log('Notion Page ID:', notionPageId);\n\n// Erstelle Chunks\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\n\nconsole.log('Anzahl Recap Chunks:', chunks.length);\n\nreturn chunks.map(chunk => ({ \n  json: { \n    chunk, \n    notionPageId: notionPageId\n  } \n}));"},"position":[7952,1744],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Loop Recap","parameters":{"options":{}},"position":[8176,1744],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Write Recap","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.notionPageId }}"},"blockUi":{"blockValues":[{"textContent":"={{ $json.chunk }}"}]},"resource":"block"},"position":[8400,1504],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Header Transcript","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $('Notion Seite erstellen').first().json.id }}"},"blockUi":{"blockValues":[{"textContent":"Transcript","type":"heading_1"}]},"resource":"block"},"position":[8400,1696],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Chunk Transcript","parameters":{"jsCode":"const CHUNK_SIZE = 1900;\n\n// Hole die Daten direkt vom Webhook\nconst webhookData = $('Webhook1').first().json.body;\nconst text = webhookData.transcript || '';\n\n// Hole die Notion Page ID\nconst notionPageId = $('Notion Seite erstellen').first().json.id;\n\nconsole.log('Transcript Länge:', text.length);\nconsole.log('Notion Page ID:', notionPageId);\n\n// Erstelle Chunks\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\n\nconsole.log('Anzahl Transcript Chunks:', chunks.length);\n\nreturn chunks.map(chunk => ({ \n  json: { \n    chunk, \n    notionPageId: notionPageId\n  } \n}));"},"position":[8624,1696],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Loop Transcript","parameters":{"options":{}},"position":[8848,1696],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Write Transcript","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.notionPageId }}"},"blockUi":{"blockValues":[{"textContent":"={{ $json.chunk }}"}]},"resource":"block"},"position":[9072,1600],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Prepare Data","parameters":{"assignments":{"assignments":[{"name":"googleDocId","type":"string","value":"={{ $('Felder für Notion').item.json.GoogleDocId }}"},{"name":"notionPageUrl","type":"string","value":"=https://www.notion.so/{{ $('Notion Seite erstellen').first().json.id.replace(/-/g, '') }}"},{"name":"meetingTitle","type":"string","value":"={{ $('Bereinige Titel').item.json.splittedTitle }}"}]},"options":{}},"position":[9072,1792],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Threema Send E2E","parameters":{"bodyParameters":{"parameters":[{"name":"from","value":"={{ $('Config').item.json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').item.json.threemaTo }}"},{"name":"secret","value":"={{ $('Config').first().json.secret }}"},{"name":"text","value":"=✅ Meeting-Transkript erstellt!\n\n📝 {{ $json.meetingTitle }}\n🔗 Notion: {{ $json.notionPageUrl }}\n\n❓ Soll das temporäre Google Doc gelöscht werden?\n\nAntworte mit:\n✅ JA - zum Löschen\n❌ NEIN - zum Behalten"},{"name":"nonce","value":"={{ $runIndex }}{{ Date.now() }}"}]},"contentType":"form-urlencoded","method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_e2e"},"position":[9296,1792],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Löschen bestätigen E2E","parameters":{"bodyParameters":{"parameters":[{"name":"threemaFrom","value":"={{ $('Config Poll').item.json.threemaFrom }}"},{"name":"threemaTo","value":"={{ $('Config Poll').item.json.threemaFrom }}"},{"name":"secret","value":"={{ $('Config Poll').item.json.secret }}"},{"name":"text","value":"🗑️ Google Dokument wurde gelöscht."},{"name":"nonce","value":"={{ $runIndex }}{{ Date.now() }}"}]},"method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_e2e"},"position":[8176,2016],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Behalten bestätigen E2E","parameters":{"bodyParameters":{"parameters":[{"name":"threemaFrom","value":"={{ $('Config Poll').item.json.threemaFrom }}"},{"name":"threemaTo","value":"={{ $('Config Poll').item.json.threemaFrom }}"},{"name":"secret","value":"={{ $('Config Poll').item.json.secret }}"},{"name":"text","value":"📜 Google Dokument wurde bewahrt."},{"name":"nonce","value":"={{ $runIndex }}{{ Date.now() }}"}]},"method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_e2e"},"position":[7952,2208],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Init Polling","parameters":{"assignments":{"assignments":[{"name":"pollAttempts","type":"number","value":"0"},{"name":"maxAttempts","type":"number","value":"20"},{"name":"pollInterval","type":"number","value":"30"},{"name":"sentMessageTime","type":"number","value":"={{ Date.now() }}"}]},"options":{}},"position":[5488,2240],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Wait Before Poll","parameters":{"amount":"={{ $json.pollInterval }}"},"position":[5936,2240],"type":"n8n-nodes-base.wait","typeVersion":1.1,"webhookId":"0137afcc-6289-43ce-a019-7c140ddfa611"},{"credentials":{"httpBasicAuth":{"name":"Threema Work Gateway E2E"}},"name":"Poll Threema Messages","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{},"queryParameters":{"parameters":[{"name":"from","value":"={{ $('Config Poll').item.json.threemaFrom }}"},{"name":"secret","value":"={{ $('Config Poll').item.json.secret }}"}]},"sendQuery":true,"url":"https://msgapi.threema.ch/messages"},"position":[6160,2160],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Process Poll Response","parameters":{"jsCode":"// Threema gibt ein Array von Message-IDs zurück\nconst messageIds = $input.item.json.messages || [];\n\nconsole.log('Gefundene Nachrichten:', messageIds.length);\n\n// Zähle Polling-Versuche hoch\nconst pollAttempts = ($input.item.json.pollAttempts || 0) + 1;\nconst maxAttempts = $input.item.json.maxAttempts || 20;\nconst sentMessageTime = $input.item.json.sentMessageTime;\n\nreturn [{\n  json: {\n    messageIds: messageIds,\n    hasMessages: messageIds.length > 0,\n    pollAttempts: pollAttempts,\n    maxAttempts: maxAttempts,\n    shouldContinuePolling: pollAttempts < maxAttempts,\n    sentMessageTime: sentMessageTime,\n    pollInterval: $input.item.json.pollInterval || 30,\n    googleDocId: $('Prepare Data').item.json.googleDocId,\n    notionPageUrl: $('Prepare Data').item.json.notionPageUrl\n  }\n}];"},"position":[6384,2160],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Hat neue Nachrichten?","parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.hasMessages }}","operator":"equals","rightValue":true}]},"options":{}},"position":[6608,2160],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Split Message IDs","parameters":{"fieldToSplitOut":"messageIds","options":{}},"position":[6832,2112],"type":"n8n-nodes-base.splitOut","typeVersion":1},{"credentials":{"httpBasicAuth":{"name":"Threema Work Gateway E2E"}},"name":"Get Message Content","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{},"queryParameters":{"parameters":[{"name":"from","value":"={{ $('Config Poll').item.json.threemaFrom }}"},{"name":"secret","value":"={{ $('Config Poll').item.json.secret }}"}]},"sendQuery":true,"url":"=https://msgapi.threema.ch/messages/{{ $json.messageIds }}"},"position":[7056,2112],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Parse Message","parameters":{"jsCode":"// Nachricht wurde abgerufen, jetzt parsen\nconst messageData = $input.item.json;\n\n// Text extrahieren (kann in verschiedenen Feldern sein)\nconst text = (messageData.text || messageData.message || '').toLowerCase().trim();\nconst fromId = messageData.from || messageData.fromId;\nconst timestamp = messageData.date || Date.now();\n\nconsole.log('Nachricht von:', fromId);\nconsole.log('Text:', text);\n\n// Prüfen ob Nachricht nach unserem Send kam\nconst sentTime = $('Init Polling').item.json.sentMessageTime;\nconst isAfterSend = timestamp > sentTime / 1000; // Threema timestamp in Sekunden\n\nreturn [{\n  json: {\n    messageText: text,\n    fromId: fromId,\n    timestamp: timestamp,\n    isApproval: text.includes('ja') || text.includes('yes') || text === '✅',\n    isRejection: text.includes('nein') || text.includes('no') || text === '❌',\n    isRelevant: isAfterSend && (text.includes('ja') || text.includes('nein') || text.includes('yes') || text.includes('no')),\n    googleDocId: $('Process Poll Response').item.json.googleDocId,\n    notionPageUrl: $('Process Poll Response').item.json.notionPageUrl\n  }\n}];"},"position":[7280,2112],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Ist relevante Antwort?","parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.isRelevant }}","operator":"equals","rightValue":true}]},"options":{}},"position":[7504,2112],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Weiter pollen?","parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.shouldContinuePolling }}","operator":"equals","rightValue":true}]},"options":{}},"position":[6832,2336],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Timeout Message","parameters":{"bodyParameters":{"parameters":[{"name":"from","value":"*DEINE_GATEWAY_ID"},{"name":"to","value":"EMPFAENGER_THREEMA_ID"},{"name":"secret","value":"DEIN_GATEWAY_SECRET"},{"name":"text","value":"⏱️ Timeout: Keine Antwort erhalten. Google Doc bleibt erhalten."},{"name":"nonce","value":"={{ $runIndex }}{{ Date.now() }}"}]},"method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_e2e"},"position":[7056,2336],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"User sagte JA?1","parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.isApproval }}","operator":"equals","rightValue":true}]},"options":{}},"position":[7728,2112],"type":"n8n-nodes-base.if","typeVersion":2.3},{"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Delete Google Doc1","parameters":{"authentication":"serviceAccount","operation":"delete"},"position":[7952,2016],"type":"n8n-nodes-base.googleDrive","typeVersion":3},{"name":"Speichere Meeting Daten","parameters":{"jsonOutput":"={\n  \"assignments\": [\n    {\n      \"name\": \"minutes\",\n      \"value\": \"={{ $('Webhook1').first().json.body.meeting_minutes }}\",  // ← NICHT .minutes!\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"recap\", \n      \"value\": \"={{ $('Webhook1').first().json.body.recap }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"transcript\",\n      \"value\": \"={{ $('Webhook1').first().json.body.transcript }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"originalTitle\",\n      \"value\": \"={{ $json.originalTitle }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"splittedTitle\",\n      \"value\": \"={{ $json.splittedTitle }}\",\n      \"type\": \"string\"\n    }\n  ]\n}","mode":"raw","options":{}},"position":[6160,1648],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Config Poll","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT2"},{"name":"threemaTo","type":"string","value":"BUMFMZ39"},{"name":"secret","type":"string","value":"2pLgi4h6RWJWr6AD"}]},"options":{}},"position":[5712,2240],"type":"n8n-nodes-base.set","typeVersion":3.4}],"settings":{"availableInMCP":true,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}