n8n/lcGaB_uCQ0rhck3yJ1biW/lcGaB_uCQ0rhck3yJ1biW.json
{"active":true,"connections":{"Bereinige Titel":{"main":[[{"index":0,"node":"Erstelle Google Doc","type":"main"}]]},"Chunk Minutes":{"main":[[{"index":0,"node":"Loop Minutes","type":"main"}]]},"Chunk Recap":{"main":[[{"index":0,"node":"Loop Recap","type":"main"}]]},"Chunk Transcript":{"main":[[{"index":0,"node":"Loop Transcript","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Switch","type":"main"}]]},"Dok ID holen":{"main":[[{"index":0,"node":"Google Dok löschen","type":"main"}]]},"Dok ID speichern":{"main":[[{"index":0,"node":"Prepare Data","type":"main"}]]},"Erstelle Google Doc":{"main":[[{"index":0,"node":"Felder für Notion","type":"main"}]]},"Felder für Notion":{"main":[[{"index":0,"node":"Notion Seite erstellen","type":"main"}]]},"Google Dok löschen":{"main":[[{"index":0,"node":"Threema: Datei gelöscht","type":"main"}]]},"Header Minutes":{"main":[[{"index":0,"node":"Chunk Minutes","type":"main"}]]},"Header Recap":{"main":[[{"index":0,"node":"Chunk Recap","type":"main"}]]},"Header Transcript":{"main":[[{"index":0,"node":"Chunk Transcript","type":"main"}]]},"Loop Minutes":{"main":[[{"index":0,"node":"Write Minutes","type":"main"}],[{"index":0,"node":"Header Recap","type":"main"}]]},"Loop Recap":{"main":[[{"index":0,"node":"Write Recap","type":"main"}],[{"index":0,"node":"Header Transcript","type":"main"}]]},"Loop Transcript":{"main":[[{"index":0,"node":"Write Transcript","type":"main"}],[{"index":0,"node":"Dok ID speichern","type":"main"}]]},"Nachricht entschlüsseln via Vercel":{"main":[[{"index":0,"node":"Text bereinigen","type":"main"}]]},"Notion Seite erstellen":{"main":[[{"index":0,"node":"Header Minutes","type":"main"}]]},"Prepare Data":{"main":[[{"index":0,"node":"Threema Löschanforderung senden","type":"main"}]]},"Switch":{"main":[[{"index":0,"node":"Nachricht entschlüsseln via Vercel","type":"main"}],[{"index":0,"node":"Threema Löschanforderung senden","type":"main"}]]},"Temporäres Dok löschen?":{"main":[[{"index":0,"node":"Dok ID holen","type":"main"}],[{"index":0,"node":"Threema: Datei nicht gelöscht","type":"main"}]]},"Text bereinigen":{"main":[[{"index":0,"node":"Temporäres Dok löschen?","type":"main"}]]},"Webhook Threema Work Gateway empfangen":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"Webhook1":{"main":[[{"index":0,"node":"Bereinige Titel","type":"main"}]]},"Write Minutes":{"main":[[{"index":0,"node":"Loop Minutes","type":"main"}]]},"Write Recap":{"main":[[{"index":0,"node":"Loop Recap","type":"main"}]]},"Write Transcript":{"main":[[{"index":0,"node":"Loop Transcript","type":"main"}]]}},"name":"Hedy Transkripte zu Notion v2","nodes":[{"name":"Webhook1","parameters":{"httpMethod":"POST","options":{},"path":"hedy-transkripte-nach-notion-ddd6468b-6d6e-4160-afa8-c5733d265335"},"position":[2752,896],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"0f7c7c4a-fc39-40c4-8b2b-80466fa3118a"},{"name":"Webhook Threema Work Gateway empfangen","parameters":{"httpMethod":"POST","options":{},"path":"threema-work-gateway-5cdcca9c-5fa8-44ef-b3bc-668fae5a46a6"},"position":[5664,1280],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"5cdcca9c-5fa8-44ef-b3bc-668fae5a46a6"},{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"CHUNK_SIZE","type":"number","value":1900},{"name":"threemaFrom","type":"string","value":"*BERENT1"},{"name":"threemaE2E","type":"string","value":"*BERENT2"},{"name":"threemaTo","type":"string","value":"BUMFMZ39"},{"name":"secret*1","type":"string","value":"18DOvPKBV7ize3Nh"},{"name":"secret*2","type":"string","value":"2pLgi4h6RWJWr6AD"},{"name":"private","type":"string","value":"bd9264814eb3cf8657533d57dd8e0d8629eb9bf348f317ecbe5672e4032ed534"},{"name":"box","type":"string","value":"={{ $json.body?.box ?? $json.box ?? '' }}"},{"name":"nonce","type":"string","value":"={{ $json.body?.nonce ?? $json.nonce ?? '' }}"},{"name":"from","type":"string","value":"={{ $json.body?.from ?? $json.from ?? '' }}"}]},"options":{}},"position":[5888,1280],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Switch","parameters":{"options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.box }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"outputKey":"Eingehend","renameOutput":true},{"conditions":{"combinator":"and","conditions":[{"leftValue":"","operator":{"name":"filter.operator.equals","operation":"equals","type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"outputKey":"Ausgehend","renameOutput":true}]}},"position":[6112,1280],"type":"n8n-nodes-base.switch","typeVersion":3.4},{"name":"Nachricht entschlüsseln via Vercel","parameters":{"jsonBody":"={\n  \"action\": \"decrypt\",\n  \"box\": \"{{ $json.box }}\",\n  \"nonce\": \"{{ $json.nonce }}\",\n  \"from\": \"{{ $json.from }}\",\n  \"gatewayPrivateKey\": \"{{ $json.private }}\",\n  \"senderPublicKey\": \"7c2138caab9f8da92b0141593e634435e5e5b920667d3e2c9610f1b4a1e3497b\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://threema-decrypt.vercel.app/api/decrypt"},"position":[6336,1280],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Text bereinigen","parameters":{"jsCode":"const decryptedText = $json.text || '';\n\n// Alle non-ASCII entfernen, trimmen, dann nur erstes Wort nehmen\nconst cleanText = decryptedText\n  .replace(/[^\\x20-\\x7E]/g, '')  // Nicht-ASCII entfernen\n  .trim()\n  .toLowerCase()\n  .split(/[^a-z]/)[0];            // Nur Buchstaben des ersten Wortes\n\nconsole.log('Bereinigter Text:', cleanText);\n\nconst isApproval = ['ja', 'jaa', 'yes'].includes(cleanText);\nconst isRejection = ['nein', 'nee', 'no'].includes(cleanText);\n\nreturn [{\n  json: {\n    originalText: decryptedText,\n    cleanText: cleanText,\n    isApproval: isApproval,\n    isRejection: isRejection,\n    from: $json.from\n  }\n}];"},"position":[6560,1280],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Temporäres Dok löschen?","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.isApproval }}","operator":{"operation":"true","singleValue":true,"type":"boolean"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[6784,1280],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Threema: Datei gelöscht","parameters":{"jsonBody":"={\n  \"action\": \"send\",\n  \"to\": \"{{ $('Config').first().json.threemaTo }}\",\n  \"text\": \"🗑️ Das temporäre Google-Dokument wurde gelöscht.\",\n  \"gatewayId\": \"{{ $('Config').first().json.threemaE2E }}\",\n  \"gatewaySecret\": \"{{ $('Config').first().json['secret*2'] }}\",\n  \"gatewayPrivateKey\": \"{{ $('Config').first().json.private }}\",\n  \"recipientPublicKey\": \"7c2138caab9f8da92b0141593e634435e5e5b920667d3e2c9610f1b4a1e3497b\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://threema-decrypt.vercel.app/api/decrypt"},"position":[7456,1184],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Threema: Datei nicht gelöscht","parameters":{"jsonBody":"={\n  \"action\": \"send\",\n  \"to\": \"{{ $('Config').first().json.threemaTo }}\",\n  \"text\": \"📄 Das temporäre Google-Dokument wurde behalten.\",\n  \"gatewayId\": \"{{ $('Config').first().json.threemaE2E }}\",\n  \"gatewaySecret\": \"{{ $('Config').first().json['secret*2'] }}\",\n  \"gatewayPrivateKey\": \"{{ $('Config').first().json.private }}\",\n  \"recipientPublicKey\": \"7c2138caab9f8da92b0141593e634435e5e5b920667d3e2c9610f1b4a1e3497b\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://threema-decrypt.vercel.app/api/decrypt"},"position":[7008,1376],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Bereinige Titel","parameters":{"jsCode":"const webhookBody = $('Webhook1').item.json.body;\n\nif (!webhookBody) {\n  throw new Error(\"Konnte keine Webhook-Daten finden. Prüfe den Namen des Webhook-Nodes!\");\n}\n\nlet title = webhookBody.title || webhookBody.event || \"Unbenanntes_Meeting\";\nlet firstPart = title.split('-')[0].trim();\nfirstPart = firstPart.replace(/\\s+/g, '_');\n\nreturn [\n  {\n    json: {\n      ...webhookBody,\n      originalTitle: title,\n      splittedTitle: firstPart\n    }\n  }\n];"},"position":[2976,896],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Erstelle Google Doc","parameters":{"authentication":"serviceAccount","driveId":{"__rl":true,"cachedResultName":"My Drive","mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1DYocaBOYtWKqYV_6_tDrS7ikaSDyE498"},"name":"={{ ($('Webhook1').item.json.body.startTime || new Date().toISOString()).split('T')[0].replace(/-/g, '') + '_' + ($json.splittedTitle || 'Meeting') }}","operation":"createFromText","options":{}},"position":[3200,896],"type":"n8n-nodes-base.googleDrive","typeVersion":3},{"name":"Felder für Notion","parameters":{"assignments":{"assignments":[{"name":"Name","type":"string","value":"={{ $('Webhook1').item.json.body.title || $('Bereinige Titel').item.json.originalTitle || 'Test-Sitzung' }}"},{"name":"Start","type":"string","value":"={{ $('Webhook1').item.json.body.startTime || $('Webhook1').item.json.body.data.timestamp }}"},{"name":"Ende","type":"string","value":"={{ $('Webhook1').item.json.body.endTime || $('Webhook1').item.json.body.data.timestamp }}"},{"name":"Protokoll","type":"string","value":"=https://docs.google.com/document/d/{{ $('Erstelle Google Doc').item.json.id }}/edit"},{"name":"GoogleDocId","type":"string","value":"={{ $('Erstelle Google Doc').item.json.id }}"}]},"options":{}},"position":[3424,896],"type":"n8n-nodes-base.set","typeVersion":3.4},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Notion Seite erstellen","parameters":{"databaseId":{"__rl":true,"cachedResultName":"Hedy Transkripte 0.9 Realtime Meeting Assistenz","mode":"list","value":"2ca31cc6-fd56-8079-8a58-d74ec1097a36"},"options":{"icon":"👓","iconType":"emoji"},"propertiesUi":{"propertyValues":[{"key":"Titel|title","title":"={{ $('Bereinige Titel').item.json.splittedTitle }}"},{"key":"Zusammenfassung|rich_text","textContent":"={{ $('Webhook1').item.json.body.recap.slice(0, 2000) }}"}]},"resource":"databasePage","simple":false,"title":"={{ $('Bereinige Titel').item.json.originalTitle }}"},"position":[3648,896],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Header Minutes","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"blockUi":{"blockValues":[{"textContent":"Zusammenfassung (Minutes)","type":"heading_1"}]},"resource":"block"},"position":[3872,896],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Chunk Minutes","parameters":{"jsCode":"const CHUNK_SIZE = 1900;\nconst webhookData = $('Webhook1').first().json.body;\nconst text = webhookData.meeting_minutes || '';\nconst notionPageId = $('Notion Seite erstellen').first().json.id;\nconsole.log('Minutes Länge:', text.length);\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\nreturn chunks.map(chunk => ({ json: { chunk, notionPageId } }));"},"position":[4096,896],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Loop Minutes","parameters":{"options":{}},"position":[4320,896],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Write Minutes","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.notionPageId }}"},"blockUi":{"blockValues":[{"textContent":"={{ $json.chunk }}"}]},"resource":"block"},"position":[4544,800],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Header Recap","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $('Notion Seite erstellen').first().json.id }}"},"blockUi":{"blockValues":[{"textContent":"Recap","type":"heading_1"}]},"resource":"block"},"position":[4544,992],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Chunk Recap","parameters":{"jsCode":"const CHUNK_SIZE = 1900;\nconst webhookData = $('Webhook1').first().json.body;\nconst text = webhookData.recap || '';\nconst notionPageId = $('Notion Seite erstellen').first().json.id;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\nreturn chunks.map(chunk => ({ json: { chunk, notionPageId } }));"},"position":[4768,992],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Loop Recap","parameters":{"options":{}},"position":[4992,992],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Write Recap","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.notionPageId }}"},"blockUi":{"blockValues":[{"textContent":"={{ $json.chunk }}"}]},"resource":"block"},"position":[5216,848],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Header Transcript","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $('Notion Seite erstellen').first().json.id }}"},"blockUi":{"blockValues":[{"textContent":"Transcript","type":"heading_1"}]},"resource":"block"},"position":[5216,1040],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Chunk Transcript","parameters":{"jsCode":"const CHUNK_SIZE = 1900;\nconst webhookData = $('Webhook1').first().json.body;\nconst text = webhookData.transcript || '';\nconst notionPageId = $('Notion Seite erstellen').first().json.id;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\nreturn chunks.map(chunk => ({ json: { chunk, notionPageId } }));"},"position":[5440,1040],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Loop Transcript","parameters":{"options":{}},"position":[5664,1040],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Write Transcript","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.notionPageId }}"},"blockUi":{"blockValues":[{"textContent":"={{ $json.chunk }}"}]},"resource":"block"},"position":[5888,800],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Prepare Data","parameters":{"assignments":{"assignments":[{"name":"googleDocId","type":"string","value":"={{ $('Felder für Notion').item.json.GoogleDocId }}"},{"name":"notionPageUrl","type":"string","value":"=https://www.notion.so/{{ $('Notion Seite erstellen').first().json.id.replace(/-/g, '') }}"},{"name":"meetingTitle","type":"string","value":"={{ $('Bereinige Titel').item.json.splittedTitle }}"}]},"options":{}},"position":[6112,992],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Threema Löschanforderung senden","parameters":{"jsonBody":"={\n  \"action\": \"send\",\n  \"to\": \"{{ $('Config').first().json.threemaTo }}\",\n  \"text\": \"✅ Meeting-Transkript erstellt!\\n\\n📝 {{ $json.meetingTitle }}\\n🔗 Notion: {{ $json.notionPageUrl }}\\n\\n❓ Soll das temporäre Google Doc gelöscht werden?\\n\\nAntworte mit:\\n✅ JA - zum Löschen\\n❌ NEIN - zum Behalten\",\n  \"gatewayId\": \"{{ $('Config').first().json.threemaE2E }}\",\n  \"gatewaySecret\": \"{{ $('Config').first().json['secret*2'] }}\",\n  \"gatewayPrivateKey\": \"{{ $('Config').first().json.private }}\",\n  \"recipientPublicKey\": \"7c2138caab9f8da92b0141593e634435e5e5b920667d3e2c9610f1b4a1e3497b\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://threema-decrypt.vercel.app/api/decrypt"},"position":[6336,1088],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Google Dok löschen","parameters":{"authentication":"serviceAccount","fileId":{"__rl":true,"cachedResultName":"20251112_Meeting","cachedResultUrl":"https://drive.google.com/file/d/13xziD1mVpN2RCoOgluQWsvxJcgjMSwAB/view?usp=drivesdk","mode":"list","value":"13xziD1mVpN2RCoOgluQWsvxJcgjMSwAB"},"operation":"deleteFile","options":{}},"position":[7232,1184],"type":"n8n-nodes-base.googleDrive","typeVersion":3},{"name":"Dok ID speichern","parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\n\n// Speichern mit Timestamp als Key\nstaticData.pendingDeletion = {\n  googleDocId: $json.googleDocId,\n  meetingTitle: $json.meetingTitle,\n  timestamp: Date.now()\n};\n\nreturn [$input.item];"},"position":[5888,992],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Dok ID holen","parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\n\nconst pending = staticData.pendingDeletion;\n\nif (!pending || !pending.googleDocId) {\n  throw new Error('Keine ausstehende Löschanforderung gefunden');\n}\n\ndelete staticData.pendingDeletion;\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    googleDocId: pending.googleDocId,\n    meetingTitle: pending.meetingTitle\n  }\n}];"},"position":[7008,1184],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":true,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}