n8n/lcGaB_uCQ0rhck3yJ1biW/lcGaB_uCQ0rhck3yJ1biW.json
{"active":false,"connections":{"Bereinige Titel":{"main":[[{"index":0,"node":"Erstelle Google Doc","type":"main"}]]},"Chunk Minutes":{"main":[[{"index":0,"node":"Loop Minutes","type":"main"}]]},"Chunk Recap":{"main":[[{"index":0,"node":"Loop Recap","type":"main"}]]},"Chunk Transcript":{"main":[[{"index":0,"node":"Loop Transcript","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Bereinige Titel","type":"main"}]]},"Config Callback":{"main":[[{"index":0,"node":"Parse Threema Response","type":"main"}]]},"Delete Google Doc":{"main":[[{"index":0,"node":"Löschen bestätigen E2E","type":"main"}]]},"Erstelle Google Doc":{"main":[[{"index":0,"node":"Felder für Notion","type":"main"}]]},"Felder für Notion":{"main":[[{"index":0,"node":"Notion Seite erstellen","type":"main"}]]},"Header Minutes":{"main":[[{"index":0,"node":"Chunk Minutes","type":"main"}]]},"Header Recap":{"main":[[{"index":0,"node":"Chunk Recap","type":"main"}]]},"Header Transcript":{"main":[[{"index":0,"node":"Chunk Transcript","type":"main"}]]},"Loop Minutes":{"main":[[{"index":0,"node":"Write Minutes","type":"main"}],[{"index":0,"node":"Header Recap","type":"main"}]]},"Loop Recap":{"main":[[{"index":0,"node":"Write Recap","type":"main"}],[{"index":0,"node":"Header Transcript","type":"main"}]]},"Loop Transcript":{"main":[[{"index":0,"node":"Write Transcript","type":"main"}],[{"index":0,"node":"Prepare Data","type":"main"}]]},"Notion Seite erstellen":{"main":[[{"index":0,"node":"Header Minutes","type":"main"}]]},"Parse Threema Response":{"main":[[{"index":0,"node":"User sagte JA?","type":"main"}]]},"Prepare Data":{"main":[[{"index":0,"node":"Threema Send E2E","type":"main"}]]},"Threema Callback Webhook":{"main":[[{"index":0,"node":"Config Callback","type":"main"}]]},"User sagte JA?":{"main":[[{"index":0,"node":"Delete Google Doc","type":"main"}],[{"index":0,"node":"Behalten bestätigen E2E","type":"main"}]]},"Webhook1":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"Write Minutes":{"main":[[{"index":0,"node":"Loop Minutes","type":"main"}]]},"Write Recap":{"main":[[{"index":0,"node":"Loop Recap","type":"main"}]]},"Write Transcript":{"main":[[{"index":0,"node":"Loop Transcript","type":"main"}]]}},"name":"Hedy nach Notion Meeting - E2E v3","nodes":[{"name":"Webhook1","parameters":{"httpMethod":"POST","options":{},"path":"hedy-transkripte-nach-notion"},"position":[5568,1648],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"0f7c7c4a-fc39-40c4-8b2b-80466fa3118a"},{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"CHUNK_SIZE","type":"number","value":1900},{"name":"threemaFrom","type":"string","value":"*BERENT2"},{"name":"threemaTo","type":"string","value":"BUMFMZ39"},{"name":"secret","type":"string","value":"18DOvPKBV7ize3Nh"}]},"options":{}},"position":[5792,1648],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Bereinige Titel","parameters":{"jsCode":"const webhookBody = $('Webhook1').item.json.body;\n\nif (!webhookBody) {\n  throw new Error(\"Konnte keine Webhook-Daten finden. Prüfe den Namen des Webhook-Nodes!\");\n}\n\nlet title = webhookBody.title || webhookBody.event || \"Unbenanntes_Meeting\";\nlet firstPart = title.split('-')[0].trim();\nfirstPart = firstPart.replace(/\\s+/g, '_');\n\nreturn [\n  {\n    json: {\n      ...webhookBody, \n      originalTitle: title,\n      splittedTitle: firstPart\n    }\n  }\n];"},"position":[6016,1648],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Erstelle Google Doc","parameters":{"authentication":"serviceAccount","driveId":{"__rl":true,"cachedResultName":"My Drive","mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1DYocaBOYtWKqYV_6_tDrS7ikaSDyE498"},"name":"={{ ($('Webhook1').item.json.body.startTime || $('Webhook1').item.json.body.data.timestamp || new Date().toISOString()).split('T')[0].replace(/-/g, '') + '_' + ($json.splittedTitle || 'Meeting') }}","operation":"createFromText","options":{}},"position":[6240,1648],"type":"n8n-nodes-base.googleDrive","typeVersion":3},{"name":"Felder für Notion","parameters":{"assignments":{"assignments":[{"name":"Name","type":"string","value":"={{ $('Webhook1').item.json.body.title || $('Bereinige Titel').item.json.originalTitle || 'Test-Sitzung' }}"},{"name":"Start","type":"string","value":"={{ $('Webhook1').item.json.body.startTime || $('Webhook1').item.json.body.data.timestamp }}"},{"name":"Ende","type":"string","value":"={{ $('Webhook1').item.json.body.endTime || $('Webhook1').item.json.body.data.timestamp }}"},{"name":"Protokoll","type":"string","value":"=https://docs.google.com/document/d/{{ $('Erstelle Google Doc').item.json.id }}/edit"},{"name":"GoogleDocId","type":"string","value":"={{ $('Erstelle Google Doc').item.json.id }}"}]},"options":{}},"position":[6464,1648],"type":"n8n-nodes-base.set","typeVersion":3.4},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Notion Seite erstellen","parameters":{"databaseId":{"__rl":true,"cachedResultName":"Hedy Transkripte 0.9 Realtime Meeting Assistenz","mode":"list","value":"2ca31cc6-fd56-8079-8a58-d74ec1097a36"},"options":{"icon":"👓","iconType":"emoji"},"propertiesUi":{"propertyValues":[{"key":"Titel|title","title":"={{ $('Bereinige Titel').item.json.splittedTitle }}"},{"key":"Zusammenfassung|rich_text","textContent":"={{ $('Webhook1').item.json.body.recap.slice(0, 2000) }}"}]},"resource":"databasePage","simple":false,"title":"={{ $('Bereinige Titel').item.json.originalTitle }}"},"position":[6688,1648],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Header Minutes","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"blockUi":{"blockValues":[{"textContent":"Zusammenfassung (Minutes)","type":"heading_1"}]},"resource":"block"},"position":[6912,1648],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Chunk Minutes","parameters":{"jsCode":"const CHUNK_SIZE = 1900;\nconst text = $items('Webhook1')[0].json.body.minutes || '';\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\nreturn chunks.map(chunk => ({ json: { chunk, notionPageId: $('Notion Seite erstellen').first().json.id } }));"},"position":[7136,1648],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Loop Minutes","parameters":{"options":{}},"position":[7360,1648],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Write Minutes","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.notionPageId }}"},"blockUi":{"blockValues":[{"textContent":"={{ $json.chunk }}"}]},"resource":"block"},"position":[7584,1552],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Header Recap","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $('Notion Seite erstellen').first().json.id }}"},"blockUi":{"blockValues":[{"textContent":"Recap","type":"heading_1"}]},"resource":"block"},"position":[7584,1744],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Chunk Recap","parameters":{"jsCode":"const CHUNK_SIZE = 1900;\nconst text = $items('Webhook1')[0].json.body.recap || '';\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\nreturn chunks.map(chunk => ({ json: { chunk, notionPageId: $('Notion Seite erstellen').first().json.id } }));"},"position":[7808,1744],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Loop Recap","parameters":{"options":{}},"position":[8032,1744],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Write Recap","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.notionPageId }}"},"blockUi":{"blockValues":[{"textContent":"={{ $json.chunk }}"}]},"resource":"block"},"position":[8256,1504],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Header Transcript","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $('Notion Seite erstellen').first().json.id }}"},"blockUi":{"blockValues":[{"textContent":"Transcript","type":"heading_1"}]},"resource":"block"},"position":[8256,1696],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Chunk Transcript","parameters":{"jsCode":"const CHUNK_SIZE = 1900;\nconst text = $items('Webhook1')[0].json.body.transcript || '';\nconst chunks = [];\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\nreturn chunks.map(chunk => ({ json: { chunk, notionPageId: $('Notion Seite erstellen').first().json.id } }));"},"position":[8480,1696],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Loop Transcript","parameters":{"options":{}},"position":[8704,1696],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"credentials":{"notionApi":{"name":"API Notion"}},"name":"Write Transcript","parameters":{"blockId":{"__rl":true,"mode":"id","value":"={{ $json.notionPageId }}"},"blockUi":{"blockValues":[{"textContent":"={{ $json.chunk }}"}]},"resource":"block"},"position":[8928,1600],"type":"n8n-nodes-base.notion","typeVersion":2.2},{"name":"Prepare Data","parameters":{"assignments":{"assignments":[{"name":"googleDocId","type":"string","value":"={{ $('Felder für Notion').item.json.GoogleDocId }}"},{"name":"notionPageUrl","type":"string","value":"=https://www.notion.so/{{ $('Notion Seite erstellen').first().json.id.replace(/-/g, '') }}"},{"name":"meetingTitle","type":"string","value":"={{ $('Bereinige Titel').item.json.splittedTitle }}"}]},"options":{}},"position":[8928,1792],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Threema Send E2E","parameters":{"bodyParameters":{"parameters":[{"name":"from","value":"={{ $('Config').item.json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').item.json.threemaTo }}"},{"name":"secret","value":"={{ $('Config').first().json.secret }}"},{"name":"text","value":"=✅ Meeting-Transkript erstellt!\n\n📝 {{ $json.meetingTitle }}\n🔗 Notion: {{ $json.notionPageUrl }}\n\n❓ Soll das temporäre Google Doc gelöscht werden?\n\nAntworte mit:\n✅ JA - zum Löschen\n❌ NEIN - zum Behalten"},{"name":"nonce","value":"={{ $runIndex }}{{ Date.now() }}"}]},"method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_e2e"},"position":[9152,1792],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Threema Callback Webhook","parameters":{"httpMethod":"POST","options":{},"path":"threema-callback-approval"},"position":[5568,2112],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"27bc3e40-4c6b-4ffc-ba9a-0689eae0eaad"},{"name":"Parse Threema Response","parameters":{"jsCode":"// Threema Gateway schickt die Nachricht im Body\nconst body = $input.item.json.body;\n\n// Extrahiere die Nachricht (Text vom User)\nconst message = (body.text || '').toLowerCase().trim();\n\n// Speichere Daten für späteren Zugriff\nreturn [{\n  json: {\n    userMessage: message,\n    fromId: body.from,\n    messageId: body.messageId,\n    isApproval: message.includes('ja') || message.includes('yes') || message === '✅',\n    isRejection: message.includes('nein') || message.includes('no') || message === '❌',\n    googleDocId: $('Prepare Data').item.json.googleDocId,\n    notionPageUrl: $('Prepare Data').item.json.notionPageUrl\n  }\n}];"},"position":[6016,2112],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"User sagte JA?","parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.isApproval }}","operator":"equals","rightValue":true}]},"options":{}},"position":[6240,2112],"type":"n8n-nodes-base.if","typeVersion":2.3},{"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Delete Google Doc","parameters":{"authentication":"serviceAccount","operation":"delete"},"position":[6464,2016],"type":"n8n-nodes-base.googleDrive","typeVersion":3},{"name":"Config Callback","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT2"},{"name":"threemaTo","type":"string","value":"BUMFMZ39"},{"name":"secret","type":"string","value":"18DOvPKBV7ize3Nh"}]},"options":{}},"position":[5792,2112],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Löschen bestätigen E2E","parameters":{"bodyParameters":{"parameters":[{"name":"threemaFrom","value":"={{ $('Config Callback').item.json.threemaFrom }}"},{"name":"threemaTo","value":"={{ $('Config Callback').item.json.threemaFrom }}"},{"name":"secret","value":"={{ $('Config Callback').item.json.secret }}"},{"name":"text","value":"🗑️ Google Dokument wurde gelöscht."},{"name":"nonce","value":"={{ $runIndex }}{{ Date.now() }}"}]},"method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_e2e"},"position":[6688,2016],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Behalten bestätigen E2E","parameters":{"bodyParameters":{"parameters":[{"name":"threemaFrom","value":"={{ $('Config Callback').item.json.threemaFrom }}"},{"name":"threemaTo","value":"={{ $('Config Callback').item.json.threemaFrom }}"},{"name":"secret","value":"={{ $('Config Callback').item.json.secret }}"},{"name":"text","value":"📜 Google Dokument wurde bewahrt."},{"name":"nonce","value":"={{ $runIndex }}{{ Date.now() }}"}]},"method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_e2e"},"position":[6464,2208],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2}],"settings":{"availableInMCP":true,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}