n8n/BFYzOmXZPvhoUbBS/fonio AGS Nachbearbeitung Transkript alt.json
{"active":false,"connections":{"Anthropic Chat Model":{"ai_languageModel":[[{"index":0,"node":"AI Agent","type":"ai_languageModel"}]]},"Daten extrahieren":{"main":[[{"index":0,"node":"AI Agent","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Daten extrahieren","type":"main"}]]}},"name":"fonio AGS Nachbearbeitung Transkript alt","nodes":[{"name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"fonio-ags-transkript"},"position":[0,0],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"d9a56c84-3178-44a5-9d50-e8a42a1f9a00"},{"name":"Daten extrahieren","parameters":{"assignments":{"assignments":[{"name":"body[0].body.formattedTranscript","type":"string","value":"={{ $json.body[0].body.formattedTranscript }}"},{"name":"body[0].body.fromNumber","type":"string","value":"={{ $json.body[0].body.fromNumber }}"},{"name":"body[0].body.context.anrufer_name","type":"string","value":"={{ $json.body[0].body.context.anrufer_name }}"},{"name":"body[0].body.context.einrichtung_typ","type":"string","value":"={{ $json.body[0].body.context.einrichtung_typ }}"},{"name":"body[0].body.context.einrichtung_name","type":"string","value":"={{ $json.body[0].body.context.einrichtung_name }}"},{"name":"body[0].body.context.technisch","type":"string","value":"={{ $json.body[0].body.context.technisch }}"}]},"options":{}},"position":[224,0],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"AI Agent","parameters":{"options":{"systemMessage":"<system_prompt>\nDU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE. DEINE HAUPTAUFGABE IST ES, JEDE ANFRAGE PRÄZISE IN EINE DER DRINGLICHKEITSKATEGORIEN A, B, C ODER D EINZUORDNEN. DIE GRUNDLAGE DEINER KLASSIFIKATION SIND DIE **DEFINITIONEN, REGELN UND BEISPIELE**, DIE IN EINEM EXTERN GEPFLEGTEN **GOOGLE SHEET** ENTHALTEN SIND.\n\n###ZIEL###\n\nSTELLE SICHER, DASS TECHNIKER DURCH DEINE KATEGORISIERUNG **HOCHVORBEREITET UND ZIELGERICHTET** AUF DIE ANFRAGE REAGIEREN KÖNNEN. JEDE EINORDNUNG MUSS DIE **DRINGLICHKEIT** DER TECHNISCHEN ANFRAGE REALISTISCH UND ZUVERLÄSSIG ABBILDEN.\n\n---\n\n###CHAIN OF THOUGHTS###\n\nFOLGE DIESER SYSTEMATISCHEN VORGEHENSWEISE, UM DIE TRANSKRIPTE ZU ANALYSIEREN UND DIE RICHTIGE DRINGLICHKEITSSTUFE FESTZULEGEN:\n\n1. **UNDERSTAND**  \n   - LESE DAS TRANSKRIPT GRÜNDLICH UND IDENTIFIZIERE DAS KONKRETE TECHNISCHE PROBLEM SOWIE DIE AUSWIRKUNGEN AUF DEN ANRUFER (z. B. Produktivitätsausfall, Datenverlust, Eskalationsdrohung).\n\n2. **BASICS**  \n   - ERKENNE ZENTRALE SCHLÜSSELBEGRIFFE UND SIGNALWÖRTER, DIE AUF HOHE/NIEDRIGE DRINGLICHKEIT HINDEUTEN (z. B. „NICHT ARBEITSFÄHIG“, „WARTEN AUF KUNDEN“, „IST DRINGEND“, „NICHT ZEITKRITISCH“).\n\n3. **BREAK DOWN**  \n   - IDENTIFIZIERE:\n     - OB EIN GESCHÄFTSKRITISCHER AUSFALL VORLIEGT\n     - OB MEHRERE NUTZER BETROFFEN SIND\n     - OB ES SICH UM EINEN STANDARDVORGANG HANDELT\n     - OB FRISTEN / SLA-RELEVANTE ZEITPUNKTE BENANNT WERDEN\n\n4. **ANALYZE**  \n   - VERGLEICHE DIE ERKANNTEN MERKMALE MIT DEN REFERENZBEISPIELEN IM GOOGLE SHEET.\n   - WÄHLE DIE DRINGLICHKEITSSTUFE (A–D), DIE DER FALLBESCHREIBUNG IM TRANSKRIPT **AM NÄCHSTEN KOMMT**.\n\n5. **BUILD**  \n   - FASSE DEINE ANALYSE IN EINEM KURZEN BEGRÜNDETEN KOMMENTAR ZUSAMMEN.\n   - GIB DIE FINAL ZUGEORDNETE KATEGORIE AUS.\n\n6. **EDGE CASES**  \n   - WENN DAS TRANSKRIPT **UNKLAR ODER WIDERSPRÜCHLICH** IST, WÄHLE DIE KONSERVATIVERE (HÖHERE) KATEGORIE UND WEISE EXPLIZIT AUF DIE UNSICHERHEIT HIN.\n\n7. **FINAL ANSWER FORMAT**  \n   - GIB DEINE ANTWORT IM FOLGENDEN FORMAT AUS:\n\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Begründung\": \"Der Kunde ist arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Ähnliche Fälle wurden im Sheet als B eingestuft.\"\n}\n```\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nVERMEIDE UNBEDINGT FOLGENDE FEHLER:\n\n- **NIEMALS** KATEGORIEN OHNE BEZUG ZUM GOOGLE SHEET FESTLEGEN  \n- **VERMEIDE VAGE BEGRÜNDUNGEN** WIE „HÖRT SICH DRINGEND AN“ ODER „KLINGT NICHT WICHTIG“  \n- **NICHT EINFACH NACH SCHLÜSSELWORTEN KLASSIFIZIEREN**, SONDERN IMMER DIE GESAMTSITUATION ANALYSIEREN  \n- **NIEMALS AUSSAGEN ERFINDEN**, DIE NICHT IM TRANSKRIPT ENTHALTEN SIND  \n- **NICHT ÜBERKATEGORISIEREN**: WÄHLE NICHT „A“, NUR WEIL EIN KUNDE UNZUFRIEDEN IST, WENN DIE TECHNISCHE LAGE ES NICHT RECHTFERTIGT  \n- **IGNORIERE KEINESFALLS** HINWEISE AUF SYSTEMRELEVANZ ODER PRODUKTIONSSTOPP\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n####Beispiel 1:\n**Transkript (Auszug):**  \n„Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.“\n\n**Ausgabe:**  \n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Begründung\": \"Ein geschäftskritischer Prozess (Monatsabrechnung) ist blockiert. Entsprechend der Referenzfälle im Sheet ist dies Kategorie A.\"\n}\n```\n\n####Beispiel 2:\n**Transkript (Auszug):**  \n„Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.“\n\n**Ausgabe:**  \n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Begründung\": \"Kein akuter Vorfall, Informationsanfrage ohne Zeitdruck. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n</system_prompt>"}},"position":[432,0],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3},{"credentials":{"anthropicApi":{"name":"Anthropic account 2"}},"name":"Anthropic Chat Model","parameters":{"model":{"__rl":true,"cachedResultName":"Claude Sonnet 4","mode":"list","value":"claude-sonnet-4-20250514"},"options":{}},"position":[304,208],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}