n8n/CCJmgqzH9XCESXGz/CCJmgqzH9XCESXGz.json
{"active":true,"connections":{"Check Time":{"main":[[{"index":0,"node":"If","type":"main"}]]},"Get row(s) in sheet":{"main":[[{"index":0,"node":"Check Time","type":"main"}]]},"When clicking ‘Execute workflow’":{"main":[[{"index":0,"node":"Get row(s) in sheet","type":"main"}]]}},"name":"My Sub-workflow","nodes":[{"name":"LangChain Code","parameters":{},"position":[-640,336],"type":"@n8n/n8n-nodes-langchain.code","typeVersion":1},{"name":"Start","parameters":{"inputSource":"passthrough"},"position":[-848,336],"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1},{"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Get row(s) in sheet","parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1kyIdVpLg4Ate6b0o2yyB4wzu3e7stQjcILLVrWX6RD8"},"options":{},"sheetName":{"__rl":true,"cachedResultName":"Anrufer","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kyIdVpLg4Ate6b0o2yyB4wzu3e7stQjcILLVrWX6RD8/edit#gid=0","mode":"list","value":"gid=0"}},"position":[-320,224],"type":"n8n-nodes-base.googleSheets","typeVersion":4.7},{"disabled":true,"name":"When clicking ‘Execute workflow’","parameters":{},"position":[-640,128],"type":"n8n-nodes-base.manualTrigger","typeVersion":1},{"name":"Check Time","parameters":{"jsCode":"const items = $input.all();\nconst now = new Date();\n\nconsole.log(\"Aktuelle Zeit:\", now.toISOString());\n\nconst itemsToCall = items.filter(item => {\n  const anrufzeitpunkt = item.json.Anrufzeitpunkt;\n  console.log(\"Anrufzeitpunkt aus Sheet:\", anrufzeitpunkt);\n  \n  const callTime = new Date(anrufzeitpunkt);\n  console.log(\"Geparste callTime:\", callTime.toISOString());\n  \n  const timeDiff = now.getTime() - callTime.getTime();\n  console.log(\"TimeDiff in ms:\", timeDiff);\n  console.log(\"Bedingung erfüllt?\", timeDiff >= 0 && timeDiff <= 60000);\n  \n  return timeDiff >= 0 && timeDiff <= 60000;\n});\n\nreturn itemsToCall;"},"position":[-112,224],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"If","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"","operator":{"name":"filter.operator.equals","operation":"equals","type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"options":{}},"position":[96,224],"type":"n8n-nodes-base.if","typeVersion":2.2}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}