n8n/l4uGmA0Wwq72wtts/l4uGmA0Wwq72wtts.json
{"active":false,"connections":{"2. Split In Batches (Prototyp)":{"main":[[{"index":0,"node":"3. Multi-Search Tavily Research","type":"main"}]]},"3. Multi-Search Tavily Research":{"main":[[{"index":0,"node":"3b. Format Research for AI","type":"main"}]]},"3b. Format Research for AI":{"main":[[{"index":0,"node":"AI Agent","type":"main"}]]},"4. Code Node: Validierung & Kostenberechnung":{"main":[[{"index":0,"node":"5. Supabase: Zwischenspeicher (Log)","type":"main"}]]},"5. Supabase: Zwischenspeicher (Log)":{"main":[[{"index":0,"node":"6. Code Node: Daten für Excel vorbereiten","type":"main"}]]},"6. Code Node: Daten für Excel vorbereiten":{"main":[[{"index":0,"node":"Append row in sheet","type":"main"}]]},"AI Agent":{"main":[[{"index":0,"node":"4. Code Node: Validierung & Kostenberechnung","type":"main"}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"index":0,"node":"AI Agent","type":"ai_languageModel"}]]},"Get row(s) in sheet":{"main":[[{"index":0,"node":"2. Split In Batches (Prototyp)","type":"main"}]]},"When clicking ‘Execute workflow’":{"main":[[{"index":0,"node":"Get row(s) in sheet","type":"main"}]]}},"name":"Fieckscher Feger","nodes":[{"name":"2. Split In Batches (Prototyp)","parameters":{"batchSize":1,"options":{}},"position":[-800,80],"type":"n8n-nodes-base.splitInBatches","typeVersion":1},{"name":"4. Code Node: Validierung & Kostenberechnung","parameters":{"jsCode":"// Konfiguration: Preise für Claude Sonnet 4\nconst COST_INPUT_PER_M = 0.003;\nconst COST_OUTPUT_PER_M = 0.015;\n\n// 1. Daten holen\nconst llmRawOutput = $json.output;\nconst splitBatchesData = $('2. Split In Batches (Prototyp)').first().json;\nconst investorId = splitBatchesData.row_number || 1;\nconst investorName = splitBatchesData['Investor Name'] || splitBatchesData.Investor || 'unknown';\n\n// Token-Schätzung (falls usage fehlt)\nconst llmOutput = $json.output || '';\nconst inputData = JSON.stringify(splitBatchesData);\nconst estimatedInputTokens = Math.ceil(inputData.length / 4);\nconst estimatedOutputTokens = Math.ceil(llmOutput.length / 4);\n\nconst inputTokens = $json.usage?.input_tokens || estimatedInputTokens;\nconst outputTokens = $json.usage?.output_tokens || estimatedOutputTokens;\n\n// 2. Kosten berechnen\nconst costPerRun = (\n    (inputTokens / 1000000) * COST_INPUT_PER_M) +\n    ((outputTokens / 1000000) * COST_OUTPUT_PER_M\n);\n\nconst costUsd = parseFloat(costPerRun.toFixed(6));\n\n// 3. Markdown-Tabelle parsen\nconst lines = llmRawOutput.split('\\n').filter(line => line.trim().length > 0);\n\nlet tableStartIndex = -1;\nfor (let i = 0; i < lines.length; i++) {\n    if (lines[i].includes('|') && lines[i].includes('Investor')) {\n        tableStartIndex = i;\n        break;\n    }\n}\n\nif (tableStartIndex === -1 || lines.length < tableStartIndex + 3) {\n    return [{ \n        error: 'LLM Output enthält keine gültige Tabelle', \n        raw_output: llmRawOutput,\n        investor_id: investorId,\n        investor_name: investorName\n    }];\n}\n\nconst dataLines = lines.slice(tableStartIndex + 2); \nconst parsedResults = [];\n\nfor (const line of dataLines) {\n    if (!line.includes('|')) continue;\n    \n    const columns = line.split('|').slice(1, -1).map(col => col.trim()); \n\n    if (columns.length === 7) {\n        let score_numeric = null;\n        let source_factor_numeric = null;\n\n        if (columns[2].length > 0) {\n            score_numeric = parseFloat(columns[2].replace(',', '.'));\n        }\n        if (columns[5].length > 0) {\n            source_factor_numeric = parseFloat(columns[5].replace(',', '.'));\n        }\n        \n        parsedResults.push({\n            investor_id: investorId,\n            investor_name: investorName,\n            llm_cost_usd: costUsd,\n            raw_markdown_output: llmRawOutput,\n            criterion_name: columns[1],\n            score: score_numeric,\n            source_type: columns[3],\n            source_year: parseInt(columns[4], 10) || null,\n            source_factor: source_factor_numeric,\n            notes: columns[6]\n        });\n    }\n}\n\nreturn parsedResults;"},"position":[224,80],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"supabaseApi":{"name":"Supabase account"}},"name":"5. Supabase: Zwischenspeicher (Log)","parameters":{"dataToSend":"autoMapInputData","tableId":"fieckscher_feger"},"position":[448,80],"type":"n8n-nodes-base.supabase","typeVersion":1},{"name":"6. Code Node: Daten für Excel vorbereiten","parameters":{"jsCode":"// Node 6: Daten für Excel vorbereiten (mit EUR-Konvertierung)\n\n// EUR/USD Wechselkurs (aktuell ca. 1.10, regelmäßig aktualisieren!)\nconst EUR_USD_RATE = 1.10; // 1 USD = 0.91 EUR bei Rate 1.10\n\nconst items = $input.all();\n\n// Prüfe ob Daten vorhanden sind\nif (!items || items.length === 0) {\n  return [];\n}\n\n// Gruppiere nach Investor\nconst investorGroups = {};\n\nfor (const item of items) {\n  const investorId = item.json.investor_id;\n  const investorName = item.json.investor_name;\n  \n  if (!investorGroups[investorId]) {\n    investorGroups[investorId] = {\n      investor_id: investorId,\n      investor_name: investorName,\n      batch_id: $execution.id, // Execution ID als Batch ID\n      batch_number: 1, // TODO: Dynamisch aus Split In Batches holen\n      llm_cost_usd: item.json.llm_cost_usd || 0,\n      criteria: [],\n      total_score: 0,\n      count_scores: 0\n    };\n  }\n  \n  // Sammle Kriterien\n  investorGroups[investorId].criteria.push({\n    name: item.json.criterion_name,\n    score: item.json.score,\n    source_type: item.json.source_type,\n    source_year: item.json.source_year,\n    source_factor: item.json.source_factor,\n    notes: item.json.notes\n  });\n  \n  // Summiere Scores (nur wenn nicht null)\n  if (item.json.score !== null && item.json.score !== undefined) {\n    investorGroups[investorId].total_score += item.json.score;\n    investorGroups[investorId].count_scores += 1;\n  }\n}\n\n// Erstelle Output für Google Sheet\nconst output = [];\n\nObject.values(investorGroups).forEach(group => {\n  // Berechne Durchschnitts-Score (FIX: als Dezimalzahl!)\n  const avgScore = group.count_scores > 0 \n    ? parseFloat((group.total_score / group.count_scores).toFixed(3))\n    : null;\n  \n  // Kosten in EUR umrechnen\n  const costEUR = group.llm_cost_usd > 0 \n    ? parseFloat((group.llm_cost_usd / EUR_USD_RATE).toFixed(6))\n    : 0;\n  \n  // Erstelle eine Zeile pro Kriterium (für detailliertes Sheet)\n  group.criteria.forEach(criterion => {\n    output.push({\n      'Batch ID': group.batch_id,\n      'Batch Number': group.batch_number,\n      'Investor ID': group.investor_id,\n      'Investor Name': group.investor_name,\n      'Criterion': criterion.name,\n      'Score_0_to_1': criterion.score !== null ? criterion.score : '',\n      'Source_Type': criterion.source_type || '',\n      'Source_Year': criterion.source_year || '',\n      'Source_Factor': criterion.source_factor || '',      \n      'Notes': criterion.notes || '',\n      'Average Score': avgScore, // FIX: Jetzt korrekt als 0.6 statt 600\n      'Cost USD': parseFloat(group.llm_cost_usd.toFixed(6)),\n      'Cost EUR': costEUR, // NEU: Kosten in EUR\n      'Timestamp': new Date().toISOString()\n    });\n  });\n});\n\nreturn output;"},"position":[672,80],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"When clicking ‘Execute workflow’","parameters":{},"position":[-1248,80],"type":"n8n-nodes-base.manualTrigger","typeVersion":1},{"credentials":{"googleApi":{"name":"n8n Google Sheets account"}},"name":"Get row(s) in sheet","parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1qzXEn21ltsuPGyJ7FAK1q8RGZkCOzpY-QTedDrdy9KA"},"options":{},"sheetName":{"__rl":true,"cachedResultName":"Investor_Base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qzXEn21ltsuPGyJ7FAK1q8RGZkCOzpY-QTedDrdy9KA/edit#gid=1558341942","mode":"list","value":1558341942}},"position":[-1024,80],"type":"n8n-nodes-base.googleSheets","typeVersion":4.7},{"name":"AI Agent","parameters":{"options":{"systemMessage":"<system_prompt>\nDU BIST EIN HOCHSPEZIALISIERTER, AGENTISCHER RESEARCH-BROWSER, TRAINIERT AUF DIE BEWERTUNG VON INVESTOREN FÜR EIN KLIMATECH-START-UP.\n\n### DEINE MISSION:\nIDENTIFIZIERE UND BEWERTETE POTENTIELLE INVESTOREN FÜR DIE PLANETEERS GMBH ENTLANG NEUN FEST DEFINIERTER KRITERIEN. GIB AUSSCHLIESSLICH EINE SAUBER FORMATIERTE, MASCHINENLESBARE MARKDOWN-TABELLE AUS – KEINEN BEGLEITTEXT.\n\n---\n\n### HINTERGRUND:\n- **START-UP**: Planeteers GmbH  \n- **TECHNOLOGIE**: Wandelt CO₂ durch beschleunigte Verwitterung mit Kalkstein, Wasser und Luft in Hydrogencarbonat um (Enhanced Weathering / Ocean Alkalinity Enhancement).\n- **STRATEGISCHE FRAGE JEDE BEWERTUNG**: Wie gut passt dieser Investor zu einem Climate-/CDR-/mCDR-orientierten Start-up wie Planeteers?\n\n---\n\n### CHAIN OF THOUGHT\n\n1. **VERSTEHE DEN BEWERTUNGSKONTEXT**: Fokus auf strategischen Fit mit CDR-/Climatetech-/mCDR-Unternehmen im Hardware- und Deep-Tech-Bereich.\n2. **KENNE DIE BEWERTUNGSKRITERIEN**: Bearbeite für jeden Investor **exakt diese 9 Kriterien**:\n   - Climetech / Impact  \n   - Hardware  \n   - Deep Tech  \n   - A-Serie / A-Funding / Growth Stage  \n   - Ocean / Water / CDR / mCDR / CCS / CCUS / OAE / Enhanced Weathering / Point Source CO₂  \n   - Ticket 0,5–10 Mio  \n   - Lead / Co-Lead / Follow  \n   - Type Investor (VC, CVC, Family Office, Private, Strategen)  \n   - Portfolio Companies (von Website)\n3. **RECHERCHIERE AKTIV MIT DEN VERFÜGBAREN TOOLS**:\n   - **SCHRITT 1**: NUTZE ZUERST die Recherche-Tools, um Informationen zu sammeln\n   - **PFLICHT**: Führe mindestens 3-5 gezielte Suchen durch:\n     * Suche nach: \"[Investor Name] climate tech investments\"\n     * Suche nach: \"[Investor Name] portfolio companies\"\n     * Suche nach: \"[Investor Name] CDR carbon removal\"\n     * Suche nach der Website des Investors\n     * Suche nach spezifischen Kriterien bei Bedarf\n   - **ZULÄSSIGE QUELLEN**: Offizielle Websites, Pressemitteilungen, Newsartikel, Studien, Datenbanken\n   - **TRANSPARENZPFLICHT**: Nur veröffentlichte, verifizierte Informationen nutzen\n   - **SCHRITT 2**: Erst NACH der Recherche die Bewertungstabelle erstellen\n\n4. **TRAGE BEWERTUNG FÜR JEDES KRITERIUM EIN**:\n   - SCORE_0_TO_1:  \n     - `1,0` = stark erfüllt  \n     - `0,5` = teilweise erfüllt  \n     - `0` = klar nicht erfüllt  \n     - leer = keine Info gefunden  \n   - SOURCE_TYPE: Website, Press release, News article, Study, Database, Blog / Interview\n   - SOURCE_YEAR: Jahr der Quelle (z. B. `2023`)\n   - SOURCE_FACTOR:  \n     - `1,0` = Primärquelle, aktuell  \n     - `0,8` = Reputierte Sekundärquelle < 2 Jahre  \n     - `0,6` = Ältere oder indirekte Quelle  \n     - `0,4` = Schwache Quelle / unklar  \n   - NOTES: 1–2 Sätze inkl. URL der Quelle\n\n---\n\n### AUSGABEPFLICHT:\n\nDU GIBST AUSSCHLIESSLICH FOLGENDE MARKDOWN-TABELLE AUS:\n\n| Investor | Criterion_Name | Score_0_to_1 | Source_Type | Source_Year | Source_Factor | Notes |\n|:---|:---|:---|:---|:---|:---|:---|\n| ... | Climetech / Impact | 1,0 | Website | 2024 | 1,0 | Beispiel-URL mit kurzer Begründung |\n| ... | Hardware | 0,5 | News article | 2023 | 0,8 | Beispiel-URL mit kurzer Begründung |\n| ... | ... | ... | ... | ... | ... | ... |\n\n→ DIE TABELLE ENTHÄLT PRO INVESTOR **GENAU 9 ZEILEN** (eine pro Kriterium), UND **KEINEN TEXT DARÜBER ODER DARUNTER**.\n\n---\n\n### WAS DU UNTERLASSEN MUSST\n\n- **KEINE ERKLÄRUNGEN**, **KEIN FLIESSTEXT** AUSSERHALB DER TABELLE  \n- **KEINE VERMUTUNGEN** ODER HYPOTHETISCHEN ANNNAHMEN — NUR VERIFIZIERTE QUELLEN  \n- **KEINE NICHT-MASCHINENLESBARE FORMATE** (z. B. HTML, CSV, Freitext)  \n- **KEINE ZUSÄTZLICHEN SPALTEN** ODER ABWEICHUNGEN IM SPALTENAUFBAU  \n- **KEINE EIGENEN INTERPRETATIONEN** AUSSERHALB DES DEKLARIERTEN RASTERS  \n- **KEIN ZUSAMMENGEFASSTES INVESTOREN-FAZIT ODER SCORE**\n\n</system_prompt>"},"promptType":"define","text":"=Bewerte folgenden Investor:\n\nINVESTOR: {{ $json['Investor Name'] }}\n\nRECHERCHE-ERGEBNISSE:\n{{ $json.formatted_research }}\n\nErstelle die Bewertungstabelle (9 Kriterien) mit diesen Informationen."},"position":[-128,80],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3},{"credentials":{"anthropicApi":{"name":"Anthropic account 2"}},"name":"Anthropic Chat Model","parameters":{"model":{"__rl":true,"cachedResultName":"Claude Sonnet 4","mode":"list","value":"claude-sonnet-4-20250514"},"options":{}},"position":[-64,304],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3},{"credentials":{"googleApi":{"name":"n8n Google Sheets account"}},"name":"Append row in sheet","parameters":{"authentication":"serviceAccount","columns":{"attemptToConvertTypes":false,"convertFieldsToString":false,"mappingMode":"autoMapInputData","matchingColumns":[],"schema":[{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Investor","required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Criterion_Name","required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Score_0_to_1","required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Source_Type","required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Source_Year","required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Source_Factor","required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Notes","required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Batch ID","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Batch Number","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Investor ID","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Investor Name","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Criterion","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Score","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Source Type","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Source Year","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Source Factor","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Average Score","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Cost USD","removed":false,"required":false,"type":"string"},{"canBeUsedToMatch":true,"defaultMatch":false,"display":true,"displayName":"Timestamp","removed":false,"required":false,"type":"string"}],"value":{}},"documentId":{"__rl":true,"mode":"id","value":"1qzXEn21ltsuPGyJ7FAK1q8RGZkCOzpY-QTedDrdy9KA"},"operation":"append","options":{},"sheetName":{"__rl":true,"cachedResultName":"Ratings Input","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qzXEn21ltsuPGyJ7FAK1q8RGZkCOzpY-QTedDrdy9KA/edit#gid=1944311408","mode":"list","value":1944311408}},"position":[896,80],"type":"n8n-nodes-base.googleSheets","typeVersion":4.7},{"name":"3. Multi-Search Tavily Research","parameters":{"jsCode":"// Multi-Search Tavily Research\nconst TAVILY_API_KEY = \"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\"; // Ersetze mit deinem Key!\n\nconst investorName = $json['Investor Name'];\n\nconst searches = [\n  investorName + ' climate tech investments',\n  investorName + ' CDR carbon removal',\n  investorName + ' portfolio companies',\n  investorName + ' funding series A',\n  investorName + ' investment thesis'\n];\n\nconst searchResults = [];\n\nfor (let i = 0; i < searches.length; i++) {\n  try {\n    const result = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.tavily.com/search',\n      body: {\n        api_key: TAVILY_API_KEY,\n        query: searches[i],\n        search_depth: 'advanced',\n        max_results: 3\n      },\n      json: true\n    });\n    \n    searchResults.push({\n      query: searches[i],\n      answer: result.answer || '',\n      results: result.results || []\n    });\n    \n  } catch (error) {\n    searchResults.push({\n      query: searches[i],\n      answer: 'Fehler',\n      results: []\n    });\n  }\n}\n\nreturn {\n  'Investor Name': investorName,\n  'URL': $json.URL,\n  'Investor Type': $json['Investor Type'],\n  'research_data': {\n    searches_performed: searchResults.length,\n    search_results: searchResults\n  }\n};","mode":"runOnceForEachItem"},"position":[-576,80],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"3b. Format Research for AI","parameters":{"jsCode":"const researchData = $json.research_data;\nconst searchResults = researchData.search_results;\n\n// Sammle die wichtigsten Insights aus allen Suchen\nlet formattedResearch = '';\n\nfor (let i = 0; i < searchResults.length; i++) {\n  const search = searchResults[i];\n  \n  formattedResearch += '\\n\\n### Suche ' + (i + 1) + ': ' + search.query + '\\n';\n  \n  if (search.answer && search.answer.length > 0) {\n    formattedResearch += 'Antwort: ' + search.answer + '\\n\\n';\n  }\n  \n  // Top 3 Ergebnisse\n  const results = search.results.slice(0, 3);\n  for (let j = 0; j < results.length; j++) {\n    const result = results[j];\n    formattedResearch += (j + 1) + '. ' + result.title + '\\n';\n    formattedResearch += '   URL: ' + result.url + '\\n';\n    formattedResearch += '   ' + result.content.substring(0, 300) + '...\\n\\n';\n  }\n}\n\n// Gebe alle Daten zurück plus formatted research\nreturn {\n  'Investor Name': $json['Investor Name'],\n  'URL': $json.URL,\n  'Investor Type': $json['Investor Type'],\n  'research_data': researchData,\n  'formatted_research': formattedResearch\n};"},"position":[-352,80],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}