n8n/49W0_QAnGHo78Vzt0XBfx/n8n GitHub Backup.json
{"id":"49W0_QAnGHo78Vzt0XBfx","active":true,"connections":{"Alle Workflows holen":{"main":[[{"index":0,"node":"Übersicht initialisieren","type":"main"}]]},"Bei Klick ausführen":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Alle Workflows holen","type":"main"},{"index":0,"node":"Statistik initialisieren","type":"main"}]]},"Ergebnisse zählen":{"main":[[{"index":0,"node":"Statistik aktualisieren","type":"main"}]]},"Gibt es Änderungen?":{"main":[[{"index":0,"node":"Nach GitHub schieben","type":"main"}],[{"index":0,"node":"Statistik „überspringen“","type":"main"}]]},"GitHub prüfen":{"main":[[{"index":0,"node":"Handlung bestimmen","type":"main"}]]},"Handlung bestimmen":{"main":[[{"index":0,"node":"Gibt es Änderungen?","type":"main"}]]},"If":{"main":[[{"index":0,"node":"Info per Threema","type":"main"}],[]]},"Loop Over Items":{"main":[[{"index":0,"node":"Ergebnisse zählen","type":"main"}],[{"index":0,"node":"Workflow extrahieren","type":"main"}]]},"Nach GitHub schieben":{"main":[[{"index":0,"node":"Statistik „erfolgreich“","type":"main"}],[{"index":0,"node":"Statistik „fehlerhaft“","type":"main"}]]},"Statistik aktualisieren":{"main":[[{"index":0,"node":"If","type":"main"}]]},"Statistik initialisieren":{"main":[[]]},"Statistik „erfolgreich“":{"main":[[{"index":0,"node":"Loop Over Items","type":"main"}]]},"Statistik „fehlerhaft“":{"main":[[{"index":0,"node":"Loop Over Items","type":"main"}]]},"Statistik „überspringen“":{"main":[[{"index":0,"node":"Loop Over Items","type":"main"}]]},"Workflow extrahieren":{"main":[[{"index":0,"node":"GitHub prüfen","type":"main"}]]},"Zeitplan: alle 15 Min":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"Übersicht initialisieren":{"main":[[{"index":0,"node":"Loop Over Items","type":"main"}]]}},"name":"n8n GitHub Backup","nodes":[{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT1"},{"name":"threemaTo","type":"string","value":"BUMFMZ39"},{"name":"secret","type":"string","value":"18DOvPKBV7ize3Nh"}]},"options":{}},"position":[1296,1536],"type":"n8n-nodes-base.set","typeVersion":3.4},{"credentials":{"httpHeaderAuth":{"name":"API n8n für n8n"}},"name":"Alle Workflows holen","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{},"url":"https://n8n.srv1098810.hstgr.cloud/api/v1/workflows"},"position":[1520,1792],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Zeitplan: alle 15 Min","parameters":{"rule":{"interval":[{"expression":"*/15 7-22 * * *","field":"cronExpression"}]}},"position":[1072,1440],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"name":"Bei Klick ausführen","parameters":{},"position":[1072,1632],"type":"n8n-nodes-base.manualTrigger","typeVersion":1},{"alwaysOutputData":false,"credentials":{"githubApi":{"name":"API GitHub"}},"name":"GitHub prüfen","onError":"continueRegularOutput","parameters":{"additionalParameters":{},"asBinaryProperty":false,"filePath":"={{ $json.filepath }}","operation":"get","owner":{"__rl":true,"mode":"name","value":"peerendees"},"repository":{"__rl":true,"mode":"name","value":"n8n-workflows"},"resource":"file"},"position":[2416,1600],"type":"n8n-nodes-base.github","typeVersion":1.1,"webhookId":"3883c216-b507-43d2-88f5-2c463c838b99"},{"name":"Info per Threema","parameters":{"method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').first().json.secret }}"},{"name":"from","value":"={{ $('Config').first().json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').first().json.threemaTo }}"},{"name":"text","value":"=💾 n8n GitHub Backup ⚡️ Statistik\n\n🗄️ Erfolgreich: {{ $('Ergebnisse zählen').item.json.erfolgreich }}\n⏭️ Übersprungen: {{ $('Ergebnisse zählen').item.json.übersprungen }}\n♨️ Fehler: {{ $('Ergebnisse zählen').item.json.fehlerhaft }}\n━━━━━━━━━━\nΣ Gesamt: {{ $('Ergebnisse zählen').item.json.gesamt }}\n\n🕐 {{ $('Ergebnisse zählen').item.json.datum }}"}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[2848,1408],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Sticky Note","parameters":{"content":"## Eingabe\nZeitgesteuert über Cron alle 15 min von 7:00 Uhr bis 21:00 Uhr\noder manuell.\n","height":656,"width":864},"position":[1024,1296],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Sticky Note1","parameters":{"color":4,"content":"## Verarbeitung\n– Alle von GitHub gelesenen Workflows durchlaufen eine Schleife, in der auf Änderungen geprüft wird, was eine Aktion zu GitHub zu Folge hat.\n– Auf GitHub werden die Workflows unter der ID in einem Ordner gespeichert, um nachträgliches Umbenennen zu ermöglichen.\n– Nicht geänderte oder archivierte Workslows werden ignoriert.\n– Es wird eine Statistik nach „erfolgreich“, „übersprungen“ und „Fehler“ geführt.","height":944,"width":1792},"position":[1904,1152],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Sticky Note2","parameters":{"color":5,"content":"## Ausgabe\nThreema Work erhält eine Push mit der Statistik.","height":256,"width":832},"position":[2160,1312],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Statistik „erfolgreich“","parameters":{"jsCode":"return { status: 'success' };"},"position":[3520,1728],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Statistik „überspringen“","parameters":{"jsCode":"return { status: 'skip' };"},"position":[3296,1648],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Statistik „fehlerhaft“","parameters":{"jsCode":"return { status: 'error' };"},"position":[3520,1936],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Übersicht initialisieren","parameters":{"jsCode":"const rawWorkflows = $input.first().json.data || [];\n// Wir filtern Leichen und machen daraus einzelne n8n-Aufgaben\nreturn rawWorkflows\n  .filter(w => w.id && w.name)\n  .map(w => ({ json: w }));"},"position":[1744,1792],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Statistik initialisieren","parameters":{"columns":{"attemptToConvertTypes":false,"convertFieldsToString":false,"mappingMode":"defineBelow","matchingColumns":[],"schema":[{"defaultMatch":false,"display":true,"displayName":"erfolgreich","readOnly":false,"removed":false,"required":false,"type":"number"},{"defaultMatch":false,"display":true,"displayName":"skipped","readOnly":false,"removed":false,"required":false,"type":"number"},{"defaultMatch":false,"display":true,"displayName":"fehlerhaft","readOnly":false,"removed":false,"required":false,"type":"number"}],"value":{"erfolgreich":0,"fehlerhaft":0,"skipped":0}},"dataTableId":{"__rl":true,"cachedResultName":"n8n-Backup-Statistik","cachedResultUrl":"/projects/yr4Hj71ou1NOsi2p/datatables/nRjxT4Y7RMz4jRaR","mode":"list","value":"nRjxT4Y7RMz4jRaR"},"options":{}},"position":[1520,1440],"type":"n8n-nodes-base.dataTable","typeVersion":1.1},{"name":"Workflow extrahieren","parameters":{"jsCode":"function hashString(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash |= 0;\n  }\n  return hash.toString();\n}\n\nconst wf = $json; \n\n// 1. Namen sicher extrahieren (n8n API liefert ihn auf oberster Ebene)\nconst wfId = (wf.id || '0').toString();\nconst wfName = wf.name || wf.id || 'Unnamed Workflow';\n\nfunction sortObj(obj) {\n  if (obj === null || typeof obj !== 'object') return obj;\n  if (Array.isArray(obj)) return obj.map(sortObj);\n  return Object.keys(obj).sort().reduce((acc, key) => {\n    // Diese Felder ignorieren wir für den Vergleich, da sie sich ständig ändern\n    if (['id', 'updatedAt', 'createdAt', 'versionId'].includes(key)) return acc;\n    acc[key] = sortObj(obj[key]);\n    return acc;\n  }, {});\n}\n\n// 2. Workflow normalisieren & Hashen\nconst wfClean = sortObj({\n  name: wfName,\n  nodes: wf.nodes || [],\n  connections: wf.connections || {},\n  settings: wf.settings || {},\n  active: wf.active === true\n});\n\n// Gespeichert wird MIT id (damit Sync-Workflow den Workflow zuordnen kann)\nconst wfStore = Object.assign({ id: wfId }, wfClean);\nconst contentBase64 = Buffer.from(JSON.stringify(wfStore)).toString('base64');\n\n// Hash MUSS auf wfStore basieren (mit id), da GitHub genau diesen Inhalt speichert\nconst jsonString = JSON.stringify(wfStore);\nconst localHash = hashString(jsonString);\n\n// Dateinamen sicher machen (/ und : ersetzen)\nconst safeName = wfName.replace(/[\\/:\\\\]/g, '-');\n\n// PFAD: n8n/ID/Workflow-Name.json\nconst finalPath = `n8n/${wfId}/${safeName}.json`;\n\nreturn {\n  id: wfId,\n  name: wfName,\n  filepath: finalPath,\n  localContent: contentBase64,\n  localHash: localHash,\n  message: `🤖 Auto-Backup: ${wfName} (ID: ${wfId})`\n};"},"position":[2192,1600],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Statistik aktualisieren","parameters":{"columns":{"attemptToConvertTypes":false,"convertFieldsToString":false,"mappingMode":"defineBelow","matchingColumns":[],"schema":[{"defaultMatch":false,"display":true,"displayName":"erfolgreich","readOnly":false,"removed":false,"required":false,"type":"number"},{"defaultMatch":false,"display":true,"displayName":"skipped","readOnly":false,"removed":false,"required":false,"type":"number"},{"defaultMatch":false,"display":true,"displayName":"fehlerhaft","readOnly":false,"removed":false,"required":false,"type":"number"}],"value":{"erfolgreich":"={{ $json.erfolgreich }}","fehlerhaft":"={{ $json.fehlerhaft }}","skipped":"={{ $json.übersprungen }}"}},"dataTableId":{"__rl":true,"cachedResultName":"n8n-Backup-Statistik","cachedResultUrl":"/projects/yr4Hj71ou1NOsi2p/datatables/nRjxT4Y7RMz4jRaR","mode":"list","value":"nRjxT4Y7RMz4jRaR"},"filters":{"conditions":[{"keyValue":"={{ $('Statistik initialisieren').first().json.id }}"}]},"operation":"update","options":{}},"position":[2416,1408],"type":"n8n-nodes-base.dataTable","typeVersion":1.1},{"name":"Ergebnisse zählen","parameters":{"jsCode":"const items = $input.all();\n// Initialisierung mit 0 stellt sicher, dass Felder nie leer/undefined sind\nlet erfolgreich = 0;\nlet übersprungen = 0;\nlet fehlerhaft = 0;\n\nfor (const item of items) {\n    const status = item.json.status;\n    if (status === 'success') erfolgreich++;\n    else if (status === 'skip') übersprungen++;\n    else if (status === 'error') fehlerhaft++;\n}\n\nconst now = new Date();\nconst timezone = 'Europe/Berlin';\nconst tag = now.toLocaleDateString('de-DE', { timeZone: timezone, day: '2-digit' });\nconst monat = now.toLocaleDateString('de-DE', { timeZone: timezone, month: '2-digit' });\nconst jahr = now.toLocaleDateString('de-DE', { timeZone: timezone, year: 'numeric' });\nconst datum = tag + '.' + monat + '.' + jahr;\n\nreturn [{\n\n    json: {\n        erfolgreich,\n        übersprungen,\n        fehlerhaft,\n        gesamt: erfolgreich + übersprungen + fehlerhaft,\n        datum\n    }\n}];"},"position":[2192,1408],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Handlung bestimmen","parameters":{"jsCode":"const githubData = $input.first();\nconst localData = $('Workflow extrahieren').first().json;\nconst githubSha = githubData?.json?.sha || null;\n\nfunction sortObj(obj) {\n  if (obj === null || typeof obj !== 'object') return obj;\n  if (Array.isArray(obj)) return obj.map(sortObj);\n  return Object.keys(obj).sort().reduce((acc, key) => {\n    if (['id', 'updatedAt', 'createdAt', 'versionId'].includes(key)) return acc;\n    acc[key] = sortObj(obj[key]);\n    return acc;\n  }, {});\n}\n\nfunction hashString(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash |= 0;\n  }\n  return hash.toString();\n}\n\nlet action;\nlet httpBody;\n\nif (!githubSha) {\n  action = 'create';\n  httpBody = {\n    message: localData.message,\n    content: localData.localContent\n  };\n} else {\n  const rawContent = githubData.json.content || '';\n  let remoteObj = null;\n\n  // Versuch 1: base64 dekodieren (GitHub API Standard)\n  try {\n    const cleaned = rawContent.replace(/[\\n\\r]/g, '');\n    const decoded = Buffer.from(cleaned, 'base64').toString('utf8');\n    remoteObj = JSON.parse(decoded);\n  } catch (e) {\n    // Versuch 2: Content bereits dekodiert (n8n GitHub-Node)\n    try {\n      remoteObj = JSON.parse(typeof rawContent === 'string' ? rawContent : JSON.stringify(rawContent));\n    } catch (e2) {\n      remoteObj = null;\n    }\n  }\n\n  if (remoteObj) {\n    // Gleiche Normalisierung wie in 'Workflow extrahieren'\n    const remoteClean = sortObj({\n      name: remoteObj.name || '',\n      nodes: remoteObj.nodes || [],\n      connections: remoteObj.connections || {},\n      settings: remoteObj.settings || {},\n      active: remoteObj.active === true\n    });\n    const remoteStore = Object.assign({ id: (remoteObj.id || '0').toString() }, remoteClean);\n    const remoteHash = hashString(JSON.stringify(remoteStore));\n\n    if (localData.localHash === remoteHash) {\n      action = 'skip';\n      httpBody = null;\n    } else {\n      action = 'update';\n      httpBody = {\n        message: localData.message,\n        content: localData.localContent,\n        sha: githubSha\n      };\n    }\n  } else {\n    action = 'update';\n    httpBody = {\n      message: localData.message,\n      content: localData.localContent,\n      sha: githubSha\n    };\n  }\n}\n\nreturn {\n  action,\n  filepath: localData.filepath,\n  name: localData.name,\n  httpBody\n};"},"position":[2848,1600],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Gibt es Änderungen?","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.action }}","operator":{"operation":"notEquals","type":"string"},"rightValue":"skip"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[3072,1600],"type":"n8n-nodes-base.if","typeVersion":2.2},{"credentials":{"httpHeaderAuth":{"name":"GitHub Token"}},"name":"Nach GitHub schieben","onError":"continueErrorOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={{ JSON.stringify($json.httpBody) }}","method":"PUT","options":{},"sendBody":true,"specifyBody":"json","url":"=https://api.github.com/repos/peerendees/n8n-workflows/contents/{{ $json.filepath }}"},"position":[3296,1456],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Loop Over Items","parameters":{"options":{}},"position":[1968,1792],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"name":"If","parameters":{"conditions":{"combinator":"or","conditions":[{"leftValue":"={{ $json.erfolgreich }}","operator":{"operation":"gt","type":"number"},"rightValue":0},{"leftValue":"={{ $json.fehlerhaft }}","operator":{"operation":"gt","type":"number"},"rightValue":0}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[2624,1408],"type":"n8n-nodes-base.if","typeVersion":2.3}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}