n8n/wtVL3a6B2x2Xintd/fonio-training-persona-generator.json
{
  "updatedAt": "2026-01-28T11:48:47.492Z",
  "createdAt": "2025-11-08T18:17:37.239Z",
  "id": "wtVL3a6B2x2Xintd",
  "name": "fonio Training Persona Generator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fonio-training-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "819e706c-9507-440c-bcf9-b3f0209aefd0",
      "name": "Fonio Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        368,
        1664
      ],
      "webhookId": "ca536c70-f01b-464d-ad81-1ca7e40696f2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "359dbf06-aeaf-4f82-99b6-ce3ccb91382e",
      "name": "Antwort an Fonio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2512,
        1520
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "==Erstelle eine Trainingspersona für den Bereich \"{{ $json.trainingsbereich }}\".\n\nSituationsbeschreibung:\n{{ $json.beschreibung }}\n\nEntwickle eine vollständige Persona, die repräsentativ für Kunden in diesem Trainingsbereich ist."
            }
          ]
        },
        "options": {
          "system": "Du bist ein Experte für Kundenservice-Training und spezialisiert auf die Entwicklung realistischer Trainingspersonas. Deine Aufgabe ist es, detaillierte, glaubwürdige Kundencharaktere zu erstellen, die Mitarbeiter in spezifischen Situationen trainieren können.\n\nErstelle immer Personas mit: Name, Alter, Beruf, Persönlichkeitstyp, Kommunikationsstil, emotionalem Zustand, spezifischen Bedürfnissen und typischen Problemen. Die Personas sollen für Rollenspiele geeignet und psychologisch stimmig sein."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1936,
        1328
      ],
      "id": "769c1c24-b995-4b8c-9133-e8a28b70d19c",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "6RlfJdXsmselCNpN",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function-Node für 'random'\n\n// Hole die trainingsDaten von \"Auswahl verarbeiten\"\nconst trainingsDaten = $('Auswahl verarbeiten').first().json.trainingsDaten;\n\nif (!trainingsDaten || trainingsDaten.length === 0) {\n    return [{ json: { action: 'error', message: 'Keine Trainingsdaten verfügbar' }}];\n}\n\n// Wähle zufälligen Trainingsbereich\nconst randomIndex = Math.floor(Math.random() * trainingsDaten.length);\nconst selectedRow = trainingsDaten[randomIndex];\n\nreturn [{ \n    json: { \n        action: 'random', \n        trainingsbereich: selectedRow.Trainingsbereich, \n        beschreibung: selectedRow.Beschreibung \n    } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        1664
      ],
      "id": "e13053f0-263b-4cdc-86a3-ea93e77c42b1",
      "name": "Situation 'random'"
    },
    {
      "parameters": {
        "jsCode": "// Function-Node für case 'check'\n\nconst inputItem = $input.first().json; \nconst checkBereich = inputItem.bereich;\n\n// Hole die Trainingsdaten\nlet dataRows = inputItem.trainingsDaten || []; \n\n// Der eigentliche Vergleich\nconst exists = dataRows.some(row => \n    typeof row.Trainingsbereich === 'string' && \n    row.Trainingsbereich.toLowerCase() === checkBereich.toLowerCase()\n);\n\nreturn [{ \n    json: { \n        action: 'check', \n        exists: exists,  // <- geändert von checkPassed zu exists\n        bereich: checkBereich, \n        message: exists ? 'Trainingsbereich gefunden.' : 'Trainingsbereich nicht verfügbar.' \n    } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1424
      ],
      "id": "167edf0c-d5e6-4c8f-8f5a-850b98d89f50",
      "name": "Situation 'check'"
    },
    {
      "parameters": {
        "jsCode": "// Function-Node für case 'list'\n\n// Hole die trainingsDaten von \"Auswahl verarbeiten\"\nconst trainingsDaten = $input.first().json.trainingsDaten;\n\nif (!trainingsDaten || trainingsDaten.length === 0) {\n    return [{ json: { action: 'error', message: 'Keine Trainingsdaten verfügbar' }}];\n}\n\n// Extrahiere alle Trainingsbereiche\nconst bereiche = trainingsDaten.map(row => row.Trainingsbereich);\n\nreturn [{ \n    json: { \n        action: 'list', \n        trainingsbereiche: bereiche, \n        totalCount: bereiche.length \n    } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1808
      ],
      "id": "57ad9863-66bf-406a-8163-c6708e5d3886",
      "name": "Situation 'list'"
    },
    {
      "parameters": {
        "jsCode": "// Function: Webhook-Body korrekt extrahieren + Google Sheets Daten mitgeben\n\n// 1. Hole den Body des Webhook-Requests, wo 'action' und 'bereich' liegen.\nconst webhookBody = $('Fonio Webhook Trigger').first().json.body;\n\n// 2. Hole die Google Sheets Trainingsdaten\nconst trainingsDaten = $input.all()\n  .filter(item => item.json.Trainingsbereich)\n  .map(item => item.json);\n\n// 3. Sicherheits-Check, ob die Action definiert ist\nif (!webhookBody || !webhookBody.action) {\n    return [{ json: { action: 'random', message: 'Action fehlt im Webhook Body.' } }];\n}\n\n// 4. Output erstellen mit allen Daten\nreturn [{\n    json: {\n        action: webhookBody.action, \n        bereich: webhookBody.bereich || '', \n        rufnummer: webhookBody.rufnummer || '',\n        trainingsDaten: trainingsDaten\n    }\n}];"
      },
      "id": "f319e59d-3582-4eab-a172-216ca150a1e7",
      "name": "Auswahl verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1664
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3eab51b1-ddfc-430f-bc1c-cfccc9602310",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        1424
      ],
      "id": "422e0200-574b-476b-b789-147c389294ce",
      "name": "Existiert Trainingsbereich?"
    },
    {
      "parameters": {
        "jsCode": "// Hole die action von der richtigen Stelle\nlet action;\nlet trainingsbereich;\n\n// Versuche von \"Beschreibung des Trainingsbereichs holen\"\nconst beschreibungNode = $('Beschreibung des Trainingsbereichs holen').first();\nif (beschreibungNode && beschreibungNode.json) {\n  action = beschreibungNode.json.action;\n  trainingsbereich = beschreibungNode.json.trainingsbereich;\n} else {\n  // Fallback auf aktuellen Input\n  action = $input.first().json.action;\n  trainingsbereich = $input.first().json.trainingsbereich;\n}\n\n// Timestamp\nconst timestamp = new Date().toISOString();\n\nswitch (action) {\n  \n  case 'list':\n    const listInput = $('Situation \\'list\\'').first().json;\n    const bereichsListe = listInput.trainingsbereiche.join(', ');\n    return [{\n      json: {\n        success: true,\n        action: 'list',\n        message: `Verfügbare Trainingsbereiche: ${bereichsListe}`,\n        trainingsbereiche: listInput.trainingsbereiche,\n        totalCount: listInput.totalCount,\n        timestamp: timestamp\n      }\n    }];\n    \n  case 'check':\n    // Prüfe ob Persona generiert wurde\n    if (trainingsbereich) {\n      // Persona wurde generiert\n      const claudeOutput = $('Message a model').first().json;\n      return [{\n        json: {\n          success: true,\n          action: 'check',\n          trainingsbereich: trainingsbereich,\n          persona: claudeOutput.content[0].text,\n          timestamp: timestamp\n        }\n      }];\n    } else {\n      // Bereich existiert nicht\n      const checkInput = $('Situation \\'check\\'').first().json;\n      return [{\n        json: {\n          success: false,\n          action: 'check',\n          bereich: checkInput.bereich,\n          exists: checkInput.exists,\n          message: checkInput.message,\n          timestamp: timestamp\n        }\n      }];\n    }\n    \n  case 'random':\n    // Persona wurde generiert\n    const claudeOutput = $('Message a model').first().json;\n    const randomNode = $('Beschreibung des Trainingsbereichs holen').first().json;\n    return [{\n      json: {\n        success: true,\n        action: 'random',\n        trainingsbereich: randomNode.trainingsbereich,\n        persona: claudeOutput.content[0].text,\n        timestamp: timestamp\n      }\n    }];\n    \n  default:\n    return [{\n      json: {\n        success: false,\n        error: \"Unbekannte Aktion\",\n        receivedAction: action,\n        timestamp: timestamp\n      }\n    }];\n}"
      },
      "id": "f40da13f-9ce0-48dd-b61e-91f6117a7d2a",
      "name": "Antwort formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        1328
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1KCGCBwtzQ82m8xQB47K7vGR6BXaZY21TNSiqAOh_ROk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "E-Commerce",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KCGCBwtzQ82m8xQB47K7vGR6BXaZY21TNSiqAOh_ROk/edit#gid=0"
        },
        "options": {}
      },
      "id": "8be0a4d1-563e-4a1c-99c7-0b694afe6b2a",
      "name": "Google Sheets lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        592,
        1664
      ],
      "credentials": {
        "googleApi": {
          "id": "QfuLctHhI3o7mKAL",
          "name": "n8n Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Auswahl verarbeiten').item.json.action }}",
                    "rightValue": "=check",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0e4eaed1-ab8c-4181-8dac-1728b2237925"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modus Check"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f33fa37a-fe46-4435-bc81-e7aee75ffebc",
                    "leftValue": "={{ $('Auswahl verarbeiten').item.json.action }}",
                    "rightValue": "random",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modus Random"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1a1a1574-4d2b-44ce-b5ea-c50773cec633",
                    "leftValue": "={{ $('Auswahl verarbeiten').item.json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modus List"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1040,
        1648
      ],
      "id": "6c0eceaa-fee0-4449-95b6-b0d290f24b4e",
      "name": "Modus prüfen"
    },
    {
      "parameters": {
        "jsCode": "// Hole die Input-Action (kann 'check' oder 'random' sein)\nconst inputData = $input.first().json;\nconst action = inputData.action;\nconst bereich = inputData.bereich || null;\n\n// Hole die trainingsDaten\nconst trainingsDaten = $('Auswahl verarbeiten').first().json.trainingsDaten;\n\nlet trainingsRow;\n\nif (bereich) {\n  // Bei 'check': Spezifischen Bereich finden\n  trainingsRow = trainingsDaten.find(row => \n      row.Trainingsbereich && \n      row.Trainingsbereich.toLowerCase() === bereich.toLowerCase()\n  );\n} else {\n  // Bei 'random': Zufälligen Bereich wählen\n  const randomIndex = Math.floor(Math.random() * trainingsDaten.length);\n  trainingsRow = trainingsDaten[randomIndex];\n}\n\n// Beschreibung parsen und eine Situation zufällig auswählen\nconst beschreibung = trainingsRow.Beschreibung || 'Keine Beschreibung verfügbar';\n\n// Extrahiere alle Situationen (Zeilen die mit \"- \" beginnen)\nconst situationen = beschreibung\n  .split('\\n')\n  .filter(line => line.trim().startsWith('- '))\n  .map(line => line.trim().substring(2)); // Entferne \"- \" Prefix\n\nlet selectedSituation;\n\nif (situationen.length > 0) {\n  // Wähle eine zufällige Situation\n  const randomIndex = Math.floor(Math.random() * situationen.length);\n  selectedSituation = situationen[randomIndex];\n} else {\n  // Falls keine Situationen mit \"- \" gefunden, nutze die komplette Beschreibung\n  selectedSituation = beschreibung;\n}\n\n// Output - mit nur EINER Situation\nreturn [{\n    json: {\n        action: action,\n        trainingsbereich: trainingsRow.Trainingsbereich,\n        beschreibung: selectedSituation  // <- Nur eine zufällige Situation!\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        1328
      ],
      "id": "98a08fb0-1b3a-4e4f-a061-f1dda2c21b23",
      "name": "Beschreibung des Trainingsbereichs holen"
    },
    {
      "parameters": {
        "jsCode": "const checkInput = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    action: 'check',\n    trainingsbereich: checkInput.trainingsbereich,  // <- geändert\n    answer: `Der Trainingsbereich \"${checkInput.trainingsbereich}\" existiert leider nicht. Möchtest du die verfügbare Liste hören?`,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "6889b3f5-d24c-4818-a890-1ee0ab4a3440",
      "name": "Trainingsbereich existiert nicht",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        1520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formatiere die Liste für Fonio\nconst listInput = $input.first().json;\nconst bereichsListe = listInput.trainingsbereiche.join(', ');\n\nreturn [{\n  json: {\n    success: true,\n    action: 'list',\n    message: `Verfügbare Trainingsbereiche: ${bereichsListe}`,\n    trainingsbereiche: listInput.trainingsbereiche,\n    totalCount: listInput.totalCount,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "4c0d159b-df37-4a91-b46e-b28606b6af2c",
      "name": "Liste der Trainingsbereiche",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        1808
      ]
    }
  ],
  "connections": {
    "Fonio Webhook Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Antwort formatieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situation 'check'": {
      "main": [
        [
          {
            "node": "Existiert Trainingsbereich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situation 'list'": {
      "main": [
        [
          {
            "node": "Liste der Trainingsbereiche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situation 'random'": {
      "main": [
        [
          {
            "node": "Beschreibung des Trainingsbereichs holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auswahl verarbeiten": {
      "main": [
        [
          {
            "node": "Modus prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Antwort formatieren": {
      "main": [
        [
          {
            "node": "Antwort an Fonio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets lesen": {
      "main": [
        [
          {
            "node": "Auswahl verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modus prüfen": {
      "main": [
        [
          {
            "node": "Situation 'check'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Situation 'random'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Situation 'list'",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Existiert Trainingsbereich?": {
      "main": [
        [
          {
            "node": "Beschreibung des Trainingsbereichs holen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trainingsbereich existiert nicht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beschreibung des Trainingsbereichs holen": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trainingsbereich existiert nicht": {
      "main": [
        [
          {
            "node": "Antwort an Fonio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liste der Trainingsbereiche": {
      "main": [
        [
          {
            "node": "Antwort an Fonio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "40b61e99-298b-46b3-b9e3-eaa3fc805ac3",
  "activeVersionId": "40b61e99-298b-46b3-b9e3-eaa3fc805ac3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-08T18:17:37.246Z",
      "createdAt": "2025-11-08T18:17:37.246Z",
      "role": "workflow:owner",
      "workflowId": "wtVL3a6B2x2Xintd",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-08T16:14:36.269Z",
    "createdAt": "2025-12-08T16:14:36.269Z",
    "versionId": "40b61e99-298b-46b3-b9e3-eaa3fc805ac3",
    "workflowId": "wtVL3a6B2x2Xintd",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "fonio-training-trigger",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "819e706c-9507-440c-bcf9-b3f0209aefd0",
        "name": "Fonio Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          368,
          1664
        ],
        "webhookId": "ca536c70-f01b-464d-ad81-1ca7e40696f2"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "359dbf06-aeaf-4f82-99b6-ce3ccb91382e",
        "name": "Antwort an Fonio",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2512,
          1520
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "claude-sonnet-4-20250514",
            "mode": "list",
            "cachedResultName": "claude-sonnet-4-20250514"
          },
          "messages": {
            "values": [
              {
                "content": "==Erstelle eine Trainingspersona für den Bereich \"{{ $json.trainingsbereich }}\".\n\nSituationsbeschreibung:\n{{ $json.beschreibung }}\n\nEntwickle eine vollständige Persona, die repräsentativ für Kunden in diesem Trainingsbereich ist."
              }
            ]
          },
          "options": {
            "system": "Du bist ein Experte für Kundenservice-Training und spezialisiert auf die Entwicklung realistischer Trainingspersonas. Deine Aufgabe ist es, detaillierte, glaubwürdige Kundencharaktere zu erstellen, die Mitarbeiter in spezifischen Situationen trainieren können.\n\nErstelle immer Personas mit: Name, Alter, Beruf, Persönlichkeitstyp, Kommunikationsstil, emotionalem Zustand, spezifischen Bedürfnissen und typischen Problemen. Die Personas sollen für Rollenspiele geeignet und psychologisch stimmig sein."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          1936,
          1328
        ],
        "id": "769c1c24-b995-4b8c-9133-e8a28b70d19c",
        "name": "Message a model",
        "credentials": {
          "anthropicApi": {
            "id": "6RlfJdXsmselCNpN",
            "name": "Anthropic account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Function-Node für 'random'\n\n// Hole die trainingsDaten von \"Auswahl verarbeiten\"\nconst trainingsDaten = $('Auswahl verarbeiten').first().json.trainingsDaten;\n\nif (!trainingsDaten || trainingsDaten.length === 0) {\n    return [{ json: { action: 'error', message: 'Keine Trainingsdaten verfügbar' }}];\n}\n\n// Wähle zufälligen Trainingsbereich\nconst randomIndex = Math.floor(Math.random() * trainingsDaten.length);\nconst selectedRow = trainingsDaten[randomIndex];\n\nreturn [{ \n    json: { \n        action: 'random', \n        trainingsbereich: selectedRow.Trainingsbereich, \n        beschreibung: selectedRow.Beschreibung \n    } \n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1488,
          1664
        ],
        "id": "e13053f0-263b-4cdc-86a3-ea93e77c42b1",
        "name": "Situation 'random'"
      },
      {
        "parameters": {
          "jsCode": "// Function-Node für case 'check'\n\nconst inputItem = $input.first().json; \nconst checkBereich = inputItem.bereich;\n\n// Hole die Trainingsdaten\nlet dataRows = inputItem.trainingsDaten || []; \n\n// Der eigentliche Vergleich\nconst exists = dataRows.some(row => \n    typeof row.Trainingsbereich === 'string' && \n    row.Trainingsbereich.toLowerCase() === checkBereich.toLowerCase()\n);\n\nreturn [{ \n    json: { \n        action: 'check', \n        exists: exists,  // <- geändert von checkPassed zu exists\n        bereich: checkBereich, \n        message: exists ? 'Trainingsbereich gefunden.' : 'Trainingsbereich nicht verfügbar.' \n    } \n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          1424
        ],
        "id": "167edf0c-d5e6-4c8f-8f5a-850b98d89f50",
        "name": "Situation 'check'"
      },
      {
        "parameters": {
          "jsCode": "// Function-Node für case 'list'\n\n// Hole die trainingsDaten von \"Auswahl verarbeiten\"\nconst trainingsDaten = $input.first().json.trainingsDaten;\n\nif (!trainingsDaten || trainingsDaten.length === 0) {\n    return [{ json: { action: 'error', message: 'Keine Trainingsdaten verfügbar' }}];\n}\n\n// Extrahiere alle Trainingsbereiche\nconst bereiche = trainingsDaten.map(row => row.Trainingsbereich);\n\nreturn [{ \n    json: { \n        action: 'list', \n        trainingsbereiche: bereiche, \n        totalCount: bereiche.length \n    } \n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          1808
        ],
        "id": "57ad9863-66bf-406a-8163-c6708e5d3886",
        "name": "Situation 'list'"
      },
      {
        "parameters": {
          "jsCode": "// Function: Webhook-Body korrekt extrahieren + Google Sheets Daten mitgeben\n\n// 1. Hole den Body des Webhook-Requests, wo 'action' und 'bereich' liegen.\nconst webhookBody = $('Fonio Webhook Trigger').first().json.body;\n\n// 2. Hole die Google Sheets Trainingsdaten\nconst trainingsDaten = $input.all()\n  .filter(item => item.json.Trainingsbereich)\n  .map(item => item.json);\n\n// 3. Sicherheits-Check, ob die Action definiert ist\nif (!webhookBody || !webhookBody.action) {\n    return [{ json: { action: 'random', message: 'Action fehlt im Webhook Body.' } }];\n}\n\n// 4. Output erstellen mit allen Daten\nreturn [{\n    json: {\n        action: webhookBody.action, \n        bereich: webhookBody.bereich || '', \n        rufnummer: webhookBody.rufnummer || '',\n        trainingsDaten: trainingsDaten\n    }\n}];"
        },
        "id": "f319e59d-3582-4eab-a172-216ca150a1e7",
        "name": "Auswahl verarbeiten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          1664
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "3eab51b1-ddfc-430f-bc1c-cfccc9602310",
                "leftValue": "={{ $json.exists }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1488,
          1424
        ],
        "id": "422e0200-574b-476b-b789-147c389294ce",
        "name": "Existiert Trainingsbereich?"
      },
      {
        "parameters": {
          "jsCode": "// Hole die action von der richtigen Stelle\nlet action;\nlet trainingsbereich;\n\n// Versuche von \"Beschreibung des Trainingsbereichs holen\"\nconst beschreibungNode = $('Beschreibung des Trainingsbereichs holen').first();\nif (beschreibungNode && beschreibungNode.json) {\n  action = beschreibungNode.json.action;\n  trainingsbereich = beschreibungNode.json.trainingsbereich;\n} else {\n  // Fallback auf aktuellen Input\n  action = $input.first().json.action;\n  trainingsbereich = $input.first().json.trainingsbereich;\n}\n\n// Timestamp\nconst timestamp = new Date().toISOString();\n\nswitch (action) {\n  \n  case 'list':\n    const listInput = $('Situation \\'list\\'').first().json;\n    const bereichsListe = listInput.trainingsbereiche.join(', ');\n    return [{\n      json: {\n        success: true,\n        action: 'list',\n        message: `Verfügbare Trainingsbereiche: ${bereichsListe}`,\n        trainingsbereiche: listInput.trainingsbereiche,\n        totalCount: listInput.totalCount,\n        timestamp: timestamp\n      }\n    }];\n    \n  case 'check':\n    // Prüfe ob Persona generiert wurde\n    if (trainingsbereich) {\n      // Persona wurde generiert\n      const claudeOutput = $('Message a model').first().json;\n      return [{\n        json: {\n          success: true,\n          action: 'check',\n          trainingsbereich: trainingsbereich,\n          persona: claudeOutput.content[0].text,\n          timestamp: timestamp\n        }\n      }];\n    } else {\n      // Bereich existiert nicht\n      const checkInput = $('Situation \\'check\\'').first().json;\n      return [{\n        json: {\n          success: false,\n          action: 'check',\n          bereich: checkInput.bereich,\n          exists: checkInput.exists,\n          message: checkInput.message,\n          timestamp: timestamp\n        }\n      }];\n    }\n    \n  case 'random':\n    // Persona wurde generiert\n    const claudeOutput = $('Message a model').first().json;\n    const randomNode = $('Beschreibung des Trainingsbereichs holen').first().json;\n    return [{\n      json: {\n        success: true,\n        action: 'random',\n        trainingsbereich: randomNode.trainingsbereich,\n        persona: claudeOutput.content[0].text,\n        timestamp: timestamp\n      }\n    }];\n    \n  default:\n    return [{\n      json: {\n        success: false,\n        error: \"Unbekannte Aktion\",\n        receivedAction: action,\n        timestamp: timestamp\n      }\n    }];\n}"
        },
        "id": "f40da13f-9ce0-48dd-b61e-91f6117a7d2a",
        "name": "Antwort formatieren",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2288,
          1328
        ]
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "1KCGCBwtzQ82m8xQB47K7vGR6BXaZY21TNSiqAOh_ROk",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "E-Commerce",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KCGCBwtzQ82m8xQB47K7vGR6BXaZY21TNSiqAOh_ROk/edit#gid=0"
          },
          "options": {}
        },
        "id": "8be0a4d1-563e-4a1c-99c7-0b694afe6b2a",
        "name": "Google Sheets lesen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          592,
          1664
        ],
        "credentials": {
          "googleApi": {
            "id": "QfuLctHhI3o7mKAL",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Auswahl verarbeiten').item.json.action }}",
                      "rightValue": "=check",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "0e4eaed1-ab8c-4181-8dac-1728b2237925"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Modus Check"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "f33fa37a-fe46-4435-bc81-e7aee75ffebc",
                      "leftValue": "={{ $('Auswahl verarbeiten').item.json.action }}",
                      "rightValue": "random",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Modus Random"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1a1a1574-4d2b-44ce-b5ea-c50773cec633",
                      "leftValue": "={{ $('Auswahl verarbeiten').item.json.action }}",
                      "rightValue": "list",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Modus List"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          1040,
          1648
        ],
        "id": "6c0eceaa-fee0-4449-95b6-b0d290f24b4e",
        "name": "Modus prüfen"
      },
      {
        "parameters": {
          "jsCode": "// Hole die Input-Action (kann 'check' oder 'random' sein)\nconst inputData = $input.first().json;\nconst action = inputData.action;\nconst bereich = inputData.bereich || null;\n\n// Hole die trainingsDaten\nconst trainingsDaten = $('Auswahl verarbeiten').first().json.trainingsDaten;\n\nlet trainingsRow;\n\nif (bereich) {\n  // Bei 'check': Spezifischen Bereich finden\n  trainingsRow = trainingsDaten.find(row => \n      row.Trainingsbereich && \n      row.Trainingsbereich.toLowerCase() === bereich.toLowerCase()\n  );\n} else {\n  // Bei 'random': Zufälligen Bereich wählen\n  const randomIndex = Math.floor(Math.random() * trainingsDaten.length);\n  trainingsRow = trainingsDaten[randomIndex];\n}\n\n// Beschreibung parsen und eine Situation zufällig auswählen\nconst beschreibung = trainingsRow.Beschreibung || 'Keine Beschreibung verfügbar';\n\n// Extrahiere alle Situationen (Zeilen die mit \"- \" beginnen)\nconst situationen = beschreibung\n  .split('\\n')\n  .filter(line => line.trim().startsWith('- '))\n  .map(line => line.trim().substring(2)); // Entferne \"- \" Prefix\n\nlet selectedSituation;\n\nif (situationen.length > 0) {\n  // Wähle eine zufällige Situation\n  const randomIndex = Math.floor(Math.random() * situationen.length);\n  selectedSituation = situationen[randomIndex];\n} else {\n  // Falls keine Situationen mit \"- \" gefunden, nutze die komplette Beschreibung\n  selectedSituation = beschreibung;\n}\n\n// Output - mit nur EINER Situation\nreturn [{\n    json: {\n        action: action,\n        trainingsbereich: trainingsRow.Trainingsbereich,\n        beschreibung: selectedSituation  // <- Nur eine zufällige Situation!\n    }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1712,
          1328
        ],
        "id": "98a08fb0-1b3a-4e4f-a061-f1dda2c21b23",
        "name": "Beschreibung des Trainingsbereichs holen"
      },
      {
        "parameters": {
          "jsCode": "const checkInput = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    action: 'check',\n    trainingsbereich: checkInput.trainingsbereich,  // <- geändert\n    answer: `Der Trainingsbereich \"${checkInput.trainingsbereich}\" existiert leider nicht. Möchtest du die verfügbare Liste hören?`,\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "6889b3f5-d24c-4818-a890-1ee0ab4a3440",
        "name": "Trainingsbereich existiert nicht",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2288,
          1520
        ]
      },
      {
        "parameters": {
          "jsCode": "// Formatiere die Liste für Fonio\nconst listInput = $input.first().json;\nconst bereichsListe = listInput.trainingsbereiche.join(', ');\n\nreturn [{\n  json: {\n    success: true,\n    action: 'list',\n    message: `Verfügbare Trainingsbereiche: ${bereichsListe}`,\n    trainingsbereiche: listInput.trainingsbereiche,\n    totalCount: listInput.totalCount,\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "4c0d159b-df37-4a91-b46e-b28606b6af2c",
        "name": "Liste der Trainingsbereiche",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2288,
          1808
        ]
      }
    ],
    "connections": {
      "Fonio Webhook Trigger": {
        "main": [
          [
            {
              "node": "Google Sheets lesen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Antwort formatieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Situation 'check'": {
        "main": [
          [
            {
              "node": "Existiert Trainingsbereich?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Situation 'list'": {
        "main": [
          [
            {
              "node": "Liste der Trainingsbereiche",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Situation 'random'": {
        "main": [
          [
            {
              "node": "Beschreibung des Trainingsbereichs holen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auswahl verarbeiten": {
        "main": [
          [
            {
              "node": "Modus prüfen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Antwort formatieren": {
        "main": [
          [
            {
              "node": "Antwort an Fonio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets lesen": {
        "main": [
          [
            {
              "node": "Auswahl verarbeiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Modus prüfen": {
        "main": [
          [
            {
              "node": "Situation 'check'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Situation 'random'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Situation 'list'",
              "type": "main",
              "index": 0
            }
          ],
          [],
          []
        ]
      },
      "Existiert Trainingsbereich?": {
        "main": [
          [
            {
              "node": "Beschreibung des Trainingsbereichs holen",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Trainingsbereich existiert nicht",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Beschreibung des Trainingsbereichs holen": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trainingsbereich existiert nicht": {
        "main": [
          [
            {
              "node": "Antwort an Fonio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Liste der Trainingsbereiche": {
        "main": [
          [
            {
              "node": "Antwort an Fonio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}