n8n/1w5K3Pa6bcuuyVVj/BERENT AI Mail Postfach abrufen.json
{"id":"1w5K3Pa6bcuuyVVj","active":true,"connections":{"Erfolg?":{"main":[[{"index":0,"node":"Respond Erfolg","type":"main"}],[{"index":0,"node":"Respond Fehler","type":"main"}]]},"IMAP Fetch (Code)":{"main":[[{"index":0,"node":"Erfolg?","type":"main"}]]},"Webhook fetch-emails":{"main":[[{"index":0,"node":"IMAP Fetch (Code)","type":"main"}]]}},"name":"BERENT AI Mail Postfach abrufen","nodes":[{"name":"Webhook fetch-emails","parameters":{"httpMethod":"POST","options":{"allowedOrigins":"*"},"path":"fetch-emails/fe-6c8d3b1a-e947-4f2d-b5a3-2e9f0d7c4b86","responseMode":"responseNode"},"position":[0,304],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"f4c3b2a1-0fed-4cba-9def-0123456789ab"},{"name":"IMAP Fetch (Code)","parameters":{"jsCode":"const main = async () => {\n  let ImapFlow;\n  try {\n    ({ ImapFlow } = require('imapflow'));\n  } catch (e) {\n    return [\n      {\n        json: {\n          status: 'error',\n          message:\n            'IMAP-Module nicht geladen. Auf dem Server NODE_FUNCTION_ALLOW_EXTERNAL=imapflow,mailparser setzen und npm-Pakete installieren.',\n        },\n      },\n    ];\n  }\n\n  let simpleParser = null;\n  try {\n    simpleParser = require('mailparser').simpleParser;\n  } catch (e) {\n    /* optional */\n  }\n\n  const raw = $input.first().json;\n  let body = raw.body;\n  if (typeof body === 'string') {\n    try {\n      body = JSON.parse(body || '{}');\n    } catch (e) {\n      return [{ json: { status: 'error', message: 'Ungültiges JSON im Body' } }];\n    }\n  }\n  if (!body || typeof body !== 'object') {\n    return [{ json: { status: 'error', message: 'Ungültiger Request-Body' } }];\n  }\n\n  const emailAddr = body.email;\n  const password = body.password;\n  const server = body.server;\n  const port = parseInt(String(body.port ?? 993), 10) || 993;\n  const folder = body.folder || 'INBOX';\n  const limit = 50;\n  const insecureTls = body.insecureTls === true || body.insecureTls === 'true';\n\n  if (!emailAddr || !password || !server) {\n    return [\n      {\n        json: {\n          status: 'error',\n          message: 'email, password und server sind erforderlich',\n        },\n      },\n    ];\n  }\n\n  const client = new ImapFlow({\n    host: server,\n    port,\n    secure: port === 993,\n    tls: insecureTls ? { rejectUnauthorized: false } : undefined,\n    auth: { user: emailAddr, pass: password },\n    logger: false,\n  });\n\n  try {\n    await client.connect();\n  } catch (e) {\n    return [\n      {\n        json: {\n          status: 'error',\n          message: 'Verbindungsfehler: ' + (e.message || String(e)),\n        },\n      },\n    ];\n  }\n\n  function hasAttachmentInStructure(part) {\n    if (!part) return false;\n    if (part.disposition === 'attachment') return true;\n    if (part.type === 'multipart' && Array.isArray(part.childNodes)) {\n      return part.childNodes.some(hasAttachmentInStructure);\n    }\n    return false;\n  }\n\n  try {\n    await client.mailboxOpen(folder);\n    const total =\n      client.mailbox && typeof client.mailbox.exists === 'number' ? client.mailbox.exists : 0;\n    const emails = [];\n\n    if (total > 0) {\n      const start = Math.max(1, total - limit + 1);\n      const range = `${start}:${total}`;\n      for await (const msg of client.fetch(range, {\n        uid: true,\n        envelope: true,\n        internalDate: true,\n        flags: true,\n        source: true,\n        bodyStructure: true,\n      })) {\n        const env = msg.envelope || {};\n        const fromAddr = env.from && env.from[0];\n        const toAddr = env.to && env.to[0];\n        let bodyText = '';\n        let hasAtt = false;\n\n        if (msg.source && simpleParser) {\n          try {\n            const parsed = await simpleParser(msg.source);\n            bodyText =\n              parsed.text ||\n              (typeof parsed.html === 'string' ? parsed.html.replace(/<[^>]+>/g, ' ') : '') ||\n              '';\n            hasAtt = !!(parsed.attachments && parsed.attachments.length > 0);\n          } catch (e) {\n            bodyText = msg.source.toString('utf8').substring(0, 20000);\n          }\n        } else if (msg.source) {\n          bodyText = msg.source.toString('utf8').substring(0, 20000);\n        }\n\n        if (!hasAtt && msg.bodyStructure) {\n          hasAtt = hasAttachmentInStructure(msg.bodyStructure);\n        }\n\n        const preview = bodyText.replace(/\\s+/g, ' ').trim().substring(0, 120);\n        const seen = msg.flags && msg.flags.has ? msg.flags.has('\\\\Seen') : false;\n        const flagged = msg.flags && msg.flags.has ? msg.flags.has('\\\\Flagged') : false;\n\n        emails.push({\n          id: `msg-${msg.uid}`,\n          from: (fromAddr && fromAddr.address) || '',\n          fromName: (fromAddr && (fromAddr.name || fromAddr.address)) || '',\n          to: (toAddr && toAddr.address) || emailAddr,\n          subject: env.subject || '',\n          preview: preview || '',\n          body: bodyText,\n          date: msg.internalDate\n            ? new Date(msg.internalDate).toISOString()\n            : new Date().toISOString(),\n          hasAttachment: hasAtt,\n          read: seen,\n          starred: flagged,\n        });\n      }\n    }\n\n    emails.reverse();\n    await client.logout();\n    return [{ json: { status: 'success', emails } }];\n  } catch (e) {\n    try {\n      await client.logout();\n    } catch (_) {}\n    return [\n      {\n        json: {\n          status: 'error',\n          message: 'Verbindungsfehler: ' + (e.message || String(e)),\n        },\n      },\n    ];\n  }\n};\n\nreturn await main();\n"},"position":[272,304],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Erfolg?","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.status }}","operator":{"operation":"equals","type":"string"},"rightValue":"success"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"options":{}},"position":[528,304],"type":"n8n-nodes-base.if","typeVersion":2},{"name":"Respond Erfolg","parameters":{"options":{"responseCode":200},"respondWith":"json","responseBody":"={{ $json }}"},"position":[784,192],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"name":"Respond Fehler","parameters":{"options":{"responseCode":500},"respondWith":"json","responseBody":"={{ $json }}"},"position":[784,432],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"name":"Hinweis BER-64","parameters":{"color":6,"content":"## BER-64 IMAP fetch-emails\n\n**Pfad:** `POST /webhook/fetch-emails`\n\n**Server:** `NODE_FUNCTION_ALLOW_EXTERNAL=imapflow,mailparser` (Hostinger)\n\n**Proton-Bridge:** optional `insecureTls: true` im JSON-Body.\n\nCredentials kommen dynamisch aus dem Request-Body (siehe Briefing).","height":300,"width":528},"position":[-64,128],"type":"n8n-nodes-base.stickyNote","typeVersion":1}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}