n8n/sItAT9OY7SdSNlhR/sItAT9OY7SdSNlhR.json
{"active":false,"connections":{"Check Voice Message":{"main":[[{"index":0,"node":"Download Voice File","type":"main"}],[{"index":0,"node":"No Voice Message Email","type":"main"}]]},"Check for Errors":{"main":[[{"index":0,"node":"Send Error Email","type":"main"}],[{"index":0,"node":"Success Response","type":"main"}]]},"Download Voice File":{"main":[[{"index":0,"node":"Transcribe with OpenAI","type":"main"}]]},"Obsidian Notiz erstellen":{"main":[[{"index":0,"node":"Check for Errors","type":"main"}]]},"Telegram Trigger":{"main":[[{"index":0,"node":"Check Voice Message","type":"main"}]]},"Transcribe with OpenAI":{"main":[[{"index":0,"node":"Obsidian Notiz erstellen","type":"main"}]]}},"name":"Telegram Voice to Obsidian Transcription","nodes":[{"name":"Telegram Trigger","parameters":{"additionalFields":{},"updates":["message"]},"position":[-768,304],"type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"webhookId":"telegram-voice-webhook"},{"name":"Check Voice Message","parameters":{"conditions":{"boolean":[{"value1":"={{ $json.message.voice ? true : false }}","value2":true}]}},"position":[-544,304],"type":"n8n-nodes-base.if","typeVersion":1},{"name":"Download Voice File","parameters":{"operation":"getFile"},"position":[-320,208],"type":"n8n-nodes-base.telegram","typeVersion":1,"webhookId":"d98284ba-5897-454b-b033-92c394973c5e"},{"name":"Transcribe with OpenAI","parameters":{"requestOptions":{},"resource":"audio"},"position":[-96,208],"type":"n8n-nodes-base.openAi","typeVersion":1},{"name":"Check for Errors","parameters":{"conditions":{"boolean":[{"value1":"={{ $json.error ? true : false }}","value2":true}]}},"position":[352,208],"type":"n8n-nodes-base.if","typeVersion":1},{"name":"Send Error Email","parameters":{"fromEmail":"n8n-workflow@berent.ai","options":{},"subject":"n8n Workflow Fehler - Sprachnachricht Transkription","text":"=Fehler bei der Verarbeitung einer Telegram Sprachnachricht:\n\n- Zeitpunkt: {{ $now.format('dd.MM.yyyy HH:mm:ss') }}\n- Fehlertyp: Verbindungsfehler zu berent.ai\n- Details: {{ $json.error.message || 'Unbekannter Fehler' }}\n- Telegram User: {{ $node['Telegram Trigger'].json.message.from.username || $node['Telegram Trigger'].json.message.from.id }}\n- HTTP Status: {{ $json.statusCode || 'N/A' }}\n\nBitte prüfen Sie die API-Verbindung und Logs.","toEmail":"office@berent.ai"},"position":[576,112],"type":"n8n-nodes-base.emailSend","typeVersion":2,"webhookId":"58f75b8d-3300-443a-8dba-61dd1cc3db8b"},{"name":"No Voice Message Email","parameters":{"fromEmail":"n8n-workflow@berent.ai","options":{},"subject":"n8n Workflow Fehler - Keine Sprachnachricht","text":"=Eine Telegram-Nachricht wurde empfangen, enthielt aber keine Sprachnachricht:\n\n- Zeitpunkt: {{ $now.format('dd.MM.yyyy HH:mm:ss') }}\n- Fehlertyp: Keine Sprachnachricht gefunden\n- Telegram User: {{ $json.message.from.username || $json.message.from.id }}\n- Nachrichtentyp: {{ Object.keys($json.message).filter(k => ['text', 'photo', 'document', 'video'].includes(k))[0] || 'Unbekannt' }}\n\nDer Workflow verarbeitet nur Sprachnachrichten.","toEmail":"office@berent.ai"},"position":[-320,400],"type":"n8n-nodes-base.emailSend","typeVersion":2,"webhookId":"fccaaaa5-bd9e-4a16-9a36-c598ce503e50"},{"name":"Success Response","parameters":{"options":{},"values":{"string":[{"name":"status","value":"success"},{"name":"message","value":"Sprachnachricht erfolgreich transkribiert und an berent.ai gesendet"}]}},"position":[576,304],"type":"n8n-nodes-base.set","typeVersion":2},{"name":"Obsidian Notiz erstellen","parameters":{"assignments":{"assignments":[{"name":"notizDateiname","type":"string","value":"={{ $now.format('yyyy-MM-dd_HHmm') }}"},{"name":"notizPfad","type":"string","value":"=/Users/Shared/Obsidian/KI Solution 36 Transkripte/Inbox/{{ $json.noteFilename }}"},{"name":"notizInhalt","type":"string","value":""}]},"options":{}},"position":[112,208],"type":"n8n-nodes-base.set","typeVersion":3.4}],"settings":{"availableInMCP":false,"binaryMode":"separate","executionOrder":"v1"}}