n8n/hR36jIx0wREZK0Bf/Threema Gateway Universal - Nachrichten & Dateien.json
{"active":false,"connections":{"Als Audio markieren":{"main":[[{"index":0,"node":"Daten zusammenführen","type":"main"}]]},"Als Bild markieren":{"main":[[{"index":0,"node":"Daten zusammenführen","type":"main"}]]},"Als Dokument markieren":{"main":[[{"index":0,"node":"Daten zusammenführen","type":"main"}]]},"Als Text markieren":{"main":[[{"index":1,"node":"Daten zusammenführen","type":"main"}]]},"Audio prüfen":{"main":[[{"index":0,"node":"Als Audio markieren","type":"main"}],[{"index":0,"node":"Als Dokument markieren","type":"main"}]]},"Bestätigung senden":{"main":[[{"index":0,"node":"Webhook Response","type":"main"}]]},"Datei herunterladen":{"main":[[{"index":0,"node":"Datei verarbeiten","type":"main"}]]},"Datei verarbeiten":{"main":[[{"index":0,"node":"Dateityp prüfen","type":"main"}]]},"Dateityp prüfen":{"main":[[{"index":0,"node":"Als Bild markieren","type":"main"}]]},"Daten zusammenführen":{"main":[[{"index":0,"node":"Nachricht verarbeiten","type":"main"}]]},"E2E Entschlüsseln":{"main":[[{"index":0,"node":"Parse Webhook Daten","type":"main"}]]},"Hat Datei?":{"main":[[{"index":0,"node":"Datei herunterladen","type":"main"}],[{"index":0,"node":"Als Text markieren","type":"main"}]]},"Nachricht verarbeiten":{"main":[[{"index":0,"node":"Bestätigung senden","type":"main"}]]},"Parse Webhook Daten":{"main":[[{"index":0,"node":"Hat Datei?","type":"main"}]]},"Threema Gateway Webhook":{"main":[[{"index":0,"node":"E2E Entschlüsseln","type":"main"}]]}},"name":"Threema Gateway Universal - Nachrichten & Dateien","nodes":[{"name":"Threema Gateway Webhook","parameters":{"httpMethod":"POST","options":{},"path":"threema-gateway","responseMode":"responseNode"},"position":[160,128],"type":"n8n-nodes-base.webhook","typeVersion":1.1,"webhookId":"threema-gateway-webhook"},{"name":"Info: Webhook Daten","parameters":{"content":"=Empfangene Webhook-Daten:\n{{ JSON.stringify($json, null, 2) }}","height":464,"width":465},"position":[199.5,-176],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Parse Webhook Daten","parameters":{"jsCode":"// Parse entschlüsselte Threema E2E-Daten\nconst item = $input.item.json;\n\n// Prüfe ob Daten bereits entschlüsselt sind\nif (item.decrypted === false) {\n  // Noch nicht entschlüsselt - verwende rohe Daten\n  console.log('⚠️ Daten noch nicht entschlüsselt');\n  \n  return {\n    json: {\n      messageId: item.messageId,\n      from: item.from,\n      to: item.to,\n      messageType: 'encrypted',\n      hasFile: false,\n      text: '[Verschlüsselte Nachricht - Entschlüsselung ausstehend]',\n      timestamp: new Date(parseInt(item.date) * 1000).toISOString(),\n      rawData: item\n    }\n  };\n}\n\n// TODO: Nach Entschlüsselung - parse die eigentliche Nachricht\n// Hier kommt später die Logik für entschlüsselte Nachrichten\n\nreturn {\n  json: {\n    messageId: item.messageId,\n    from: item.from,\n    to: item.to,\n    messageType: item.type || 'text',\n    hasFile: item.type === 'file' || item.type === 'image' || item.type === 'video',\n    text: item.text || '',\n    blobId: item.blobId || null,\n    timestamp: new Date(parseInt(item.date) * 1000).toISOString(),\n    rawData: item\n  }\n};"},"position":[608,128],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Hat Datei?","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.hasFile }}","operator":{"operation":"true","singleValue":true,"type":"boolean"},"rightValue":true}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"options":{}},"position":[832,128],"type":"n8n-nodes-base.if","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"API LLM in Azure (Mistral)"}},"name":"Datei herunterladen","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"outputPropertyName":"fileData","responseFormat":"file"}}},"queryParameters":{"parameters":[{"name":"from","value":"={{ $json.to }}"}]},"sendQuery":true,"url":"=https://msgapi.threema.ch/blobs/{{ $json.blobId }}"},"position":[1056,32],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Datei verarbeiten","parameters":{"jsCode":"// Verarbeite heruntergeladene Datei\nconst item = $input.item.json;\n\nreturn {\n  json: {\n    ...item,\n    fileDownloaded: true,\n    fileBinaryData: 'fileData',\n    processedAt: new Date().toISOString()\n  },\n  binary: $input.item.binary\n};"},"position":[1280,32],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Dateityp prüfen","parameters":{"options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"","operator":{"operation":"equals","type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}}}]}},"position":[1504,32],"type":"n8n-nodes-base.switch","typeVersion":3},{"name":"Als Bild markieren","parameters":{"assignments":{"assignments":[{"name":"fileCategory","type":"string","value":"image"},{"name":"readyForProcessing","type":"boolean","value":true}]},"options":{}},"position":[1728,32],"type":"n8n-nodes-base.set","typeVersion":3.3},{"name":"Audio prüfen","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.mimeType }}","operator":{"operation":"contains","type":"string"},"rightValue":"audio"}],"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"}},"options":{}},"position":[1504,512],"type":"n8n-nodes-base.if","typeVersion":2},{"name":"Als Audio markieren","parameters":{"assignments":{"assignments":[{"name":"fileCategory","type":"string","value":"audio"},{"name":"readyForProcessing","type":"boolean","value":true}]},"options":{}},"position":[1728,416],"type":"n8n-nodes-base.set","typeVersion":3.3},{"name":"Als Dokument markieren","parameters":{"assignments":{"assignments":[{"name":"fileCategory","type":"string","value":"document"},{"name":"readyForProcessing","type":"boolean","value":true}]},"options":{}},"position":[1728,608],"type":"n8n-nodes-base.set","typeVersion":3.3},{"name":"Als Text markieren","parameters":{"assignments":{"assignments":[{"name":"messageCategory","type":"string","value":"text"},{"name":"readyForProcessing","type":"boolean","value":true}]},"options":{}},"position":[1728,224],"type":"n8n-nodes-base.set","typeVersion":3.3},{"name":"Daten zusammenführen","parameters":{"mode":"combine","options":{}},"position":[1952,320],"type":"n8n-nodes-base.merge","typeVersion":3},{"name":"Info: Verarbeitungspunkt","parameters":{"content":"=🎯 VERARBEITUNGSPUNKT\n\nHier können Sie eigene Logik einfügen:\n- Nachrichten an andere APIs senden\n- Dateien speichern (Google Drive, Dropbox, etc.)\n- KI-Verarbeitung (OpenAI, Claude, etc.)\n- Datenbank-Operationen\n- E-Mail-Benachrichtigungen\n\nVerfügbare Daten:\n- $json.messageCategory / $json.fileCategory\n- $json.text (für Textnachrichten)\n- $json.fileData (Binary-Daten für Dateien)\n- $json.from, $json.to, $json.messageId\n- $json.fileName, $json.mimeType","height":539,"width":393},"position":[1915.5,-59],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Nachricht verarbeiten","parameters":{"jsCode":"// Beispiel: Nachrichtenverarbeitung\n// Hier können Sie eigene Logik implementieren\n\nconst item = $input.item.json;\n\n// Log für Debugging\nconsole.log('Verarbeite Nachricht:', {\n  type: item.messageCategory || item.fileCategory,\n  from: item.from,\n  hasFile: item.hasFile\n});\n\n// Beispiel-Verarbeitung\nlet processing_result = {\n  status: 'processed',\n  processedAt: new Date().toISOString(),\n  summary: ''\n};\n\nif (item.text) {\n  processing_result.summary = `Textnachricht empfangen: ${item.text.substring(0, 50)}...`;\n} else if (item.hasFile) {\n  processing_result.summary = `Datei empfangen: ${item.fileName} (${item.mimeType})`;\n}\n\nreturn {\n  json: {\n    ...item,\n    processing: processing_result\n  },\n  binary: $input.item.binary\n};"},"position":[2176,320],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"API LLM in Azure (Mistral)"}},"name":"Bestätigung senden","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","method":"POST","options":{},"queryParameters":{"parameters":[{"name":"from","value":"={{ $json.to }}"},{"name":"to","value":"={{ $json.from }}"},{"name":"text","value":"=✅ Ihre Nachricht wurde erfolgreich empfangen und verarbeitet.\\n\\nZusammenfassung: {{ $json.processing.summary }}"}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[2400,320],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Webhook Response","parameters":{"options":{},"respondWith":"json","responseBody":"={ \"status\": \"success\", \"message\": \"Nachricht verarbeitet\", \"messageId\": \"{{ $json.messageId }}\" }"},"position":[2624,320],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"name":"Info: Workflow Übersicht","parameters":{"color":5,"content":"=📋 WORKFLOW ÜBERSICHT\n\nDieser Workflow verarbeitet alle Threema Gateway Nachrichten:\n\n✅ Unterstützte Nachrichtentypen:\n- Text\n- Bilder\n- Audio-Dateien\n- Video-Dateien\n- Dokumente/Dateien\n\n🔧 Workflow-Schritte:\n1. Webhook empfängt Nachricht\n2. Daten werden geparst\n3. Dateien werden heruntergeladen (falls vorhanden)\n4. Dateityp wird erkannt\n5. Verarbeitung erfolgt\n6. Bestätigung an Sender\n7. HTTP Response an Threema\n\n⚙️ Konfiguration erforderlich:\n- Threema Gateway API Credentials\n- Webhook-URL in Threema konfigurieren","height":654,"width":361},"position":[-176,0],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Info: Fehlerbehandlung","parameters":{"color":6,"content":"=⚠️ FEHLERBEHANDLUNG\n\nBei Fehlern:\n- Workflow fährt fort (continueOnFail)\n- Fehler werden geloggt\n- Alternativer Pfad wird ausgeführt\n\nOptional:\n- E-Mail-Benachrichtigung bei Fehler\n- Logging in externe Systeme\n- Retry-Mechanismen","height":331,"width":289},"position":[2288,-128],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"E2E Entschlüsseln","parameters":{"jsCode":"// E2E-Entschlüsselung für Threema Gateway\n// WICHTIG: Hier Deine Credentials eintragen!\n\nconst GATEWAY_ID = '*BERENT2';\nconst GATEWAY_SECRET = 'DEIN_SECRET_HIER_EINTRAGEN'; // Kommt nach Freigabe\nconst PRIVATE_KEY = 'DEIN_64_ZEICHEN_PRIVATE_KEY_HIER'; // Aus dem Generator-Tool\n\n// Importiere crypto für Entschlüsselung\nconst crypto = require('crypto');\nconst nacl = require('tweetnacl');\n\n// Hole Webhook-Daten\nconst webhookData = $input.item.json;\n\n// Extrahiere verschlüsselte Box und Nonce\nconst from = webhookData.from;\nconst to = webhookData.to;\nconst messageId = webhookData.messageId;\nconst date = webhookData.date;\nconst nonce = webhookData.nonce; // 24 Bytes, hex-encoded\nconst box = webhookData.box; // Verschlüsselte Nachricht, hex-encoded\n\n// Konvertiere Hex zu Uint8Array\nfunction hexToUint8Array(hex) {\n  const bytes = new Uint8Array(hex.length / 2);\n  for (let i = 0; i < hex.length; i += 2) {\n    bytes[i / 2] = parseInt(hex.substr(i, 2), 16);\n  }\n  return bytes;\n}\n\n// Hole Public Key des Absenders von Threema\n// TODO: Muss von Threema API geholt werden\n// const senderPublicKey = await getSenderPublicKey(from);\n\n// Für jetzt: Platzhalter (muss später implementiert werden)\nconsole.log('E2E Entschlüsselung - noch nicht vollständig implementiert');\nconsole.log('From:', from, 'To:', to, 'MessageId:', messageId);\n\n// Gebe erstmal die rohen Daten weiter\nreturn {\n  json: {\n    from: from,\n    to: to,\n    messageId: messageId,\n    date: date,\n    nonce: nonce,\n    box: box,\n    decrypted: false, // Flag: noch nicht entschlüsselt\n    rawData: webhookData\n  }\n};"},"position":[384,128],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Sticky Note","parameters":{"color":3,"content":"⚠️ E2E-MODUS - TODO\n\nNoch zu erledigen:\n1. Nach Freigabe: SECRET eintragen\n2. Private Key im Code eintragen\n3. Public Key Lookup implementieren\n4. Vollständige Entschlüsselung aktivieren\n5. Nachricht senden mit E2E verschlüsseln\n\nStatus: Vorbereitet, wartet auf *BERENT2 Freigabe","height":384,"width":416},"position":[336,-96],"type":"n8n-nodes-base.stickyNote","typeVersion":1}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}