n8n/hR36jIx0wREZK0Bf/threema-gateway-universal---nachrichten-dateien.json
{
  "updatedAt": "2025-11-11T21:32:22.000Z",
  "createdAt": "2025-11-06T20:35:24.122Z",
  "id": "hR36jIx0wREZK0Bf",
  "name": "Threema Gateway Universal - Nachrichten & Dateien",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "threema-gateway",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "146184d7-0046-4201-b43a-cb2fe8489f02",
      "name": "Threema Gateway Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        160,
        128
      ],
      "webhookId": "threema-gateway-webhook"
    },
    {
      "parameters": {
        "content": "=Empfangene Webhook-Daten:\n{{ JSON.stringify($json, null, 2) }}",
        "height": 464,
        "width": 465
      },
      "id": "128cbbdf-bd05-4d24-a773-d42e2072cbb0",
      "name": "Info: Webhook Daten",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        199.5,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse entschlüsselte Threema E2E-Daten\nconst item = $input.item.json;\n\n// Prüfe ob Daten bereits entschlüsselt sind\nif (item.decrypted === false) {\n  // Noch nicht entschlüsselt - verwende rohe Daten\n  console.log('⚠️ Daten noch nicht entschlüsselt');\n  \n  return {\n    json: {\n      messageId: item.messageId,\n      from: item.from,\n      to: item.to,\n      messageType: 'encrypted',\n      hasFile: false,\n      text: '[Verschlüsselte Nachricht - Entschlüsselung ausstehend]',\n      timestamp: new Date(parseInt(item.date) * 1000).toISOString(),\n      rawData: item\n    }\n  };\n}\n\n// TODO: Nach Entschlüsselung - parse die eigentliche Nachricht\n// Hier kommt später die Logik für entschlüsselte Nachrichten\n\nreturn {\n  json: {\n    messageId: item.messageId,\n    from: item.from,\n    to: item.to,\n    messageType: item.type || 'text',\n    hasFile: item.type === 'file' || item.type === 'image' || item.type === 'video',\n    text: item.text || '',\n    blobId: item.blobId || null,\n    timestamp: new Date(parseInt(item.date) * 1000).toISOString(),\n    rawData: item\n  }\n};"
      },
      "id": "de1d4b14-5517-488d-a58a-804a8561d29b",
      "name": "Parse Webhook Daten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-file-condition",
              "leftValue": "={{ $json.hasFile }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "50e6dcb5-b5c7-4dce-a688-6fdc9b8c6b77",
      "name": "Hat Datei?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        832,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://msgapi.threema.ch/blobs/{{ $json.blobId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.to }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "fileData"
            }
          }
        }
      },
      "id": "31c77f08-2bdb-4409-998b-3a70147965d7",
      "name": "Datei herunterladen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oaJkHRuARNWjW2UA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verarbeite heruntergeladene Datei\nconst item = $input.item.json;\n\nreturn {\n  json: {\n    ...item,\n    fileDownloaded: true,\n    fileBinaryData: 'fileData',\n    processedAt: new Date().toISOString()\n  },\n  binary: $input.item.binary\n};"
      },
      "id": "5672c88c-c4af-4b0c-b293-7b7b48443dd3",
      "name": "Datei verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f302ca58-c8db-4d8b-870e-de50ab6d662b",
      "name": "Dateityp prüfen",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1504,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-type",
              "name": "fileCategory",
              "value": "image",
              "type": "string"
            },
            {
              "id": "set-processing",
              "name": "readyForProcessing",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "61c8529c-78db-4874-99a3-8bae7444ddfb",
      "name": "Als Bild markieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1728,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-audio",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8c994433-c512-4ac2-82eb-0e1efe9c2b96",
      "name": "Audio prüfen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1504,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-audio-type",
              "name": "fileCategory",
              "value": "audio",
              "type": "string"
            },
            {
              "id": "set-audio-processing",
              "name": "readyForProcessing",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "f8555d50-6049-43be-bf42-e71de92ea56b",
      "name": "Als Audio markieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1728,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-other-type",
              "name": "fileCategory",
              "value": "document",
              "type": "string"
            },
            {
              "id": "set-other-processing",
              "name": "readyForProcessing",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "1431379b-bde1-4503-8910-7537d0c175ed",
      "name": "Als Dokument markieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1728,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-text-type",
              "name": "messageCategory",
              "value": "text",
              "type": "string"
            },
            {
              "id": "set-text-processing",
              "name": "readyForProcessing",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "bfb33d94-a743-4bcb-81fc-3d68c363dd87",
      "name": "Als Text markieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1728,
        224
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "09c1e391-3020-4d56-ad56-bb9115f5cd36",
      "name": "Daten zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1952,
        320
      ]
    },
    {
      "parameters": {
        "content": "=🎯 VERARBEITUNGSPUNKT\n\nHier können Sie eigene Logik einfügen:\n- Nachrichten an andere APIs senden\n- Dateien speichern (Google Drive, Dropbox, etc.)\n- KI-Verarbeitung (OpenAI, Claude, etc.)\n- Datenbank-Operationen\n- E-Mail-Benachrichtigungen\n\nVerfügbare Daten:\n- $json.messageCategory / $json.fileCategory\n- $json.text (für Textnachrichten)\n- $json.fileData (Binary-Daten für Dateien)\n- $json.from, $json.to, $json.messageId\n- $json.fileName, $json.mimeType",
        "height": 539,
        "width": 393
      },
      "id": "7031963c-c30d-401b-8993-3da5d280cdec",
      "name": "Info: Verarbeitungspunkt",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1915.5,
        -59
      ]
    },
    {
      "parameters": {
        "jsCode": "// Beispiel: Nachrichtenverarbeitung\n// Hier können Sie eigene Logik implementieren\n\nconst item = $input.item.json;\n\n// Log für Debugging\nconsole.log('Verarbeite Nachricht:', {\n  type: item.messageCategory || item.fileCategory,\n  from: item.from,\n  hasFile: item.hasFile\n});\n\n// Beispiel-Verarbeitung\nlet processing_result = {\n  status: 'processed',\n  processedAt: new Date().toISOString(),\n  summary: ''\n};\n\nif (item.text) {\n  processing_result.summary = `Textnachricht empfangen: ${item.text.substring(0, 50)}...`;\n} else if (item.hasFile) {\n  processing_result.summary = `Datei empfangen: ${item.fileName} (${item.mimeType})`;\n}\n\nreturn {\n  json: {\n    ...item,\n    processing: processing_result\n  },\n  binary: $input.item.binary\n};"
      },
      "id": "038186a9-de04-4f92-91cc-bf8b86bfa984",
      "name": "Nachricht verarbeiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://msgapi.threema.ch/send_simple",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.to }}"
            },
            {
              "name": "to",
              "value": "={{ $json.from }}"
            },
            {
              "name": "text",
              "value": "=✅ Ihre Nachricht wurde erfolgreich empfangen und verarbeitet.\\n\\nZusammenfassung: {{ $json.processing.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3742a5b2-8646-4984-915f-edbc837e0ef4",
      "name": "Bestätigung senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oaJkHRuARNWjW2UA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Nachricht verarbeitet\", \"messageId\": \"{{ $json.messageId }}\" }",
        "options": {}
      },
      "id": "7fa04e2c-4a08-45c3-bbfa-db7c9c8363da",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2624,
        320
      ]
    },
    {
      "parameters": {
        "content": "=📋 WORKFLOW ÜBERSICHT\n\nDieser Workflow verarbeitet alle Threema Gateway Nachrichten:\n\n✅ Unterstützte Nachrichtentypen:\n- Text\n- Bilder\n- Audio-Dateien\n- Video-Dateien\n- Dokumente/Dateien\n\n🔧 Workflow-Schritte:\n1. Webhook empfängt Nachricht\n2. Daten werden geparst\n3. Dateien werden heruntergeladen (falls vorhanden)\n4. Dateityp wird erkannt\n5. Verarbeitung erfolgt\n6. Bestätigung an Sender\n7. HTTP Response an Threema\n\n⚙️ Konfiguration erforderlich:\n- Threema Gateway API Credentials\n- Webhook-URL in Threema konfigurieren",
        "height": 654,
        "width": 361,
        "color": 5
      },
      "id": "79915eb8-4426-469d-8a83-cea10faa5036",
      "name": "Info: Workflow Übersicht",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ]
    },
    {
      "parameters": {
        "content": "=⚠️ FEHLERBEHANDLUNG\n\nBei Fehlern:\n- Workflow fährt fort (continueOnFail)\n- Fehler werden geloggt\n- Alternativer Pfad wird ausgeführt\n\nOptional:\n- E-Mail-Benachrichtigung bei Fehler\n- Logging in externe Systeme\n- Retry-Mechanismen",
        "height": 331,
        "width": 289,
        "color": 6
      },
      "id": "efbc8818-593c-4200-a712-061e3ab804d1",
      "name": "Info: Fehlerbehandlung",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2288,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// E2E-Entschlüsselung für Threema Gateway\n// WICHTIG: Hier Deine Credentials eintragen!\n\nconst GATEWAY_ID = '*BERENT2';\nconst GATEWAY_SECRET = 'DEIN_SECRET_HIER_EINTRAGEN'; // Kommt nach Freigabe\nconst PRIVATE_KEY = 'DEIN_64_ZEICHEN_PRIVATE_KEY_HIER'; // Aus dem Generator-Tool\n\n// Importiere crypto für Entschlüsselung\nconst crypto = require('crypto');\nconst nacl = require('tweetnacl');\n\n// Hole Webhook-Daten\nconst webhookData = $input.item.json;\n\n// Extrahiere verschlüsselte Box und Nonce\nconst from = webhookData.from;\nconst to = webhookData.to;\nconst messageId = webhookData.messageId;\nconst date = webhookData.date;\nconst nonce = webhookData.nonce; // 24 Bytes, hex-encoded\nconst box = webhookData.box; // Verschlüsselte Nachricht, hex-encoded\n\n// Konvertiere Hex zu Uint8Array\nfunction hexToUint8Array(hex) {\n  const bytes = new Uint8Array(hex.length / 2);\n  for (let i = 0; i < hex.length; i += 2) {\n    bytes[i / 2] = parseInt(hex.substr(i, 2), 16);\n  }\n  return bytes;\n}\n\n// Hole Public Key des Absenders von Threema\n// TODO: Muss von Threema API geholt werden\n// const senderPublicKey = await getSenderPublicKey(from);\n\n// Für jetzt: Platzhalter (muss später implementiert werden)\nconsole.log('E2E Entschlüsselung - noch nicht vollständig implementiert');\nconsole.log('From:', from, 'To:', to, 'MessageId:', messageId);\n\n// Gebe erstmal die rohen Daten weiter\nreturn {\n  json: {\n    from: from,\n    to: to,\n    messageId: messageId,\n    date: date,\n    nonce: nonce,\n    box: box,\n    decrypted: false, // Flag: noch nicht entschlüsselt\n    rawData: webhookData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        128
      ],
      "id": "b84200df-d024-4793-bd54-ca7a143d2339",
      "name": "E2E Entschlüsseln"
    },
    {
      "parameters": {
        "content": "⚠️ E2E-MODUS - TODO\n\nNoch zu erledigen:\n1. Nach Freigabe: SECRET eintragen\n2. Private Key im Code eintragen\n3. Public Key Lookup implementieren\n4. Vollständige Entschlüsselung aktivieren\n5. Nachricht senden mit E2E verschlüsseln\n\nStatus: Vorbereitet, wartet auf *BERENT2 Freigabe",
        "height": 384,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -96
      ],
      "typeVersion": 1,
      "id": "6a4827d9-8a7e-45fa-86d7-d7298c0504e9",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Threema Gateway Webhook": {
      "main": [
        [
          {
            "node": "E2E Entschlüsseln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Daten": {
      "main": [
        [
          {
            "node": "Hat Datei?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat Datei?": {
      "main": [
        [
          {
            "node": "Datei herunterladen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Als Text markieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datei herunterladen": {
      "main": [
        [
          {
            "node": "Datei verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datei verarbeiten": {
      "main": [
        [
          {
            "node": "Dateityp prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dateityp prüfen": {
      "main": [
        [
          {
            "node": "Als Bild markieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Als Bild markieren": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio prüfen": {
      "main": [
        [
          {
            "node": "Als Audio markieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Als Dokument markieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Als Audio markieren": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Als Dokument markieren": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Als Text markieren": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Daten zusammenführen": {
      "main": [
        [
          {
            "node": "Nachricht verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nachricht verarbeiten": {
      "main": [
        [
          {
            "node": "Bestätigung senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestätigung senden": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E2E Entschlüsseln": {
      "main": [
        [
          {
            "node": "Parse Webhook Daten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0ef0eedb-f8df-423f-ac4b-4a0401ffbeb2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-06T20:35:24.128Z",
      "createdAt": "2025-11-06T20:35:24.128Z",
      "role": "workflow:owner",
      "workflowId": "hR36jIx0wREZK0Bf",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-11-06T20:35:10.952Z",
      "createdAt": "2025-11-06T20:35:10.952Z",
      "id": "1XDySxVCWynR8Twd",
      "name": "threema"
    },
    {
      "updatedAt": "2025-11-06T20:35:10.956Z",
      "createdAt": "2025-11-06T20:35:10.956Z",
      "id": "nKGGZ6FxgEmmFhE2",
      "name": "gateway"
    }
  ]
}