n8n/t64E6C5mH1U85t3R/fonio Göhrum Anrufercheck.json
{"active":true,"connections":{"Anrufer bekannt":{"main":[[{"index":0,"node":"Begrüßung erstellen","type":"main"}]]},"Anrufer unbekannt":{"main":[[{"index":0,"node":"Begrüßung erstellen","type":"main"}]]},"Anrufername":{"main":[[{"index":0,"node":"Code in JavaScript","type":"main"}]]},"Begrüßung erstellen":{"main":[[{"index":0,"node":"Respond to Webhook","type":"main"}]]},"Code in JavaScript":{"main":[[{"index":0,"node":"If","type":"main"}]]},"If":{"main":[[{"index":0,"node":"Anrufer bekannt","type":"main"}],[{"index":0,"node":"Anrufer unbekannt","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Anrufername","type":"main"}]]}},"name":"fonio Göhrum Anrufercheck","nodes":[{"alwaysOutputData":false,"name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"anrufercheck_goehrum","responseMode":"responseNode"},"position":[-368,432],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"8a83165f-7bea-4f12-83ad-f9fc2faa0b0a"},{"alwaysOutputData":false,"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Anrufername","parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Cwm3vdG-FSH2a7qd_Spjz42RMWoDUifl96EAUITytGY"},"options":{},"sheetName":{"__rl":true,"cachedResultName":"Anrufer","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Cwm3vdG-FSH2a7qd_Spjz42RMWoDUifl96EAUITytGY/edit#gid=0","mode":"list","value":"gid=0"}},"position":[-144,432],"retryOnFail":false,"type":"n8n-nodes-base.googleSheets","typeVersion":4.7},{"name":"Anrufer bekannt","parameters":{"assignments":{"assignments":[{"name":"gefunden","type":"boolean","value":true},{"name":"vorname","type":"string","value":"={{ $json.vorname }}"},{"name":"name","type":"string","value":"={{ $json.name }}"},{"name":"anredeform","type":"string","value":"={{ $json.anredeform }}"},{"name":"anrede","type":"string","value":"={{ $json.anrede }}"}]},"options":{}},"position":[528,336],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Anrufer unbekannt","parameters":{"assignments":{"assignments":[{"name":"gefunden","type":"boolean","value":"={{ $json.gefunden }}"},{"name":"gesuchtNach","type":"string","value":"={{ $json.gesuchtNach }}"},{"name":"normalisiert","type":"string","value":"={{ $json.normalisiert }}"},{"name":"hinweis","type":"string","value":"={{ $json.hinweis }}"}]},"options":{}},"position":[528,528],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Respond to Webhook","parameters":{"options":{},"respondWith":"allIncomingItems"},"position":[976,432],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4},{"name":"If","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.gefunden }}","operator":{"operation":"true","singleValue":true,"type":"boolean"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"options":{}},"position":[304,432],"type":"n8n-nodes-base.if","typeVersion":2.2},{"name":"Code in JavaScript","parameters":{"jsCode":"// =====================================\n// BULLETPROOF ANRUFER-SUCHE\n// =====================================\n\nconst allRows = $input.all();\nconst searchNumber = $('Webhook').item.json.body.fromNumber;\n\nconsole.log('=== START SUCHE ===');\nconsole.log('Webhook-Nummer:', searchNumber);\nconsole.log('Anzahl Zeilen:', allRows.length);\n\n// Normalisierung: Entferne ALLES außer Ziffern\nfunction normalizePhone(number) {\n  if (!number) return '';\n  // Konvertiere zu String und behalte NUR Ziffern\n  return String(number).replace(/\\D/g, '');\n}\n\nconst normalizedSearch = normalizePhone(searchNumber);\n\nconsole.log('Normalisiert gesucht:', normalizedSearch);\nconsole.log('Länge:', normalizedSearch.length);\n\n// Durchsuche ALLE Zeilen\nlet foundRow = null;\nlet matchIndex = -1;\n\nfor (let i = 0; i < allRows.length; i++) {\n  const row = allRows[i];\n  const rowNumber = normalizePhone(row.json.Telefonnummer);\n  \n  console.log(`\\n--- Zeile ${i} ---`);\n  console.log('Original:', row.json.Telefonnummer);\n  console.log('Normalisiert:', rowNumber);\n  console.log('Länge:', rowNumber.length);\n  \n  // Mehrere Vergleichsmethoden\n  const directMatch = (rowNumber === normalizedSearch);\n  const trimmedMatch = (rowNumber.trim() === normalizedSearch.trim());\n  const includesMatch = rowNumber.includes(normalizedSearch) || normalizedSearch.includes(rowNumber);\n  \n  console.log('Direct Match?', directMatch);\n  console.log('Trimmed Match?', trimmedMatch);\n  console.log('Includes?', includesMatch);\n  \n  if (directMatch || trimmedMatch) {\n    foundRow = row;\n    matchIndex = i;\n    console.log('✅ MATCH GEFUNDEN bei Index', i);\n    break;\n  }\n}\n\nconsole.log('\\n=== ENDE SUCHE ===');\nconsole.log('Match gefunden?', !!foundRow);\n\n// Ergebnis\nif (foundRow) {\n  return {\n    json: {\n      gefunden: true,\n      vorname: foundRow.json.Vorname,\n      name: foundRow.json.Name,\n      telefonnummer: foundRow.json.Telefonnummer,\n      anredeform: foundRow.json.Anredeform,\n      anrede: foundRow.json.Anrede,\n      rowIndex: matchIndex\n    }\n  };\n} else {\n  // FALLBACK: Manuelle Suche mit find()\n  console.log('\\n=== FALLBACK-SUCHE ===');\n  \n  const manualMatch = allRows.find(row => {\n    const n1 = normalizePhone(row.json.Telefonnummer);\n    const n2 = normalizedSearch;\n    return n1 === n2;\n  });\n  \n  if (manualMatch) {\n    console.log('✅ Fallback Match gefunden!');\n    return {\n      json: {\n        gefunden: true,\n        vorname: manualMatch.json.Vorname,\n        name: manualMatch.json.Name,\n        telefonnummer: manualMatch.json.Telefonnummer,\n        anredeform: manualMatch.json.Anredeform,\n        anrede: manualMatch.json.Anrede,\n        method: 'fallback'\n      }\n    };\n  }\n  \n  return {\n    json: {\n      gefunden: false,\n      gesuchtNach: searchNumber,\n      normalisiert: normalizedSearch,\n      hinweis: 'Kein Match trotz identischer Nummern - möglicherweise Encoding-Problem'\n    }\n  };\n}"},"position":[80,432],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Begrüßung erstellen","parameters":{"jsCode":"const d = $input.first().json;\nconst h = new Date().getHours();\nconst g = h >= 5 && h < 12 ? 'Guten Morgen' : h >= 12 && h < 18 ? 'Guten Tag' : 'Guten Abend';\n\nlet b, anredeform, vorname, name;\n\n// Prüfe ob Anrufer gefunden wurde\nif (d.gefunden) {\n  // BEKANNTER ANRUFER\n  b = d.anredeform.toLowerCase() === 'du' \n    ? `${g} ${d.vorname}` \n    : `${g} ${d.anrede} ${d.name}`;\n  \n  anredeform = d.anredeform;\n  vorname = d.vorname;\n  name = d.name;\n  \n} else {\n  // UNBEKANNTER ANRUFER\n  const telefon = d.gesuchtNach || d.telefonnummer || '';\n  const normalisiert = telefon.replace(/\\D/g, '');\n  \n  const istGoehrum = normalisiert.includes('70317377');\n  \n  b = istGoehrum \n    ? 'Göhrum Fahrzeugteile, Kunkel'\n    : 'Willkommen bei Berent Beratung plus Entwicklung';\n  \n  // Platzhalter für unbekannte Anrufer\n  anredeform = 'Sie';\n  vorname = 'Unbekannt';\n  name = 'Unbekannt';\n}\n\nreturn { \n  json: { \n    begruessung: b,\n    anredeform: anredeform,\n    vorname: vorname,\n    name: name\n  } \n};"},"position":[752,432],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}