n8n/t64E6C5mH1U85t3R/fonio-göhrum-anrufercheck.json
{
  "updatedAt": "2025-12-23T22:55:17.440Z",
  "createdAt": "2025-12-23T10:00:44.058Z",
  "id": "t64E6C5mH1U85t3R",
  "name": "fonio Göhrum Anrufercheck",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anrufercheck_goehrum",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        432
      ],
      "id": "7dd0e570-260f-4390-b181-7494b3aa2c15",
      "name": "Webhook",
      "webhookId": "8a83165f-7bea-4f12-83ad-f9fc2faa0b0a",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Cwm3vdG-FSH2a7qd_Spjz42RMWoDUifl96EAUITytGY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Anrufer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cwm3vdG-FSH2a7qd_Spjz42RMWoDUifl96EAUITytGY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        432
      ],
      "id": "24745f55-4933-46c6-8ac5-d322e5df1e79",
      "name": "Anrufername",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "vRVq7GTwn9kTIi8N",
          "name": "n8n Sheets Service"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f30dc7e4-a384-412a-a454-e42c36b5b222",
              "name": "gefunden",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ee09eec7-60cf-4fb4-a1d3-91f85f237a20",
              "name": "vorname",
              "value": "={{ $json.vorname }}",
              "type": "string"
            },
            {
              "id": "b354da9e-b315-44ba-b8e4-1f0154330273",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "3ecd28f8-0a70-4288-b483-2698b6398b51",
              "name": "anredeform",
              "value": "={{ $json.anredeform }}",
              "type": "string"
            },
            {
              "id": "cd40a60d-cecf-493a-9356-9f782f8041cb",
              "name": "anrede",
              "value": "={{ $json.anrede }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        336
      ],
      "id": "025c90ab-2198-4659-abc3-90f8118c4298",
      "name": "Anrufer bekannt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf1a3ce-90d5-4fe3-b105-eca6684fe751",
              "name": "gefunden",
              "value": "={{ $json.gefunden }}",
              "type": "boolean"
            },
            {
              "id": "3dadd2ee-e6be-49f6-87d9-28bcafca1140",
              "name": "gesuchtNach",
              "value": "={{ $json.gesuchtNach }}",
              "type": "string"
            },
            {
              "id": "17a5566f-25e4-412a-95a8-a6df5af2e8b7",
              "name": "normalisiert",
              "value": "={{ $json.normalisiert }}",
              "type": "string"
            },
            {
              "id": "e7f3d361-d3b4-4b6a-80b9-b4b1a792e709",
              "name": "hinweis",
              "value": "={{ $json.hinweis }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        528
      ],
      "id": "924833f0-4d03-461a-bddb-26a512bd87c3",
      "name": "Anrufer unbekannt"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        432
      ],
      "id": "5842ec09-9677-4c99-804c-d5b8254d7885",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7921be39-4d82-4d4c-905c-9956b9e30216",
              "leftValue": "={{ $json.gefunden }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        432
      ],
      "id": "8b941128-10a4-4f98-8415-51443cebc68c",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// =====================================\n// BULLETPROOF ANRUFER-SUCHE\n// =====================================\n\nconst allRows = $input.all();\nconst searchNumber = $('Webhook').item.json.body.fromNumber;\n\nconsole.log('=== START SUCHE ===');\nconsole.log('Webhook-Nummer:', searchNumber);\nconsole.log('Anzahl Zeilen:', allRows.length);\n\n// Normalisierung: Entferne ALLES außer Ziffern\nfunction normalizePhone(number) {\n  if (!number) return '';\n  // Konvertiere zu String und behalte NUR Ziffern\n  return String(number).replace(/\\D/g, '');\n}\n\nconst normalizedSearch = normalizePhone(searchNumber);\n\nconsole.log('Normalisiert gesucht:', normalizedSearch);\nconsole.log('Länge:', normalizedSearch.length);\n\n// Durchsuche ALLE Zeilen\nlet foundRow = null;\nlet matchIndex = -1;\n\nfor (let i = 0; i < allRows.length; i++) {\n  const row = allRows[i];\n  const rowNumber = normalizePhone(row.json.Telefonnummer);\n  \n  console.log(`\\n--- Zeile ${i} ---`);\n  console.log('Original:', row.json.Telefonnummer);\n  console.log('Normalisiert:', rowNumber);\n  console.log('Länge:', rowNumber.length);\n  \n  // Mehrere Vergleichsmethoden\n  const directMatch = (rowNumber === normalizedSearch);\n  const trimmedMatch = (rowNumber.trim() === normalizedSearch.trim());\n  const includesMatch = rowNumber.includes(normalizedSearch) || normalizedSearch.includes(rowNumber);\n  \n  console.log('Direct Match?', directMatch);\n  console.log('Trimmed Match?', trimmedMatch);\n  console.log('Includes?', includesMatch);\n  \n  if (directMatch || trimmedMatch) {\n    foundRow = row;\n    matchIndex = i;\n    console.log('✅ MATCH GEFUNDEN bei Index', i);\n    break;\n  }\n}\n\nconsole.log('\\n=== ENDE SUCHE ===');\nconsole.log('Match gefunden?', !!foundRow);\n\n// Ergebnis\nif (foundRow) {\n  return {\n    json: {\n      gefunden: true,\n      vorname: foundRow.json.Vorname,\n      name: foundRow.json.Name,\n      telefonnummer: foundRow.json.Telefonnummer,\n      anredeform: foundRow.json.Anredeform,\n      anrede: foundRow.json.Anrede,\n      rowIndex: matchIndex\n    }\n  };\n} else {\n  // FALLBACK: Manuelle Suche mit find()\n  console.log('\\n=== FALLBACK-SUCHE ===');\n  \n  const manualMatch = allRows.find(row => {\n    const n1 = normalizePhone(row.json.Telefonnummer);\n    const n2 = normalizedSearch;\n    return n1 === n2;\n  });\n  \n  if (manualMatch) {\n    console.log('✅ Fallback Match gefunden!');\n    return {\n      json: {\n        gefunden: true,\n        vorname: manualMatch.json.Vorname,\n        name: manualMatch.json.Name,\n        telefonnummer: manualMatch.json.Telefonnummer,\n        anredeform: manualMatch.json.Anredeform,\n        anrede: manualMatch.json.Anrede,\n        method: 'fallback'\n      }\n    };\n  }\n  \n  return {\n    json: {\n      gefunden: false,\n      gesuchtNach: searchNumber,\n      normalisiert: normalizedSearch,\n      hinweis: 'Kein Match trotz identischer Nummern - möglicherweise Encoding-Problem'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        432
      ],
      "id": "d57adb8b-3c22-48a8-a919-559dbae399fb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst h = new Date().getHours();\nconst g = h >= 5 && h < 12 ? 'Guten Morgen' : h >= 12 && h < 18 ? 'Guten Tag' : 'Guten Abend';\n\nlet b, anredeform, vorname, name;\n\n// Prüfe ob Anrufer gefunden wurde\nif (d.gefunden) {\n  // BEKANNTER ANRUFER\n  b = d.anredeform.toLowerCase() === 'du' \n    ? `${g} ${d.vorname}` \n    : `${g} ${d.anrede} ${d.name}`;\n  \n  anredeform = d.anredeform;\n  vorname = d.vorname;\n  name = d.name;\n  \n} else {\n  // UNBEKANNTER ANRUFER\n  const telefon = d.gesuchtNach || d.telefonnummer || '';\n  const normalisiert = telefon.replace(/\\D/g, '');\n  \n  const istGoehrum = normalisiert.includes('70317377');\n  \n  b = istGoehrum \n    ? 'Göhrum Fahrzeugteile, Kunkel'\n    : 'Willkommen bei Berent Beratung plus Entwicklung';\n  \n  // Platzhalter für unbekannte Anrufer\n  anredeform = 'Sie';\n  vorname = 'Unbekannt';\n  name = 'Unbekannt';\n}\n\nreturn { \n  json: { \n    begruessung: b,\n    anredeform: anredeform,\n    vorname: vorname,\n    name: name\n  } \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        432
      ],
      "id": "3476b56f-c2e4-4922-bebb-72281a4eb208",
      "name": "Begrüßung erstellen"
    }
  ],
  "connections": {
    "Anrufername": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anrufer bekannt": {
      "main": [
        [
          {
            "node": "Begrüßung erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anrufer unbekannt": {
      "main": [
        [
          {
            "node": "Begrüßung erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Anrufer bekannt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anrufer unbekannt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Anrufername",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Begrüßung erstellen": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fe715e72-a310-4f49-85c3-1e58710918b3",
  "activeVersionId": "54e1a7a8-1d00-4648-9503-bdb0f1b0effb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-23T10:00:44.060Z",
      "createdAt": "2025-12-23T10:00:44.060Z",
      "role": "workflow:owner",
      "workflowId": "t64E6C5mH1U85t3R",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-23T12:10:03.000Z",
    "createdAt": "2025-12-23T12:01:21.592Z",
    "versionId": "54e1a7a8-1d00-4648-9503-bdb0f1b0effb",
    "workflowId": "t64E6C5mH1U85t3R",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "anrufercheck_goehrum",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -368,
          432
        ],
        "id": "7dd0e570-260f-4390-b181-7494b3aa2c15",
        "name": "Webhook",
        "webhookId": "8a83165f-7bea-4f12-83ad-f9fc2faa0b0a",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "1Cwm3vdG-FSH2a7qd_Spjz42RMWoDUifl96EAUITytGY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Anrufer",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cwm3vdG-FSH2a7qd_Spjz42RMWoDUifl96EAUITytGY/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -144,
          432
        ],
        "id": "24745f55-4933-46c6-8ac5-d322e5df1e79",
        "name": "Anrufername",
        "alwaysOutputData": false,
        "retryOnFail": false,
        "credentials": {
          "googleApi": {
            "id": "vRVq7GTwn9kTIi8N",
            "name": "n8n Sheets Service"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f30dc7e4-a384-412a-a454-e42c36b5b222",
                "name": "gefunden",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "ee09eec7-60cf-4fb4-a1d3-91f85f237a20",
                "name": "vorname",
                "value": "={{ $json.vorname }}",
                "type": "string"
              },
              {
                "id": "b354da9e-b315-44ba-b8e4-1f0154330273",
                "name": "name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "3ecd28f8-0a70-4288-b483-2698b6398b51",
                "name": "anredeform",
                "value": "={{ $json.anredeform }}",
                "type": "string"
              },
              {
                "id": "cd40a60d-cecf-493a-9356-9f782f8041cb",
                "name": "anrede",
                "value": "={{ $json.anrede }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          336
        ],
        "id": "025c90ab-2198-4659-abc3-90f8118c4298",
        "name": "Anrufer bekannt"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6cf1a3ce-90d5-4fe3-b105-eca6684fe751",
                "name": "gefunden",
                "value": "={{ $json.gefunden }}",
                "type": "boolean"
              },
              {
                "id": "3dadd2ee-e6be-49f6-87d9-28bcafca1140",
                "name": "gesuchtNach",
                "value": "={{ $json.gesuchtNach }}",
                "type": "string"
              },
              {
                "id": "17a5566f-25e4-412a-95a8-a6df5af2e8b7",
                "name": "normalisiert",
                "value": "={{ $json.normalisiert }}",
                "type": "string"
              },
              {
                "id": "e7f3d361-d3b4-4b6a-80b9-b4b1a792e709",
                "name": "hinweis",
                "value": "={{ $json.hinweis }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          528
        ],
        "id": "924833f0-4d03-461a-bddb-26a512bd87c3",
        "name": "Anrufer unbekannt"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          976,
          432
        ],
        "id": "5842ec09-9677-4c99-804c-d5b8254d7885",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7921be39-4d82-4d4c-905c-9956b9e30216",
                "leftValue": "={{ $json.gefunden }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          304,
          432
        ],
        "id": "8b941128-10a4-4f98-8415-51443cebc68c",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "// =====================================\n// BULLETPROOF ANRUFER-SUCHE\n// =====================================\n\nconst allRows = $input.all();\nconst searchNumber = $('Webhook').item.json.body.fromNumber;\n\nconsole.log('=== START SUCHE ===');\nconsole.log('Webhook-Nummer:', searchNumber);\nconsole.log('Anzahl Zeilen:', allRows.length);\n\n// Normalisierung: Entferne ALLES außer Ziffern\nfunction normalizePhone(number) {\n  if (!number) return '';\n  // Konvertiere zu String und behalte NUR Ziffern\n  return String(number).replace(/\\D/g, '');\n}\n\nconst normalizedSearch = normalizePhone(searchNumber);\n\nconsole.log('Normalisiert gesucht:', normalizedSearch);\nconsole.log('Länge:', normalizedSearch.length);\n\n// Durchsuche ALLE Zeilen\nlet foundRow = null;\nlet matchIndex = -1;\n\nfor (let i = 0; i < allRows.length; i++) {\n  const row = allRows[i];\n  const rowNumber = normalizePhone(row.json.Telefonnummer);\n  \n  console.log(`\\n--- Zeile ${i} ---`);\n  console.log('Original:', row.json.Telefonnummer);\n  console.log('Normalisiert:', rowNumber);\n  console.log('Länge:', rowNumber.length);\n  \n  // Mehrere Vergleichsmethoden\n  const directMatch = (rowNumber === normalizedSearch);\n  const trimmedMatch = (rowNumber.trim() === normalizedSearch.trim());\n  const includesMatch = rowNumber.includes(normalizedSearch) || normalizedSearch.includes(rowNumber);\n  \n  console.log('Direct Match?', directMatch);\n  console.log('Trimmed Match?', trimmedMatch);\n  console.log('Includes?', includesMatch);\n  \n  if (directMatch || trimmedMatch) {\n    foundRow = row;\n    matchIndex = i;\n    console.log('✅ MATCH GEFUNDEN bei Index', i);\n    break;\n  }\n}\n\nconsole.log('\\n=== ENDE SUCHE ===');\nconsole.log('Match gefunden?', !!foundRow);\n\n// Ergebnis\nif (foundRow) {\n  return {\n    json: {\n      gefunden: true,\n      vorname: foundRow.json.Vorname,\n      name: foundRow.json.Name,\n      telefonnummer: foundRow.json.Telefonnummer,\n      anredeform: foundRow.json.Anredeform,\n      anrede: foundRow.json.Anrede,\n      rowIndex: matchIndex\n    }\n  };\n} else {\n  // FALLBACK: Manuelle Suche mit find()\n  console.log('\\n=== FALLBACK-SUCHE ===');\n  \n  const manualMatch = allRows.find(row => {\n    const n1 = normalizePhone(row.json.Telefonnummer);\n    const n2 = normalizedSearch;\n    return n1 === n2;\n  });\n  \n  if (manualMatch) {\n    console.log('✅ Fallback Match gefunden!');\n    return {\n      json: {\n        gefunden: true,\n        vorname: manualMatch.json.Vorname,\n        name: manualMatch.json.Name,\n        telefonnummer: manualMatch.json.Telefonnummer,\n        anredeform: manualMatch.json.Anredeform,\n        anrede: manualMatch.json.Anrede,\n        method: 'fallback'\n      }\n    };\n  }\n  \n  return {\n    json: {\n      gefunden: false,\n      gesuchtNach: searchNumber,\n      normalisiert: normalizedSearch,\n      hinweis: 'Kein Match trotz identischer Nummern - möglicherweise Encoding-Problem'\n    }\n  };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          80,
          432
        ],
        "id": "d57adb8b-3c22-48a8-a919-559dbae399fb",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst h = new Date().getHours();\nconst g = h >= 5 && h < 12 ? 'Guten Morgen' : h >= 12 && h < 18 ? 'Guten Tag' : 'Guten Abend';\n\nlet b, anredeform, vorname, name;\n\n// Prüfe ob Anrufer gefunden wurde\nif (d.gefunden) {\n  // BEKANNTER ANRUFER\n  b = d.anredeform.toLowerCase() === 'du' \n    ? `${g} ${d.vorname}` \n    : `${g} ${d.anrede} ${d.name}`;\n  \n  anredeform = d.anredeform;\n  vorname = d.vorname;\n  name = d.name;\n  \n} else {\n  // UNBEKANNTER ANRUFER\n  const telefon = d.gesuchtNach || d.telefonnummer || '';\n  const normalisiert = telefon.replace(/\\D/g, '');\n  \n  const istGoehrum = normalisiert.includes('70317377');\n  \n  b = istGoehrum \n    ? 'Göhrum Fahrzeugteile, Kunkel'\n    : 'Willkommen bei Berent Beratung plus Entwicklung';\n  \n  // Platzhalter für unbekannte Anrufer\n  anredeform = 'Sie';\n  vorname = 'Unbekannt';\n  name = 'Unbekannt';\n}\n\nreturn { \n  json: { \n    begruessung: b,\n    anredeform: anredeform,\n    vorname: vorname,\n    name: name\n  } \n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          432
        ],
        "id": "3476b56f-c2e4-4922-bebb-72281a4eb208",
        "name": "Begrüßung ergänzen"
      }
    ],
    "connections": {
      "Anrufername": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anrufer bekannt": {
        "main": [
          [
            {
              "node": "Begrüßung ergänzen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anrufer unbekannt": {
        "main": [
          [
            {
              "node": "Begrüßung ergänzen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Anrufer bekannt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Anrufer unbekannt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Anrufername",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Begrüßung ergänzen": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marcus Kunkel",
    "name": "Version 54e1a7a8",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-12-23T09:34:57.682Z",
      "createdAt": "2025-12-23T09:34:57.682Z",
      "id": "1G25hJ4CstTCgKO9",
      "name": "Göhrum"
    },
    {
      "updatedAt": "2025-12-23T09:34:51.833Z",
      "createdAt": "2025-12-23T09:34:51.833Z",
      "id": "jj3XLdaKjqa8OQ2V",
      "name": "BERENT"
    }
  ]
}