n8n/R5dhFFksOlx-F2zPOTzoW/R5dhFFksOlx-F2zPOTzoW.json
{"active":true,"connections":{"Code in JavaScript":{"main":[[]]},"Config":{"main":[[{"index":0,"node":"HTTP Request1","type":"main"}]]},"HTTP Request":{"main":[[{"index":0,"node":"Threema Send E2E","type":"main"}]]},"HTTP Request1":{"main":[[{"index":0,"node":"Code in JavaScript","type":"main"}]]},"Webhook Threema Work Gateway":{"main":[[{"index":0,"node":"Config","type":"main"}]]}},"name":"Threema Work Kommunikation Prototyp","nodes":[{"name":"Threema Send E2E","parameters":{"bodyParameters":{"parameters":[{"name":"from","value":"={{ $('Config').item.json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').item.json.threemaTo }}"},{"name":"secret","value":"={{ $('Config').first().json.secret }}"},{"name":"text","value":"=✅ Hedy-Meeting-Transkript erstellt.\n\n❓ Soll das temporäre Google Dokument gelöscht werden?\n\nAntworte mit:\n✅ Ja\n❌ Nein"},{"name":"nonce","value":"={{ $runIndex }}{{ Date.now() }}"}]},"contentType":"form-urlencoded","method":"POST","options":{},"sendBody":true,"url":"https://msgapi.threema.ch/send_e2e"},"position":[-256,-144],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT2"},{"name":"threemaTo","type":"string","value":"BUMFMZ39"},{"name":"secret","type":"string","value":"2pLgi4h6RWJWr6AD"},{"name":"private","type":"string","value":"bd9264814eb3cf8657533d57dd8e0d8629eb9bf348f317ecbe5672e4032ed534"}]},"options":{}},"position":[-256,-368],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Webhook Threema Work Gateway","parameters":{"httpMethod":"POST","options":{},"path":"threema-work-gateway-5cdcca9c-5fa8-44ef-b3bc-668fae5a46a6"},"position":[-480,-368],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"5cdcca9c-5fa8-44ef-b3bc-668fae5a46a6"},{"name":"HTTP Request","parameters":{"options":{},"queryParameters":{"parameters":[{"name":"threemaFrom","value":"={{ $json.threemaFrom }}"},{"name":"secret","value":"={{ $json.secret }}"}]},"sendQuery":true,"url":"=https://msgapi.threema.ch/messages/{{ $('Webhook Threema Work Gateway').item.json.body.messageId }}"},"position":[-480,-144],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"HTTP Request1","parameters":{"jsonBody":"={\n  \"box\": \"\",\n  \"nonce\": \"{{ $('Webhook Threema Work Gateway').item.json.body.nonce }}\",\n  \"from\": \"{{ $('Webhook Threema Work Gateway').item.json.body.from }}\",\n  \"gatewayPrivateKey\": \"\",\n  \"senderPublicKey\": \"7c2138caab9f8da92b0141593e634435e5e5b920667d3e2c9610f1b4a1e3497b\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://threema-decrypt.vercel.app/api/decrypt"},"position":[-32,-368],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Code in JavaScript","parameters":{"jsCode":"// Text aus der Entschlüsselung holen\nconst decryptedText = $json.text || '';\n\n// Bereinigen (Padding entfernen)\nconst cleanText = decryptedText\n  .replace(/\\u0001/g, '')  // Steuerzeichen entfernen\n  .replace(/>/g, '')        // Padding entfernen\n  .trim()\n  .toLowerCase();\n\nconsole.log('Bereinigter Text:', cleanText);\n\n// Prüfen ob JA oder NEIN\nconst isApproval = cleanText === 'ja' || cleanText === 'yes' || cleanText === 'jaa';\nconst isRejection = cleanText === 'nein' || cleanText === 'no';\n\nreturn [{\n  json: {\n    originalText: decryptedText,\n    cleanText: cleanText,\n    isApproval: isApproval,\n    isRejection: isRejection,\n    from: $json.from\n  }\n}];"},"position":[192,-368],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}