n8n/R5dhFFksOlx-F2zPOTzoW/R5dhFFksOlx-F2zPOTzoW.json
{"active":false,"connections":{"Code in JavaScript":{"main":[[{"index":0,"node":"If","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Switch","type":"main"}]]},"If":{"main":[[{"index":0,"node":"Threema: Datei gelöscht","type":"main"}],[{"index":0,"node":"Threema: Datei nicht gelöscht","type":"main"}]]},"Nachricht entschlüsseln via Vercel":{"main":[[{"index":0,"node":"Code in JavaScript","type":"main"}]]},"Switch":{"main":[[{"index":0,"node":"Threema Send E2E","type":"main"}],[{"index":0,"node":"Nachricht entschlüsseln via Vercel","type":"main"}]]},"Webhook Empfangen von Threema Work Gateway":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"When clicking ‘Execute workflow’":{"main":[[{"index":0,"node":"Config","type":"main"}]]}},"name":"Threema Work Kommunikation Prototyp","nodes":[{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT1"},{"name":"secret*1","type":"string","value":"18DOvPKBV7ize3Nh"},{"name":"threemaE2E","type":"string","value":"*BERENT2"},{"name":"private","type":"string","value":"bd9264814eb3cf8657533d57dd8e0d8629eb9bf348f317ecbe5672e4032ed534"},{"name":"secret*2","type":"string","value":"2pLgi4h6RWJWr6AD"},{"name":"threemaTo","type":"string","value":"BUMFMZ39"},{"name":"box","type":"string","value":"={{ $json.body?.box || '' }}"},{"name":"nonce","type":"string","value":"={{ $json.body?.nonce || '' }}"},{"name":"from","type":"string","value":""}]},"options":{}},"position":[-256,-480],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Code in JavaScript","parameters":{"jsCode":"const decryptedText = $json.text || '';\n\n// Bereinige: Nur normale ASCII-Zeichen behalten, dann trimmen\nconst cleanText = decryptedText\n  .replace(/[^\\x20-\\x7E]/g, '')  // Alle Nicht-ASCII Zeichen entfernen\n  .trim()\n  .toLowerCase();\n\nconsole.log('Bereinigter Text:', cleanText);\n\n// Prüfen ob JA oder NEIN (alles bereits lowercase)\nconst isApproval = ['ja', 'jaa', 'yes'].includes(cleanText);\nconst isRejection = ['nein', 'nee', 'no'].includes(cleanText);\n\nreturn [{\n  json: {\n    originalText: decryptedText,\n    cleanText: cleanText,\n    isApproval: isApproval,\n    isRejection: isRejection,\n    from: $json.from\n  }\n}];"},"position":[416,-384],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"If","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.isApproval }}","operator":{"operation":"true","singleValue":true,"type":"boolean"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[640,-384],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Nachricht entschlüsseln via Vercel","parameters":{"jsonBody":"={\n  \"box\": \"{{ $('Webhook Empfangen von Threema Work Gateway').item.json.body.box }}\",\n  \"nonce\": \"{{ $('Webhook Empfangen von Threema Work Gateway').item.json.body.nonce }}\",\n  \"from\": \"{{ $('Webhook Empfangen von Threema Work Gateway').item.json.body.from }}\",\n  \"gatewayPrivateKey\": \"{{ $('Config').item.json.private }}\",\n  \"senderPublicKey\": \"7c2138caab9f8da92b0141593e634435e5e5b920667d3e2c9610f1b4a1e3497b\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://threema-decrypt.vercel.app/api/decrypt"},"position":[192,-384],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"name":"Threema: Datei gelöscht","parameters":{"method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').item.json[\"secret*1\"] }}"},{"name":"from","value":"={{ $('Config').first().json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').first().json.threemaTo }}"},{"name":"text","value":"=✅ Das temporäre Google-Dokument wurde gelöscht."}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[864,-480],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Threema: Datei nicht gelöscht","parameters":{"method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').item.json[\"secret*1\"] }}"},{"name":"from","value":"={{ $('Config').first().json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').first().json.threemaTo }}"},{"name":"text","value":"=🚫 Das temporäre Google-Dokument wurde nicht gelöscht."}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[864,-288],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"When clicking ‘Execute workflow’","parameters":{},"position":[-480,-576],"type":"n8n-nodes-base.manualTrigger","typeVersion":1},{"name":"Threema Send E2E","parameters":{"jsonBody":"={\n  \"action\": \"send\",\n  \"to\": \"{{ $json.threemaTo }}\",\n  \"text\": \"Meeting-Transkript erstellt! Google Doc löschen? Antworte mit JA oder NEIN.\",\n  \"gatewayId\": \"{{ $json.threemaE2E }}\",\n  \"gatewaySecret\": \"{{ $json['secret*2'] }}\",\n  \"gatewayPrivateKey\": \"{{ $json.private }}\",\n  \"recipientPublicKey\": \"7c2138caab9f8da92b0141593e634435e5e5b920667d3e2c9610f1b4a1e3497b\"\n}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://threema-decrypt.vercel.app/api/decrypt"},"position":[192,-576],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Switch","parameters":{"options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.box }}","operator":{"operation":"notExists","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"outputKey":"Ausgehend","renameOutput":true},{"conditions":{"combinator":"and","conditions":[{"leftValue":"","operator":{"name":"filter.operator.equals","operation":"equals","type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"outputKey":"Eingehend","renameOutput":true}]}},"position":[-32,-480],"type":"n8n-nodes-base.switch","typeVersion":3.4},{"name":"Webhook Empfangen von Threema Work Gateway","parameters":{"httpMethod":"POST","options":{},"path":"threema-work-gateway-5cdcca9c-5fa8-44ef-b3bc-668fae5a46a6"},"position":[-480,-384],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"5cdcca9c-5fa8-44ef-b3bc-668fae5a46a6"}],"settings":{"availableInMCP":true,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}