workflows/communication/threema-work-polling-workflow.json
{
  "name": "Threema Work Polling Voice Transcription",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Poll Every 2 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.threema.ch/work/messages/inbox",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.threemaWorkApi.apiKey }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since",
              "value": "={{ $workflow.lastExecutionTime ? Math.floor($workflow.lastExecutionTime / 1000) - 300 : Math.floor(Date.now() / 1000) - 300 }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Check for New Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Threema Work API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error ? false : true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Check API Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "API call failed or no new messages"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "No Messages or Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [650, 450]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Split Messages",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equal",
              "value2": "file"
            }
          ]
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Check File Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.file.mimeType }}",
              "operation": "contains",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Check Audio File",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.threema.ch/work/messages/{{ $json.messageId }}/file",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.threemaWorkApi.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Download Audio File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 50],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Threema Work API"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "binaryPropertyName": "data",
          "model": "whisper-1",
          "language": "de",
          "responseFormat": "json",
          "temperature": 0
        }
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Transcribe with OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1650, 50],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://berent.ai/api/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transcript",
              "value": "={{ $json.text }}"
            },
            {
              "name": "source",
              "value": "threema-work-polling"
            },
            {
              "name": "user_id",
              "value": "={{ $node['Split Messages'].json.from }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "Send to berent.ai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1850, 50],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "berent.ai API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "Check for berent.ai Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2050, 50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.threema.ch/work/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.threemaWorkApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $node['Split Messages'].json.from }}"
            },
            {
              "name": "text",
              "value": "✅ Sprachnachricht erfolgreich transkribiert:\\n\\n{{ $node['Transcribe with OpenAI'].json.text }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "f2a3b4c5-d6e7-8901-fabc-234567890123",
      "name": "Send Success Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2250, 150],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Threema Work API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.threema.ch/work/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.threemaWorkApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $node['Split Messages'].json.from }}"
            },
            {
              "name": "text",
              "value": "❌ Fehler beim Verarbeiten der Sprachnachricht. Bitte versuchen Sie es erneut."
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a3b4c5d6-e7f8-9012-abcd-345678901234",
      "name": "Send Error Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2250, 50],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Threema Work API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "n8n-workflow@berent.ai",
        "toEmail": "office@berent.ai",
        "subject": "n8n Polling Workflow Fehler - Threema Work",
        "text": "=Fehler bei der Threema Work Polling-Abfrage:\\n\\n- Zeitpunkt: {{ $now.format('dd.MM.yyyy HH:mm:ss') }}\\n- Fehlertyp: {{ $json.error.message || 'API-Verbindungsfehler' }}\\n- HTTP Status: {{ $json.statusCode || 'N/A' }}\\n\\nBitte prüfen Sie die Threema Work API-Verbindung.",
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-0123-bcde-456789012345",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 450],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP Server"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.threema.ch/work/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.threemaWorkApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $node['Split Messages'].json.from }}"
            },
            {
              "name": "text",
              "value": "ℹ️ Bitte senden Sie eine Sprachnachricht. Andere Dateiformate werden nicht unterstützt."
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "c5d6e7f8-a9b0-1234-cdef-567890123456",
      "name": "Send No Audio Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 250],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Threema Work API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.threema.ch/work/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.threemaWorkApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $node['Split Messages'].json.from }}"
            },
            {
              "name": "text",
              "value": "ℹ️ Bitte senden Sie eine Datei. Textnachrichten werden für die Transkription nicht unterstützt."
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "d6e7f8a9-b0c1-2345-defa-678901234567",
      "name": "Send No File Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Threema Work API"
        }
      }
    }
  ],
  "connections": {
    "Poll Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Check for New Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for New Messages": {
      "main": [
        [
          {
            "node": "Check API Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Success": {
      "main": [
        [
          {
            "node": "Split Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Messages or Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Messages": {
      "main": [
        [
          {
            "node": "Check File Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Message": {
      "main": [
        [
          {
            "node": "Check Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send No File Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Audio File": {
      "main": [
        [
          {
            "node": "Download Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send No Audio Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio File": {
      "main": [
        [
          {
            "node": "Transcribe with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe with OpenAI": {
      "main": [
        [
          {
            "node": "Send to berent.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to berent.ai": {
      "main": [
        [
          {
            "node": "Check for berent.ai Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for berent.ai Errors": {
      "main": [
        [
          {
            "node": "Send Error Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Success Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "23456789-01ab-cdef-2345-678901abcdef",
  "id": "101",
  "meta": {
    "instanceId": "n8n-instance-id"
  },
  "tags": []
} 