n8n/workflows/ai-agents/1000+-Email-Leads-Template.json
{
  "name": "Unlimited Email Leads",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data\n \nconst regex = /https?:\\/\\/[^\\/]+/g\n \nurls = data.match(regex)\n \nreturn urls.map(url => ({json: {url: url}}))"
      },
      "id": "4ebc7449-9599-4320-aab3-d15d13dc1110",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        -400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ecfbe72-c09a-482e-8f81-43d9e7bb2917",
              "leftValue": "={{ $json.url }}",
              "rightValue": "(google|gstatic|ggpht|schema|example)",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2031938e-712e-4b90-b388-bc06240eda99",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2500,
        -400
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "url",
        "options": {}
      },
      "id": "031ed4f7-59c1-452c-a79a-3d179e08a52d",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2080,
        -180
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "189b609a-31d5-4a52-9298-6fd5d85d9cd0",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        -80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f12d039e-cafd-4711-a689-bc2038cdf24a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2260,
        -180
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data;\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g;\n\nlet emails = data.match(emailRegex) || [];\n\n// Filter out suspicious emails\nemails = emails.filter(email => {\n    const [localPart, domain] = email.split(\"@\");\n\n    // Check length constraints\n    if (email.length < 6 || email.length > 100) return false; // Too short or too long\n    if (localPart.length > 64 || domain.length > 255) return false; // RFC limits\n\n    // Check if local part is hex-like (e.g., long alphanumeric strings)\n    if (/^[a-f0-9]{24,}$/.test(localPart)) return false; // Likely a bot email\n\n    return true;\n});\n\nconsole.log(emails);\n\nreturn { json: { emails: emails } };"
      },
      "id": "516dfd2e-7742-4453-8f1c-059c1e70ae95",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wMhefdpYp6NGeX9WVHfBYBm0h3bDfDhRy9Kl8APXU0o",
          "mode": "list",
          "cachedResultName": "Email Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wMhefdpYp6NGeX9WVHfBYBm0h3bDfDhRy9Kl8APXU0o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wMhefdpYp6NGeX9WVHfBYBm0h3bDfDhRy9Kl8APXU0o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Emails": "={{ $json.emails }}"
          },
          "matchingColumns": [
            "Emails"
          ],
          "schema": [
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1481a25d-c501-44af-be4f-4d1c7be79712",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3020,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ae0WQjpiHTgOFJBK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.google.com/maps/search/{{ $json.query }}",
        "options": {}
      },
      "id": "3ba252c4-a0bb-4582-a00d-c89210744a85",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        -400
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "emails"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "22c12a2e-5f0f-4b62-9533-76e840a6133e",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2920,
        -260
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "emails",
        "options": {}
      },
      "id": "bf62bc62-0f21-423b-ae6f-d4f50033c3bc",
      "name": "Remove Duplicates1",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        3200,
        -260
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "798374c2-664e-44c6-acbd-ff94a1152e45",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2040,
        -480
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2640,
        -180
      ],
      "id": "9b15538d-ba46-47a9-842a-1c13484c1956",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3160,
        -40
      ],
      "id": "9dd0ae17-c256-43da-a7a4-1c3696dd636e",
      "name": "Wait",
      "webhookId": "656fb0b5-4217-418a-b144-1538ef2e9088"
    },
    {
      "parameters": {
        "formTitle": "Email Lead Generator",
        "formDescription": "Erhalte hunderte E-Mail-Adressen valider Unternehmen aus einer bestimmten Stadt.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Schlüsselwort",
              "placeholder": "Friseur",
              "requiredField": true
            },
            {
              "fieldLabel": "Stadt",
              "placeholder": "Berlin",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        2040,
        -700
      ],
      "id": "e476e8e1-8238-426e-8a3a-266f8636afb2",
      "name": "On form submission",
      "webhookId": "4e46fe06-80bc-47a0-9178-d8a745581588"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Gib mir eine Liste von Suchanfragen für das Schlüsselwort '{{ $json['Schlüsselwort'] }}' für alle Stadtteile/Viertel von {{ $json.Stadt }}.\n\nDie Struktur muss dem folgenden JSON entsprechen:\n\n{\n  \"queries\": [\n    {\n      \"query\": \"berlin+lichterfelde+ost+friseur\"\n    }  \n  ]\n}\n",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2160,
        -700
      ],
      "id": "41d150d4-68a9-4db1-8dd4-c446f2310216",
      "name": "Build Queries",
      "credentials": {
        "openAiApi": {
          "id": "omOAzBLC0kpP3tdj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=choices[0].message.content.queries",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2440,
        -700
      ],
      "id": "008e487c-1d63-4895-bf32-86ba068b59b5",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "options": {}
      },
      "id": "255fd737-3997-4e9a-9c90-6e9a9b186603",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3060,
        -260
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Build Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Queries": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7514417d-10c2-472e-a681-d29b3001ec9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c06bc23b1a23160e3960ed6f733e332af8ebbf2e7eb3507d43983032cffc4ae"
  },
  "id": "knitsrMiRp63izGG",
  "tags": []
}