n8n/workflows/ai-agents/n8n-Blogbeitrag-Workflow.json
{
  "name": "Telegram Voice to berent.ai Transcription",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "telegram-voice-webhook",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.message.voice ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Check Voice Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "getFile",
        "fileId": "={{ $json.message.voice.file_id }}",
        "download": true
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "binaryPropertyName": "data",
          "model": "whisper-1",
          "language": "de",
          "responseFormat": "json",
          "temperature": 0
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Transcribe with OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://berent.ai/api/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transcript",
              "value": "={{ $json.text }}"
            },
            {
              "name": "source",
              "value": "telegram"
            },
            {
              "name": "user_id",
              "value": "={{ $node['Telegram Trigger'].json.message.from.id }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Send to berent.ai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "berent.ai API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "fromEmail": "n8n-workflow@berent.ai",
        "toEmail": "office@berent.ai",
        "subject": "n8n Workflow Fehler - Sprachnachricht Transkription",
        "text": "=Fehler bei der Verarbeitung einer Telegram Sprachnachricht:\n\n- Zeitpunkt: {{ $now.format('dd.MM.yyyy HH:mm:ss') }}\n- Fehlertyp: Verbindungsfehler zu berent.ai\n- Details: {{ $json.error.message || 'Unbekannter Fehler' }}\n- Telegram User: {{ $node['Telegram Trigger'].json.message.from.username || $node['Telegram Trigger'].json.message.from.id }}\n- HTTP Status: {{ $json.statusCode || 'N/A' }}\n\nBitte prüfen Sie die API-Verbindung und Logs.",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1450, 100],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP Server"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "n8n-workflow@berent.ai",
        "toEmail": "office@berent.ai",
        "subject": "n8n Workflow Fehler - Keine Sprachnachricht",
        "text": "=Eine Telegram-Nachricht wurde empfangen, enthielt aber keine Sprachnachricht:\n\n- Zeitpunkt: {{ $now.format('dd.MM.yyyy HH:mm:ss') }}\n- Fehlertyp: Keine Sprachnachricht gefunden\n- Telegram User: {{ $json.message.from.username || $json.message.from.id }}\n- Nachrichtentyp: {{ Object.keys($json.message).filter(k => ['text', 'photo', 'document', 'video'].includes(k))[0] || 'Unbekannt' }}\n\nDer Workflow verarbeitet nur Sprachnachrichten.",
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "No Voice Message Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 400],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP Server"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Sprachnachricht erfolgreich transkribiert und an berent.ai gesendet"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Voice Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Voice Message": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Voice Message Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe with OpenAI": {
      "main": [
        [
          {
            "node": "Send to berent.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to berent.ai": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "01234567-89ab-cdef-0123-456789abcdef",
  "id": "99",
  "meta": {
    "instanceId": "n8n-instance-id"
  },
  "tags": []
}
