n8n/499J5QUt4xUoTujR/GitHub → n8n Synchronisation.json
{"active":true,"connections":{"Analysiere Response":{"main":[[{"index":0,"node":"Workflow existiert?","type":"main"}]]},"Debug: Vor Erstellen":{"main":[[{"index":0,"node":"Erstelle Workflow","type":"main"}]]},"Erstelle Workflow":{"main":[[{"index":0,"node":"Debug: Ergebnis","type":"main"}]]},"Extrahiere geänderte Dateien":{"main":[[{"index":0,"node":"Vorbereiten Datei","type":"main"}]]},"GitHub Webhook Trigger":{"main":[[{"index":0,"node":"Prüfe Push Event","type":"main"}]]},"Hole Datei von GitHub":{"main":[[{"index":0,"node":"Parse Workflow","type":"main"}]]},"Parse Workflow":{"main":[[{"index":0,"node":"Prüfe Workflow","type":"main"}]]},"Prüfe Push Event":{"main":[[{"index":0,"node":"Extrahiere geänderte Dateien","type":"main"}]]},"Prüfe Workflow":{"main":[[{"index":0,"node":"Prüfe ob ID vorhanden","type":"main"}],[{"index":0,"node":"Überspringe Workflow","type":"main"}]]},"Prüfe ob ID vorhanden":{"main":[[{"index":0,"node":"Prüfe ob Workflow existiert","type":"main"}],[{"index":0,"node":"Debug: Vor Erstellen","type":"main"}]]},"Prüfe ob Workflow existiert":{"main":[[{"index":0,"node":"Analysiere Response","type":"main"}]]},"Update Workflow":{"main":[[{"index":0,"node":"Debug: Ergebnis","type":"main"}]]},"Vorbereite Update":{"main":[[{"index":0,"node":"Update Workflow","type":"main"}]]},"Vorbereiten Datei":{"main":[[{"index":0,"node":"Hole Datei von GitHub","type":"main"}]]},"Workflow existiert?":{"main":[[{"index":0,"node":"Vorbereite Update","type":"main"}],[{"index":0,"node":"Erstelle Workflow","type":"main"}]]}},"name":"GitHub → n8n Synchronisation","nodes":[{"name":"GitHub Webhook Trigger","parameters":{"httpMethod":"POST","options":{},"path":"github-sync-webhook"},"position":[-2464,1680],"type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"github-sync-webhook"},{"name":"Prüfe Push Event","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.head_commit.message }}","operator":{"operation":"notContains","type":"string"},"rightValue":"Auto-Backup"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[-2240,1680],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Extrahiere geänderte Dateien","parameters":{"jsCode":"// Extrahiere geänderte Dateien aus GitHub Webhook\nconst body = $json.body || {};\nconst commits = body.commits || [];\nconst changedFiles = [];\n\n// Sammle alle geänderten Dateien\nfor (const commit of commits) {\n  const added = commit.added || [];\n  const modified = commit.modified || [];\n  \n  for (const file of [...added, ...modified]) {\n    if (!file.endsWith('.json')) continue;\n    \n    // Ignoriere bekannte Config-Dateien im Root\n    const isConfigFile = ['package.json', 'tsconfig.json', 'package-lock.json'].includes(file.split('/').pop());\n    \n    if (!isConfigFile) {\n      changedFiles.push(file);\n    }\n  }\n}\n\nreturn changedFiles.map(file => ({ filePath: file }));"},"position":[-2016,1680],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Vorbereiten Datei","parameters":{"jsCode":"const filePath = $json.filePath;\nreturn { filePath };","mode":"runOnceForEachItem"},"position":[-1792,1680],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"githubApi":{"name":"API GitHub"}},"name":"Hole Datei von GitHub","onError":"continueRegularOutput","parameters":{"additionalParameters":{"reference":"main"},"asBinaryProperty":false,"filePath":"={{ $json.filePath }}","operation":"get","owner":{"__rl":true,"mode":"name","value":"peerendees"},"repository":{"__rl":true,"cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/peerendees/n8n-workflows","mode":"list","value":"n8n-workflows"},"resource":"file"},"position":[-1568,1680],"type":"n8n-nodes-base.github","typeVersion":1.1,"webhookId":"694567e2-c3e8-4bfc-91af-aae5697aca36"},{"name":"Parse Workflow","parameters":{"jsCode":"const githubFile = $json;\n\nif (githubFile.error || !githubFile.content) {\n  return { error: 'Datei konnte nicht geladen werden' };\n}\n\ntry {\n  // Hostinger-sicheres Decoding (atob statt Buffer)\n  const b64content = githubFile.content.replace(/\\s/g, '');\n  const content = decodeURIComponent(escape(atob(b64content)));\n  const workflow = JSON.parse(content);\n  \n  // Archivierte Workflows ignorieren\n  if (workflow.isArchived === true) {\n    return { error: 'Archivierter Workflow wird übersprungen' };\n  }\n  \n  const workflowId = workflow.id || '';\n  const fileName = (githubFile.path || githubFile.name || '').split('/').pop().replace(/\\.json$/, '') || 'Unnamed Workflow';\n  const finalWorkflowName = workflow.name || fileName;\n  \n  // DATEN-SÄUBERUNG: Nur erlaubte Felder für die n8n-API behalten\n  const workflowData = {\n    name: finalWorkflowName,\n    nodes: workflow.nodes || [],\n    connections: workflow.connections || {},\n    settings: workflow.settings || {},\n    meta: workflow.meta || {}\n  };\n  \n  return {\n    workflowId: workflowId,\n    workflowName: finalWorkflowName,\n    workflowData: workflowData,\n    filePath: githubFile.path || githubFile.name\n  };\n} catch (e) {\n  return { error: 'Fehler beim Parsen: ' + e.message };\n}"},"position":[-1344,1680],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Prüfe Workflow","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.error || '' }}","operator":{"operation":"equals","type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[-1120,1680],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Prüfe ob ID vorhanden","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.workflowId || '' }}","operator":{"operation":"notEquals","type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[-896,1584],"type":"n8n-nodes-base.if","typeVersion":2.3},{"credentials":{"httpHeaderAuth":{"name":"API n8n für n8n"}},"name":"Prüfe ob Workflow existiert","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{}},"url":"=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}"},"position":[-672,1488],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Analysiere Response","parameters":{"jsCode":"// Analysiere die Antwort vom HTTP Request Node\nconst response = $json;\nconst parseWorkflowData = $node[\"Parse Workflow\"].json;\n\n// Prüfe ob ein Fehler vorhanden ist (404 = Workflow existiert nicht)\nif (response.error) {\n  // 404 bedeutet: Workflow existiert nicht\n  if (response.error.message && response.error.message.includes('404')) {\n    return {\n      exists: false,\n      workflowId: parseWorkflowData.workflowId,\n      workflowName: parseWorkflowData.workflowName,\n      workflowData: parseWorkflowData.workflowData,\n      filePath: parseWorkflowData.filePath\n    };\n  }\n  // Andere Fehler\n  return {\n    exists: false,\n    error: response.error.message || response.error,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Prüfe Status-Code\nif (response.statusCode === 200 || (response.id && response.name)) {\n  return {\n    exists: true,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Workflow existiert nicht\nreturn {\n  exists: false,\n  workflowId: parseWorkflowData.workflowId,\n  workflowName: parseWorkflowData.workflowName,\n  workflowData: parseWorkflowData.workflowData,\n  filePath: parseWorkflowData.filePath\n};"},"position":[-448,1488],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Workflow existiert?","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.exists }}","operator":{"operation":"equals","type":"boolean"},"rightValue":true}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"position":[-224,1488],"type":"n8n-nodes-base.if","typeVersion":2.3},{"name":"Vorbereite Update","parameters":{"jsCode":"// Vorbereite workflowData für Update\nconst analysiereData = $json;\nconst parseData = $node[\"Parse Workflow\"].json;\nconst workflowData = parseData.workflowData || {};\n\n// Pflichtfelder OHNE 'active' (read-only) und OHNE 'id' (in URL)\nconst finalWorkflowData = {\n  name: parseData.workflowName || workflowData.name || 'Unnamed Workflow',\n  nodes: workflowData.nodes || [],\n  connections: workflowData.connections || {},\n  settings: workflowData.settings || {}\n};\n\nreturn {\n  workflowId: analysiereData.workflowId,\n  workflowData: finalWorkflowData\n};"},"position":[0,1440],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"httpHeaderAuth":{"name":"API n8n für n8n"}},"name":"Update Workflow","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={{ $json.workflowData }}","method":"PUT","options":{},"sendBody":true,"specifyBody":"json","url":"=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}"},"position":[224,1440],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"credentials":{"httpHeaderAuth":{"name":"API n8n für n8n"}},"name":"Erstelle Workflow","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","jsonBody":"={{ $json.workflowData }}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows"},"position":[0,1680],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"name":"Debug: Vor Erstellen","parameters":{"jsCode":"// Vorbereite workflowData für Erstellen\nconst parseData = $node[\"Parse Workflow\"].json;\nconst workflowData = parseData.workflowData || {};\n\n// Pflichtfelder (+ active status erlaubt bei Erstellung)\nconst finalWorkflowData = {\n  name: parseData.workflowName || workflowData.name || 'Unnamed Workflow',\n  nodes: workflowData.nodes || [],\n  connections: workflowData.connections || {},\n  active: workflowData.active === true,\n  settings: workflowData.settings || {}\n};\n\nreturn {\n  ...parseData,\n  workflowData: finalWorkflowData\n};"},"position":[-224,1728],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Debug: Ergebnis","parameters":{"jsCode":"// Debug: Log Ergebnis\nconst response = $json;\nconst parseData = $node[\"Parse Workflow\"].json;\n\n// Bestimme action basierend auf dem vorherigen Node\nlet action = 'create';\ntry {\n  const workflowExistsNode = $node[\"Workflow existiert?\"];\n  if (workflowExistsNode && workflowExistsNode.json && workflowExistsNode.json.exists !== undefined) {\n    action = workflowExistsNode.json.exists ? 'update' : 'create';\n  } else {\n    // Wenn Node nicht ausgeführt wurde, prüfe ob Update-Node ausgeführt wurde\n    const updateNode = $node[\"Update Workflow\"];\n    if (updateNode && updateNode.json) {\n      action = 'update';\n    }\n  }\n} catch (e) {\n  // Node wurde nicht ausgeführt, default zu 'create'\n  action = 'create';\n}\n\nif (response.error) {\n  return {\n    success: false,\n    error: response.error.message || response.error,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nif (response.statusCode && response.statusCode >= 400) {\n  return {\n    success: false,\n    error: `HTTP ${response.statusCode}: ${JSON.stringify(response.body || response)}`,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nreturn {\n  success: true,\n  workflowName: response.name || parseData.workflowName || 'Unbekannt',\n  workflowId: response.id || parseData.workflowId || '',\n  action: action\n};"},"position":[448,1584],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Überspringe Workflow","parameters":{"jsCode":"// Überspringe Workflow bei Fehler\nconst data = $json;\nreturn data;"},"position":[-896,1776],"type":"n8n-nodes-base.code","typeVersion":2}],"settings":{"availableInMCP":true,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","saveDataSuccessExecution":"none","timeSavedMode":"fixed"}}