n8n/499J5QUt4xUoTujR/github-n8n-synchronisation.json
{
  "updatedAt": "2026-01-20T19:40:49.011Z",
  "createdAt": "2026-01-02T14:58:17.255Z",
  "id": "499J5QUt4xUoTujR",
  "name": "GitHub → n8n Synchronisation",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-sync-webhook",
        "options": {}
      },
      "id": "2c4ca88b-77eb-42a6-9219-30c3069873a6",
      "name": "GitHub Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3376,
        -128
      ],
      "webhookId": "github-sync-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-push-event",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "push",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3152,
        -128
      ],
      "id": "6f1df35d-d7b7-41b1-99a2-3d072b808f5b",
      "name": "Prüfe Push Event"
    },
    {
      "parameters": {
        "jsCode": "// Extrahiere geänderte Dateien aus GitHub Webhook\nconst body = $json.body || {};\nconst commits = body.commits || [];\nconst changedFiles = [];\n\n// Sammle alle geänderten Dateien\nfor (const commit of commits) {\n  const added = commit.added || [];\n  const modified = commit.modified || [];\n  \n  for (const file of [...added, ...modified]) {\n    if (!file.endsWith('.json')) continue;\n    \n    // Ignoriere bekannte Config-Dateien im Root\n    const isConfigFile = ['package.json', 'tsconfig.json', 'package-lock.json'].includes(file.split('/').pop());\n    \n    if (!isConfigFile) {\n      changedFiles.push(file);\n    }\n  }\n}\n\nreturn changedFiles.map(file => ({ filePath: file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        -128
      ],
      "id": "e2352771-a6d9-46ce-813e-cc1b6c34303f",
      "name": "Extrahiere geänderte Dateien"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const filePath = $json.filePath;\nreturn { filePath };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        -128
      ],
      "id": "cd08f4b0-4bc6-408f-9d8a-0a9b7165b50f",
      "name": "Vorbereiten Datei"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "peerendees",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
        },
        "filePath": "={{ $json.filePath }}",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -2480,
        -128
      ],
      "id": "bf03e49c-df0c-425a-81eb-ae3eba30e58b",
      "name": "Hole Datei von GitHub",
      "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
      "credentials": {
        "githubApi": {
          "id": "aZMd0okvVFkvyGnj",
          "name": "API GitHub"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extrahiere Workflow-Daten aus GitHub-Datei\nconst githubFile = $json;\n\nif (githubFile.error || !githubFile.content) {\n  return { error: 'Datei konnte nicht geladen werden' };\n}\n\ntry {\n  const content = Buffer.from(githubFile.content, 'base64').toString('utf-8');\n  const workflow = JSON.parse(content);\n  \n  // Überspringe archivierte Workflows\n  if (workflow.isArchived === true) {\n    return { error: 'Archivierter Workflow wird übersprungen' };\n  }\n  \n  // Stelle sicher, dass workflowId vorhanden ist (kann leer sein für neue Workflows)\n  const workflowId = workflow.id || '';\n  \n  // Stelle sicher, dass name vorhanden ist\n  const fileName = (githubFile.path || githubFile.name || '').split('/').pop().replace(/\\.json$/, '') || 'Unnamed Workflow';\n  const finalWorkflowName = workflow.name || fileName;\n  \n  // Stelle sicher, dass workflowData das name-Feld hat\n  const workflowData = {\n    ...workflow,\n    name: finalWorkflowName\n  };\n  \n  // Wenn keine ID vorhanden ist, entferne sie aus workflowData (n8n vergibt neue ID)\n  if (!workflowId) {\n    delete workflowData.id;\n  }\n  \n  return {\n    workflowId: workflowId,\n    workflowName: finalWorkflowName,\n    workflowData: workflowData,\n    filePath: githubFile.path || githubFile.name,\n    isNewWorkflow: !workflowId\n  };\n} catch (e) {\n  return { error: 'Fehler beim Parsen der Workflow-Datei: ' + e.message };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        -128
      ],
      "id": "34b3959c-f849-4de8-9a3a-c436f1277491",
      "name": "Parse Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2032,
        -128
      ],
      "id": "1a454130-ce82-44f5-93b0-f98c4c1cd941",
      "name": "Prüfe Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-has-id",
              "leftValue": "={{ $json.workflowId || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1808,
        -224
      ],
      "id": "3b244f92-81da-4ddb-bdc0-f3a0d6c1fa03",
      "name": "Prüfe ob ID vorhanden"
    },
    {
      "parameters": {
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        -320
      ],
      "id": "28b00135-f2b3-4fa2-84c0-08c11d34d7cc",
      "name": "Prüfe ob Workflow existiert",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oaJkHRuARNWjW2UA",
          "name": "API n8n für n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Analysiere die Antwort vom HTTP Request Node\nconst response = $json;\nconst parseWorkflowData = $node[\"Parse Workflow\"].json;\n\n// Prüfe ob ein Fehler vorhanden ist (404 = Workflow existiert nicht)\nif (response.error) {\n  // 404 bedeutet: Workflow existiert nicht\n  if (response.error.message && response.error.message.includes('404')) {\n    return {\n      exists: false,\n      workflowId: parseWorkflowData.workflowId,\n      workflowName: parseWorkflowData.workflowName,\n      workflowData: parseWorkflowData.workflowData,\n      filePath: parseWorkflowData.filePath\n    };\n  }\n  // Andere Fehler\n  return {\n    exists: false,\n    error: response.error.message || response.error,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Prüfe Status-Code\nif (response.statusCode === 200 || (response.id && response.name)) {\n  return {\n    exists: true,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Workflow existiert nicht\nreturn {\n  exists: false,\n  workflowId: parseWorkflowData.workflowId,\n  workflowName: parseWorkflowData.workflowName,\n  workflowData: parseWorkflowData.workflowData,\n  filePath: parseWorkflowData.filePath\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -320
      ],
      "id": "325f1d37-93fa-4ef5-9f88-81f811dd2599",
      "name": "Analysiere Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        -320
      ],
      "id": "4be36ec5-b6ec-4593-b331-6de7e37903c9",
      "name": "Workflow existiert?"
    },
    {
      "parameters": {
        "jsCode": "// Vorbereite workflowData für Update\nconst analysiereData = $json;\nconst parseData = $node[\"Parse Workflow\"].json;\nconst workflowData = parseData.workflowData || {};\nconst workflowName = parseData.workflowName || 'Unnamed Workflow';\n\n// Pflichtfelder + active status\nconst finalWorkflowData = {\n  name: workflowName,\n  nodes: workflowData.nodes || [],\n  connections: workflowData.connections || {},\n  active: workflowData.active === true,\n  settings: workflowData.settings || {\n    executionOrder: 'v1'\n  }\n};\n\nreturn {\n  workflowId: analysiereData.workflowId,\n  workflowName: analysiereData.workflowName,\n  filePath: analysiereData.filePath,\n  exists: analysiereData.exists,\n  workflowData: finalWorkflowData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        -368
      ],
      "id": "84c944af-1ee1-4f1d-bb2c-b57218548701",
      "name": "Vorbereite Update"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.workflowData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        -368
      ],
      "id": "972d918f-41fd-485a-8c0a-be3b2ff29176",
      "name": "Update Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oaJkHRuARNWjW2UA",
          "name": "API n8n für n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.workflowData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        -128
      ],
      "id": "fccff4e5-062b-4407-95ae-2ba129e015a8",
      "name": "Erstelle Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oaJkHRuARNWjW2UA",
          "name": "API n8n für n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Vorbereite workflowData für Erstellen\nconst parseData = $node[\"Parse Workflow\"].json;\nconst workflowData = parseData.workflowData || {};\nconst workflowName = parseData.workflowName || 'Unnamed Workflow';\n\n// Pflichtfelder + active status\nconst finalWorkflowData = {\n  name: workflowName,\n  nodes: workflowData.nodes || [],\n  connections: workflowData.connections || {},\n  active: workflowData.active === true,\n  settings: workflowData.settings || {\n    executionOrder: 'v1'\n  }\n};\n\nreturn {\n  ...parseData,\n  workflowData: finalWorkflowData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -80
      ],
      "id": "a88abf43-e438-4c1e-b243-abbb6aec6581",
      "name": "Debug: Vor Erstellen"
    },
    {
      "parameters": {
        "jsCode": "// Debug: Log Ergebnis\nconst response = $json;\nconst parseData = $node[\"Parse Workflow\"].json;\n\n// Bestimme action basierend auf dem vorherigen Node\nlet action = 'create';\ntry {\n  const workflowExistsNode = $node[\"Workflow existiert?\"];\n  if (workflowExistsNode && workflowExistsNode.json && workflowExistsNode.json.exists !== undefined) {\n    action = workflowExistsNode.json.exists ? 'update' : 'create';\n  } else {\n    // Wenn Node nicht ausgeführt wurde, prüfe ob Update-Node ausgeführt wurde\n    const updateNode = $node[\"Update Workflow\"];\n    if (updateNode && updateNode.json) {\n      action = 'update';\n    }\n  }\n} catch (e) {\n  // Node wurde nicht ausgeführt, default zu 'create'\n  action = 'create';\n}\n\nif (response.error) {\n  return {\n    success: false,\n    error: response.error.message || response.error,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nif (response.statusCode && response.statusCode >= 400) {\n  return {\n    success: false,\n    error: `HTTP ${response.statusCode}: ${JSON.stringify(response.body || response)}`,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nreturn {\n  success: true,\n  workflowName: response.name || parseData.workflowName || 'Unbekannt',\n  workflowId: response.id || parseData.workflowId || '',\n  action: action\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -224
      ],
      "id": "31c42dcc-a781-47c8-8f30-b4e91edf4ab9",
      "name": "Debug: Ergebnis"
    },
    {
      "parameters": {
        "jsCode": "// Überspringe Workflow bei Fehler\nconst data = $json;\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -32
      ],
      "id": "fbf0026b-4e02-4b68-adca-d452b42959a8",
      "name": "Überspringe Workflow"
    }
  ],
  "connections": {
    "GitHub Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prüfe Push Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe Push Event": {
      "main": [
        [
          {
            "node": "Extrahiere geänderte Dateien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrahiere geänderte Dateien": {
      "main": [
        [
          {
            "node": "Vorbereiten Datei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vorbereiten Datei": {
      "main": [
        [
          {
            "node": "Hole Datei von GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole Datei von GitHub": {
      "main": [
        [
          {
            "node": "Parse Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow": {
      "main": [
        [
          {
            "node": "Prüfe Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe Workflow": {
      "main": [
        [
          {
            "node": "Prüfe ob ID vorhanden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Überspringe Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe ob ID vorhanden": {
      "main": [
        [
          {
            "node": "Prüfe ob Workflow existiert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Debug: Vor Erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug: Vor Erstellen": {
      "main": [
        [
          {
            "node": "Erstelle Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe ob Workflow existiert": {
      "main": [
        [
          {
            "node": "Analysiere Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysiere Response": {
      "main": [
        [
          {
            "node": "Workflow existiert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow existiert?": {
      "main": [
        [
          {
            "node": "Vorbereite Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erstelle Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vorbereite Update": {
      "main": [
        [
          {
            "node": "Update Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow": {
      "main": [
        [
          {
            "node": "Debug: Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erstelle Workflow": {
      "main": [
        [
          {
            "node": "Debug: Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4d7b0bec-6154-4e57-a29a-0c3e8f65ab43",
  "activeVersionId": "4d7b0bec-6154-4e57-a29a-0c3e8f65ab43",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-02T14:58:17.257Z",
      "createdAt": "2026-01-02T14:58:17.257Z",
      "role": "workflow:owner",
      "workflowId": "499J5QUt4xUoTujR",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-21T09:52:04.000Z",
    "createdAt": "2026-01-20T19:40:49.013Z",
    "versionId": "4d7b0bec-6154-4e57-a29a-0c3e8f65ab43",
    "workflowId": "499J5QUt4xUoTujR",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "github-sync-webhook",
          "options": {}
        },
        "id": "2c4ca88b-77eb-42a6-9219-30c3069873a6",
        "name": "GitHub Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -3376,
          -128
        ],
        "webhookId": "github-sync-webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-push-event",
                "leftValue": "={{ $json.headers['x-github-event'] }}",
                "rightValue": "push",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -3152,
          -128
        ],
        "id": "6f1df35d-d7b7-41b1-99a2-3d072b808f5b",
        "name": "Prüfe Push Event"
      },
      {
        "parameters": {
          "jsCode": "// Extrahiere geänderte Dateien aus GitHub Webhook\nconst body = $json.body || {};\nconst commits = body.commits || [];\nconst changedFiles = [];\n\n// Sammle alle geänderten Dateien\nfor (const commit of commits) {\n  const added = commit.added || [];\n  const modified = commit.modified || [];\n  \n  for (const file of [...added, ...modified]) {\n    if (!file.endsWith('.json')) continue;\n    \n    // Ignoriere bekannte Config-Dateien im Root\n    const isConfigFile = ['package.json', 'tsconfig.json', 'package-lock.json'].includes(file.split('/').pop());\n    \n    if (!isConfigFile) {\n      changedFiles.push(file);\n    }\n  }\n}\n\nreturn changedFiles.map(file => ({ filePath: file }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2928,
          -128
        ],
        "id": "e2352771-a6d9-46ce-813e-cc1b6c34303f",
        "name": "Extrahiere geänderte Dateien"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const filePath = $json.filePath;\nreturn { filePath };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2704,
          -128
        ],
        "id": "cd08f4b0-4bc6-408f-9d8a-0a9b7165b50f",
        "name": "Vorbereiten Datei"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "peerendees",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": "n8n-workflows",
            "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
          },
          "filePath": "={{ $json.filePath }}",
          "asBinaryProperty": false,
          "additionalParameters": {
            "reference": "main"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -2480,
          -128
        ],
        "id": "bf03e49c-df0c-425a-81eb-ae3eba30e58b",
        "name": "Hole Datei von GitHub",
        "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
        "credentials": {
          "githubApi": {
            "id": "aZMd0okvVFkvyGnj",
            "name": "API GitHub"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Extrahiere Workflow-Daten aus GitHub-Datei\nconst githubFile = $json;\n\nif (githubFile.error || !githubFile.content) {\n  return { error: 'Datei konnte nicht geladen werden' };\n}\n\ntry {\n  const content = Buffer.from(githubFile.content, 'base64').toString('utf-8');\n  const workflow = JSON.parse(content);\n  \n  // Überspringe archivierte Workflows\n  if (workflow.isArchived === true) {\n    return { error: 'Archivierter Workflow wird übersprungen' };\n  }\n  \n  // Stelle sicher, dass workflowId vorhanden ist (kann leer sein für neue Workflows)\n  const workflowId = workflow.id || '';\n  \n  // Stelle sicher, dass name vorhanden ist\n  const fileName = (githubFile.path || githubFile.name || '').split('/').pop().replace(/\\.json$/, '') || 'Unnamed Workflow';\n  const finalWorkflowName = workflow.name || fileName;\n  \n  // Stelle sicher, dass workflowData das name-Feld hat\n  const workflowData = {\n    ...workflow,\n    name: finalWorkflowName\n  };\n  \n  // Wenn keine ID vorhanden ist, entferne sie aus workflowData (n8n vergibt neue ID)\n  if (!workflowId) {\n    delete workflowData.id;\n  }\n  \n  return {\n    workflowId: workflowId,\n    workflowName: finalWorkflowName,\n    workflowData: workflowData,\n    filePath: githubFile.path || githubFile.name,\n    isNewWorkflow: !workflowId\n  };\n} catch (e) {\n  return { error: 'Fehler beim Parsen der Workflow-Datei: ' + e.message };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2256,
          -128
        ],
        "id": "34b3959c-f849-4de8-9a3a-c436f1277491",
        "name": "Parse Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-error",
                "leftValue": "={{ $json.error || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2032,
          -128
        ],
        "id": "1a454130-ce82-44f5-93b0-f98c4c1cd941",
        "name": "Prüfe Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-has-id",
                "leftValue": "={{ $json.workflowId || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1808,
          -224
        ],
        "id": "3b244f92-81da-4ddb-bdc0-f3a0d6c1fa03",
        "name": "Prüfe ob ID vorhanden"
      },
      {
        "parameters": {
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1584,
          -320
        ],
        "id": "28b00135-f2b3-4fa2-84c0-08c11d34d7cc",
        "name": "Prüfe ob Workflow existiert",
        "credentials": {
          "httpHeaderAuth": {
            "id": "oaJkHRuARNWjW2UA",
            "name": "API n8n für n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Analysiere die Antwort vom HTTP Request Node\nconst response = $json;\nconst parseWorkflowData = $node[\"Parse Workflow\"].json;\n\n// Prüfe ob ein Fehler vorhanden ist (404 = Workflow existiert nicht)\nif (response.error) {\n  // 404 bedeutet: Workflow existiert nicht\n  if (response.error.message && response.error.message.includes('404')) {\n    return {\n      exists: false,\n      workflowId: parseWorkflowData.workflowId,\n      workflowName: parseWorkflowData.workflowName,\n      workflowData: parseWorkflowData.workflowData,\n      filePath: parseWorkflowData.filePath\n    };\n  }\n  // Andere Fehler\n  return {\n    exists: false,\n    error: response.error.message || response.error,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Prüfe Status-Code\nif (response.statusCode === 200 || (response.id && response.name)) {\n  return {\n    exists: true,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Workflow existiert nicht\nreturn {\n  exists: false,\n  workflowId: parseWorkflowData.workflowId,\n  workflowName: parseWorkflowData.workflowName,\n  workflowData: parseWorkflowData.workflowData,\n  filePath: parseWorkflowData.filePath\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1360,
          -320
        ],
        "id": "325f1d37-93fa-4ef5-9f88-81f811dd2599",
        "name": "Analysiere Response"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-exists",
                "leftValue": "={{ $json.exists }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1136,
          -320
        ],
        "id": "4be36ec5-b6ec-4593-b331-6de7e37903c9",
        "name": "Workflow existiert?"
      },
      {
        "parameters": {
          "jsCode": "// Vorbereite workflowData für Update\nconst analysiereData = $json;\nconst parseData = $node[\"Parse Workflow\"].json;\nconst workflowData = parseData.workflowData || {};\nconst workflowName = parseData.workflowName || 'Unnamed Workflow';\n\n// Pflichtfelder + active status\nconst finalWorkflowData = {\n  name: workflowName,\n  nodes: workflowData.nodes || [],\n  connections: workflowData.connections || {},\n  active: workflowData.active === true,\n  settings: workflowData.settings || {\n    executionOrder: 'v1'\n  }\n};\n\nreturn {\n  workflowId: analysiereData.workflowId,\n  workflowName: analysiereData.workflowName,\n  filePath: analysiereData.filePath,\n  exists: analysiereData.exists,\n  workflowData: finalWorkflowData\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -912,
          -368
        ],
        "id": "84c944af-1ee1-4f1d-bb2c-b57218548701",
        "name": "Vorbereite Update"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.workflowData }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -688,
          -368
        ],
        "id": "972d918f-41fd-485a-8c0a-be3b2ff29176",
        "name": "Update Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "oaJkHRuARNWjW2UA",
            "name": "API n8n für n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.workflowData }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -912,
          -128
        ],
        "id": "fccff4e5-062b-4407-95ae-2ba129e015a8",
        "name": "Erstelle Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "oaJkHRuARNWjW2UA",
            "name": "API n8n für n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Vorbereite workflowData für Erstellen\nconst parseData = $node[\"Parse Workflow\"].json;\nconst workflowData = parseData.workflowData || {};\nconst workflowName = parseData.workflowName || 'Unnamed Workflow';\n\n// Pflichtfelder + active status\nconst finalWorkflowData = {\n  name: workflowName,\n  nodes: workflowData.nodes || [],\n  connections: workflowData.connections || {},\n  active: workflowData.active === true,\n  settings: workflowData.settings || {\n    executionOrder: 'v1'\n  }\n};\n\nreturn {\n  ...parseData,\n  workflowData: finalWorkflowData\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1136,
          -80
        ],
        "id": "a88abf43-e438-4c1e-b243-abbb6aec6581",
        "name": "Debug: Vor Erstellen"
      },
      {
        "parameters": {
          "jsCode": "// Debug: Log Ergebnis\nconst response = $json;\nconst parseData = $node[\"Parse Workflow\"].json;\n\n// Bestimme action basierend auf dem vorherigen Node\nlet action = 'create';\ntry {\n  const workflowExistsNode = $node[\"Workflow existiert?\"];\n  if (workflowExistsNode && workflowExistsNode.json && workflowExistsNode.json.exists !== undefined) {\n    action = workflowExistsNode.json.exists ? 'update' : 'create';\n  } else {\n    // Wenn Node nicht ausgeführt wurde, prüfe ob Update-Node ausgeführt wurde\n    const updateNode = $node[\"Update Workflow\"];\n    if (updateNode && updateNode.json) {\n      action = 'update';\n    }\n  }\n} catch (e) {\n  // Node wurde nicht ausgeführt, default zu 'create'\n  action = 'create';\n}\n\nif (response.error) {\n  return {\n    success: false,\n    error: response.error.message || response.error,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nif (response.statusCode && response.statusCode >= 400) {\n  return {\n    success: false,\n    error: `HTTP ${response.statusCode}: ${JSON.stringify(response.body || response)}`,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nreturn {\n  success: true,\n  workflowName: response.name || parseData.workflowName || 'Unbekannt',\n  workflowId: response.id || parseData.workflowId || '',\n  action: action\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -464,
          -224
        ],
        "id": "31c42dcc-a781-47c8-8f30-b4e91edf4ab9",
        "name": "Debug: Ergebnis"
      },
      {
        "parameters": {
          "jsCode": "// Überspringe Workflow bei Fehler\nconst data = $json;\nreturn data;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1808,
          -32
        ],
        "id": "fbf0026b-4e02-4b68-adca-d452b42959a8",
        "name": "Überspringe Workflow"
      }
    ],
    "connections": {
      "GitHub Webhook Trigger": {
        "main": [
          [
            {
              "node": "Prüfe Push Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe Push Event": {
        "main": [
          [
            {
              "node": "Extrahiere geänderte Dateien",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrahiere geänderte Dateien": {
        "main": [
          [
            {
              "node": "Vorbereiten Datei",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vorbereiten Datei": {
        "main": [
          [
            {
              "node": "Hole Datei von GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hole Datei von GitHub": {
        "main": [
          [
            {
              "node": "Parse Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Workflow": {
        "main": [
          [
            {
              "node": "Prüfe Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe Workflow": {
        "main": [
          [
            {
              "node": "Prüfe ob ID vorhanden",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Überspringe Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe ob ID vorhanden": {
        "main": [
          [
            {
              "node": "Prüfe ob Workflow existiert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Debug: Vor Erstellen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Debug: Vor Erstellen": {
        "main": [
          [
            {
              "node": "Erstelle Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe ob Workflow existiert": {
        "main": [
          [
            {
              "node": "Analysiere Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analysiere Response": {
        "main": [
          [
            {
              "node": "Workflow existiert?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow existiert?": {
        "main": [
          [
            {
              "node": "Vorbereite Update",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Erstelle Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vorbereite Update": {
        "main": [
          [
            {
              "node": "Update Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Workflow": {
        "main": [
          [
            {
              "node": "Debug: Ergebnis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Erstelle Workflow": {
        "main": [
          [
            {
              "node": "Debug: Ergebnis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marcus Kunkel",
    "name": "Version 4d7b0bec",
    "description": "",
    "autosaved": false
  },
  "tags": []
}