n8n/499J5QUt4xUoTujR/github-n8n-synchronisation.json
{
  "updatedAt": "2026-01-21T20:58:44.348Z",
  "createdAt": "2026-01-02T14:58:17.255Z",
  "id": "499J5QUt4xUoTujR",
  "name": "GitHub → n8n Synchronisation",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-sync-webhook",
        "options": {}
      },
      "id": "9d0bb2c6-01f8-4a69-bf92-31f12979ae4a",
      "name": "GitHub Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2720,
        688
      ],
      "webhookId": "github-sync-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-push-event",
              "leftValue": "={{ $json.headers['x-github-event'] }}",
              "rightValue": "push",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2496,
        688
      ],
      "id": "e14f02c1-200a-4d93-851f-341d97424cd4",
      "name": "Prüfe Push Event"
    },
    {
      "parameters": {
        "jsCode": "// Extrahiere geänderte Dateien aus GitHub Webhook\nconst body = $json.body || {};\nconst commits = body.commits || [];\nconst changedFiles = [];\n\n// Sammle alle geänderten Dateien\nfor (const commit of commits) {\n  const added = commit.added || [];\n  const modified = commit.modified || [];\n  \n  for (const file of [...added, ...modified]) {\n    if (!file.endsWith('.json')) continue;\n    \n    // Ignoriere bekannte Config-Dateien im Root\n    const isConfigFile = ['package.json', 'tsconfig.json', 'package-lock.json'].includes(file.split('/').pop());\n    \n    if (!isConfigFile) {\n      changedFiles.push(file);\n    }\n  }\n}\n\nreturn changedFiles.map(file => ({ filePath: file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        688
      ],
      "id": "bf2f9c9b-9f96-42eb-9026-3b26fe579aa8",
      "name": "Extrahiere geänderte Dateien"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const filePath = $json.filePath;\nreturn { filePath };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        688
      ],
      "id": "00db9765-d022-4b5a-9503-5be078479d37",
      "name": "Vorbereiten Datei"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "peerendees",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
        },
        "filePath": "={{ $json.filePath }}",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1824,
        688
      ],
      "id": "1943173d-86d2-4e2c-8132-776fe3eda1d4",
      "name": "Hole Datei von GitHub",
      "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
      "credentials": {
        "githubApi": {
          "id": "aZMd0okvVFkvyGnj",
          "name": "API GitHub"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extrahiere Workflow-Daten aus GitHub-Datei\nconst githubFile = $json;\n\nif (githubFile.error || !githubFile.content) {\n  return { error: 'Datei konnte nicht geladen werden' };\n}\n\ntry {\n  const content = Buffer.from(githubFile.content, 'base64').toString('utf-8');\n  const workflow = JSON.parse(content);\n  \n  // Überspringe archivierte Workflows\n  if (workflow.isArchived === true) {\n    return { error: 'Archivierter Workflow wird übersprungen' };\n  }\n  \n  // Stelle sicher, dass workflowId vorhanden ist (kann leer sein für neue Workflows)\n  const workflowId = workflow.id || '';\n  \n  // Stelle sicher, dass name vorhanden ist\n  const fileName = (githubFile.path || githubFile.name || '').split('/').pop().replace(/\\.json$/, '') || 'Unnamed Workflow';\n  const finalWorkflowName = workflow.name || fileName;\n  \n  // Stelle sicher, dass workflowData das name-Feld hat\n  const workflowData = {\n    ...workflow,\n    name: finalWorkflowName\n  };\n  \n  // Wenn keine ID vorhanden ist, entferne sie aus workflowData (n8n vergibt neue ID)\n  if (!workflowId) {\n    delete workflowData.id;\n  }\n  \n  return {\n    workflowId: workflowId,\n    workflowName: finalWorkflowName,\n    workflowData: workflowData,\n    filePath: githubFile.path || githubFile.name,\n    isNewWorkflow: !workflowId\n  };\n} catch (e) {\n  return { error: 'Fehler beim Parsen der Workflow-Datei: ' + e.message };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        688
      ],
      "id": "e7596d93-605d-4c32-9fb8-ed4592962565",
      "name": "Parse Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1376,
        688
      ],
      "id": "99be91e6-2c94-4ce3-a66d-ec79b3e7c94b",
      "name": "Prüfe Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-has-id",
              "leftValue": "={{ $json.workflowId || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1152,
        592
      ],
      "id": "56c8bdae-cba7-4e46-840e-4bd29f17c3c8",
      "name": "Prüfe ob ID vorhanden"
    },
    {
      "parameters": {
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        496
      ],
      "id": "da472c9b-b31d-4960-b431-999a46fe5fd0",
      "name": "Prüfe ob Workflow existiert",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oaJkHRuARNWjW2UA",
          "name": "API n8n für n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Analysiere die Antwort vom HTTP Request Node\nconst response = $json;\nconst parseWorkflowData = $node[\"Parse Workflow\"].json;\n\n// Prüfe ob ein Fehler vorhanden ist (404 = Workflow existiert nicht)\nif (response.error) {\n  // 404 bedeutet: Workflow existiert nicht\n  if (response.error.message && response.error.message.includes('404')) {\n    return {\n      exists: false,\n      workflowId: parseWorkflowData.workflowId,\n      workflowName: parseWorkflowData.workflowName,\n      workflowData: parseWorkflowData.workflowData,\n      filePath: parseWorkflowData.filePath\n    };\n  }\n  // Andere Fehler\n  return {\n    exists: false,\n    error: response.error.message || response.error,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Prüfe Status-Code\nif (response.statusCode === 200 || (response.id && response.name)) {\n  return {\n    exists: true,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Workflow existiert nicht\nreturn {\n  exists: false,\n  workflowId: parseWorkflowData.workflowId,\n  workflowName: parseWorkflowData.workflowName,\n  workflowData: parseWorkflowData.workflowData,\n  filePath: parseWorkflowData.filePath\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        496
      ],
      "id": "16a8fcda-31a9-4fe6-b53f-43f0c2be9fbb",
      "name": "Analysiere Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        496
      ],
      "id": "3aab51e2-da75-4900-b690-bc3f12c07539",
      "name": "Workflow existiert?"
    },
    {
      "parameters": {
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        448
      ],
      "id": "60c8c6d6-6720-43a6-a6c4-a828ca2bf09b",
      "name": "Vorbereite Update"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.workflowData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        448
      ],
      "id": "89181963-90ac-4483-afce-3a6b0af60bd2",
      "name": "Update Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oaJkHRuARNWjW2UA",
          "name": "API n8n für n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.workflowData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        688
      ],
      "id": "74775b00-ff4a-4e7b-af43-4b9a0027710b",
      "name": "Erstelle Workflow",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oaJkHRuARNWjW2UA",
          "name": "API n8n für n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        736
      ],
      "id": "918fa1fb-54ef-452e-9572-a3014e0009fd",
      "name": "Debug: Vor Erstellen"
    },
    {
      "parameters": {
        "jsCode": "// Debug: Log Ergebnis\nconst response = $json;\nconst parseData = $node[\"Parse Workflow\"].json;\n\n// Bestimme action basierend auf dem vorherigen Node\nlet action = 'create';\ntry {\n  const workflowExistsNode = $node[\"Workflow existiert?\"];\n  if (workflowExistsNode && workflowExistsNode.json && workflowExistsNode.json.exists !== undefined) {\n    action = workflowExistsNode.json.exists ? 'update' : 'create';\n  } else {\n    // Wenn Node nicht ausgeführt wurde, prüfe ob Update-Node ausgeführt wurde\n    const updateNode = $node[\"Update Workflow\"];\n    if (updateNode && updateNode.json) {\n      action = 'update';\n    }\n  }\n} catch (e) {\n  // Node wurde nicht ausgeführt, default zu 'create'\n  action = 'create';\n}\n\nif (response.error) {\n  return {\n    success: false,\n    error: response.error.message || response.error,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nif (response.statusCode && response.statusCode >= 400) {\n  return {\n    success: false,\n    error: `HTTP ${response.statusCode}: ${JSON.stringify(response.body || response)}`,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nreturn {\n  success: true,\n  workflowName: response.name || parseData.workflowName || 'Unbekannt',\n  workflowId: response.id || parseData.workflowId || '',\n  action: action\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        592
      ],
      "id": "15093b4c-3748-442c-93c3-dec16b2fcc2c",
      "name": "Debug: Ergebnis"
    },
    {
      "parameters": {
        "jsCode": "// Überspringe Workflow bei Fehler\nconst data = $json;\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        784
      ],
      "id": "4cf0220b-66d9-4e52-9ee7-286a7cc400f2",
      "name": "Überspringe Workflow"
    }
  ],
  "connections": {
    "GitHub Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prüfe Push Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe Push Event": {
      "main": [
        [
          {
            "node": "Extrahiere geänderte Dateien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrahiere geänderte Dateien": {
      "main": [
        [
          {
            "node": "Vorbereiten Datei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vorbereiten Datei": {
      "main": [
        [
          {
            "node": "Hole Datei von GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole Datei von GitHub": {
      "main": [
        [
          {
            "node": "Parse Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow": {
      "main": [
        [
          {
            "node": "Prüfe Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe Workflow": {
      "main": [
        [
          {
            "node": "Prüfe ob ID vorhanden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Überspringe Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe ob ID vorhanden": {
      "main": [
        [
          {
            "node": "Prüfe ob Workflow existiert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Debug: Vor Erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug: Vor Erstellen": {
      "main": [
        [
          {
            "node": "Erstelle Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe ob Workflow existiert": {
      "main": [
        [
          {
            "node": "Analysiere Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysiere Response": {
      "main": [
        [
          {
            "node": "Workflow existiert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow existiert?": {
      "main": [
        [
          {
            "node": "Vorbereite Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erstelle Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vorbereite Update": {
      "main": [
        [
          {
            "node": "Update Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow": {
      "main": [
        [
          {
            "node": "Debug: Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erstelle Workflow": {
      "main": [
        [
          {
            "node": "Debug: Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a69eda26-b635-4b22-98af-f347454fc8dd",
  "activeVersionId": "a69eda26-b635-4b22-98af-f347454fc8dd",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-02T14:58:17.257Z",
      "createdAt": "2026-01-02T14:58:17.257Z",
      "role": "workflow:owner",
      "workflowId": "499J5QUt4xUoTujR",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-21T20:58:48.000Z",
    "createdAt": "2026-01-21T20:58:44.349Z",
    "versionId": "a69eda26-b635-4b22-98af-f347454fc8dd",
    "workflowId": "499J5QUt4xUoTujR",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "github-sync-webhook",
          "options": {}
        },
        "id": "9d0bb2c6-01f8-4a69-bf92-31f12979ae4a",
        "name": "GitHub Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -2720,
          688
        ],
        "webhookId": "github-sync-webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-push-event",
                "leftValue": "={{ $json.headers['x-github-event'] }}",
                "rightValue": "push",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2496,
          688
        ],
        "id": "e14f02c1-200a-4d93-851f-341d97424cd4",
        "name": "Prüfe Push Event"
      },
      {
        "parameters": {
          "jsCode": "// Extrahiere geänderte Dateien aus GitHub Webhook\nconst body = $json.body || {};\nconst commits = body.commits || [];\nconst changedFiles = [];\n\n// Sammle alle geänderten Dateien\nfor (const commit of commits) {\n  const added = commit.added || [];\n  const modified = commit.modified || [];\n  \n  for (const file of [...added, ...modified]) {\n    if (!file.endsWith('.json')) continue;\n    \n    // Ignoriere bekannte Config-Dateien im Root\n    const isConfigFile = ['package.json', 'tsconfig.json', 'package-lock.json'].includes(file.split('/').pop());\n    \n    if (!isConfigFile) {\n      changedFiles.push(file);\n    }\n  }\n}\n\nreturn changedFiles.map(file => ({ filePath: file }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2272,
          688
        ],
        "id": "bf2f9c9b-9f96-42eb-9026-3b26fe579aa8",
        "name": "Extrahiere geänderte Dateien"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const filePath = $json.filePath;\nreturn { filePath };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2048,
          688
        ],
        "id": "00db9765-d022-4b5a-9503-5be078479d37",
        "name": "Vorbereiten Datei"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "peerendees",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": "n8n-workflows",
            "cachedResultUrl": "https://github.com/peerendees/n8n-workflows"
          },
          "filePath": "={{ $json.filePath }}",
          "asBinaryProperty": false,
          "additionalParameters": {
            "reference": "main"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1824,
          688
        ],
        "id": "1943173d-86d2-4e2c-8132-776fe3eda1d4",
        "name": "Hole Datei von GitHub",
        "webhookId": "694567e2-c3e8-4bfc-91af-aae5697aca36",
        "credentials": {
          "githubApi": {
            "id": "aZMd0okvVFkvyGnj",
            "name": "API GitHub"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Extrahiere Workflow-Daten aus GitHub-Datei\nconst githubFile = $json;\n\nif (githubFile.error || !githubFile.content) {\n  return { error: 'Datei konnte nicht geladen werden' };\n}\n\ntry {\n  const content = Buffer.from(githubFile.content, 'base64').toString('utf-8');\n  const workflow = JSON.parse(content);\n  \n  // Überspringe archivierte Workflows\n  if (workflow.isArchived === true) {\n    return { error: 'Archivierter Workflow wird übersprungen' };\n  }\n  \n  // Stelle sicher, dass workflowId vorhanden ist (kann leer sein für neue Workflows)\n  const workflowId = workflow.id || '';\n  \n  // Stelle sicher, dass name vorhanden ist\n  const fileName = (githubFile.path || githubFile.name || '').split('/').pop().replace(/\\.json$/, '') || 'Unnamed Workflow';\n  const finalWorkflowName = workflow.name || fileName;\n  \n  // Stelle sicher, dass workflowData das name-Feld hat\n  const workflowData = {\n    ...workflow,\n    name: finalWorkflowName\n  };\n  \n  // Wenn keine ID vorhanden ist, entferne sie aus workflowData (n8n vergibt neue ID)\n  if (!workflowId) {\n    delete workflowData.id;\n  }\n  \n  return {\n    workflowId: workflowId,\n    workflowName: finalWorkflowName,\n    workflowData: workflowData,\n    filePath: githubFile.path || githubFile.name,\n    isNewWorkflow: !workflowId\n  };\n} catch (e) {\n  return { error: 'Fehler beim Parsen der Workflow-Datei: ' + e.message };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1600,
          688
        ],
        "id": "e7596d93-605d-4c32-9fb8-ed4592962565",
        "name": "Parse Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-error",
                "leftValue": "={{ $json.error || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1376,
          688
        ],
        "id": "99be91e6-2c94-4ce3-a66d-ec79b3e7c94b",
        "name": "Prüfe Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-has-id",
                "leftValue": "={{ $json.workflowId || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1152,
          592
        ],
        "id": "56c8bdae-cba7-4e46-840e-4bd29f17c3c8",
        "name": "Prüfe ob ID vorhanden"
      },
      {
        "parameters": {
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -928,
          496
        ],
        "id": "da472c9b-b31d-4960-b431-999a46fe5fd0",
        "name": "Prüfe ob Workflow existiert",
        "credentials": {
          "httpHeaderAuth": {
            "id": "oaJkHRuARNWjW2UA",
            "name": "API n8n für n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Analysiere die Antwort vom HTTP Request Node\nconst response = $json;\nconst parseWorkflowData = $node[\"Parse Workflow\"].json;\n\n// Prüfe ob ein Fehler vorhanden ist (404 = Workflow existiert nicht)\nif (response.error) {\n  // 404 bedeutet: Workflow existiert nicht\n  if (response.error.message && response.error.message.includes('404')) {\n    return {\n      exists: false,\n      workflowId: parseWorkflowData.workflowId,\n      workflowName: parseWorkflowData.workflowName,\n      workflowData: parseWorkflowData.workflowData,\n      filePath: parseWorkflowData.filePath\n    };\n  }\n  // Andere Fehler\n  return {\n    exists: false,\n    error: response.error.message || response.error,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Prüfe Status-Code\nif (response.statusCode === 200 || (response.id && response.name)) {\n  return {\n    exists: true,\n    workflowId: parseWorkflowData.workflowId,\n    workflowName: parseWorkflowData.workflowName,\n    workflowData: parseWorkflowData.workflowData,\n    filePath: parseWorkflowData.filePath\n  };\n}\n\n// Workflow existiert nicht\nreturn {\n  exists: false,\n  workflowId: parseWorkflowData.workflowId,\n  workflowName: parseWorkflowData.workflowName,\n  workflowData: parseWorkflowData.workflowData,\n  filePath: parseWorkflowData.filePath\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -704,
          496
        ],
        "id": "16a8fcda-31a9-4fe6-b53f-43f0c2be9fbb",
        "name": "Analysiere Response"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-exists",
                "leftValue": "={{ $json.exists }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -480,
          496
        ],
        "id": "3aab51e2-da75-4900-b690-bc3f12c07539",
        "name": "Workflow existiert?"
      },
      {
        "parameters": {
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -256,
          448
        ],
        "id": "60c8c6d6-6720-43a6-a6c4-a828ca2bf09b",
        "name": "Vorbereite Update"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows/{{ $json.workflowId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.workflowData }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -32,
          448
        ],
        "id": "89181963-90ac-4483-afce-3a6b0af60bd2",
        "name": "Update Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "oaJkHRuARNWjW2UA",
            "name": "API n8n für n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://n8n.srv1098810.hstgr.cloud/api/v1/workflows",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.workflowData }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -256,
          688
        ],
        "id": "74775b00-ff4a-4e7b-af43-4b9a0027710b",
        "name": "Erstelle Workflow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "oaJkHRuARNWjW2UA",
            "name": "API n8n für n8n"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          736
        ],
        "id": "918fa1fb-54ef-452e-9572-a3014e0009fd",
        "name": "Debug: Vor Erstellen"
      },
      {
        "parameters": {
          "jsCode": "// Debug: Log Ergebnis\nconst response = $json;\nconst parseData = $node[\"Parse Workflow\"].json;\n\n// Bestimme action basierend auf dem vorherigen Node\nlet action = 'create';\ntry {\n  const workflowExistsNode = $node[\"Workflow existiert?\"];\n  if (workflowExistsNode && workflowExistsNode.json && workflowExistsNode.json.exists !== undefined) {\n    action = workflowExistsNode.json.exists ? 'update' : 'create';\n  } else {\n    // Wenn Node nicht ausgeführt wurde, prüfe ob Update-Node ausgeführt wurde\n    const updateNode = $node[\"Update Workflow\"];\n    if (updateNode && updateNode.json) {\n      action = 'update';\n    }\n  }\n} catch (e) {\n  // Node wurde nicht ausgeführt, default zu 'create'\n  action = 'create';\n}\n\nif (response.error) {\n  return {\n    success: false,\n    error: response.error.message || response.error,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nif (response.statusCode && response.statusCode >= 400) {\n  return {\n    success: false,\n    error: `HTTP ${response.statusCode}: ${JSON.stringify(response.body || response)}`,\n    workflowName: parseData.workflowName || 'Unbekannt',\n    workflowId: parseData.workflowId || '',\n    action: action\n  };\n}\n\nreturn {\n  success: true,\n  workflowName: response.name || parseData.workflowName || 'Unbekannt',\n  workflowId: response.id || parseData.workflowId || '',\n  action: action\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          592
        ],
        "id": "15093b4c-3748-442c-93c3-dec16b2fcc2c",
        "name": "Debug: Ergebnis"
      },
      {
        "parameters": {
          "jsCode": "// Überspringe Workflow bei Fehler\nconst data = $json;\nreturn data;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1152,
          784
        ],
        "id": "4cf0220b-66d9-4e52-9ee7-286a7cc400f2",
        "name": "Überspringe Workflow"
      }
    ],
    "connections": {
      "GitHub Webhook Trigger": {
        "main": [
          [
            {
              "node": "Prüfe Push Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe Push Event": {
        "main": [
          [
            {
              "node": "Extrahiere geänderte Dateien",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrahiere geänderte Dateien": {
        "main": [
          [
            {
              "node": "Vorbereiten Datei",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vorbereiten Datei": {
        "main": [
          [
            {
              "node": "Hole Datei von GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hole Datei von GitHub": {
        "main": [
          [
            {
              "node": "Parse Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Workflow": {
        "main": [
          [
            {
              "node": "Prüfe Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe Workflow": {
        "main": [
          [
            {
              "node": "Prüfe ob ID vorhanden",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Überspringe Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe ob ID vorhanden": {
        "main": [
          [
            {
              "node": "Prüfe ob Workflow existiert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Debug: Vor Erstellen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Debug: Vor Erstellen": {
        "main": [
          [
            {
              "node": "Erstelle Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prüfe ob Workflow existiert": {
        "main": [
          [
            {
              "node": "Analysiere Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analysiere Response": {
        "main": [
          [
            {
              "node": "Workflow existiert?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow existiert?": {
        "main": [
          [
            {
              "node": "Vorbereite Update",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Erstelle Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vorbereite Update": {
        "main": [
          [
            {
              "node": "Update Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Workflow": {
        "main": [
          [
            {
              "node": "Debug: Ergebnis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Erstelle Workflow": {
        "main": [
          [
            {
              "node": "Debug: Ergebnis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marcus Kunkel",
    "name": "Version a69eda26",
    "description": "",
    "autosaved": true
  },
  "tags": []
}