workflows/fieck/Fieckscher Feger.json
{
  "name": "Fieckscher Feger",
  "nodes": [
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "2. Split In Batches (Prototyp)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -800,
        80
      ],
      "id": "80c9486a-9931-4c16-89ab-5bd455af3c38"
    },
    {
      "parameters": {
        "jsCode": "// Konfiguration: Preise für Claude 3 Sonnet (Stand 2024, muss aktuell gehalten werden!)\nconst COST_INPUT_PER_M = 0.003; // Kosten pro 1 Mio. Input-Tokens (USD)\nconst COST_OUTPUT_PER_M = 0.015; // Kosten pro 1 Mio. Output-Tokens (USD)\n\n// 1. Daten aus vorherigen Nodes holen\nconst llmRawOutput = $json.llmAgent.output;\nconst tokenUsage = $json.llmAgent.usage;\nconst investorId = $json.ID;\nconst investorName = $json.Investor;\n\n// Initiale Datenstruktur für die Kostenberechnung\nconst outputItems = [];\n\n// Tokens extrahieren\nconst inputTokens = tokenUsage.input_tokens || 0;\nconst outputTokens = tokenUsage.output_tokens || 0;\n\n// 2. Kosten berechnen (für Monitoring)\nconst costPerRun = (\n    (inputTokens / 1000000) * COST_INPUT_PER_M) +\n    ((outputTokens / 1000000) * COST_OUTPUT_PER_M\n);\n\nconst costUsd = parseFloat(costPerRun.toFixed(6));\n\n\n// 3. Markdown-Tabelle parsen\n// Entferne Header und Trennlinie der Markdown-Tabelle (die ersten beiden Zeilen)\nconst lines = llmRawOutput.split('\\n').filter(line => line.trim().length > 0);\n\nif (lines.length < 3) {\n    // Fehlerbehandlung: Keine vollständige Tabelle gefunden\n    return [{ error: 'LLM Output too short or invalid format', raw_output: llmRawOutput }];\n}\n\n// Die ersten zwei Zeilen (Header und Trennlinie) ignorieren\nconst dataLines = lines.slice(2); \n\n// Das Ergebnis des Parsings\nconst parsedResults = [];\n\n// Die Spaltennamen sind durch Pipe | getrennt\nfor (const line of dataLines) {\n    // Teilt die Zeile, entfernt die äußeren Pipes und trimmt Leerzeichen\n    const columns = line.split('|').slice(1, -1).map(col => col.trim()); \n\n    if (columns.length === 7) {\n        \n        // 4. Daten transformieren und validieren\n        let score_numeric = null;\n        let source_factor_numeric = null;\n\n        // Ersetze Komma durch Punkt für SQL/Supabase 'numeric' Typen\n        if (columns[2].length > 0) {\n            score_numeric = parseFloat(columns[2].replace(',', '.'));\n        }\n        if (columns[5].length > 0) {\n            source_factor_numeric = parseFloat(columns[5].replace(',', '.'));\n        }\n        \n        // Zusammenstellen des finalen Objekts für Supabase\n        parsedResults.push({\n            // Metadaten für Supabase\n            investor_id: investorId,\n            investor_name: investorName,\n            llm_cost_usd: costUsd,\n            raw_markdown_output: llmRawOutput,\n\n            // Daten aus der LLM-Tabelle (Index 0 bis 6)\n            criterion_name: columns[1], // Index 1\n            score: score_numeric,       // Index 2 (bereinigt)\n            source_type: columns[3],    // Index 3\n            source_year: parseInt(columns[4], 10) || null, // Index 4 (als Integer)\n            source_factor: source_factor_numeric, // Index 5 (bereinigt)\n            notes: columns[6]           // Index 6\n        });\n    }\n}\n\n// 5. Ergebnis in den Output pushen\n// Jeder Eintrag des Parsings wird nun ein separates Element im Output\nreturn parsedResults;"
      },
      "name": "4. Code Node: Validierung & Kostenberechnung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        80
      ],
      "id": "c07d5019-475b-4c19-95c9-4dfe721204bd"
    },
    {
      "parameters": {
        "tableId": "fieckscher_feger"
      },
      "name": "5. Supabase: Zwischenspeicher (Log)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "e20f1953-c4b7-4556-a872-8a36a35967b7",
      "credentials": {
        "supabaseApi": {
          "id": "JoURD13xiv3CaQyw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "name": "6. Code Node: Daten für Excel vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        80
      ],
      "id": "6c8d20ae-cc76-4cc5-a3ea-0cca1a3ef143"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "sheetId": "1qzXEn21ltsuPGyJ7FAK1q8RGZkCOzpY-QTedDrdy9KA",
        "options": {}
      },
      "name": "7. Google Sheet: Daten in 'Ratings Input' schreiben",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        448,
        80
      ],
      "id": "479efe39-4b4f-467e-8bcf-8e5657c3cc85",
      "credentials": {
        "googleApi": {
          "id": "QfuLctHhI3o7mKAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1248,
        80
      ],
      "id": "4bc1d55c-764d-4d2a-9921-60a1eadf53fa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1qzXEn21ltsuPGyJ7FAK1q8RGZkCOzpY-QTedDrdy9KA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1558341942,
          "mode": "list",
          "cachedResultName": "Investor_Base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qzXEn21ltsuPGyJ7FAK1q8RGZkCOzpY-QTedDrdy9KA/edit#gid=1558341942"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1024,
        80
      ],
      "id": "eee20f3d-af79-4e90-b63e-3312f45979d3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "QfuLctHhI3o7mKAL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analysiere diesen Investor:\nName: {{ $json['Investor Name'] }}\nWebsite: {{ $json.URL }}\nWeitere Daten: {{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "<system_prompt>\nDU BIST EIN HOCHSPEZIALISIERTER, AGENTISCHER RESEARCH-BROWSER, TRAINIERT AUF DIE BEWERTUNG VON INVESTOREN FÜR EIN KLIMATECH-START-UP.\n\n### DEINE MISSION:\nIDENTIFIZIERE UND BEWERTETE POTENTIELLE INVESTOREN FÜR DIE PLANETEERS GMBH ENTLANG NEUN FEST DEFINIERTER KRITERIEN. GIB AUSSCHLIESSLICH EINE SAUBER FORMATIERTE, MASCHINENLESBARE MARKDOWN-TABELLE AUS – KEINEN BEGLEITTEXT.\n\n---\n\n### HINTERGRUND:\n- **START-UP**: Planeteers GmbH  \n- **TECHNOLOGIE**: Wandelt CO₂ durch beschleunigte Verwitterung mit Kalkstein, Wasser und Luft in Hydrogencarbonat um (Enhanced Weathering / Ocean Alkalinity Enhancement).\n- **STRATEGISCHE FRAGE JEDE BEWERTUNG**: Wie gut passt dieser Investor zu einem Climate-/CDR-/mCDR-orientierten Start-up wie Planeteers?\n\n---\n\n### CHAIN OF THOUGHT\n\n1. **VERSTEHE DEN BEWERTUNGSKONTEXT**: Fokus auf strategischen Fit mit CDR-/Climatetech-/mCDR-Unternehmen im Hardware- und Deep-Tech-Bereich.\n2. **KENNE DIE BEWERTUNGSKRITERIEN**: Bearbeite für jeden Investor **exakt diese 9 Kriterien**:\n   - Climetech / Impact  \n   - Hardware  \n   - Deep Tech  \n   - A-Serie / A-Funding / Growth Stage  \n   - Ocean / Water / CDR / mCDR / CCS / CCUS / OAE / Enhanced Weathering / Point Source CO₂  \n   - Ticket 0,5–10 Mio  \n   - Lead / Co-Lead / Follow  \n   - Type Investor (VC, CVC, Family Office, Private, Strategen)  \n   - Portfolio Companies (von Website)\n3. **RECHERCHIERE AUSSCHLIESSLICH MIT ZUGELASSENEN METHODEN**:\n   - VERWENDE Recherchetools (z. B. Google)\n   - ZULÄSSIGE QUELLEN: Offizielle Websites, Pressemitteilungen, Newsartikel, Studien, Datenbanken\n   - TRANSPARENZPFLICHT: Nur veröffentlichte Informationen nutzen\n\n4. **TRAGE BEWERTUNG FÜR JEDES KRITERIUM EIN**:\n   - SCORE_0_TO_1:  \n     - `1,0` = stark erfüllt  \n     - `0,5` = teilweise erfüllt  \n     - `0` = klar nicht erfüllt  \n     - leer = keine Info gefunden  \n   - SOURCE_TYPE: Website, Press release, News article, Study, Database, Blog / Interview\n   - SOURCE_YEAR: Jahr der Quelle (z. B. `2023`)\n   - SOURCE_FACTOR:  \n     - `1,0` = Primärquelle, aktuell  \n     - `0,8` = Reputierte Sekundärquelle < 2 Jahre  \n     - `0,6` = Ältere oder indirekte Quelle  \n     - `0,4` = Schwache Quelle / unklar  \n   - NOTES: 1–2 Sätze inkl. URL der Quelle\n\n---\n\n### AUSGABEPFLICHT:\n\nDU GIBST AUSSCHLIESSLICH FOLGENDE MARKDOWN-TABELLE AUS:\n\n| Investor | Criterion_Name | Score_0_to_1 | Source_Type | Source_Year | Source_Factor | Notes |\n|:---|:---|:---|:---|:---|:---|:---|\n| ... | Climetech / Impact | 1,0 | Website | 2024 | 1,0 | Beispiel-URL mit kurzer Begründung |\n| ... | Hardware | 0,5 | News article | 2023 | 0,8 | Beispiel-URL mit kurzer Begründung |\n| ... | ... | ... | ... | ... | ... | ... |\n\n→ DIE TABELLE ENTHÄLT PRO INVESTOR **GENAU 9 ZEILEN** (eine pro Kriterium), UND **KEINEN TEXT DARÜBER ODER DARUNTER**.\n\n---\n\n### WAS DU UNTERLASSEN MUSST\n\n- **KEINE ERKLÄRUNGEN**, **KEIN FLIESSTEXT** AUSSERHALB DER TABELLE  \n- **KEINE VERMUTUNGEN** ODER HYPOTHETISCHEN ANNNAHMEN — NUR VERIFIZIERTE QUELLEN  \n- **KEINE NICHT-MASCHINENLESBARE FORMATE** (z. B. HTML, CSV, Freitext)  \n- **KEINE ZUSÄTZLICHEN SPALTEN** ODER ABWEICHUNGEN IM SPALTENAUFBAU  \n- **KEINE EIGENEN INTERPRETATIONEN** AUSSERHALB DES DEKLARIERTEN RASTERS  \n- **KEIN ZUSAMMENGEFASSTES INVESTOREN-FAZIT ODER SCORE**\n\n</system_prompt>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -576,
        80
      ],
      "id": "0345c7d2-11ad-4198-82f5-e91a1d19f6aa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -656,
        352
      ],
      "id": "1281ef99-20d5-4922-804f-3daef216d03c",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "6RlfJdXsmselCNpN",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -384,
        368
      ],
      "id": "9411b70c-4db4-4e2a-8196-368b57ffe9ac",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "7bHFMCQFm3gP3TCe",
          "name": "SerpAPI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Supabase: Zwischenspeicher (Log)": {
      "main": [
        [
          {
            "node": "6. Code Node: Daten für Excel vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "2. Split In Batches (Prototyp)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "2. Split In Batches (Prototyp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "4. Code Node: Validierung & Kostenberechnung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Code Node: Validierung & Kostenberechnung": {
      "main": [
        [
          {
            "node": "5. Supabase: Zwischenspeicher (Log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Code Node: Daten für Excel vorbereiten": {
      "main": [
        [
          {
            "node": "7. Google Sheet: Daten in 'Ratings Input' schreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "53f6cfbc-72eb-4ded-89ed-14c9b7bcbd86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca9048c6f81bd21d01e3b762fe2fa38de922e62200ce1e767f7a2dfd45624f9b"
  },
  "id": "l4uGmA0Wwq72wtts",
  "tags": []
}