archived_root_files/Hedy Webhook to Notion 0.9-2.json
{
  "name": "Hedy Webhook to Notion 0.9",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Hedy-Events",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2352,
        240
      ],
      "id": "217a120d-3a61-4beb-89ba-6540349858d6",
      "name": "Hedy API",
      "webhookId": "b9081b42-f39a-4933-9964-4dcfa7aa227e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ddbOaicomtaiLVQV",
          "name": "Hedy Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Hedy Webhook-Daten und normalisiere für Notion (Option 2)\n// Die Hedy API sendet Daten direkt im Root, nicht in 'body'\nconst webhookData = $json;\n\n// Extrahiere Event-Typ und Daten\nconst eventType = webhookData.event || '';\nconst eventData = webhookData.data || {};\nconst timestamp = webhookData.timestamp || new Date().toISOString();\n\n// Bestimme Werte je nach Event-Typ\nlet title = '';\nlet summary = '';\nlet content = '';\nlet sessionId = null;\nlet sessionTitle = null;\nlet dueDate = null;\nlet status = null;\n\nif (eventType.startsWith('session.')) {\n  // Session-Events: session.created, session.ended\n  title = eventData.title || `Session ${eventData.id || ''}`;\n  summary = eventData.meeting_minutes || eventData.title || '';\n  content = eventData.transcript || \n            eventData.meeting_minutes || \n            eventData.conversations || \n            `Session ${eventType} - ${timestamp}`;\n  sessionId = eventData.id || null;\n  sessionTitle = eventData.title || null;\n  \n} else if (eventType === 'highlight.created') {\n  // Highlight-Events\n  title = eventData.title || 'Highlight';\n  summary = eventData.mainIdea || eventData.title || '';\n  \n  const parts = [];\n  if (eventData.mainIdea) parts.push(`**Hauptidee:** ${eventData.mainIdea}`);\n  if (eventData.cleanedQuote) parts.push(`**Zitat:** ${eventData.cleanedQuote}`);\n  if (eventData.rawQuote && eventData.rawQuote !== eventData.cleanedQuote) {\n    parts.push(`**Original:** ${eventData.rawQuote}`);\n  }\n  if (eventData.aiInsight) parts.push(`**AI Insight:** ${eventData.aiInsight}`);\n  content = parts.join('\\n\\n') || 'Keine Details verfügbar';\n  \n  sessionId = eventData.sessionId || null;\n  // Session-Titel müsste aus einer vorherigen Session gelesen werden\n  // Oder aus dem Webhook, falls verfügbar\n  \n} else if (eventType === 'todo.exported') {\n  // Todo-Events - WICHTIG: data.text statt data.message!\n  title = eventData.text || 'Unnamed Todo';\n  summary = eventData.dueDate || '';\n  status = 'offen'; // Standard-Status für neue Todos\n  \n  const parts = [];\n  parts.push(`**Text:** ${eventData.text || ''}`);\n  if (eventData.dueDate) {\n    parts.push(`**Fälligkeitsdatum:** ${eventData.dueDate}`);\n    // Versuche Due Date zu parsen (falls Format bekannt)\n    // Beispiel: \"May 18, 2027 3pm\" oder \"Tomorrow\"\n    // dueDate = parseDueDate(eventData.dueDate);\n  }\n  if (eventData.sessionId) parts.push(`**Session ID:** ${eventData.sessionId}`);\n  if (eventData.id) parts.push(`**Todo ID:** ${eventData.id}`);\n  content = parts.join('\\n');\n  \n  sessionId = eventData.sessionId || null;\n  // Due Date parsen (falls Format bekannt)\n  // dueDate = parseDueDate(eventData.dueDate);\n  \n} else {\n  // Unbekanntes Event - Fallback\n  title = `Unknown Event: ${eventType || 'N/A'}`;\n  summary = '';\n  content = `**Event-Typ:** ${eventType}\\n\\n**Daten:**\\n\\n\\`\\`\\`json\\n${JSON.stringify(eventData, null, 2)}\\n\\`\\`\\``;\n}\n\nreturn {\n  json: {\n    eventType: eventType || null,\n    title: title,\n    summary: summary,\n    content: content,\n    timestamp: timestamp,\n    sessionId: sessionId || '',\n    sessionTitle: sessionTitle || '',\n    dueDate: dueDate || '',\n    status: status || '',\n    // Behalte originale Daten für Debugging\n    rawData: webhookData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        240
      ],
      "id": "8b862374-2f39-4c0a-b2ca-834f1216ce75",
      "name": "Parse Hedy Daten"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "50466f0c-d204-4e54-b2e5-d4d2f874e9e8",
          "mode": "list",
          "cachedResultName": "Hedy Events",
          "cachedResultUrl": "https://www.notion.so/50466f0cd2044e54b2e5d4d2f874e9e8"
        },
        "title": "Hedy Transkript",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Titel|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "Event-Typ|select",
              "selectValue": "={{ $json.eventType || 'session.created' }}"
            },
            {
              "key": "Status|select",
              "selectValue": "={{ $json.status || '-' }}"
            },
            {
              "key": "Transkript|rich_text",
              "textContent": "={{ $json.content }}"
            },
            {
              "key": "Session ID|text",
              "textValue": "={{ $json.sessionId }}"
            },
            {
              "key": "Session Titel|text",
              "textValue": "={{ $json.sessionTitle }}"
            },
            {
              "key": "Erstellungsdatum|date",
              "dateValue": "={{ $json.timestamp }}"
            },
            {
              "key": "Due Date|date",
              "dateValue": "={{ $json.dueDate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2800,
        240
      ],
      "id": "466fbad2-d590-4882-a535-d318ee406b7b",
      "name": "Hedy Transkript 0.9",
      "credentials": {
        "notionApi": {
          "id": "KpKj51GJ0big0oYv",
          "name": "API Notion"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Hedy API": {
      "main": [
        [
          {
            "node": "Parse Hedy Daten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hedy Daten": {
      "main": [
        [
          {
            "node": "Hedy Transkript 0.9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b754a45f-4db8-4dfd-b901-03e885a1d6a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca9048c6f81bd21d01e3b762fe2fa38de922e62200ce1e767f7a2dfd45624f9b"
  },
  "id": "p4WBXmtWQqToEtLw",
  "tags": []
}