n8n/xLbZnYQSKv2X7LYn/KIS 17 fonio-Outbound Trigger.json
{"id": "xLbZnYQSKv2X7LYn", "active": false, "connections": {"Alle Angaben holen": {"main": [[{"index": 0, "node": "Anschluss frei?", "type": "main"}]]}, "Alle Einträge prüfen": {"main": [[], [{"index": 0, "node": "📱 älter als 2h", "type": "main"}]]}, "Anruferzeit prüfen": {"main": [[{"index": 0, "node": "Einträge prüfen", "type": "main"}]]}, "Anschluss frei?": {"main": [[{"index": 0, "node": "Anschluss für Gespräch belegt", "type": "main"}], [{"index": 0, "node": "Einträge prüfen", "type": "main"}]]}, "Anschluss für Gespräch belegt": {"main": [[{"index": 0, "node": "fonio Outbound", "type": "main"}]]}, "Anschluss nach Gespräch freigeben": {"main": [[{"index": 0, "node": "Einträge prüfen", "type": "main"}]]}, "Eintrag löschen": {"main": [[{"index": 0, "node": "Alle Einträge prüfen", "type": "main"}]]}, "Einträge prüfen": {"main": [[], [{"index": 0, "node": "Alle Angaben holen", "type": "main"}]]}, "Lies alle Anschlüsse": {"main": [[{"index": 0, "node": "Alle Einträge prüfen", "type": "main"}]]}, "Zeitplan Bereinigung": {"main": [[{"index": 0, "node": "Lies alle Anschlüsse", "type": "main"}]]}, "fonio Outbound": {"main": [[{"index": 0, "node": "Anschluss nach Gespräch freigeben", "type": "main"}]]}, "fonio-Outbound starten": {"main": [[{"index": 0, "node": "Anruferzeit prüfen", "type": "main"}]]}, "📱 älter als 2h": {"main": [[{"index": 0, "node": "Eintrag löschen", "type": "main"}], [{"index": 0, "node": "Alle Einträge prüfen", "type": "main"}]]}}, "name": "KIS 17 fonio-Outbound Trigger", "nodes": [{"name": "Sticky Note", "parameters": {"color": 2, "content": "**Hauptworkflow**\n– Trigger: Zeitschalter jede Minute\n– Aufgabe: fonio-Outbound starten", "height": 240, "width": 272}, "position": [-152, -176], "type": "n8n-nodes-base.stickyNote", "typeVersion": 1}, {"name": "Sticky Note1", "parameters": {"color": 2, "content": "**Workflow Bereinigung**\n– Trigger: Zeitschalter alle 30 Minuten\n– Aufgabe: Datenbank mit gesperrten Telefonnummern bereinigen, die älter als 2 h sind.", "height": 256, "width": 448}, "position": [-128, 80], "type": "n8n-nodes-base.stickyNote", "typeVersion": 1}, {"name": "📱 älter als 2h", "parameters": {"conditions": {"combinator": "and", "conditions": [{"leftValue": "=const createdAt = new Date($json.createdAt);\nconst now = new Date();\nconst diffHours = (now - createdAt) / (1000 * 60 * 60);\ndiffHours > 2", "operator": {"operation": "equals", "type": "boolean"}, "rightValue": true}], "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}}, "options": {"looseTypeValidation": true}}, "position": [608, 128], "type": "n8n-nodes-base.if", "typeVersion": 2}, {"name": "fonio-Outbound starten", "parameters": {"httpMethod": "POST", "options": {}, "path": "kis17_anruf_trigger"}, "position": [-64, -96], "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "webhookId": "c57d0fdb-cb7a-4dc5-95b3-5102a559f160"}, {"name": "Anruferzeit prüfen", "parameters": {"jsCode": "// *** PARAMETER: Zeitfenster in Minuten ***\nconst ZEITFENSTER_MINUTEN = 20;\n\n// Berechne Zeitfenster in Millisekunden\nconst zeitfensterMs = ZEITFENSTER_MINUTEN * 60000;\n\n// Hole die records aus dem body\nconst records = $input.first().json.body.records;\n\n// Aktuelle Zeit\nconst now = new Date();\n\n// Zeitfenster\nconst windowStart = now.getTime() - zeitfensterMs;\nconst windowEnd = now.getTime() + zeitfensterMs;\n\n// Filtere records nach Zeitfenster\nconst results = records.filter(record => {\n  const buchungstermin = record.buchungstermin;\n  \n  if (!buchungstermin) return false;\n  \n  try {\n    const bookingTime = new Date(buchungstermin);\n    if (isNaN(bookingTime.getTime())) return false;\n    \n    const bookingTimestamp = bookingTime.getTime();\n    return bookingTimestamp >= windowStart && bookingTimestamp <= windowEnd;\n  } catch (error) {\n    return false;\n  }\n});\n\n// Rückgabe im richtigen Format für n8n\nreturn results.map(record => ({ json: record }));"}, "position": [160, -96], "type": "n8n-nodes-base.code", "typeVersion": 2}, {"name": "Einträge prüfen", "parameters": {"options": {}}, "position": [384, -96], "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3}, {"name": "Alle Einträge prüfen", "parameters": {"options": {"reset": false}}, "position": [384, 176], "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3}, {"name": "Eintrag löschen", "parameters": {"dataTableId": {"__rl": true, "cachedResultName": "fonio outbound", "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g", "mode": "list", "value": "AWHMZa5eXE6aZY7g"}, "filters": {"conditions": [{"keyName": "phone", "keyValue": "={{ $json.phone }}"}]}, "matchType": "allConditions", "operation": "deleteRows", "options": {}}, "position": [832, 200], "type": "n8n-nodes-base.dataTable", "typeVersion": 1}, {"alwaysOutputData": true, "name": "Alle Angaben holen", "parameters": {"dataTableId": {"__rl": true, "cachedResultName": "fonio outbound", "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g", "mode": "list", "value": "AWHMZa5eXE6aZY7g"}, "filters": {"conditions": [{"keyName": "phone", "keyValue": "={{ $json.telefon }}"}]}, "matchType": "allConditions", "operation": "get"}, "position": [608, -240], "type": "n8n-nodes-base.dataTable", "typeVersion": 1}, {"name": "Anschluss frei?", "parameters": {"conditions": {"combinator": "and", "conditions": [{"leftValue": "={{ !$json.telefon || $json.telefon === '' }}", "operator": {"operation": "true", "singleValue": true, "type": "boolean"}, "rightValue": "={{ $json.length === 0 }}"}], "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}}, "options": {}}, "position": [832, -240], "type": "n8n-nodes-base.if", "typeVersion": 2.3}, {"name": "fonio Outbound", "parameters": {"options": {}, "url": "https://app.fonio.ai/api/public/v1/outbound_call"}, "position": [1280, -240], "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3}, {"name": "Anschluss für Gespräch belegt", "parameters": {"columns": {"attemptToConvertTypes": false, "convertFieldsToString": false, "mappingMode": "defineBelow", "matchingColumns": ["phone"], "schema": [{"defaultMatch": false, "display": true, "displayName": "phone", "readOnly": false, "removed": false, "required": false, "type": "string"}], "value": {}}, "dataTableId": {"__rl": true, "cachedResultName": "fonio outbound", "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g", "mode": "list", "value": "AWHMZa5eXE6aZY7g"}, "options": {}}, "position": [1056, -240], "type": "n8n-nodes-base.dataTable", "typeVersion": 1}, {"name": "Anschluss nach Gespräch freigeben", "parameters": {"dataTableId": {"__rl": true, "cachedResultName": "fonio outbound", "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g", "mode": "list", "value": "AWHMZa5eXE6aZY7g"}, "filters": {"conditions": [{"keyName": "phone"}]}, "matchType": "allConditions", "operation": "deleteRows", "options": {}}, "position": [1504, -168], "type": "n8n-nodes-base.dataTable", "typeVersion": 1}, {"name": "Lies alle Anschlüsse", "parameters": {"dataTableId": {"__rl": true, "cachedResultName": "fonio outbound", "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g", "mode": "list", "value": "AWHMZa5eXE6aZY7g"}, "operation": "get"}, "position": [160, 176], "type": "n8n-nodes-base.dataTable", "typeVersion": 1}, {"name": "Zeitplan Bereinigung", "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 30}]}}, "position": [-64, 176], "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2}], "settings": {"availableInMCP": false, "callerPolicy": "workflowsFromSameOwner", "executionOrder": "v1"}}