n8n/xLbZnYQSKv2X7LYn/kis-17-fonio-outbound-trigger.json
{
  "updatedAt": "2026-01-20T19:19:48.266Z",
  "createdAt": "2025-12-10T13:39:41.038Z",
  "id": "xLbZnYQSKv2X7LYn",
  "name": "KIS 17 fonio-Outbound Trigger",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "**Hauptworkflow**\n– Trigger: Zeitschalter jede Minute\n– Aufgabe: fonio-Outbound starten",
        "height": 240,
        "width": 272,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -152,
        -176
      ],
      "id": "66f55688-43ab-4b51-ad0f-2eee74ddf8bb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**Workflow Bereinigung**\n– Trigger: Zeitschalter alle 30 Minuten\n– Aufgabe: Datenbank mit gesperrten Telefonnummern bereinigen, die älter als 2 h sind.",
        "height": 256,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        80
      ],
      "id": "4d67f48f-db79-48b1-bb2b-84f88be3a8f2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "=const createdAt = new Date($json.createdAt);\nconst now = new Date();\nconst diffHours = (now - createdAt) / (1000 * 60 * 60);\ndiffHours > 2",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "name": "📱 älter als 2h",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        608,
        128
      ],
      "id": "b1113eb8-3e68-4146-ae77-7b518ee0a604"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kis17_anruf_trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        -96
      ],
      "id": "401000e3-7331-4ad1-8c15-f2a161b119e7",
      "name": "fonio-Outbound starten",
      "webhookId": "c57d0fdb-cb7a-4dc5-95b3-5102a559f160"
    },
    {
      "parameters": {
        "jsCode": "// *** PARAMETER: Zeitfenster in Minuten ***\nconst ZEITFENSTER_MINUTEN = 20;\n\n// Berechne Zeitfenster in Millisekunden\nconst zeitfensterMs = ZEITFENSTER_MINUTEN * 60000;\n\n// Hole die records aus dem body\nconst records = $input.first().json.body.records;\n\n// Aktuelle Zeit\nconst now = new Date();\n\n// Zeitfenster\nconst windowStart = now.getTime() - zeitfensterMs;\nconst windowEnd = now.getTime() + zeitfensterMs;\n\n// Filtere records nach Zeitfenster\nconst results = records.filter(record => {\n  const buchungstermin = record.buchungstermin;\n  \n  if (!buchungstermin) return false;\n  \n  try {\n    const bookingTime = new Date(buchungstermin);\n    if (isNaN(bookingTime.getTime())) return false;\n    \n    const bookingTimestamp = bookingTime.getTime();\n    return bookingTimestamp >= windowStart && bookingTimestamp <= windowEnd;\n  } catch (error) {\n    return false;\n  }\n});\n\n// Rückgabe im richtigen Format für n8n\nreturn results.map(record => ({ json: record }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -96
      ],
      "id": "d132f754-45b4-4b32-af45-37585773cbad",
      "name": "Anruferzeit prüfen"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        -96
      ],
      "id": "d665c763-5437-4bba-ab45-aa9d9499daa0",
      "name": "Einträge prüfen"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "name": "Alle Einträge prüfen",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        176
      ],
      "id": "718abfb8-45fa-4aee-9fde-2294d072f801"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "AWHMZa5eXE6aZY7g",
          "mode": "list",
          "cachedResultName": "fonio outbound",
          "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Eintrag löschen",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        832,
        200
      ],
      "id": "93fc9646-d48d-4ab5-bed4-02c296f4d622"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "AWHMZa5eXE6aZY7g",
          "mode": "list",
          "cachedResultName": "fonio outbound",
          "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.telefon }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        608,
        -240
      ],
      "id": "ad82549f-41c7-4d70-8e91-096b0b898df0",
      "name": "Alle Angaben holen",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b107b0f5-df10-4e23-88aa-b5693a58e7ed",
              "leftValue": "={{ !$json.telefon || $json.telefon === '' }}",
              "rightValue": "={{ $json.length === 0 }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -240
      ],
      "id": "0cb25fbf-0079-4636-b6c1-9fcc7a872988",
      "name": "Anschluss frei?"
    },
    {
      "parameters": {
        "url": "https://app.fonio.ai/api/public/v1/outbound_call",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        -240
      ],
      "id": "82d12ed7-e4fc-4d4b-bf79-859cfd3b7db6",
      "name": "fonio Outbound"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "AWHMZa5eXE6aZY7g",
          "mode": "list",
          "cachedResultName": "fonio outbound",
          "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1056,
        -240
      ],
      "id": "8d464d5f-56d5-403a-9bbf-960cc67e679f",
      "name": "Anschluss für Gespräch belegt"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "AWHMZa5eXE6aZY7g",
          "mode": "list",
          "cachedResultName": "fonio outbound",
          "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1504,
        -168
      ],
      "id": "9dee4d49-d5c5-4e84-bda6-8d0ef961894c",
      "name": "Anschluss nach Gespräch freigeben"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "AWHMZa5eXE6aZY7g",
          "mode": "list",
          "cachedResultName": "fonio outbound",
          "cachedResultUrl": "/projects/yr4Hj71ou1NOsi2p/datatables/AWHMZa5eXE6aZY7g"
        }
      },
      "name": "Lies alle Anschlüsse",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        160,
        176
      ],
      "id": "671ab281-de73-45e5-8034-2d9283446f6e"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "Zeitplan Bereinigung",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        176
      ],
      "id": "d29e0c6d-7793-464b-b1a0-b055abbad7f1"
    }
  ],
  "connections": {
    "📱 älter als 2h": {
      "main": [
        [
          {
            "node": "Eintrag löschen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alle Einträge prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fonio-Outbound starten": {
      "main": [
        [
          {
            "node": "Anruferzeit prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anruferzeit prüfen": {
      "main": [
        [
          {
            "node": "Einträge prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Einträge prüfen": {
      "main": [
        [],
        [
          {
            "node": "Alle Angaben holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alle Einträge prüfen": {
      "main": [
        [],
        [
          {
            "node": "📱 älter als 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eintrag löschen": {
      "main": [
        [
          {
            "node": "Alle Einträge prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alle Angaben holen": {
      "main": [
        [
          {
            "node": "Anschluss frei?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anschluss frei?": {
      "main": [
        [
          {
            "node": "Anschluss für Gespräch belegt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Einträge prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fonio Outbound": {
      "main": [
        [
          {
            "node": "Anschluss nach Gespräch freigeben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anschluss für Gespräch belegt": {
      "main": [
        [
          {
            "node": "fonio Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anschluss nach Gespräch freigeben": {
      "main": [
        [
          {
            "node": "Einträge prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lies alle Anschlüsse": {
      "main": [
        [
          {
            "node": "Alle Einträge prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zeitplan Bereinigung": {
      "main": [
        [
          {
            "node": "Lies alle Anschlüsse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7b03b2af-fa8c-4bc5-a642-623997fbdc6f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-10T13:39:41.042Z",
      "createdAt": "2025-12-10T13:39:41.042Z",
      "role": "workflow:owner",
      "workflowId": "xLbZnYQSKv2X7LYn",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": null,
  "tags": []
}