n8n/VYLLSfAyPKjUlNCP/BERENT Email Credential Validator API.json
{"active":true,"connections":{"Provider Router":{"main":[[{"index":0,"node":"Response IONOS Success","type":"main"}],[{"index":0,"node":"Response iCloud Success","type":"main"}],[{"index":0,"node":"Response Proton Info","type":"main"}]]},"Webhook Lovable Frontend":{"main":[[{"index":0,"node":"Provider Router","type":"main"}]]}},"name":"BERENT Email Credential Validator API","nodes":[{"name":"Provider Router","parameters":{"options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.provider }}","operator":{"operation":"equals","type":"string"},"rightValue":"ionos"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"outputKey":"Ionos","renameOutput":true},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.provider }}","operator":{"operation":"equals","type":"string"},"rightValue":"icloud"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"outputKey":"iCloud","renameOutput":true},{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.body.provider }}","operator":{"operation":"equals","type":"string"},"rightValue":"proton"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"outputKey":"Proton","renameOutput":true}]}},"position":[976,2128],"type":"n8n-nodes-base.switch","typeVersion":3.2},{"name":"Response iCloud Success","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}},"respondWith":"json","responseBody":"{\"status\": \"success\", \"message\": \"Verbindung erfolgreich\", \"provider\": \"icloud\", \"folders\": [\"INBOX\", \"Sent Messages\", \"Drafts\", \"Deleted Messages\", \"Junk\", \"Archive\"]}"},"position":[1200,2144],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"name":"Response Proton Info","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}},"respondWith":"json","responseBody":"{\"status\": \"info\", \"message\": \"Proton erfordert lokale Bridge-Konfiguration. Bitte stellen Sie sicher, dass die Proton Mail Bridge aktiv ist.\", \"provider\": \"proton\", \"folders\": [], \"requiresBridge\": true}"},"position":[1200,2336],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"name":"Response IONOS Success","parameters":{"options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}},"respondWith":"json","responseBody":"{\"status\": \"success\", \"message\": \"Verbindung erfolgreich\", \"provider\": \"ionos\", \"folders\": [\"INBOX\", \"Sent\", \"Drafts\", \"Trash\", \"Spam\", \"Archiv\", \"Finanzen\", \"Rechnungen\"]}"},"position":[1200,1952],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"name":"Webhook Lovable Frontend","parameters":{"httpMethod":"POST","options":{"allowedOrigins":"*"},"path":"validate-credentials","responseMode":"responseNode"},"position":[752,2144],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"e5a5eaec-24cc-4f52-a88e-5efc4658a722"}],"settings":{"availableInMCP":false,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}