n8n/gkgmJNNtuTAZgcyC/fonio-ags-nachbearbeitung-transkript.json
{
  "updatedAt": "2026-01-27T13:12:59.157Z",
  "createdAt": "2025-11-23T18:11:10.643Z",
  "id": "gkgmJNNtuTAZgcyC",
  "name": "fonio AGS Nachbearbeitung Transkript",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fonio-ags-transkript-d9a56c84-3178-44a5-9d50-e8a42a1f9a00",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        80
      ],
      "id": "dbb2ce2e-7047-422a-b8a2-7cd7f735f599",
      "name": "fonio-Webhook",
      "webhookId": "d9a56c84-3178-44a5-9d50-e8a42a1f9a00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "011ef203-63fd-49f7-ae0d-4ed7318ad11f",
              "name": "headers.host",
              "value": "={{ $json.headers.host }}",
              "type": "string"
            },
            {
              "id": "04f27e3e-ebed-4ae5-a22f-23d0f7c61904",
              "name": "body.formattedTranscript",
              "value": "={{ $json.body.formattedTranscript }}",
              "type": "string"
            },
            {
              "id": "017777fc-53d7-473d-b3c8-09a32e601385",
              "name": "body.fromNumber",
              "value": "={{ $json.body.fromNumber }}",
              "type": "string"
            },
            {
              "id": "882e8a05-a492-4445-bb4a-1856bfb586a1",
              "name": "body.extractionData.anrufer_name",
              "value": "={{ $json.body.extractionData.anrufer_name }}",
              "type": "string"
            },
            {
              "id": "a6508b49-d751-49d7-b40c-c91be52f5839",
              "name": "body.extractionData.einrichtung_typ",
              "value": "={{ $json.body.extractionData.einrichtung_typ }}",
              "type": "string"
            },
            {
              "id": "08190377-3019-449b-9374-494e642c5125",
              "name": "body.extractionData.einrichtung_name",
              "value": "={{ $json.body.extractionData.einrichtung_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -16
      ],
      "id": "a2cade9e-e4ae-48b8-abbc-7550a5001529",
      "name": "Daten extrahieren"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1288,
        304
      ],
      "id": "2fed403f-7751-4cbc-b573-9e6582199b6b",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "z2co8mXBEBKkyhYu",
          "name": "API Anthropic"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Dringlichkeiten",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        176
      ],
      "id": "79e527cc-ba11-444f-b8f4-c94e8e6c5ad7",
      "name": "Dringlichkeitskriterien laden",
      "credentials": {
        "googleApi": {
          "id": "vRVq7GTwn9kTIi8N",
          "name": "n8n Sheets Service"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -128,
        80
      ],
      "id": "dbc1f0ee-8859-4268-8ca9-ee6ea003d03d",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cac8552-e981-44e5-bfc7-854012461c3f",
              "name": "subject",
              "value": "={{ $('Re-Personalisierung').item.json.Kategorie }} | {{ $('Daten extrahieren').first().json.body.extractionData.einrichtung_name }}, {{ $('Daten extrahieren').first().json.body.extractionData.anrufer_name }} | {{ $('Re-Personalisierung').item.json.Themenstichwort }}",
              "type": "string"
            },
            {
              "id": "988dd2a7-83ea-48b9-9e7e-bcc66745c72c",
              "name": "htmlBody",
              "value": "=<h3>Problemtyp: {{ $('Re-Personalisierung').item.json.Problemtyp }}</h3>\n\n<h4>KI-Einschätzung</h4>\n<p>\n  <b>Einrichtung:</b> {{ $('Daten extrahieren').first().json.body.extractionData.einrichtung_name }}<br>\n  <b>Anrufer:</b> {{ $('Daten extrahieren').first().json.body.extractionData.anrufer_name }} ({{ $('Daten extrahieren').first().json.body.fromNumber }})<br>\n  <b>Ansprechpartner:</b> {{ $json.AnsprechpartnerName ? $json.AnsprechpartnerName : \"Wie Anrufer\" }}<br>\n  <b>Rückrufnummer:</b> {{ $('Re-Personalisierung').item.json.Rueckrufnummer ? $('Re-Personalisierung').item.json.Rueckrufnummer : $('Daten extrahieren').item.json.body.fromNumber}}<br>\n  <b>Thema:</b> {{ $('Re-Personalisierung').item.json.Themenstichwort }}\n</p>\n\n<b>Beschreibung:</b>\n<ul>\n{{ $('Re-Personalisierung').item.json.Beschreibung.map(item => `<li>${item}</li>`).join('') }}\n</ul>\n\n<p>Begründung der Dringlichkeitseinstufung:</p>\n<p>{{ $('Re-Personalisierung').item.json['Begründung'] }}</p>\n\n<hr>\n\n<h4>Vollständiges Transkript</h4>\n<p style=\"white-space: pre-wrap; color: #555;\">\n{{ $json.body.formattedTranscript }}\n</p>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        80
      ],
      "id": "570cad79-d6ae-4020-aa2f-d89ddf290e4c",
      "name": "E-Mail vorbereiten"
    },
    {
      "parameters": {
        "operation": "sanitize",
        "text": "={{ $json.body.formattedTranscript }}",
        "guardrails": {
          "pii": {
            "value": {
              "type": "selected",
              "entities": [
                "EMAIL_ADDRESS",
                "PHONE_NUMBER",
                "IP_ADDRESS",
                "LOCATION"
              ]
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        320,
        80
      ],
      "id": "5aff3735-6037-4247-b471-e2b1b5412182",
      "name": "Daten anonymisieren"
    },
    {
      "parameters": {
        "jsCode": "// 1. Zugriff auf die Antwort des AI Agents\nlet agentOutput = $input.item.json.output || $input.item.json.text || \"\";\n\n// Wir machen sicherheitshalber einen String daraus\nif (typeof agentOutput === 'object') {\n  agentOutput = JSON.stringify(agentOutput);\n}\n\n// 2. Das Mapping holen (exakter Name der Node davor ist wichtig!)\nconst mappingData = $('Azure Antwort verarbeiten').first();\nconst nameMapping = mappingData.json.nameMapping || [];\n\n// 3. Re-Personalisierung durchführen (Suchen & Ersetzen im Rohtext)\n// Wir machen das VOR dem JSON-Parsing, damit auch Namen in Strings ersetzt werden.\nlet processedText = agentOutput;\n\nfor (const item of nameMapping) {\n  // Ersetze [PERSON_X] durch den echten Namen (global)\n  // Wir escapen die Klammern für den Regex\n  const placeholderRegex = new RegExp(item.placeholder.replace(/\\[/g, '\\\\[').replace(/\\]/g, '\\\\]'), 'g');\n  processedText = processedText.replace(placeholderRegex, item.original);\n}\n\n// 4. JSON Extrahieren (Der \"Gesprächigkeit\"-Filter)\n// Wir suchen den Bereich zwischen der ersten '{' und der letzten '}'\nconst firstBracket = processedText.indexOf('{');\nconst lastBracket = processedText.lastIndexOf('}');\n\nif (firstBracket !== -1 && lastBracket !== -1) {\n  // Schneide alles vor der ersten Klammer und nach der letzten Klammer weg\n  const jsonString = processedText.substring(firstBracket, lastBracket + 1);\n  \n  try {\n    const finalObject = JSON.parse(jsonString);\n    return finalObject; // Gib das saubere Objekt zurück\n  } catch (e) {\n    return { error: \"JSON war trotz Filterung ungültig\", raw: processedText };\n  }\n} else {\n  // Fallback, falls gar keine Klammern gefunden wurden\n  return { error: \"Kein JSON im Antworttext gefunden\", raw: processedText };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        80
      ],
      "id": "c6b98a9e-6c10-495a-956c-2d6333ba46d7",
      "name": "Re-Personalisierung"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Führe die Klassifikation durch.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=DU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE.\n\n###DEINE HAUPTAUFGABE###\nAnalysiere Telefon-Transkripte und ordne sie präzise in eine Dringlichkeitskategorie (A, B, C oder D) ein, basierend auf den Kriterien aus der bereitgestellten Wissensdatenbank. Deine Klassifikation ermöglicht Technikern eine zielgerichtete, priorisierte Bearbeitung.\n\n---\n\n###VERFÜGBARE DATEN###\n\n**DRINGLICHKEITSKRITERIEN (aus Google Sheet):**\n{{ $('Dringlichkeitskriterien laden').all().slice(1).map(item =>\n`Kategorie ${item.json.Dringlichkeit}: ${item.json.Kategorie}\nSchlüsselworte: ${item.json.Schlagworte}\nBeispiele: ${item.json.Beispiele}`\n).join('\\n\\n') }}\n\n**ZU ANALYSIERENDES TRANSKRIPT:**\n{{ $json.anonymizedText }}\n\n---\n\n###ANALYSE-METHODIK (CHAIN OF THOUGHTS)###\n\n1. **UNDERSTAND**\n   - Lies das Transkript gründlich und identifiziere das konkrete technische Problem\n   - Erkenne die Auswirkungen: Produktivitätsausfall, Datenverlust, Eskalation, Geschäftskritikalität\n\n2. **IDENTIFY KEY SIGNALS**\n   - Schlüsselbegriffe für hohe Dringlichkeit: \"nicht arbeitsfähig\", \"Produktion steht\", \"Kunde wartet\", \"dringend\", \"sofort\"\n   - Schlüsselbegriffe für niedrige Dringlichkeit: \"nicht eilig\", \"wenn Zeit ist\", \"Informationsfrage\", \"optional\"\n\n3. **ASSESS IMPACT**\n   - Ist ein geschäftskritischer Prozess blockiert?\n   - Sind mehrere Nutzer betroffen?\n   - Gibt es Fristen oder SLA-relevante Zeitpunkte?\n   - Handelt es sich um einen Standardvorgang oder eine Informationsanfrage?\n\n4. **MATCH WITH CRITERIA**\n   - Vergleiche die erkannten Merkmale mit den Referenzbeispielen aus dem Google Sheet\n   - Wähle die Kategorie, die der Fallbeschreibung AM NÄCHSTEN kommt\n\n5. **HANDLE EDGE CASES**\n   - Bei unklaren oder widersprüchlichen Transkripten: Wähle die konservativere (höhere) Kategorie\n   - Weise explizit auf Unsicherheiten hin\n\n---\n\n###AUSGABEFORMAT###\n\n***WICHTIGER HINWEIS ZUR DATENSCHUTZ-KONFORMITÄT***\nDer Text enthält anonymisierte Platzhalter wie [PERSON_1], [PERSON_2].\nWenn du Namen extrahierst (z.B. für \"AnsprechpartnerName\" oder in der \"Beschreibung\"),\nNUTZE AUSSCHLIESSLICH DIESE PLATZHALTER.\nWandle sie NICHT um und erfinde keine Namen.\nBeispiel korrekt: \"AnsprechpartnerName\": \"[PERSON_2]\"\n\nGib deine Analyse im folgenden JSON-Format zurück:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Server-Ausfall\",\n  \"Beschreibung\": [\n    \"Mehrere Mitarbeiter betroffen (Buchhaltung)\",\n    \"Datenbankverbindung unterbrochen seit 8 Uhr\",\n    \"Fehlende Rechnungen der letzten 2 Wochen\",\n    \"Zeitkritisch: Jahresabschluss-Termin in 2 Stunden\"\n  ],\n  \"AnsprechpartnerBleibt\": true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n  \"AnsprechpartnerName\": \"Frau Weber\",\n  \"RueckrufnummerAnders\": true = andere Rückrufnummer gewünscht, false = unter anrufender Nummer zurückrufen\n  \"Rueckrufnummer\": Die vom Anrufer genannte Rückrufnummer (mit Durchwahl falls vorhanden)\n  \"Begründung\": \"Der Kunde ist grundsätzlich arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Entspricht den Beispielen für Kategorie B im Sheet.\"\n}\n```\n\n**WICHTIG: Feldbeschreibungen** \n- Die Dringlichkeit MUSS ein einzelner Buchstabe sein: A, B, C oder D, entsprechend der Möglichkeiten im Google Sheet\n- Die Kategorie MUSS sich auf die entsprechende Spalte im Google Sheet beziehen\n- Problemtyp: Klassifiziere in GENAU EINE dieser Kategorien:\n  • \"Technisch\" = Hardware-Probleme, Netzwerkausfälle, Gerätedefekte, Server-Ausfälle\n  • \"Software\" = Programmfehler, Anmeldeprobleme, Softwarestörungen, Datenbankprobleme\n  • \"Anliegen\" = Informationsanfragen, Beratung, allgemeine Fragen ohne akutes technisches Problem\n- Themenstichwort: Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z. B. \"SAP-Login\", \"E-Mail-Sync\", \"Drucker-WLAN\")\n- Beschreibung: Array mit 3-6 Stichpunkten, die wichtigsten Informationen zuerst:\n  • Betroffene Personen/Systeme\n  • Zeitpunkt des Auftretens\n  • Konkrete Symptome/Fehler\n  • Geschäftliche Auswirkungen\n  • Fristen/Zeitdruck\n  • Bereits versuchte Lösungen\n- AnsprechpartnerBleibt: true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n- AnsprechpartnerName: Name des Ansprechpartners (falls abweichend vom Anrufer, sonst leer lassen)\n- AnsprechpartnerTelefon: Telefonnummer des Ansprechpartners (falls abweichend, sonst leer lassen)\n- RueckrufnummerAnders: true = andere Rückrufnummer als anrufende Nummer, false = unter anrufender Nummer zurückrufen\n- Rueckrufnummer: Die Rückrufnummer (kann identisch mit AnsprechpartnerTelefon sein)\n- Die Begründung MUSS sich auf die Kriterien im Google Sheet beziehen\n- Halte dich strikt an das JSON-Format\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nNIEMALS Kategorien ohne Bezug zum Google Sheet festlegen\nVERMEIDE vage Begründungen wie \"klingt dringend\" oder \"scheint wichtig\"\nNICHT nur nach einzelnen Schlüsselworten klassifizieren – analysiere die Gesamtsituation\nNIEMALS Aussagen erfinden, die nicht im Transkript stehen\nNICHT überkategorisieren: Unzufriedenheit allein rechtfertigt keine Kategorie A\nIGNORIERE NIEMALS Hinweise auf Systemrelevanz, Produktionsstopp oder geschäftskritische Prozesse\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n**Beispiel 1 - Kategorie A:**\nTranskript: \"Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Kategorie\": \"Notfall\",\n  \"Problemtyp\": \"Software\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Geschäftskritischer Prozess (Monatsabrechnung) ist komplett blockiert. Entspricht den Referenzfällen für Kategorie A im Sheet.\"\n}\n```\n\n**Beispiel 2 - Kategorie D:**\nTranskript: \"Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Kategorie\": \"Informativ\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Informationsanfrage ohne Zeitdruck, kein akuter Vorfall. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n**Beispiel 3 - Kategorie B:**\nTranskript: \"Mein Outlook synchronisiert nicht mehr. Ich kann arbeiten, aber wichtige E-Mails von Kunden kommen nicht an.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Eingeschränkte Arbeitsfähigkeit bei einem wichtigen Kommunikationskanal. Keine komplette Blockade, aber geschäftsrelevant. Entspricht Kategorie B.\"\n}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1216,
        80
      ],
      "id": "673f36ad-b194-4bf3-8259-04163ec4e8a3",
      "name": "Klassifikations-Agent für IT-Hotline-Transkripte",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Eingabe Webhook fonio API\n",
        "height": 432,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -96
      ],
      "typeVersion": 1,
      "id": "6e17648c-24d0-4771-866d-7d0fa8d0691c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Verarbeitung\n– Erste Anonymisierung der Daten mittels n8n Guardrails, \n– zweite Anonymisierung der Daten mittels Mistral in Azure,\n– Antwortdaten bereinigen („sauberes JSON“)\n– Klassifikationsagent für IT-Hotline-Transkripte\n– Text repersonalisieren",
        "height": 544,
        "width": 1680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        264,
        -96
      ],
      "typeVersion": 1,
      "id": "6fde1e96-9d9e-44a1-9459-f8161e6f2d21",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Wir greifen auf die Antwort der Azure-Node zu\nconst response = $input.item.json;\n\n// Sicherstellen, dass wir eine Antwort haben\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  \n  // Den Textinhalt holen\n  let content = response.choices[0].message.content;\n  \n  // Oft sendet die KI den Text in Markdown-Blöcken (```json ... ```).\n  // Diese entfernen wir hier, damit das JSON sauber ist.\n  content = content.replace(/^```json\\s*/, \"\").replace(/\\s*```$/, \"\");\n  \n  try {\n    // Den Textstring in ein echtes JSON-Objekt umwandeln\n    const parsedData = JSON.parse(content);\n    \n    // Das saubere Ergebnis zurückgeben\n    return parsedData;\n    \n  } catch (error) {\n    // Falls die KI kein gültiges JSON geschickt hat, geben wir den Rohtext zurück\n    return {\n      error: \"Konnte JSON nicht parsen\",\n      rawContent: content\n    };\n  }\n} else {\n  return { error: \"Keine gültige Antwort von Azure erhalten\" };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        80
      ],
      "id": "7db4ce35-a3ef-4b5b-92d8-1aca0506713f",
      "name": "Azure Antwort verarbeiten"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Daten aus der vorherigen Node holen\n// Fallback auf leeren String, falls keine Daten da sind\nconst transcript = $input.item.json.guardrailsInput || $input.item.json.output || \"\";\n\nconst systemPrompt = `Du bist ein Spezialist für die Anonymisierung von Personennamen in deutschen Telefon-Transkripten.\n\n###DEINE AUFGABE###\nErkenne alle Personennamen (Vornamen und Nachnamen) im gegebenen Text und ersetze sie durch nummerierte Platzhalter im Format [PERSON_1], [PERSON_2], [PERSON_3] etc.\n\n###REGELN###\n1. Erkenne nur echte Personennamen (z.B. Thomas, Anna, Müller, Schmidt)\n2. Ignoriere Titel wie 'Herr', 'Frau', 'Dr.' - diese bleiben unverändert\n3. Ersetze jeden gefundenen Namen durch einen eindeutigen Platzhalter [PERSON_N]\n4. Gleiche Namen im Text erhalten den gleichen Platzhalter (z.B. 'Thomas' wird immer zu [PERSON_1])\n5. Verschiedene Namen erhalten verschiedene Platzhalter (z.B. 'Thomas' → [PERSON_1], 'Anna' → [PERSON_2])\n6. Behalte die ursprüngliche Formatierung bei (Zeilenumbrüche, Interpunktion)\n\n###AUSGABEFORMAT###\nGib dein Ergebnis im folgenden JSON-Format zurück:\n\\`\\`\\`json\n{\n  \"anonymizedText\": \"Der anonymisierte Text mit [PERSON_1], [PERSON_2] etc.\",\n  \"nameMapping\": [\n    {\"original\": \"Thomas\", \"placeholder\": \"[PERSON_1]\"},\n    {\"original\": \"Anna\", \"placeholder\": \"[PERSON_2]\"}\n  ]\n}\n\\`\\`\\``;\n\n// Das fertige Payload-Objekt zurückgeben\nreturn {\n  model: \"mistral-namen-anonymisierung\",\n  messages: [\n    {\n      role: \"system\",\n      content: systemPrompt\n    },\n    {\n      role: \"user\",\n      content: transcript\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 1000\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        80
      ],
      "id": "0933c8d2-c435-4a2c-91de-5b3dbc91d85f",
      "name": "Aufgabenstellung für Azure-Anonymisierung"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://berent-ki.services.ai.azure.com/models/chat/completions?api-version=2024-05-01-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        80
      ],
      "id": "2044e0cc-33f7-4e03-af90-3d3063c5a1e0",
      "name": "Anonymisieren (Mistral in Azure)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "4gc7MePUZVuCyowB",
          "name": "API LLM in Azure (Mistral)"
        },
        "httpBearerAuth": {
          "id": "24SORzPv91ZRH2UW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ausgabe SMTP-Server Kunde\n– E-Mail vorbereiten\n– E-Mail versenden",
        "height": 432,
        "width": 656,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1960,
        -96
      ],
      "typeVersion": 1,
      "id": "ac3ff5e7-4f33-4c59-8efb-342f44fe5d04",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fde578de-54af-4092-a22a-6e3234c3f134",
              "name": "body.formattedTranscript",
              "value": "={{ $('Merge').first().json.body.formattedTranscript.replace(/\\n/g, '<br/>') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        80
      ],
      "id": "08df8f59-a1df-494c-98ac-7393b763ac0b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0b17452-7f76-40a4-8608-7b6068ca9685",
              "name": "liveMode",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "983ea52f-1354-4137-b1da-9cf42ec3700a",
              "name": "threemaFrom",
              "value": "*BERENT1",
              "type": "string"
            },
            {
              "id": "1b6a00b3-45a8-45b8-9191-09e15d9a1959",
              "name": "threemaTo",
              "value": "BUMFMZ39",
              "type": "string"
            },
            {
              "id": "threema-secret",
              "name": "secret",
              "value": "18DOvPKBV7ize3Nh",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        80
      ],
      "id": "73b83607-4c5f-419d-b568-02b7ce9e5ef0",
      "name": "Config"
    },
    {
      "parameters": {
        "content": "## Config\nEInige Konfigurationseinstellungen",
        "height": 336,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -96
      ],
      "typeVersion": 1,
      "id": "49b060ca-6998-4e8e-b841-0615a8bba0d7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://msgapi.threema.ch/send_simple",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "={{ $('Config').first().json.secret }}"
            },
            {
              "name": "from",
              "value": "={{ $('Config').first().json.threemaFrom }}"
            },
            {
              "name": "to",
              "value": "={{ $('Config').first().json.threemaTo }}"
            },
            {
              "name": "text",
              "value": "=🔏 Transkript Nachbearbeitung\n\n🔔 Kategorie: {{ $('Re-Personalisierung').item.json.Kategorie }}\n🛍️ Kunde: {{ $('Merge').first().json.body.extractionData.einrichtung_name }}\n☎️ Anrufer: {{ $('Merge').first().json.body.extractionData.anrufer_name }}\n🏷️ Stichwort: {{ $('Re-Personalisierung').item.json.Themenstichwort }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e193229-95b3-4553-8d93-2ad3b95e1361",
      "name": "Threema Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "x5y4aJ1X9shkkOZh",
          "name": "API Threema Work Secret"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "397bfe29-a77c-4d6a-9c54-62c554700e04",
              "leftValue": "={{ false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        -16
      ],
      "id": "15369477-f80e-4a0c-8a66-0e1f04983d39",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "office@berent.ai",
        "toEmail": "office@berent.ai",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2240,
        176
      ],
      "id": "788a9dec-4f74-47aa-a1a2-d1fd4787760c",
      "name": "E-Mail an BERENT senden",
      "webhookId": "068c998c-5810-4b16-956b-64a9171c2f6d",
      "credentials": {
        "smtp": {
          "id": "biGV4ad70JiHpzdA",
          "name": "SMTP IONOS"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "helpdesk@ags-it.de",
        "toEmail": "helpdesk@ags-it.de",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2464,
        -16
      ],
      "id": "9e2b79de-ceec-4b20-a25d-09f649995990",
      "name": "E-Mail an Kunde senden",
      "webhookId": "068c998c-5810-4b16-956b-64a9171c2f6d",
      "credentials": {
        "smtp": {
          "id": "8O5B5z4vS8yeagJh",
          "name": "AGS SMTP Einstellungen"
        }
      }
    }
  ],
  "connections": {
    "fonio-Webhook": {
      "main": [
        [
          {
            "node": "Daten extrahieren",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dringlichkeitskriterien laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten extrahieren": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Klassifikations-Agent für IT-Hotline-Transkripte",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dringlichkeitskriterien laden": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail vorbereiten": {
      "main": [
        [
          {
            "node": "E-Mail an BERENT senden",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten anonymisieren": {
      "main": [
        [
          {
            "node": "Aufgabenstellung für Azure-Anonymisierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-Personalisierung": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Klassifikations-Agent für IT-Hotline-Transkripte": {
      "main": [
        [
          {
            "node": "Re-Personalisierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure Antwort verarbeiten": {
      "main": [
        [
          {
            "node": "Klassifikations-Agent für IT-Hotline-Transkripte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aufgabenstellung für Azure-Anonymisierung": {
      "main": [
        [
          {
            "node": "Anonymisieren (Mistral in Azure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anonymisieren (Mistral in Azure)": {
      "main": [
        [
          {
            "node": "Azure Antwort verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "E-Mail vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Daten anonymisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "E-Mail an Kunde senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail an BERENT senden": {
      "main": [
        [
          {
            "node": "Threema Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Daten extrahieren": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1098810.hstgr.cloud"
          },
          "body": {
            "formattedTranscript": "agent: Herzlich willkommen bei AGS. Wie kann ich Ihnen helfen?\nuser: Moin, hier ist Michael Bauer, Schichtleiter bei Bauer Logistik. Wir haben Ärger mit den Handscannern.\nagent: Verstehe. Bitte beachten Sie, dieser Anruf wird DSGVO-konform aufgezeichnet. Möchten Sie fortfahren?\nuser: Ja, von mir aus. Wir müssen hier weiterkommen.\nagent: Alles klar. Was genau funktioniert nicht?\nuser: Die Handscanner in Halle 3 verlieren ständig die Verbindung. Mein Mitarbeiter Kevin beschwert sich schon den ganzen Morgen, dass er sich alle 5 Minuten neu einloggen muss.\nagent: Steht die Produktion dadurch still?\nuser: Nein, stehen tut sie nicht. Wir können arbeiten, aber es nervt tierisch und dauert doppelt so lange. Der LKW muss heute Abend raus.\nagent: Verstehe. Ist nur Halle 3 betroffen?\nuser: Ja, in den anderen Hallen läuft es. Es scheint an dem Access Point hinten links zu liegen, der blinkt rot.\nagent: Okay, ich stufe das als wichtig ein, da der Betrieb verlangsamt ist. Soll ich Sie zurückrufen?\nuser: Ja, aber bitte im Lagerbüro unter der Durchwahl -99. Ich bin nicht am Platz.\nagent: Alles klar, Durchwahl 99. Ein Netzwerktechniker prüft den Access Point und meldet sich.",
            "fromNumber": "+494055566677",
            "extractionData": {
              "anrufer_name": "Michael Bauer",
              "einrichtung_typ": "Unternehmen",
              "einrichtung_name": "Bauer Logistik GmbH"
            }
          }
        }
      }
    ],
    "Merge": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1098810.hstgr.cloud"
          },
          "body": {
            "formattedTranscript": "agent: Herzlich willkommen bei AGS. Wie kann ich Ihnen helfen?\nuser: Moin, hier ist Michael Bauer, Schichtleiter bei Bauer Logistik. Wir haben Ärger mit den Handscannern.\nagent: Verstehe. Bitte beachten Sie, dieser Anruf wird DSGVO-konform aufgezeichnet. Möchten Sie fortfahren?\nuser: Ja, von mir aus. Wir müssen hier weiterkommen.\nagent: Alles klar. Was genau funktioniert nicht?\nuser: Die Handscanner in Halle 3 verlieren ständig die Verbindung. Mein Mitarbeiter Kevin beschwert sich schon den ganzen Morgen, dass er sich alle 5 Minuten neu einloggen muss.\nagent: Steht die Produktion dadurch still?\nuser: Nein, stehen tut sie nicht. Wir können arbeiten, aber es nervt tierisch und dauert doppelt so lange. Der LKW muss heute Abend raus.\nagent: Verstehe. Ist nur Halle 3 betroffen?\nuser: Ja, in den anderen Hallen läuft es. Es scheint an dem Access Point hinten links zu liegen, der blinkt rot.\nagent: Okay, ich stufe das als wichtig ein, da der Betrieb verlangsamt ist. Soll ich Sie zurückrufen?\nuser: Ja, aber bitte im Lagerbüro unter der Durchwahl -99. Ich bin nicht am Platz.\nagent: Alles klar, Durchwahl 99. Ein Netzwerktechniker prüft den Access Point und meldet sich.",
            "fromNumber": "+494055566677",
            "extractionData": {
              "anrufer_name": "Michael Bauer",
              "einrichtung_typ": "Unternehmen",
              "einrichtung_name": "Bauer Logistik GmbH"
            }
          }
        }
      },
      {
        "json": {
          "row_number": 2,
          "Dringlichkeit": "A",
          "Kategorie": "Nofall",
          "Schlagworte": "Notfall; zeitkritisch; dringend; sofort; Schmerzen",
          "Beispiele": "Server ausgefallen; Server piept; einziger Arbeitsplatzrechner ausgefallen; Konnektor Problem; keine Verbindung im Netzwerk; Internet funktioniert nicht"
        }
      },
      {
        "json": {
          "row_number": 3,
          "Dringlichkeit": "B",
          "Kategorie": "Dringend",
          "Schlagworte": "kritisch; alsbald; wichtig, nicht zeitkritisch",
          "Beispiele": "Server ausgefallen, gespiegelte Platten vorhanden; Arbeitsplatzrechner ausgefallen, weitere Geräte einsatzbereit; Kartenlesegerät nicht verbunden; Patientenkarten können nicht eingelesen werden; E-Mails kommen nicht an bzw. können nicht versendet werden; keine Verbindung zu Quincy; Telefonanlage funktioniert nicht"
        }
      },
      {
        "json": {
          "row_number": 4,
          "Dringlichkeit": "C",
          "Kategorie": "Wenig dringlich",
          "Schlagworte": "möglichst zeitnah; in Kürze; offen, da undifferenziert",
          "Beispiele": "Drucker funktioniert nicht; Quincy-Verknüpfung nicht auf dem Desktop bzw. verschwunden; USV piept; Scanner funktioniert nicht; Fax / Faxgerät funktioniert nicht; keine Verbindung über VPN; Backup überprüfen (Festplatten voll); Computer ist laut; Anliegen kann per TeamViewer bearbeitet werden"
        }
      },
      {
        "json": {
          "row_number": 5,
          "Dringlichkeit": "D",
          "Kategorie": "Informativ",
          "Schlagworte": "Auskunft, Information, Angebot, Beratung",
          "Beispiele": "Bestellung für [XY]; Frage bzgl. einer Rechnung oder eines Angebotes, Terminvereinbarung"
        }
      }
    ],
    "Daten anonymisieren": [
      {
        "json": {
          "guardrailsInput": "agent: Herzlich willkommen bei AGS. Wie kann ich Ihnen helfen?\nuser: Moin, hier ist Michael Bauer, Schichtleiter bei Bauer Logistik. Wir haben Ärger mit den Handscannern.\nagent: Verstehe. Bitte beachten Sie, dieser Anruf wird DSGVO-konform aufgezeichnet. Möchten Sie fortfahren?\nuser: Ja, von mir aus. Wir müssen hier weiterkommen.\nagent: Alles klar. Was genau funktioniert nicht?\nuser: Die Handscanner in Halle 3 verlieren ständig die Verbindung. Mein Mitarbeiter Kevin beschwert sich schon den ganzen Morgen, dass er sich alle 5 Minuten neu einloggen muss.\nagent: Steht die Produktion dadurch still?\nuser: Nein, stehen tut sie nicht. Wir können arbeiten, aber es nervt tierisch und dauert doppelt so lange. Der LKW muss heute Abend raus.\nagent: Verstehe. Ist nur Halle 3 betroffen?\nuser: Ja, in den anderen Hallen läuft es. Es scheint an dem Access Point hinten links zu liegen, der blinkt rot.\nagent: Okay, ich stufe das als wichtig ein, da der Betrieb verlangsamt ist. Soll ich Sie zurückrufen?\nuser: Ja, aber bitte im Lagerbüro unter der Durchwahl -99. Ich bin nicht am Platz.\nagent: Alles klar, Durchwahl 99. Ein Netzwerktechniker prüft den Access Point und meldet sich.",
          "checks": [
            {
              "name": "personalData",
              "triggered": false,
              "info": {
                "analyzerResults": []
              }
            }
          ]
        }
      },
      {
        "json": {
          "checks": [
            {
              "name": "personalData",
              "triggered": false,
              "info": {
                "analyzerResults": []
              }
            }
          ]
        }
      },
      {
        "json": {
          "checks": [
            {
              "name": "personalData",
              "triggered": false,
              "info": {
                "analyzerResults": []
              }
            }
          ]
        }
      },
      {
        "json": {
          "checks": [
            {
              "name": "personalData",
              "triggered": false,
              "info": {
                "analyzerResults": []
              }
            }
          ]
        }
      },
      {
        "json": {
          "checks": [
            {
              "name": "personalData",
              "triggered": false,
              "info": {
                "analyzerResults": []
              }
            }
          ]
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "body": {
            "formattedTranscript": "agent: Herzlich willkommen bei AGS. Wie kann ich Ihnen helfen?<br/>user: Moin, hier ist Michael Bauer, Schichtleiter bei Bauer Logistik. Wir haben Ärger mit den Handscannern.<br/>agent: Verstehe. Bitte beachten Sie, dieser Anruf wird DSGVO-konform aufgezeichnet. Möchten Sie fortfahren?<br/>user: Ja, von mir aus. Wir müssen hier weiterkommen.<br/>agent: Alles klar. Was genau funktioniert nicht?<br/>user: Die Handscanner in Halle 3 verlieren ständig die Verbindung. Mein Mitarbeiter Kevin beschwert sich schon den ganzen Morgen, dass er sich alle 5 Minuten neu einloggen muss.<br/>agent: Steht die Produktion dadurch still?<br/>user: Nein, stehen tut sie nicht. Wir können arbeiten, aber es nervt tierisch und dauert doppelt so lange. Der LKW muss heute Abend raus.<br/>agent: Verstehe. Ist nur Halle 3 betroffen?<br/>user: Ja, in den anderen Hallen läuft es. Es scheint an dem Access Point hinten links zu liegen, der blinkt rot.<br/>agent: Okay, ich stufe das als wichtig ein, da der Betrieb verlangsamt ist. Soll ich Sie zurückrufen?<br/>user: Ja, aber bitte im Lagerbüro unter der Durchwahl -99. Ich bin nicht am Platz.<br/>agent: Alles klar, Durchwahl 99. Ein Netzwerktechniker prüft den Access Point und meldet sich."
          }
        }
      }
    ],
    "E-Mail an BERENT senden": [
      {
        "json": {
          "accepted": [
            "office@berent.ai"
          ],
          "rejected": [],
          "ehlo": [
            "8BITMIME",
            "AUTH PLAIN LOGIN",
            "SIZE 141557760"
          ],
          "envelopeTime": 62,
          "messageTime": 23,
          "messageSize": 3040,
          "response": "250 Requested mail action okay, completed: id=1M42X0-1vkiSQ2ywK-00Es5Z",
          "envelope": {
            "from": "office@berent.ai",
            "to": [
              "office@berent.ai"
            ]
          },
          "messageId": "<534e605e-8d7f-eb6e-dafd-e29cd39880bd@berent.ai>"
        }
      }
    ]
  },
  "versionId": "f5d4e4ae-db4a-41f9-8387-8aac2fbe221b",
  "activeVersionId": "f5d4e4ae-db4a-41f9-8387-8aac2fbe221b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-23T18:11:10.645Z",
      "createdAt": "2025-11-23T18:11:10.645Z",
      "role": "workflow:owner",
      "workflowId": "gkgmJNNtuTAZgcyC",
      "projectId": "yr4Hj71ou1NOsi2p"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-27T13:13:04.000Z",
    "createdAt": "2026-01-27T13:12:59.158Z",
    "versionId": "f5d4e4ae-db4a-41f9-8387-8aac2fbe221b",
    "workflowId": "gkgmJNNtuTAZgcyC",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "fonio-ags-transkript-d9a56c84-3178-44a5-9d50-e8a42a1f9a00",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -576,
          80
        ],
        "id": "dbb2ce2e-7047-422a-b8a2-7cd7f735f599",
        "name": "fonio-Webhook",
        "webhookId": "d9a56c84-3178-44a5-9d50-e8a42a1f9a00"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "011ef203-63fd-49f7-ae0d-4ed7318ad11f",
                "name": "headers.host",
                "value": "={{ $json.headers.host }}",
                "type": "string"
              },
              {
                "id": "04f27e3e-ebed-4ae5-a22f-23d0f7c61904",
                "name": "body.formattedTranscript",
                "value": "={{ $json.body.formattedTranscript }}",
                "type": "string"
              },
              {
                "id": "017777fc-53d7-473d-b3c8-09a32e601385",
                "name": "body.fromNumber",
                "value": "={{ $json.body.fromNumber }}",
                "type": "string"
              },
              {
                "id": "882e8a05-a492-4445-bb4a-1856bfb586a1",
                "name": "body.extractionData.anrufer_name",
                "value": "={{ $json.body.extractionData.anrufer_name }}",
                "type": "string"
              },
              {
                "id": "a6508b49-d751-49d7-b40c-c91be52f5839",
                "name": "body.extractionData.einrichtung_typ",
                "value": "={{ $json.body.extractionData.einrichtung_typ }}",
                "type": "string"
              },
              {
                "id": "08190377-3019-449b-9374-494e642c5125",
                "name": "body.extractionData.einrichtung_name",
                "value": "={{ $json.body.extractionData.einrichtung_name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -352,
          -16
        ],
        "id": "a2cade9e-e4ae-48b8-abbc-7550a5001529",
        "name": "Daten extrahieren"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "claude-3-5-haiku-20241022",
            "mode": "list",
            "cachedResultName": "Claude Haiku 3.5"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          1288,
          304
        ],
        "id": "2fed403f-7751-4cbc-b573-9e6582199b6b",
        "name": "Anthropic Chat Model",
        "credentials": {
          "anthropicApi": {
            "id": "z2co8mXBEBKkyhYu",
            "name": "API Anthropic"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Dringlichkeiten",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -352,
          176
        ],
        "id": "79e527cc-ba11-444f-b8f4-c94e8e6c5ad7",
        "name": "Dringlichkeitskriterien laden",
        "credentials": {
          "googleApi": {
            "id": "vRVq7GTwn9kTIi8N",
            "name": "n8n Sheets Service"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -128,
          80
        ],
        "id": "dbc1f0ee-8859-4268-8ca9-ee6ea003d03d",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9cac8552-e981-44e5-bfc7-854012461c3f",
                "name": "subject",
                "value": "={{ $('Re-Personalisierung').item.json.Kategorie }} | {{ $('Daten extrahieren').first().json.body.extractionData.einrichtung_name }}, {{ $('Daten extrahieren').first().json.body.extractionData.anrufer_name }} | {{ $('Re-Personalisierung').item.json.Themenstichwort }}",
                "type": "string"
              },
              {
                "id": "988dd2a7-83ea-48b9-9e7e-bcc66745c72c",
                "name": "htmlBody",
                "value": "=<h3>Problemtyp: {{ $('Re-Personalisierung').item.json.Problemtyp }}</h3>\n\n<h4>KI-Einschätzung</h4>\n<p>\n  <b>Einrichtung:</b> {{ $('Daten extrahieren').first().json.body.extractionData.einrichtung_name }}<br>\n  <b>Anrufer:</b> {{ $('Daten extrahieren').first().json.body.extractionData.anrufer_name }} ({{ $('Daten extrahieren').first().json.body.fromNumber }})<br>\n  <b>Ansprechpartner:</b> {{ $json.AnsprechpartnerName ? $json.AnsprechpartnerName : \"Wie Anrufer\" }}<br>\n  <b>Rückrufnummer:</b> {{ $('Re-Personalisierung').item.json.Rueckrufnummer ? $('Re-Personalisierung').item.json.Rueckrufnummer : $('Daten extrahieren').item.json.body.fromNumber}}<br>\n  <b>Thema:</b> {{ $('Re-Personalisierung').item.json.Themenstichwort }}\n</p>\n\n<b>Beschreibung:</b>\n<ul>\n{{ $('Re-Personalisierung').item.json.Beschreibung.map(item => `<li>${item}</li>`).join('') }}\n</ul>\n\n<p>Begründung der Dringlichkeitseinstufung:</p>\n<p>{{ $('Re-Personalisierung').item.json['Begründung'] }}</p>\n\n<hr>\n\n<h4>Vollständiges Transkript</h4>\n<p style=\"white-space: pre-wrap; color: #555;\">\n{{ $json.body.formattedTranscript }}\n</p>",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2016,
          80
        ],
        "id": "570cad79-d6ae-4020-aa2f-d89ddf290e4c",
        "name": "E-Mail vorbereiten"
      },
      {
        "parameters": {
          "operation": "sanitize",
          "text": "={{ $json.body.formattedTranscript }}",
          "guardrails": {
            "pii": {
              "value": {
                "type": "selected",
                "entities": [
                  "EMAIL_ADDRESS",
                  "PHONE_NUMBER",
                  "IP_ADDRESS",
                  "LOCATION"
                ]
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.guardrails",
        "typeVersion": 1,
        "position": [
          320,
          80
        ],
        "id": "5aff3735-6037-4247-b471-e2b1b5412182",
        "name": "Daten anonymisieren"
      },
      {
        "parameters": {
          "jsCode": "// 1. Zugriff auf die Antwort des AI Agents\nlet agentOutput = $input.item.json.output || $input.item.json.text || \"\";\n\n// Wir machen sicherheitshalber einen String daraus\nif (typeof agentOutput === 'object') {\n  agentOutput = JSON.stringify(agentOutput);\n}\n\n// 2. Das Mapping holen (exakter Name der Node davor ist wichtig!)\nconst mappingData = $('Azure Antwort verarbeiten').first();\nconst nameMapping = mappingData.json.nameMapping || [];\n\n// 3. Re-Personalisierung durchführen (Suchen & Ersetzen im Rohtext)\n// Wir machen das VOR dem JSON-Parsing, damit auch Namen in Strings ersetzt werden.\nlet processedText = agentOutput;\n\nfor (const item of nameMapping) {\n  // Ersetze [PERSON_X] durch den echten Namen (global)\n  // Wir escapen die Klammern für den Regex\n  const placeholderRegex = new RegExp(item.placeholder.replace(/\\[/g, '\\\\[').replace(/\\]/g, '\\\\]'), 'g');\n  processedText = processedText.replace(placeholderRegex, item.original);\n}\n\n// 4. JSON Extrahieren (Der \"Gesprächigkeit\"-Filter)\n// Wir suchen den Bereich zwischen der ersten '{' und der letzten '}'\nconst firstBracket = processedText.indexOf('{');\nconst lastBracket = processedText.lastIndexOf('}');\n\nif (firstBracket !== -1 && lastBracket !== -1) {\n  // Schneide alles vor der ersten Klammer und nach der letzten Klammer weg\n  const jsonString = processedText.substring(firstBracket, lastBracket + 1);\n  \n  try {\n    const finalObject = JSON.parse(jsonString);\n    return finalObject; // Gib das saubere Objekt zurück\n  } catch (e) {\n    return { error: \"JSON war trotz Filterung ungültig\", raw: processedText };\n  }\n} else {\n  // Fallback, falls gar keine Klammern gefunden wurden\n  return { error: \"Kein JSON im Antworttext gefunden\", raw: processedText };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          80
        ],
        "id": "c6b98a9e-6c10-495a-956c-2d6333ba46d7",
        "name": "Re-Personalisierung"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Führe die Klassifikation durch.",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=DU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE.\n\n###DEINE HAUPTAUFGABE###\nAnalysiere Telefon-Transkripte und ordne sie präzise in eine Dringlichkeitskategorie (A, B, C oder D) ein, basierend auf den Kriterien aus der bereitgestellten Wissensdatenbank. Deine Klassifikation ermöglicht Technikern eine zielgerichtete, priorisierte Bearbeitung.\n\n---\n\n###VERFÜGBARE DATEN###\n\n**DRINGLICHKEITSKRITERIEN (aus Google Sheet):**\n{{ $('Dringlichkeitskriterien laden').all().slice(1).map(item =>\n`Kategorie ${item.json.Dringlichkeit}: ${item.json.Kategorie}\nSchlüsselworte: ${item.json.Schlagworte}\nBeispiele: ${item.json.Beispiele}`\n).join('\\n\\n') }}\n\n**ZU ANALYSIERENDES TRANSKRIPT:**\n{{ $json.anonymizedText }}\n\n---\n\n###ANALYSE-METHODIK (CHAIN OF THOUGHTS)###\n\n1. **UNDERSTAND**\n   - Lies das Transkript gründlich und identifiziere das konkrete technische Problem\n   - Erkenne die Auswirkungen: Produktivitätsausfall, Datenverlust, Eskalation, Geschäftskritikalität\n\n2. **IDENTIFY KEY SIGNALS**\n   - Schlüsselbegriffe für hohe Dringlichkeit: \"nicht arbeitsfähig\", \"Produktion steht\", \"Kunde wartet\", \"dringend\", \"sofort\"\n   - Schlüsselbegriffe für niedrige Dringlichkeit: \"nicht eilig\", \"wenn Zeit ist\", \"Informationsfrage\", \"optional\"\n\n3. **ASSESS IMPACT**\n   - Ist ein geschäftskritischer Prozess blockiert?\n   - Sind mehrere Nutzer betroffen?\n   - Gibt es Fristen oder SLA-relevante Zeitpunkte?\n   - Handelt es sich um einen Standardvorgang oder eine Informationsanfrage?\n\n4. **MATCH WITH CRITERIA**\n   - Vergleiche die erkannten Merkmale mit den Referenzbeispielen aus dem Google Sheet\n   - Wähle die Kategorie, die der Fallbeschreibung AM NÄCHSTEN kommt\n\n5. **HANDLE EDGE CASES**\n   - Bei unklaren oder widersprüchlichen Transkripten: Wähle die konservativere (höhere) Kategorie\n   - Weise explizit auf Unsicherheiten hin\n\n---\n\n###AUSGABEFORMAT###\n\n***WICHTIGER HINWEIS ZUR DATENSCHUTZ-KONFORMITÄT***\nDer Text enthält anonymisierte Platzhalter wie [PERSON_1], [PERSON_2].\nWenn du Namen extrahierst (z.B. für \"AnsprechpartnerName\" oder in der \"Beschreibung\"),\nNUTZE AUSSCHLIESSLICH DIESE PLATZHALTER.\nWandle sie NICHT um und erfinde keine Namen.\nBeispiel korrekt: \"AnsprechpartnerName\": \"[PERSON_2]\"\n\nGib deine Analyse im folgenden JSON-Format zurück:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Server-Ausfall\",\n  \"Beschreibung\": [\n    \"Mehrere Mitarbeiter betroffen (Buchhaltung)\",\n    \"Datenbankverbindung unterbrochen seit 8 Uhr\",\n    \"Fehlende Rechnungen der letzten 2 Wochen\",\n    \"Zeitkritisch: Jahresabschluss-Termin in 2 Stunden\"\n  ],\n  \"AnsprechpartnerBleibt\": true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n  \"AnsprechpartnerName\": \"Frau Weber\",\n  \"RueckrufnummerAnders\": true = andere Rückrufnummer gewünscht, false = unter anrufender Nummer zurückrufen\n  \"Rueckrufnummer\": Die vom Anrufer genannte Rückrufnummer (mit Durchwahl falls vorhanden)\n  \"Begründung\": \"Der Kunde ist grundsätzlich arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Entspricht den Beispielen für Kategorie B im Sheet.\"\n}\n```\n\n**WICHTIG: Feldbeschreibungen** \n- Die Dringlichkeit MUSS ein einzelner Buchstabe sein: A, B, C oder D, entsprechend der Möglichkeiten im Google Sheet\n- Die Kategorie MUSS sich auf die entsprechende Spalte im Google Sheet beziehen\n- Problemtyp: Klassifiziere in GENAU EINE dieser Kategorien:\n  • \"Technisch\" = Hardware-Probleme, Netzwerkausfälle, Gerätedefekte, Server-Ausfälle\n  • \"Software\" = Programmfehler, Anmeldeprobleme, Softwarestörungen, Datenbankprobleme\n  • \"Anliegen\" = Informationsanfragen, Beratung, allgemeine Fragen ohne akutes technisches Problem\n- Themenstichwort: Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z. B. \"SAP-Login\", \"E-Mail-Sync\", \"Drucker-WLAN\")\n- Beschreibung: Array mit 3-6 Stichpunkten, die wichtigsten Informationen zuerst:\n  • Betroffene Personen/Systeme\n  • Zeitpunkt des Auftretens\n  • Konkrete Symptome/Fehler\n  • Geschäftliche Auswirkungen\n  • Fristen/Zeitdruck\n  • Bereits versuchte Lösungen\n- AnsprechpartnerBleibt: true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n- AnsprechpartnerName: Name des Ansprechpartners (falls abweichend vom Anrufer, sonst leer lassen)\n- AnsprechpartnerTelefon: Telefonnummer des Ansprechpartners (falls abweichend, sonst leer lassen)\n- RueckrufnummerAnders: true = andere Rückrufnummer als anrufende Nummer, false = unter anrufender Nummer zurückrufen\n- Rueckrufnummer: Die Rückrufnummer (kann identisch mit AnsprechpartnerTelefon sein)\n- Die Begründung MUSS sich auf die Kriterien im Google Sheet beziehen\n- Halte dich strikt an das JSON-Format\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nNIEMALS Kategorien ohne Bezug zum Google Sheet festlegen\nVERMEIDE vage Begründungen wie \"klingt dringend\" oder \"scheint wichtig\"\nNICHT nur nach einzelnen Schlüsselworten klassifizieren – analysiere die Gesamtsituation\nNIEMALS Aussagen erfinden, die nicht im Transkript stehen\nNICHT überkategorisieren: Unzufriedenheit allein rechtfertigt keine Kategorie A\nIGNORIERE NIEMALS Hinweise auf Systemrelevanz, Produktionsstopp oder geschäftskritische Prozesse\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n**Beispiel 1 - Kategorie A:**\nTranskript: \"Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Kategorie\": \"Notfall\",\n  \"Problemtyp\": \"Software\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Geschäftskritischer Prozess (Monatsabrechnung) ist komplett blockiert. Entspricht den Referenzfällen für Kategorie A im Sheet.\"\n}\n```\n\n**Beispiel 2 - Kategorie D:**\nTranskript: \"Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Kategorie\": \"Informativ\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Informationsanfrage ohne Zeitdruck, kein akuter Vorfall. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n**Beispiel 3 - Kategorie B:**\nTranskript: \"Mein Outlook synchronisiert nicht mehr. Ich kann arbeiten, aber wichtige E-Mails von Kunden kommen nicht an.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Eingeschränkte Arbeitsfähigkeit bei einem wichtigen Kommunikationskanal. Keine komplette Blockade, aber geschäftsrelevant. Entspricht Kategorie B.\"\n}\n```"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          1216,
          80
        ],
        "id": "673f36ad-b194-4bf3-8259-04163ec4e8a3",
        "name": "Klassifikations-Agent für IT-Hotline-Transkripte",
        "executeOnce": true
      },
      {
        "parameters": {
          "content": "## Eingabe Webhook fonio API\n",
          "height": 432,
          "width": 656,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -624,
          -96
        ],
        "typeVersion": 1,
        "id": "6e17648c-24d0-4771-866d-7d0fa8d0691c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Verarbeitung\n– Erste Anonymisierung der Daten mittels n8n Guardrails, \n– zweite Anonymisierung der Daten mittels Mistral in Azure,\n– Antwortdaten bereinigen („sauberes JSON“)\n– Klassifikationsagent für IT-Hotline-Transkripte\n– Text repersonalisieren",
          "height": 544,
          "width": 1680
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          264,
          -96
        ],
        "typeVersion": 1,
        "id": "6fde1e96-9d9e-44a1-9459-f8161e6f2d21",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "jsCode": "// Wir greifen auf die Antwort der Azure-Node zu\nconst response = $input.item.json;\n\n// Sicherstellen, dass wir eine Antwort haben\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  \n  // Den Textinhalt holen\n  let content = response.choices[0].message.content;\n  \n  // Oft sendet die KI den Text in Markdown-Blöcken (```json ... ```).\n  // Diese entfernen wir hier, damit das JSON sauber ist.\n  content = content.replace(/^```json\\s*/, \"\").replace(/\\s*```$/, \"\");\n  \n  try {\n    // Den Textstring in ein echtes JSON-Objekt umwandeln\n    const parsedData = JSON.parse(content);\n    \n    // Das saubere Ergebnis zurückgeben\n    return parsedData;\n    \n  } catch (error) {\n    // Falls die KI kein gültiges JSON geschickt hat, geben wir den Rohtext zurück\n    return {\n      error: \"Konnte JSON nicht parsen\",\n      rawContent: content\n    };\n  }\n} else {\n  return { error: \"Keine gültige Antwort von Azure erhalten\" };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          80
        ],
        "id": "7db4ce35-a3ef-4b5b-92d8-1aca0506713f",
        "name": "Azure Antwort verarbeiten"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Daten aus der vorherigen Node holen\n// Fallback auf leeren String, falls keine Daten da sind\nconst transcript = $input.item.json.guardrailsInput || $input.item.json.output || \"\";\n\nconst systemPrompt = `Du bist ein Spezialist für die Anonymisierung von Personennamen in deutschen Telefon-Transkripten.\n\n###DEINE AUFGABE###\nErkenne alle Personennamen (Vornamen und Nachnamen) im gegebenen Text und ersetze sie durch nummerierte Platzhalter im Format [PERSON_1], [PERSON_2], [PERSON_3] etc.\n\n###REGELN###\n1. Erkenne nur echte Personennamen (z.B. Thomas, Anna, Müller, Schmidt)\n2. Ignoriere Titel wie 'Herr', 'Frau', 'Dr.' - diese bleiben unverändert\n3. Ersetze jeden gefundenen Namen durch einen eindeutigen Platzhalter [PERSON_N]\n4. Gleiche Namen im Text erhalten den gleichen Platzhalter (z.B. 'Thomas' wird immer zu [PERSON_1])\n5. Verschiedene Namen erhalten verschiedene Platzhalter (z.B. 'Thomas' → [PERSON_1], 'Anna' → [PERSON_2])\n6. Behalte die ursprüngliche Formatierung bei (Zeilenumbrüche, Interpunktion)\n\n###AUSGABEFORMAT###\nGib dein Ergebnis im folgenden JSON-Format zurück:\n\\`\\`\\`json\n{\n  \"anonymizedText\": \"Der anonymisierte Text mit [PERSON_1], [PERSON_2] etc.\",\n  \"nameMapping\": [\n    {\"original\": \"Thomas\", \"placeholder\": \"[PERSON_1]\"},\n    {\"original\": \"Anna\", \"placeholder\": \"[PERSON_2]\"}\n  ]\n}\n\\`\\`\\``;\n\n// Das fertige Payload-Objekt zurückgeben\nreturn {\n  model: \"mistral-namen-anonymisierung\",\n  messages: [\n    {\n      role: \"system\",\n      content: systemPrompt\n    },\n    {\n      role: \"user\",\n      content: transcript\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 1000\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          80
        ],
        "id": "0933c8d2-c435-4a2c-91de-5b3dbc91d85f",
        "name": "Aufgabenstellung für Azure-Anonymisierung"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://berent-ki.services.ai.azure.com/models/chat/completions?api-version=2024-05-01-preview",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "=json",
          "specifyBody": "json",
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          768,
          80
        ],
        "id": "2044e0cc-33f7-4e03-af90-3d3063c5a1e0",
        "name": "Anonymisieren (Mistral in Azure)",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "credentials": {
          "httpHeaderAuth": {
            "id": "4gc7MePUZVuCyowB",
            "name": "API LLM in Azure (Mistral)"
          },
          "httpBearerAuth": {
            "id": "24SORzPv91ZRH2UW",
            "name": "Bearer Auth account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Ausgabe SMTP-Server Kunde\n– E-Mail vorbereiten\n– E-Mail versenden",
          "height": 432,
          "width": 656,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1960,
          -96
        ],
        "typeVersion": 1,
        "id": "ac3ff5e7-4f33-4c59-8efb-342f44fe5d04",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fde578de-54af-4092-a22a-6e3234c3f134",
                "name": "body.formattedTranscript",
                "value": "={{ $('Merge').first().json.body.formattedTranscript.replace(/\\n/g, '<br/>') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1792,
          80
        ],
        "id": "08df8f59-a1df-494c-98ac-7393b763ac0b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d0b17452-7f76-40a4-8608-7b6068ca9685",
                "name": "liveMode",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "983ea52f-1354-4137-b1da-9cf42ec3700a",
                "name": "threemaFrom",
                "value": "*BERENT1",
                "type": "string"
              },
              {
                "id": "1b6a00b3-45a8-45b8-9191-09e15d9a1959",
                "name": "threemaTo",
                "value": "BUMFMZ39",
                "type": "string"
              },
              {
                "id": "threema-secret",
                "name": "secret",
                "value": "18DOvPKBV7ize3Nh",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          96,
          80
        ],
        "id": "73b83607-4c5f-419d-b568-02b7ce9e5ef0",
        "name": "Config"
      },
      {
        "parameters": {
          "content": "## Config\nEInige Konfigurationseinstellungen",
          "height": 336,
          "width": 224,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          32,
          -96
        ],
        "typeVersion": 1,
        "id": "49b060ca-6998-4e8e-b841-0615a8bba0d7",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://msgapi.threema.ch/send_simple",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "secret",
                "value": "={{ $('Config').first().json.secret }}"
              },
              {
                "name": "from",
                "value": "={{ $('Config').first().json.threemaFrom }}"
              },
              {
                "name": "to",
                "value": "={{ $('Config').first().json.threemaTo }}"
              },
              {
                "name": "text",
                "value": "=🔏 Transkript Nachbearbeitung\n\n🔔 Kategorie: {{ $('Re-Personalisierung').item.json.Kategorie }}\n🛍️ Kunde: {{ $('Merge').first().json.body.extractionData.einrichtung_name }}\n☎️ Anrufer: {{ $('Merge').first().json.body.extractionData.anrufer_name }}\n🏷️ Stichwort: {{ $('Re-Personalisierung').item.json.Themenstichwort }}"
              }
            ]
          },
          "options": {}
        },
        "id": "0e193229-95b3-4553-8d93-2ad3b95e1361",
        "name": "Threema Notification",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2464,
          176
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "x5y4aJ1X9shkkOZh",
            "name": "API Threema Work Secret"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "397bfe29-a77c-4d6a-9c54-62c554700e04",
                "leftValue": "={{ false }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2240,
          -16
        ],
        "id": "15369477-f80e-4a0c-8a66-0e1f04983d39",
        "name": "If"
      },
      {
        "parameters": {
          "fromEmail": "office@berent.ai",
          "toEmail": "office@berent.ai",
          "subject": "={{ $json.subject }}",
          "html": "={{ $json.htmlBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          2240,
          176
        ],
        "id": "788a9dec-4f74-47aa-a1a2-d1fd4787760c",
        "name": "E-Mail an BERENT senden",
        "webhookId": "068c998c-5810-4b16-956b-64a9171c2f6d",
        "credentials": {
          "smtp": {
            "id": "biGV4ad70JiHpzdA",
            "name": "SMTP IONOS"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "helpdesk@ags-it.de",
          "toEmail": "helpdesk@ags-it.de",
          "subject": "={{ $json.subject }}",
          "html": "={{ $json.htmlBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          2464,
          -16
        ],
        "id": "9e2b79de-ceec-4b20-a25d-09f649995990",
        "name": "E-Mail an Kunde senden",
        "webhookId": "068c998c-5810-4b16-956b-64a9171c2f6d",
        "credentials": {
          "smtp": {
            "id": "8O5B5z4vS8yeagJh",
            "name": "AGS SMTP Einstellungen"
          }
        }
      }
    ],
    "connections": {
      "fonio-Webhook": {
        "main": [
          [
            {
              "node": "Daten extrahieren",
              "type": "main",
              "index": 0
            },
            {
              "node": "Dringlichkeitskriterien laden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daten extrahieren": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Klassifikations-Agent für IT-Hotline-Transkripte",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Dringlichkeitskriterien laden": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "E-Mail vorbereiten": {
        "main": [
          [
            {
              "node": "E-Mail an BERENT senden",
              "type": "main",
              "index": 0
            },
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daten anonymisieren": {
        "main": [
          [
            {
              "node": "Aufgabenstellung für Azure-Anonymisierung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Re-Personalisierung": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Klassifikations-Agent für IT-Hotline-Transkripte": {
        "main": [
          [
            {
              "node": "Re-Personalisierung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Azure Antwort verarbeiten": {
        "main": [
          [
            {
              "node": "Klassifikations-Agent für IT-Hotline-Transkripte",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aufgabenstellung für Azure-Anonymisierung": {
        "main": [
          [
            {
              "node": "Anonymisieren (Mistral in Azure)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anonymisieren (Mistral in Azure)": {
        "main": [
          [
            {
              "node": "Azure Antwort verarbeiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "E-Mail vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Daten anonymisieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "E-Mail an Kunde senden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "E-Mail an BERENT senden": {
        "main": [
          [
            {
              "node": "Threema Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marcus Kunkel",
    "name": "Version f5d4e4ae",
    "description": "",
    "autosaved": true
  },
  "tags": []
}