n8n/gkgmJNNtuTAZgcyC/gkgmJNNtuTAZgcyC.json
{"active":true,"connections":{"Anonymisieren (Mistral in Azure)":{"main":[[{"index":0,"node":"Azure Antwort verarbeiten","type":"main"}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"index":0,"node":"Klassifikations-Agent für IT-Hotline-Transkripte","type":"ai_languageModel"}]]},"Aufgabenstellung für Azure-Anonymisierung":{"main":[[{"index":0,"node":"Anonymisieren (Mistral in Azure)","type":"main"}]]},"Azure Antwort verarbeiten":{"main":[[{"index":0,"node":"Klassifikations-Agent für IT-Hotline-Transkripte","type":"main"}]]},"Config":{"main":[[{"index":0,"node":"Daten anonymisieren","type":"main"}]]},"Daten anonymisieren":{"main":[[{"index":0,"node":"Aufgabenstellung für Azure-Anonymisierung","type":"main"}]]},"Daten extrahieren":{"main":[[{"index":0,"node":"Merge","type":"main"}]]},"Dringlichkeitskriterien laden":{"main":[[{"index":1,"node":"Merge","type":"main"}]]},"E-Mail an BERENT senden":{"main":[[{"index":0,"node":"Threema: Info Nachbearbeitung","type":"main"}]]},"E-Mail an Kunde senden":{"main":[[{"index":0,"node":"Threema: E-Mail helpdesk@","type":"main"}]]},"E-Mail vorbereiten":{"main":[[{"index":0,"node":"E-Mail an BERENT senden","type":"main"},{"index":0,"node":"Switch","type":"main"}]]},"Edit Fields":{"main":[[{"index":0,"node":"E-Mail vorbereiten","type":"main"}]]},"Klassifikations-Agent für IT-Hotline-Transkripte":{"main":[[{"index":0,"node":"Re-Personalisierung","type":"main"}]]},"Merge":{"main":[[{"index":0,"node":"Config","type":"main"}]]},"Re-Personalisierung":{"main":[[{"index":0,"node":"Edit Fields","type":"main"}]]},"Switch":{"main":[[{"index":0,"node":"E-Mail an Kunde senden","type":"main"}]]},"Threema: Info Nachbearbeitung":{"main":[[]]},"fonio-Webhook":{"main":[[{"index":0,"node":"Daten extrahieren","type":"main"},{"index":0,"node":"Dringlichkeitskriterien laden","type":"main"}]]}},"name":"fonio AGS Nachbearbeitung Transkript","nodes":[{"name":"fonio-Webhook","parameters":{"httpMethod":"POST","options":{},"path":"fonio-ags-transkript-d9a56c84-3178-44a5-9d50-e8a42a1f9a00"},"position":[-576,80],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"d9a56c84-3178-44a5-9d50-e8a42a1f9a00"},{"name":"Daten extrahieren","parameters":{"assignments":{"assignments":[{"name":"headers.host","type":"string","value":"={{ $json.headers.host }}"},{"name":"body.formattedTranscript","type":"string","value":"={{ $json.body.formattedTranscript }}"},{"name":"body.fromNumber","type":"string","value":"={{ $json.body.fromNumber }}"},{"name":"body.extractionData.anrufer_name","type":"string","value":"={{ $json.body.extractionData.anrufer_name }}"},{"name":"body.extractionData.einrichtung_typ","type":"string","value":"={{ $json.body.extractionData.einrichtung_typ }}"},{"name":"body.extractionData.einrichtung_name","type":"string","value":"={{ $json.body.extractionData.einrichtung_name }}"}]},"options":{}},"position":[-352,-16],"type":"n8n-nodes-base.set","typeVersion":3.4},{"credentials":{"anthropicApi":{"name":"API Anthropic"}},"name":"Anthropic Chat Model","parameters":{"model":{"__rl":true,"cachedResultName":"Claude Haiku 4.5","mode":"list","value":"claude-haiku-4-5-20251001"},"options":{}},"position":[1288,304],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3},{"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Dringlichkeitskriterien laden","parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw"},"options":{},"sheetName":{"__rl":true,"cachedResultName":"Dringlichkeiten","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Drzkc9BcFsDuCkajyxpDGRpSLOwK4S882TR0m6xo5sw/edit#gid=0","mode":"list","value":"gid=0"}},"position":[-352,176],"type":"n8n-nodes-base.googleSheets","typeVersion":4.7},{"name":"Merge","parameters":{},"position":[-128,80],"type":"n8n-nodes-base.merge","typeVersion":3.2},{"name":"E-Mail vorbereiten","parameters":{"assignments":{"assignments":[{"name":"subject","type":"string","value":"={{ $('Re-Personalisierung').item.json.Kategorie }} | {{ $('Daten extrahieren').first().json.body.extractionData.einrichtung_name }}, {{ $('Daten extrahieren').first().json.body.extractionData.anrufer_name }} | {{ $('Re-Personalisierung').item.json.Themenstichwort }}"},{"name":"htmlBody","type":"string","value":"=<h3>Problemtyp: {{ $('Re-Personalisierung').item.json.Problemtyp }}</h3>\n\n<h4>KI-Einschätzung</h4>\n<p>\n  <b>Einrichtung:</b> {{ $('Daten extrahieren').first().json.body.extractionData.einrichtung_name }}<br>\n  <b>Anrufer:</b> {{ $('Daten extrahieren').first().json.body.extractionData.anrufer_name }} ({{ $('Daten extrahieren').first().json.body.fromNumber }})<br>\n  <b>Ansprechpartner:</b> {{ $json.AnsprechpartnerName ? $json.AnsprechpartnerName : \"Wie Anrufer\" }}<br>\n  <b>Rückrufnummer:</b> {{ $('Re-Personalisierung').item.json.Rueckrufnummer ? $('Re-Personalisierung').item.json.Rueckrufnummer : $('Daten extrahieren').item.json.body.fromNumber}}<br>\n  <b>Thema:</b> {{ $('Re-Personalisierung').item.json.Themenstichwort }}\n</p>\n\n<b>Beschreibung:</b>\n<ul>\n{{ $('Re-Personalisierung').item.json.Beschreibung.map(item => `<li>${item}</li>`).join('') }}\n</ul>\n\n<p>Begründung der Dringlichkeitseinstufung:</p>\n<p>{{ $('Re-Personalisierung').item.json['Begründung'] }}</p>\n\n<hr>\n\n<h4>Vollständiges Transkript</h4>\n<p style=\"white-space: pre-wrap; color: #555;\">\n{{ $json.body.formattedTranscript }}\n</p>"}]},"options":{}},"position":[2016,80],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Daten anonymisieren","parameters":{"guardrails":{"pii":{"value":{"entities":["EMAIL_ADDRESS","PHONE_NUMBER","IP_ADDRESS","LOCATION"],"type":"selected"}}},"operation":"sanitize","text":"={{ $('Merge').item.json.body.formattedTranscript }}"},"position":[320,80],"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":1},{"name":"Re-Personalisierung","parameters":{"jsCode":"// 1. Zugriff auf die Antwort des AI Agents\nlet agentOutput = $input.item.json.output || $input.item.json.text || \"\";\n\n// Wir machen sicherheitshalber einen String daraus\nif (typeof agentOutput === 'object') {\n  agentOutput = JSON.stringify(agentOutput);\n}\n\n// 2. Das Mapping holen (exakter Name der Node davor ist wichtig!)\nconst mappingData = $('Azure Antwort verarbeiten').first();\nconst nameMapping = mappingData.json.nameMapping || [];\n\n// 3. Re-Personalisierung durchführen (Suchen & Ersetzen im Rohtext)\n// Wir machen das VOR dem JSON-Parsing, damit auch Namen in Strings ersetzt werden.\nlet processedText = agentOutput;\n\nfor (const item of nameMapping) {\n  // Ersetze [PERSON_X] durch den echten Namen (global)\n  // Wir escapen die Klammern für den Regex\n  const placeholderRegex = new RegExp(item.placeholder.replace(/\\[/g, '\\\\[').replace(/\\]/g, '\\\\]'), 'g');\n  processedText = processedText.replace(placeholderRegex, item.original);\n}\n\n// 4. JSON Extrahieren (Der \"Gesprächigkeit\"-Filter)\n// Wir suchen den Bereich zwischen der ersten '{' und der letzten '}'\nconst firstBracket = processedText.indexOf('{');\nconst lastBracket = processedText.lastIndexOf('}');\n\nif (firstBracket !== -1 && lastBracket !== -1) {\n  // Schneide alles vor der ersten Klammer und nach der letzten Klammer weg\n  const jsonString = processedText.substring(firstBracket, lastBracket + 1);\n  \n  try {\n    const finalObject = JSON.parse(jsonString);\n    return finalObject; // Gib das saubere Objekt zurück\n  } catch (e) {\n    return { error: \"JSON war trotz Filterung ungültig\", raw: processedText };\n  }\n} else {\n  // Fallback, falls gar keine Klammern gefunden wurden\n  return { error: \"Kein JSON im Antworttext gefunden\", raw: processedText };\n}"},"position":[1568,80],"type":"n8n-nodes-base.code","typeVersion":2},{"executeOnce":true,"name":"Klassifikations-Agent für IT-Hotline-Transkripte","parameters":{"hasOutputParser":true,"options":{"systemMessage":"=DU BIST EIN HOCHSPEZIALISIERTER KLASSIFIKATIONS-AGENT FÜR IT-HOTLINE-TRANSKRIPTE.\n\n###DEINE HAUPTAUFGABE###\nAnalysiere Telefon-Transkripte und ordne sie präzise in eine Dringlichkeitskategorie (A, B, C oder D) ein, basierend auf den Kriterien aus der bereitgestellten Wissensdatenbank. Deine Klassifikation ermöglicht Technikern eine zielgerichtete, priorisierte Bearbeitung.\n\n---\n\n###VERFÜGBARE DATEN###\n\n**DRINGLICHKEITSKRITERIEN (aus Google Sheet):**\n{{ $('Dringlichkeitskriterien laden').all().slice(1).map(item =>\n`Kategorie ${item.json.Dringlichkeit}: ${item.json.Kategorie}\nSchlüsselworte: ${item.json.Schlagworte}\nBeispiele: ${item.json.Beispiele}`\n).join('\\n\\n') }}\n\n**ZU ANALYSIERENDES TRANSKRIPT:**\n{{ $json.anonymizedText }}\n\n---\n\n###ANALYSE-METHODIK (CHAIN OF THOUGHTS)###\n\n1. **UNDERSTAND**\n   - Lies das Transkript gründlich und identifiziere das konkrete technische Problem\n   - Erkenne die Auswirkungen: Produktivitätsausfall, Datenverlust, Eskalation, Geschäftskritikalität\n\n2. **IDENTIFY KEY SIGNALS**\n   - Schlüsselbegriffe für hohe Dringlichkeit: \"nicht arbeitsfähig\", \"Produktion steht\", \"Kunde wartet\", \"dringend\", \"sofort\"\n   - Schlüsselbegriffe für niedrige Dringlichkeit: \"nicht eilig\", \"wenn Zeit ist\", \"Informationsfrage\", \"optional\"\n\n3. **ASSESS IMPACT**\n   - Ist ein geschäftskritischer Prozess blockiert?\n   - Sind mehrere Nutzer betroffen?\n   - Gibt es Fristen oder SLA-relevante Zeitpunkte?\n   - Handelt es sich um einen Standardvorgang oder eine Informationsanfrage?\n\n4. **MATCH WITH CRITERIA**\n   - Vergleiche die erkannten Merkmale mit den Referenzbeispielen aus dem Google Sheet\n   - Wähle die Kategorie, die der Fallbeschreibung AM NÄCHSTEN kommt\n\n5. **HANDLE EDGE CASES**\n   - Bei unklaren oder widersprüchlichen Transkripten: Wähle die konservativere (höhere) Kategorie\n   - Weise explizit auf Unsicherheiten hin\n\n---\n\n###AUSGABEFORMAT###\n\n***WICHTIGER HINWEIS ZUR DATENSCHUTZ-KONFORMITÄT***\nDer Text enthält anonymisierte Platzhalter wie [PERSON_1], [PERSON_2].\nWenn du Namen extrahierst (z.B. für \"AnsprechpartnerName\" oder in der \"Beschreibung\"),\nNUTZE AUSSCHLIESSLICH DIESE PLATZHALTER.\nWandle sie NICHT um und erfinde keine Namen.\nBeispiel korrekt: \"AnsprechpartnerName\": \"[PERSON_2]\"\n\nGib deine Analyse im folgenden JSON-Format zurück:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Server-Ausfall\",\n  \"Beschreibung\": [\n    \"Mehrere Mitarbeiter betroffen (Buchhaltung)\",\n    \"Datenbankverbindung unterbrochen seit 8 Uhr\",\n    \"Fehlende Rechnungen der letzten 2 Wochen\",\n    \"Zeitkritisch: Jahresabschluss-Termin in 2 Stunden\"\n  ],\n  \"AnsprechpartnerBleibt\": true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n  \"AnsprechpartnerName\": \"Frau Weber\",\n  \"RueckrufnummerAnders\": true = andere Rückrufnummer gewünscht, false = unter anrufender Nummer zurückrufen\n  \"Rueckrufnummer\": Die vom Anrufer genannte Rückrufnummer (mit Durchwahl falls vorhanden)\n  \"Begründung\": \"Der Kunde ist grundsätzlich arbeitsfähig, jedoch blockiert ein IT-Fehler einen zeitkritischen Geschäftsprozess. Entspricht den Beispielen für Kategorie B im Sheet.\"\n}\n```\n\n**WICHTIG: Feldbeschreibungen** \n- Die Dringlichkeit MUSS ein einzelner Buchstabe sein: A, B, C oder D, entsprechend der Möglichkeiten im Google Sheet\n- Die Kategorie MUSS sich auf die entsprechende Spalte im Google Sheet beziehen\n- Problemtyp: Klassifiziere in GENAU EINE dieser Kategorien:\n  • \"Technisch\" = Hardware-Probleme, Netzwerkausfälle, Gerätedefekte, Server-Ausfälle\n  • \"Software\" = Programmfehler, Anmeldeprobleme, Softwarestörungen, Datenbankprobleme\n  • \"Anliegen\" = Informationsanfragen, Beratung, allgemeine Fragen ohne akutes technisches Problem\n- Themenstichwort: Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z. B. \"SAP-Login\", \"E-Mail-Sync\", \"Drucker-WLAN\")\n- Beschreibung: Array mit 3-6 Stichpunkten, die wichtigsten Informationen zuerst:\n  • Betroffene Personen/Systeme\n  • Zeitpunkt des Auftretens\n  • Konkrete Symptome/Fehler\n  • Geschäftliche Auswirkungen\n  • Fristen/Zeitdruck\n  • Bereits versuchte Lösungen\n- AnsprechpartnerBleibt: true = Anrufer bleibt Ansprechpartner, false = anderer Ansprechpartner wurde genannt\n- AnsprechpartnerName: Name des Ansprechpartners (falls abweichend vom Anrufer, sonst leer lassen)\n- AnsprechpartnerTelefon: Telefonnummer des Ansprechpartners (falls abweichend, sonst leer lassen)\n- RueckrufnummerAnders: true = andere Rückrufnummer als anrufende Nummer, false = unter anrufender Nummer zurückrufen\n- Rueckrufnummer: Die Rückrufnummer (kann identisch mit AnsprechpartnerTelefon sein)\n- Die Begründung MUSS sich auf die Kriterien im Google Sheet beziehen\n- Halte dich strikt an das JSON-Format\n\n---\n\n###WAS NICHT ZU TUN IST###\n\nNIEMALS Kategorien ohne Bezug zum Google Sheet festlegen\nVERMEIDE vage Begründungen wie \"klingt dringend\" oder \"scheint wichtig\"\nNICHT nur nach einzelnen Schlüsselworten klassifizieren – analysiere die Gesamtsituation\nNIEMALS Aussagen erfinden, die nicht im Transkript stehen\nNICHT überkategorisieren: Unzufriedenheit allein rechtfertigt keine Kategorie A\nIGNORIERE NIEMALS Hinweise auf Systemrelevanz, Produktionsstopp oder geschäftskritische Prozesse\n\n---\n\n###FEW-SHOT BEISPIELE###\n\n**Beispiel 1 - Kategorie A:**\nTranskript: \"Ich kann mich nicht mehr in SAP anmelden, wir müssen heute unbedingt die Monatsabrechnung machen.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"A\",\n  \"Kategorie\": \"Notfall\",\n  \"Problemtyp\": \"Software\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Geschäftskritischer Prozess (Monatsabrechnung) ist komplett blockiert. Entspricht den Referenzfällen für Kategorie A im Sheet.\"\n}\n```\n\n**Beispiel 2 - Kategorie D:**\nTranskript: \"Ich wollte nur fragen, ob man den Drucker auch über WLAN verbinden kann – ist aber nicht eilig.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"D\",\n  \"Kategorie\": \"Informativ\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Informationsanfrage ohne Zeitdruck, kein akuter Vorfall. Entspricht klar Kategorie D im Sheet.\"\n}\n```\n\n**Beispiel 3 - Kategorie B:**\nTranskript: \"Mein Outlook synchronisiert nicht mehr. Ich kann arbeiten, aber wichtige E-Mails von Kunden kommen nicht an.\"\nAusgabe:\n```json\n{\n  \"Dringlichkeit\": \"B\",\n  \"Kategorie\": \"Dringend\",\n  \"Problemtyp\": \"Technisch\",\n  \"Themenstichwort\": \"Kurze, prägnante Beschreibung des Hauptproblems (2-4 Wörter, z.B. 'SAP-Login', 'E-Mail-Sync', 'Drucker-WLAN')\",\n  \"Begründung\": \"Eingeschränkte Arbeitsfähigkeit bei einem wichtigen Kommunikationskanal. Keine komplette Blockade, aber geschäftsrelevant. Entspricht Kategorie B.\"\n}\n```"},"promptType":"define","text":"=Führe die Klassifikation durch."},"position":[1216,80],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3},{"name":"Sticky Note","parameters":{"color":6,"content":"## Eingabe Webhook fonio API\n","height":432,"width":656},"position":[-632,-96],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Sticky Note1","parameters":{"content":"## Verarbeitung\n– Erste Anonymisierung der Daten mittels n8n Guardrails, \n– zweite Anonymisierung der Daten mittels Mistral in Azure,\n– Antwortdaten bereinigen („sauberes JSON“)\n– Klassifikationsagent für IT-Hotline-Transkripte\n– Text repersonalisieren","height":544,"width":1680},"position":[264,-96],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Azure Antwort verarbeiten","parameters":{"jsCode":"// Wir greifen auf die Antwort der Azure-Node zu\nconst response = $input.item.json;\n\n// Sicherstellen, dass wir eine Antwort haben\nif (response.choices && response.choices[0] && response.choices[0].message) {\n  \n  // Den Textinhalt holen\n  let content = response.choices[0].message.content;\n  \n  // Oft sendet die KI den Text in Markdown-Blöcken (```json ... ```).\n  // Diese entfernen wir hier, damit das JSON sauber ist.\n  content = content.replace(/^```json\\s*/, \"\").replace(/\\s*```$/, \"\");\n  \n  try {\n    // Den Textstring in ein echtes JSON-Objekt umwandeln\n    const parsedData = JSON.parse(content);\n    \n    // Das saubere Ergebnis zurückgeben\n    return parsedData;\n    \n  } catch (error) {\n    // Falls die KI kein gültiges JSON geschickt hat, geben wir den Rohtext zurück\n    return {\n      error: \"Konnte JSON nicht parsen\",\n      rawContent: content\n    };\n  }\n} else {\n  return { error: \"Keine gültige Antwort von Azure erhalten\" };\n}"},"position":[992,80],"type":"n8n-nodes-base.code","typeVersion":2},{"name":"Aufgabenstellung für Azure-Anonymisierung","parameters":{"jsCode":"// Daten aus der vorherigen Node holen\n// Fallback auf leeren String, falls keine Daten da sind\nconst transcript = $input.item.json.guardrailsInput || $input.item.json.output || \"\";\n\nconst systemPrompt = `Du bist ein Spezialist für die Anonymisierung von Personennamen in deutschen Telefon-Transkripten.\n\n###DEINE AUFGABE###\nErkenne alle Personennamen (Vornamen und Nachnamen) im gegebenen Text und ersetze sie durch nummerierte Platzhalter im Format [PERSON_1], [PERSON_2], [PERSON_3] etc.\n\n###REGELN###\n1. Erkenne nur echte Personennamen (z.B. Thomas, Anna, Müller, Schmidt)\n2. Ignoriere Titel wie 'Herr', 'Frau', 'Dr.' - diese bleiben unverändert\n3. Ersetze jeden gefundenen Namen durch einen eindeutigen Platzhalter [PERSON_N]\n4. Gleiche Namen im Text erhalten den gleichen Platzhalter (z.B. 'Thomas' wird immer zu [PERSON_1])\n5. Verschiedene Namen erhalten verschiedene Platzhalter (z.B. 'Thomas' → [PERSON_1], 'Anna' → [PERSON_2])\n6. Behalte die ursprüngliche Formatierung bei (Zeilenumbrüche, Interpunktion)\n\n###AUSGABEFORMAT###\nGib dein Ergebnis im folgenden JSON-Format zurück:\n\\`\\`\\`json\n{\n  \"anonymizedText\": \"Der anonymisierte Text mit [PERSON_1], [PERSON_2] etc.\",\n  \"nameMapping\": [\n    {\"original\": \"Thomas\", \"placeholder\": \"[PERSON_1]\"},\n    {\"original\": \"Anna\", \"placeholder\": \"[PERSON_2]\"}\n  ]\n}\n\\`\\`\\``;\n\n// Das fertige Payload-Objekt zurückgeben\nreturn {\n  model: \"mistral-namen-anonymisierung\",\n  messages: [\n    {\n      role: \"system\",\n      content: systemPrompt\n    },\n    {\n      role: \"user\",\n      content: transcript\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 1000\n};","mode":"runOnceForEachItem"},"position":[544,80],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"httpBearerAuth":{"name":"Bearer Auth account"},"httpHeaderAuth":{"name":"API LLM in Azure (Mistral)"}},"maxTries":5,"name":"Anonymisieren (Mistral in Azure)","parameters":{"authentication":"genericCredentialType","bodyParameters":{"parameters":[{}]},"contentType":"=json","genericAuthType":"httpHeaderAuth","jsonBody":"={{ $json }}","method":"POST","options":{},"sendBody":true,"specifyBody":"json","url":"https://berent-ki.services.ai.azure.com/models/chat/completions?api-version=2024-05-01-preview"},"position":[768,80],"retryOnFail":true,"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"waitBetweenTries":5000},{"name":"Sticky Note2","parameters":{"color":4,"content":"## Ausgabe SMTP-Server Kunde\n– E-Mail vorbereiten\n– E-Mail versenden","height":432,"width":880},"position":[1960,-96],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"name":"Edit Fields","parameters":{"assignments":{"assignments":[{"name":"body.formattedTranscript","type":"string","value":"={{ $('Merge').first().json.body.formattedTranscript.replace(/\\n/g, '<br/>') }}"}]},"options":{}},"position":[1792,80],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Config","parameters":{"assignments":{"assignments":[{"name":"threemaFrom","type":"string","value":"*BERENT1"},{"name":"threemaTo","type":"string","value":"BUMFMZ39"},{"name":"secret","type":"string","value":"18DOvPKBV7ize3Nh"}]},"options":{}},"position":[96,80],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Sticky Note3","parameters":{"color":7,"content":"## Config\nKonfigurationseinstellungen","height":336,"width":224},"position":[32,-96],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"credentials":{"smtp":{"name":"IONOS SMTP"}},"name":"E-Mail an BERENT senden","parameters":{"fromEmail":"office@berent.ai","html":"={{ $json.htmlBody }}","options":{},"subject":"={{ $json.subject }}","toEmail":"office@berent.ai"},"position":[2240,176],"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"webhookId":"068c998c-5810-4b16-956b-64a9171c2f6d"},{"credentials":{"smtp":{"name":"AGS SMTP Einstellungen"}},"name":"E-Mail an Kunde senden","parameters":{"fromEmail":"helpdesk@ags-it.de","html":"={{ $json.htmlBody }}","options":{"bccEmail":"office@berent.ai"},"subject":"={{ $json.subject }}","toEmail":"helpdesk@ags-it.de"},"position":[2464,-16],"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"webhookId":"068c998c-5810-4b16-956b-64a9171c2f6d"},{"name":"Switch","parameters":{"options":{},"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $('fonio-Webhook').item.json.executionMode }}","operator":{"name":"filter.operator.equals","operation":"equals","type":"string"},"rightValue":"production"}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"outputKey":"Live-Betrieb","renameOutput":true}]}},"position":[2240,-16],"type":"n8n-nodes-base.switch","typeVersion":3.4},{"credentials":{"httpHeaderAuth":{"name":"API Threema Work Secret"}},"name":"Threema: E-Mail helpdesk@","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').first().json.secret }}"},{"name":"from","value":"={{ $('Config').first().json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').first().json.threemaTo }}"},{"name":"text","value":"=🔏 AGS Transkript Nachbearbeitung E-Mail\n\n📬 E-Mail an helpdesk@ wurde versandt.\n𐂐 Status: {{ $('Config').item.json.liveMode }}"}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[2688,-16],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"credentials":{"httpHeaderAuth":{"name":"API Threema Work Secret"}},"name":"Threema: Info Nachbearbeitung","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","method":"POST","options":{},"queryParameters":{"parameters":[{"name":"secret","value":"={{ $('Config').first().json.secret }}"},{"name":"from","value":"={{ $('Config').first().json.threemaFrom }}"},{"name":"to","value":"={{ $('Config').first().json.threemaTo }}"},{"name":"text","value":"=🔏 AGS Transkript Nachbearbeitung\n\n🔔 Kategorie: {{ $('Re-Personalisierung').item.json.Kategorie }}\n🛍️ Kunde: {{ $('Merge').first().json.body.extractionData.einrichtung_name }}\n☎️ Anrufer: {{ $('Merge').first().json.body.extractionData.anrufer_name }}\n🏷️ Stichwort: {{ $('Re-Personalisierung').item.json.Themenstichwort }}\n𐂐 Status: {{ $('Config').item.json.liveMode }}"}]},"sendQuery":true,"url":"https://msgapi.threema.ch/send_simple"},"position":[2464,176],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1","timeSavedMode":"fixed"}}