n8n/QxKsC28H7gqaUd3j/fonio AGS Anrufername.json
{"active":false,"connections":{"Anrufer bekannt":{"main":[[{"index":0,"node":"Respond to Webhook","type":"main"}]]},"Anrufer unbekannt":{"main":[[{"index":0,"node":"Respond to Webhook","type":"main"}]]},"Anrufername":{"main":[[{"index":0,"node":"If","type":"main"}]]},"If":{"main":[[{"index":0,"node":"Anrufer bekannt","type":"main"}],[{"index":0,"node":"Anrufer unbekannt","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Anrufername","type":"main"}]]}},"name":"fonio AGS Anrufername","nodes":[{"name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"anrufer-check","responseMode":"responseNode"},"position":[0,0],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"517dd008-c998-4975-847b-4cfae5858518"},{"alwaysOutputData":true,"credentials":{"googleApi":{"name":"n8n Sheets Service"}},"name":"Anrufername","parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"id","value":"1kyIdVpLg4Ate6b0o2yyB4wzu3e7stQjcILLVrWX6RD8"},"filtersUI":{"values":[{"lookupColumn":"Telefonnumer","lookupValue":"={{ $json.body.fromNumber }}"}]},"options":{},"sheetName":{"__rl":true,"mode":"name","value":"Anrufer"}},"position":[224,0],"type":"n8n-nodes-base.googleSheets","typeVersion":4.7},{"name":"Anrufer bekannt","parameters":{"assignments":{"assignments":[{"name":"Name","type":"string","value":"={{ $json.Name }}"},{"name":"Anredeform","type":"string","value":"={{ $json.Anredeform }}"},{"name":"Anrede","type":"string","value":"={{ $json.Anrede }}"}]},"options":{}},"position":[672,-96],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Anrufer unbekannt","parameters":{"assignments":{"assignments":[{"name":"Name","type":"string","value":"Anrufer unbekannt"},{"name":"Anredeform","type":"string","value":"Sie"},{"name":"Anrede","type":"string","value":""}]},"options":{}},"position":[672,96],"type":"n8n-nodes-base.set","typeVersion":3.4},{"name":"Respond to Webhook","parameters":{"options":{},"respondWith":"json","responseBody":"={\n     \"name\": \"{{ $json.Name }}\",\n     \"anredeform\": \"{{ $json.Anredeform }}\",\n     \"anrede\": \"{{ $json.Anrede }}\"\n   }"},"position":[896,0],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4},{"name":"If","parameters":{"conditions":{"combinator":"and","conditions":[{"leftValue":"={{ $json.Name }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2}},"options":{}},"position":[416,0],"type":"n8n-nodes-base.if","typeVersion":2.2}],"settings":{"availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"}}